[2015-09-13 17:07] LisaGee opened #1295 "Make sure that page requests from testing are excluded from GA counts"
I know how to do that in Omniture. I'm sure there's a way to do in GA too.

[2015-09-13 17:09] alex opened #1296 "https://collegescorecard.ed.gov should send the Strict-Transport-Security header"
This ensures that a browser will never attempt to make an `http://` request in the future.

cc: @konklone

[2015-09-13 17:26] LisaGee opened #1297 "If I go to ed.gov and search for scorecard, the top results should be collegescorecard.ed.gov"
http://findit.ed.gov/search?utf8=%E2%9C%93&affiliate=ed.gov&query=scorecard

at the moment the previous version of the scorecard ranks among the top results
College Scorecard
www.collegecost.ed.gov/scorecard/
College Scorecards in the U.S. Department of Education’s College Affordability and Transparency Center make it easier for you to search for a college ...

[2015-09-13 18:33] LisaGee opened #1298 "We should make sure our data set is listed on the front page of api.data.gov"
https://api.data.gov/

Currently lists:
Web Service Documentation
Explore our available Web services.

Census
Federal Communications Commission
Food and Drug Administration
General Services Administration
National Institutes of Health
National Renewable Energy Laboratory
Regulations.gov API
U.S. Department of Agriculture

[2015-09-13 19:38] Pfhreak commented on #320
Sorry about the churn, should have read more closely that I needed to issue a pull request against the dev branch. #1302 should address your first bullet point, bringing the horizontal padding to ~20px. (21px by my ruler.)

* There should be ~20px inner side margins on the box. The content within the box should spread to fill that space.
 * Addressed by #1302
* There should be ~30px space below th

[2015-09-13 19:55] krogsgard opened #1303 "Bottom pagination doesn't scroll to top of refreshed list"
When paginating archives of returned data, the bottom pagination doesn't auto-scroll to the top of the list, which makes for an awkward user experience, especially on mobile where scroll is more difficult. It'd be nice if paginated pushed the viewport back up to the top of the list.

[2015-09-13 21:22] ErieMeyer commented on #1298
cc @gbinal

[2015-09-14 00:02] konklone commented on #1296
CloudFront and S3 make this challenging. Either S3 or CF will have to improve HSTS support, one of the two will have to be swapped out for something else, or a proxy gets put in the middle.

[2015-09-14 00:58] jackiekazil opened #1309 "Default search page failed to load in a slow internet situation"
I was at the Martin Luther King DC Public Library today and I tried to share the site with someone and the data on [this page](https://collegescorecard.ed.gov/search/?sort=advantage:desc) failed to load. I was on their wifi. The connection was slow and the landing page loaded, but search part was not successful on multiple attempts.

[2015-09-14 04:54] wslack commented on #1287
It looks like this issue is referencing this blog post linked from the scorecard homepage: http://www.ed.gov/blog/2015/09/schools-with-high-graduation-rates-low-costs/

[2015-09-14 05:18] blklane commented on #1167
@ErieMeyer I believe this is the link @MarinaMartin is talking about: https://collegescorecard.ed.gov/search/?median_earnings=..1000&sort=salary:desc

[2015-09-14 11:49] gregshap opened #1314 "www subdomain should route to collegescorecard.ed.gov"
This is a deployment issue but this repo seems like the best venue to report it.

The ed.gov blog links are broken on pages like "http://www.ed.gov/blog/2015/09/schools-with-low-costs-and-high-incomes/" because they link to www.collegescorecard.ed.gov

[2015-09-14 14:14] cmc333333 opened #1315 "Point to proper API in config file"
https://github.com/18F/college-choice/blob/master/_config.yml points to the TEST api rather than the live one

[2015-09-14 15:58] ondrae commented on #1287
Oh whoops. So many tabs open about the project I thought I this was still your new tool. My apologies.

[2015-09-14 15:58] #1287 closed

[2015-09-14 16:05] ultrasaurus opened #1316 "not seeing stack traces in New Relic"
here's an example (which of course, you need to be logged in to see):  https://rpm.newrelic.com/accounts/1065766/applications/8349766/traced_errors/82d841-f88327c8-5af5-11e5-8d1d-b82a72d2466d?original_error_id=82d841-8d172023-5af5-11e5-8d1d-b82a72d2466d

[2015-09-14 18:13] justinleveck commented on #1285
:hammer:

[2015-09-14 18:20] jjoteal opened #1318 "Ensure Scorecard is following Pattern Library standards"

[2015-09-14 18:55] justinleveck opened #1319 "API_KEY_UNAUTHORIZED"
I am receiving the following error message when attempting to access the TEST api to work on one of the open issues. Please advice on how I can get my api_key to be authorized.

![screen_shot_2015-09-14_at_11_52_48_am](https://cloud.githubusercontent.com/assets/2327754/9858771/68d578da-5ad7-11e5-9a2e-c06c35cd5955.jpg)

[2015-09-14 18:59] jjoteal commented on #1048
Closing as this is live.

[2015-09-14 18:59] #1048 closed

[2015-09-14 19:05] meiqimichelle commented on #1045
Make text size slightly smaller on small screens. This still runs over when you have "fat" numbers (does not with skinny numbers).

[2015-09-14 19:06] jjoteal commented on #425
Closing!

[2015-09-14 19:06] #425 closed

[2015-09-14 19:51] jjoteal opened #1320 "Per usability testing, modify the homepage to include ~3 initial search criteria and have the filter column permanently open on the left side with more refinement options"
Recommendations include:

Homepage initial search options:
- Programs/Majors
- Location
- Name

Refine search options:
- 2 year/4 year
- Size
- Type
- Setting (rural, town, suburban, city)
- Specialized mission
- Religious affiliation

Not sure if we have the data, but ideally also include search refinements for:
- Selectivity (Admissions rate) -- This is proving to be very important for students

[2015-09-14 19:54] jjoteal opened #1321 "Design new UI for Search Results page that will display selected search criteria and will allow user to edit/ x out of criteria"

[2015-09-14 20:04] jjoteal opened #1322 "Review data to see if there are any additional metrics we'd like to test with users to see if they'd be relevant for the consumer tool"
Also, brainstorm ways where we could combine metrics for interesting data points that would be relevant to consumers.

[2015-09-15 03:46] dnesting commented on #1319
Hi Justin, we don't have a public test API endpoint.  What kind of testing would you like to do against it?  Can you use the regular production endpoint?

[2015-09-15 05:54] spl opened #1324 "Show entry number for each college in a particular query"
It would be useful to see where each entry lies in the context of a query and sort order (e.g. 1...N for N entries). Especially on a small screen size, I would like to know which entry I'm looking at since I can only see about one per screen. I wouldn't call this number a “rank” because it depends on the particular search.

[2015-09-15 12:00] saintsoup52 opened #1325 "As as school I would like to know why there is a different net price on scorecard then what appears on navigator"
The biggest question I am seeing schools discuss right now (other then how to read the gigantic data spreadsheet) is Why is the net price on Scorecard different then what is on Navigator (and other ED sites)?

For example… check out Oxnard College:
•	https://collegescorecard.ed.gov/school/?120421-Oxnard-College
•	http://nces.ed.gov/collegenavigator/?q=oxnard+college&s=all&id=120421#netprc

It seem

[2015-09-15 14:20] dnesting commented on #920
Ideally, we'd have visibility into ES in New Relic.  I think @ozzyjohnson was exploring this as a long-term thing but I don't know if that's being tracked here or if we should have a separate issue for it.  It's great that we have the proxy but it's more useful if we can aggregate metrics and graphs in one place.

[2015-09-15 14:32] ozzyjohnson commented on #920
There's an NR release I'll be testing shortly for Docker reporting and a
broker update which should allow pushing keys into each container for the
possibility of more granular info.

I held off on these last week as they'd have been introduced pre-launch,
but post-load testing. Not worth it.

On Tue, Sep 15, 2015, 10:20 David Nesting <notifications@github.com> wrote:

[2015-09-15 15:07] dnesting commented on #597
I have pull request 18F/college-choice-data#7 outstanding with load testing documentation, after which I think this issue can be closed.

[2015-09-15 15:11] dnesting opened #1326 "As an API user, I want to be aware of service levels provided by the API so that I know if I should rely on it"
Developers building applications may want service level guarantees before they will want to commit to using the API, versus downloading the raw data and hosting it separately.  We should:

- [ ] establish a service level offering (SLO) for the API that we are willing to commit to (even if it's only "best effort" without guarantees)
- [ ] document that SLO for API users so that they know what to ex

[2015-09-15 15:13] jackiekazil commented on #1309
failed to attach this...
<img width="802" alt="screen shot 2015-09-13 at 2 02 40 pm" src="https://cloud.githubusercontent.com/assets/166734/9880708/bec4df7e-5b9a-11e5-9ee5-8c4f0910a530.png">

[2015-09-15 15:15] dnesting opened #1327 "As an API operator, I want the infrastructure to scale up automatically in response to changes in load"
A key element of PaaS is that we shouldn't have to worry about scaling.  We've established some low-level scaling parameters for the app (threads and workers) but tuning the number of instances for available ES capacity is manual, and scaling ES itself is manual and labor intensive.

[2015-09-15 16:53] philipashlock opened #1328 "Data should be hosted on collegescorecard.ed.gov or other government domain"
It looks like the URLs for the [data files](https://collegescorecard.ed.gov/data/) are still using the raw aws s3 domain rather than the .gov which isn't good for permanence or authenticity

[2015-09-15 16:55] philipashlock opened #1329 "API key is required, yet frontpage leaks the API key"
I'd suggest not requiring an API key since this is open data. Instead, perhaps you could make the API key optional for those who want to track their stats or get other benefits like notifications on updates. Either way, this will have limited reliability as long as the API key for the main site is being publicly exposed as it is now

[2015-09-15 18:05] LisaGee opened #1330 "Update language to somehow convey that the Nat'l Average label is actually the Nat'l Median, but in a way that still enables students to understand what that is."
You can see the figures we're using in this file:

https://github.com/18F/college-choice/blob/dev/_data/national_stats.yaml

For each figure, we've got a median and an "average range", which defines whether the value of a meter is listed as above, below, or about average. Originally, this file was generated from the input data CSVs. Later on, Erie and I updated the figures using numbers that Clare

[2015-09-15 21:53] justinleveck commented on #1319
That worked. I ended up adding the following lines to my `zshrc` file and running `source ~/.zshrc`

[code]

[2015-09-15 21:53] #1319 closed

[2015-09-15 22:19] ultrasaurus commented on #496
You can search and find the site, but google can't find specific pages

[2015-09-15 22:21] ultrasaurus commented on #496
URL appears to be rendered incorrectly by Google search robot, as seen [here](https://www.google.com/webmasters/tools/googlebot-fetch-details?hl=en&authuser=0&siteUrl=http://collegescorecard.ed.gov/&path=https://collegescorecard.ed.gov/school/?166027-Harvard-University&timestamp=1442355204799)

![image](https://cloud.githubusercontent.com/assets/41906/9891715/3fff7118-5bbd-11e5-9183-f0671a5fdeeb.p

[2015-09-15 22:22] ultrasaurus commented on #903
this is either a data issue or a API issue, sending back to backlog for prioritization

[2015-09-15 22:26] ultrasaurus opened #1332 "as a consumer, I should not be able to type decimal points or minus sign in distance, so I don't get an Internal Server error"

[2015-09-15 22:30] ultrasaurus opened #1333 "API KEY should not be required for low number of requests"

[2015-09-15 22:31] ultrasaurus commented on #1333
@lisag as I recall this was our original plan, simple fix via api.data.gov admin, just want to make sure you are aligned, pls comment

[2015-09-16 04:31] stevenbuccini commented on #1275
Hey @shawnbot, can I take this on? If so, is there any particular copy you want?

[2015-09-16 04:40] stevenbuccini commented on #1246
FYI, following this link gives me a login prompt.

[2015-09-16 06:47] stevenbuccini commented on #1275
Here's what I whipped up together quickly. Not sure if you wanted this page to be centered a specific way, but I'll welcome feedback here before creating a PR.

![screen shot 2015-09-15 at 11 45 55 pm](https://cloud.githubusercontent.com/assets/2475615/9898058/ff824e3e-5c03-11e5-830f-d7250d3c22c0.png)

[2015-09-16 12:04] ozzyjohnson opened #1334 "Right-size to post-launch traffic levels."
Traffic levels are sure stabilize somewhere different than the launch surge. See the day/day week/week dashboard for reference.

https://rpm.newrelic.com/accounts/1065766/custom_dashboards/pages/7437

[2015-09-16 12:09] dnesting commented on #496
@ultrasaurus How did you get to that point?  As near as I can tell the sitemap does not result in a request for the erroneous https://collegescorecard.ed.gov/https://collegescorecard.ed.gov/school/?166027-Harvard-University.  Did you arrive at that test from a sitemap link or is it possible you just pasted a full URL into the "render as google" form that is expecting a path?

As to the actual prob

[2015-09-16 12:11] dnesting commented on #496
Also note for the Webmaster Tools we probably want to add the HTTPS url, not (just) the HTTP URL.  Google considers them wholly different sites.  @meiqimichelle

[2015-09-16 13:00] ultrasaurus commented on #496
@dnesting good catch on http.

@meiqimichelle can you add us to the https version of the site?

[2015-09-16 13:15] ultrasaurus commented on #496
@dnesting you are correct -- copy/paste error on my part, now I'm seeing the re-direct to https

[2015-09-16 15:04] ErieMeyer commented on #1275
Into it!

[2015-09-16 18:02] NoahKunin commented on #1262
This happened! Woot.

[2015-09-16 18:02] #1262 closed

[2015-09-16 19:02] hollyallen opened #1337 "As a user of CollegeScorecard.ed.gov within the ed internal network or vpn, I would like to resolve collegescorecard.ed.gov"
Per @LisaGee :
* If any user is on the ED internal network, either by being plugged in at the office or using Aventail VPN, they cannot access collegescorecard.ed.gov.
* They get this error:  This webpage is not available. ERR_NAME_NOT_RESOLVED. The server at collegescorecard.ed.gov can't be found, because the DNS lookup failed.
* This happens regardless of the browser the user is on.
* If the use

[2015-09-16 19:43] LisaGee opened #1338 "As the Program Owner of another ED program, I would like to provide targeted CSVs for my program's audience that are always up to date."
Michael Itzkowitz asked for.
One solution might be:  embed the Simple Query Builder and CSV creator/downloader onto his other ED page. He wants the ability for data analysts to download CSVs that include only the fields that make sense for this particular program.

Another option, which is really what he wants, is to enable him to put a button on his program page that says click here to get my Pro

[2015-09-16 21:18] stevenbuccini commented on #1275
Should I go ahead and create a PR?

[2015-09-16 21:29] #1315 closed

[2015-09-16 21:31] LisaGee commented on #1275
I think this is funny, but I need to consult on this. Will respond back

[2015-09-16 21:36] LisaGee commented on #1247
Once @jjoteal reviews, I'm good with committing.

[2015-09-16 22:23] shawnbot opened #1340 "As a consumer, I would like to be notified of invalid zip code and distance values so that I can fix them"
This issue comes from [a comment](https://github.com/18F/college-choice/pull/1336#issuecomment-140910797) that I made while addressing #1332. For reference, this is where I got as far as implementation of messages that show up when the zip code and distance fields are invalid, according to the HTML5 form validation API:

![image](https://cloud.githubusercontent.com/assets/113896/9919998/859b7078-5

[2015-09-16 22:32] LisaGee commented on #1333
If we can cap requests for folks without API keys, I'm ok with it. Although I must say, I really like seeing who has API keys and the hits they are generating, so we can get a feeling for how the data api is being most effectively used....
@ultrasaurus are you concerned that signing up for an API key is too large of a hurdle? What's the problem we're trying to solve?

[2015-09-16 23:50] ultrasaurus commented on #7
assigning to @ meiqimichelle since I think she's investigating Percy for this

[2015-09-16 23:54] hollyallen opened #1341 "As a server, I want the time to live (TTL) on the server response headers to be longer"
Please increase the TTL on the server responses to 1 hour from 5 minutes.

[2015-09-17 00:21] justinleveck commented on #1285
@claremccann  I was **NOT** able to replicate this by adding the following to `picc.js`. Also I do not believe the API is still returning back this value `0.67729085683822` for `fields.EARNINGS_GT_25K` but rather `.67181468009948` which would account for why this shows up as `67%` vs `68%`

![screen shot 2015-09-16 at 5 15 19 pm](https://cloud.githubusercontent.com/assets/2327754/9921796/92f27512-

[2015-09-17 00:22] hollyallen commented on #252
@shawnbot is this ready to test in the way you want to?

[2015-09-17 00:27] hollyallen opened #1342 "As a developer, I want a script I can run to spin up a test environment on cloud.gov"
Right now our non-production environments are hand created. Success in this story is that for non-production environments at least we should have a script to spin up a new environment from scratch automatically. Ideally we do this in the 12-factor way, wrt service configuration process etc.

[2015-09-17 00:27] justinleveck commented on #1285
@shawnbot Looks like this can be closed

[2015-09-17 00:48] justinleveck commented on #1283
Can you include a screenshot of what you are seeing.. looks OK to me .. perhaps this dropdown was recently updated to list states by full-name VS abbreviation so it is no longer an issue:

![screen shot 2015-09-16 at 5 45 41 pm](https://cloud.githubusercontent.com/assets/2327754/9922249/093ba85c-5c9b-11e5-9620-6a4837f5e9d4.png)

[2015-09-17 03:51] jalbertbowden opened #1343 "Using Open Data Stack Exchange...."
pretty cool you are driving people to od se, was very pleased to see that. on that note, here's a few thoughts/ideas/issues:

the encouragement assumes that users are familiar with se and this has not been the case for much of the activity. i'm not sure what the right approach here is, perhaps explaining more/directing them to wiki, etc. people having their questions/answers closed/downvoted for n

[2015-09-17 04:49] meiqimichelle commented on #1340
And we'll need to check with Bristow on accessibility of those error messages to make sure they're properly linked to the form elements they're erroring.

[2015-09-17 10:19] saintsoup52 opened #1344 "Bug: Searching for "Alabama A & M University" comes up with an error"
Using the name search field... "Alabama A & M University" yields 0 results.

I am assuming it is because of the special character "&" in the school's name.

If I search of Alabama then the school comes up.

[2015-09-17 12:26] saintsoup52 commented on #1338
Plus... this would greatly help schools with the financial aid shopping sheet compliance.

[2015-09-17 12:34] saintsoup52 commented on #187
Interestingly... According to analytics the 8th most popular search term is "MIT" and that does not come up with the Massachusetts Institute of Technology.

Hope that helps in prioritizes this backlogged item.

[2015-09-17 12:38] jjoteal commented on #1275
Lisa will make the final call on the text, but it is great to include a link to an actual working page (like the homepage) so the user isn't caught in a dead-end. If we go with the "flunking" language, it would be great to include an illustration here to 'liven-up' the page a bit.

[2015-09-17 12:49] jjoteal commented on #1247
Looks good on https://federalist.18f.gov/preview/18F/college-choice/stevenbuccini-copy-edits/ !

[2015-09-17 12:53] jjoteal commented on #1340
FYI -- here was the original field error design:

![image](https://cloud.githubusercontent.com/assets/12192706/9933529/663b467e-5d19-11e5-8b7c-904600afd773.png)

[2015-09-17 15:47] LisaGee opened #1346 "Tune Pingdom alerts"
different policy for production vs. Dev, for example

[2015-09-17 20:30] stevenbuccini commented on #1275
@jjoteal: Great points. The "Try searching again?" text is actually a hyperlink to the home page, so I think that satisfies your dead-end requirement.

Any thoughts where I could grab the image? Maybe just something that's CC licensed?

[2015-09-17 20:46] LisaGee commented on #1275
@jjoteal Lisa's final call on the text is all good.

[2015-09-17 22:17] jasonphillips commented on #1344
This issue is not caused by the front end, but is a natural consequence of the Data API (open data maker), which uses the `autocomplete` data type for searching the school name, as documented here:

https://github.com/18F/open-data-maker/blob/api-docs/API.md#word-and-substring-matches-on-autocomplete-fields

[code]

The "A & M" of the university cannot be searched since the indexer breaks up your

[2015-09-17 22:55] stevenbuccini commented on #1275
I was going to use [this photo](http://www.photos-public-domain.com/2012/07/23/f-school-letter-grade-fail/), which is in the public domain. Attribution is not necessary.

I'm having trouble figuring out how the grid system works for this site. I've looked in the Sass files, but really can't understand what classes I need to apply to my divs to make sure they'll collapse and stack correctly.

@shaw

[2015-09-17 23:03] #1247 closed

[2015-09-18 11:07] saintsoup52 commented on #1344
Thank you for following up with this…

The Department of ED has a pretty strict naming convention for schools in IPEDS… hence why “A & M” in the data has spaces even though on their website logo does not.

Any help resolving this issue would be appreciated. ☺

From: jasonphillips [mailto:notifications@github.com]
Sent: Thursday, September 17, 2015 6:17 PM
To: 18F/college-choice
Cc: Campbell, Patri

[2015-09-18 14:53] meiqimichelle commented on #1275
Hi @stevenbuccini ! The site uses [neat.bourbon.io](http://neat.bourbon.io/) for grids, and so if you're making a new layout, you'll define your own class name and apply the grid and adjustments for media queries in the Sass.

[Here's an example](https://github.com/18F/college-choice/blob/dev/_sass/base/blocks/_home.scss#L100). That selector is set for small screen sizes first in line 103, then a

[2015-09-18 15:03] jasonphillips commented on #1344
Good point, I wasn't thinking about the IPEDS naming restrictions that require the data to look this way.

It seems to me that the best option for improving school-name searches would be to add additional alternative titles or designations to the search indexer (ie., "Texas A & M University" should have an extra, hidden field containing "A&M" and "TAMU"). These alternative, hidden keywords could t

[2015-09-18 15:29] meiqimichelle commented on #336
Live on dev for review via #1335 and thanks to @jfredrickson :smile:

[2015-09-18 18:42] melissacb opened #1347 "Data for Strayer U is wrong"
Check this out: https://collegescorecard.ed.gov/search/?name=strayer&sort=advantage:desc

How can all the different schools have a 51K average income but have completion rates of under 40% and also have low loan repayment?

[2015-09-19 03:51] stevenbuccini commented on #1275
Thanks @meiqimichelle, that helped! Check out my PR and let me know what you think!

[2015-09-21 02:48] claremccann opened #1350 "Updates to data documentation and data dictionary"
Some small tweaks coming for data dictionary and documentation files. Adding here so we don't lose track of that. Thanks!

[2015-09-21 11:43] saintsoup52 commented on #1347
Not doubting the data might be wrong... but it is possible to have a higher then expected average salary and the other performance metrics be low.

This is possible because Strayer's student body tends to be older (which could result in a higher salary base).

Also since the salary figure does not include former students who are not working... if there were a large number of unemployed students th

[2015-09-21 21:22] yozlet commented on #920
All the Marvel links work for me, though I'm currently seeing that `indexing` doesn't have a running `eservice`:

[code]

[2015-09-21 21:33] ozzyjohnson commented on #920
Indexing has two eservices named eservice-a and eservice-b. They each have
a proxy.

On Mon, Sep 21, 2015, 17:22 Yoz Grahame <notifications@github.com> wrote:

[2015-09-23 16:24] kimballce commented on #702
Pretty sure this is just a quirk of my new, not fully configured computer. Closing.

[2015-09-23 16:24] #702 closed

[2015-09-25 04:48] ultrasaurus commented on #1155
I think this got fixed by this:  https://github.com/18F/open-data-maker/commit/df7f98b216163eb1f27a038a535817ac95aea742

[2015-09-25 21:12] brittag commented on #1250
Interestingly I ran into this issue too, on my first try of the site. I was curious to look up the "score" of a specific university, so I typed in the zipcode for the area near that university. I got zero results, so I wondered if something was broken. Then I changed my query to put in that zipcode with a limit of 20 miles, which got the results I wanted.

I agree with changing this to say "0 mile

[2015-09-28 19:38] jjoteal opened #1352 "As a consumer, I would like to compare the key metrics of my top schools side by side so that I can easily see which school is the better fit for me"

[2015-09-28 19:46] jjoteal opened #1353 "Consider new label for "Socio-Economic Diversity""
To make it more clear about what this metric is for users

[2015-09-28 19:50] jjoteal opened #1354 "As a consumer, I would like to select and copy the text contained in the tooltips so that I can paste it in a document or email for my own purposes"

[2015-10-03 14:44] mark-adams commented on #1303
#1290 fixes this

[2015-10-05 21:35] brittag commented on #840
As a visitor curious about College Scorecard, I ran into this issue. Here's the race/ethnicity list for the school I checked out:

<img width="340" alt="screen shot 2015-10-05 at 2 29 55 pm" src="https://cloud.githubusercontent.com/assets/391313/10294203/a3c7288e-6b6d-11e5-9363-26a74a898eab.png">

I was confused about why "non-resident alien" is listed as a race/ethnicity.

I looked at the "inform

[2015-10-05 21:45] brittag opened #1355 "As a consumer, I am confused by some of the copy under "Students Receiving Federal Loans""
As a curious visitor looking at a school's scorecard, under the "Financial Aid & Debt" section and "Students Receiving Federal Loans" subheading, I got confused by the note saying "At some schools where few students borrow federal loans, the typical undergraduate may leave school with $0 in debt."

<img width="398" alt="screen shot 2015-10-05 at 2 42 00 pm" src="https://cloud.githubusercontent.com

[2015-10-06 19:00] claremccann opened #1356 "Name search doesn't work if <3 alphanumeric characters at the beginning"
Eg., St. John's College in Santa Fe. When I search on any variation of "St. John's College" or "St John's College" or "St Johns College" nothing comes up. When I go to New Mexico and ask for a list of colleges in that state, it does appear:

The same problem seems to occur when searching for a sister campus in Annapolis Maryland.

![stjohns](https://cloud.githubusercontent.com/assets/13874735/1031

[2015-10-19 18:50] claremccann opened #1357 "Retention rate needs to pull from either four- or less-than-four-year column"
For predominantly less-than-four-year schools that have retention rates in the four-year (RET_FT4) column, the site should pull in first the FTL4 retention rate and if that's NULL, then it should pull in the FT4 retention rate. This is already in place for completion rates.

For example: Aquinas College in Nashville, TN.

![image](https://cloud.githubusercontent.com/assets/13874735/10587775/c5844e

[2015-10-21 15:13] dnesting commented on #1298
cc @mbellotti

[2015-10-21 15:17] mbellotti commented on #1298
More it this point, if USDS apis are listed on Data.gov we should be including information about where to find the most up-to-date documentation for them. Happy to take this on if we know the current contact person for Data.gov.

[2015-10-21 16:04] ErieMeyer commented on #1298
cc @gbinal

[2015-10-21 17:24] claremccann opened #1358 "Map markers block location name"
https://collegescorecard.ed.gov/school/?178411-Missouri-University-of-Science-and-Technology
Chrome

Can't see Rolla; can only see much smaller town, Saint James.

![image](https://cloud.githubusercontent.com/assets/13874735/10644482/ee872f50-77f6-11e5-83c0-f309aee6647d.png)

[2015-10-21 18:37] barkimedes opened #1359 "As a developer, I would like to use the API to get the last time the data was updated"
As a developer, I would like to use the API to find out when the last time the data was updated so that I can know if I need to download/cache more recent data.

Many users of the API will download the college data in bulk (or somehow otherwise cache the data) and then use that rather than querying the API directly all the time. But they do want to know if the data they are using is outdated. So t

[2015-10-21 19:01] LisaGee commented on #1359
As I think about this, knowing when the data was last updated, would be useful, not just for Developers who use the API, but also for researchers who are downloading the data from the Data section. So we should probably make a story for that use case too?

[2015-10-21 19:06] ErieMeyer commented on #1359
🇺🇸

[2015-10-21 20:40] barkimedes opened #1360 "As a researcher, I would like to know the last time the data was updated so that I can know if I need to download a more recent version."
As a researcher, I would like to know the last time the data was updated so that I can know if I need to download a more recent version.

Related to #1359; see first comment. The general idea is that people often bulk download this data and cache it somewhere because it doesn't change very often. But they will want to know when it was last updated so that they know if it is worth downloading all o

[2015-10-21 21:56] #245 closed

[2015-10-22 01:46] barkimedes commented on #1243
Verified that change is live at https://collegescorecard.ed.gov/data/

[2015-10-22 01:46] #1243 closed

[2015-10-22 01:50] barkimedes commented on #1217
Verified that the tooltip for race/ethnicity had the correct text at https://collegescorecard.ed.gov/school/?117803-Los-Angeles-County-College-of-Nursing-and-Allied-Health (just picked a random school and looked).

[2015-10-22 01:50] #1217 closed

[2015-10-22 02:12] barkimedes commented on #336
Removing the accept label because the spacing between rows and columns are not close to equal on the site.

[2015-10-22 02:23] barkimedes commented on #252
@shawnbot @LisaGee The results are still the same (64/100 mobile and 82/100 desktop). Is this acceptable (in which case we can close this issue)? Or should we create separate issues to improve the recommendations PageSpeed Insights recommends? In either case, it probably shouldn't just remain in the accept state.

[2015-10-22 02:28] barkimedes commented on #234
Links on https://www.whitehouse.gov/issues/education/higher-education that refer to college scorecard do link to the new scorecard. Based on the comments in this thread, it seems that the decision was to not embed anything in the page directly, so based on that that, I think the issue can be closed.

If in the future someone wants to try embedding single cards in their sites, I think they can crea

[2015-10-22 03:07] meiqimichelle commented on #336
This is ready for acceptance on `dev` , not on the live site. That's why the `accept` label is there -- it needs review before it is pushed live.

[2015-10-22 03:17] barkimedes commented on #336
Ooopsie. My mistake. Thanks for correcting!

[2015-10-22 14:04] LisaGee commented on #336
My bad. I asked Sabrina to determine the state of all things in Accept.

@holly - We should review how we’re using the Accept label (and others) once we kick off again. I thought we were only putting Accept on, if it was available on Staging for testing, although I think that may have changed in the end game and especially right around launch, whernwe were super cautious about merging anything in

[2015-10-22 17:54] LisaGee commented on #336
Agreed. I think in the end game things got a bit loose, and we should
re-commit as a team to a certain workflow.

On Thu, Oct 22, 2015 at 7:04 AM, Gelobter, Lisa <Lisa.Gelobter@ed.gov>
wrote:

--
Holly Allen
Product Lead | 18F
holly.allen@gsa.gov | 415-917-8421

[2015-10-22 23:06] LisaGee commented on #234
I still really would like a 3rd party site to be able to embed our content on their website. Anything we can do to facilitate distribution of the data in any form I think would be valuable.

[2015-10-26 15:33] philipashlock commented on #1328
Just wanted to flag this as still being an issue and mention that OMB policy actually requires us to call out the fact that this is effectively a non-government web resource because it's not hosted on a government domain

<img width="1392" alt="screen shot 2015-10-26 at 9 30 30 am" src="https://cloud.githubusercontent.com/assets/183402/10733476/9ee9a690-7bc4-11e5-82b6-ed20c0be5347.png">

@konklone

[2015-10-26 17:04] konklone commented on #1328
@philipashlock It's more of a @gbinal question at the moment as to whether files.18f.gov can be used for that, and I think it'd be an interim solution. It'd be easier if S3 let you tag usage per-sub-path rather than per-bucket, but oh well.

However, files.18f.gov was incredibly easy to set up. It's just an S3 bucket with a CloudFront distro set up in front of it. You might have to buy a cheap cer

[2015-10-26 17:57] LisaGee commented on #1358
This could be fixed in one of 2 ways:
#97 which would hopefully enable the tip to point to the location and not smack dab be on top of the location/name.
#231 In the infrequent situation where the name is blocked, if the user could pan the map, that would help.

[2015-10-26 17:58] LisaGee commented on #97
#1358 should be used as one of the test cases when we made this change.

[2015-10-26 17:58] LisaGee commented on #1358
Closing in favor of #97

[2015-10-26 17:58] #1358 closed

[2015-10-26 18:15] LisaGee commented on #1354
@jjoteal - What's the use case here? Can you formulate this as a Story? As a xxx, I would like to copy text from a tooltip, so that I can yyy

[2015-10-26 18:22] LisaGee commented on #1353
@barkimedes - Can you do some research and come up with some options for language that will be plainly understandable to a 16 year old?

[2015-10-26 18:24] LisaGee commented on #1352
@jjoteal Can you formulate this as a Story? Trying to make sure we're accounting for context or background of why this may be a request at the moment. Did you hear a request for this from students?

[2015-10-26 18:27] LisaGee commented on #1350
@claremccann Marked this as Low Bang b/c I don't know how meaty these changes are and whether you think they will have a marked impact on how people use the data. Let me know if this should bump up in the evaluation of Bang.

[2015-10-26 18:38] LisaGee commented on #1347
@claremccann - Can you confirm that the data is correct?

[2015-10-26 18:43] claremccann commented on #1347
Agree with Patrick and confirming those data are what we have back from Treasury.

[2015-10-26 18:47] LisaGee commented on #1346
@ozzyjohnson Do you have any recollection about what this meant? Or recommendations on what we want to do here?

[2015-10-26 18:50] LisaGee commented on #1350
From Clare: "We got some feedback in the first few weeks that some of the language was unclear, so we clarified it."

[2015-10-26 18:53] melissacb commented on #1347
But they are the same for every state. Seems like it was just copied to
every state based on national data.

On Mon, Oct 26, 2015 at 2:43 PM, claremccann <notifications@github.com>
wrote:

--
Melissa Byrne
(m) 609.364.4267

[2015-10-26 18:55] LisaGee commented on #1344
Probably same fix as #1356

[2015-10-26 18:56] LisaGee commented on #1343
@ErieMeyer Can you take a look at the feedback above?

[2015-10-26 19:00] LisaGee commented on #1342
@hollyallen Trying to understand what the value/impact of this story will be. Since we already have all the environments set up, when would a developer need to do this? Is this a nice to have or is this an existing problem that we are facing and critical to future development?

[2015-10-26 19:02] LisaGee commented on #1341
@hollyallen Can you confirm if we did this? I feel like we might have, no?

[2015-10-26 19:12] LisaGee commented on #1338
@saintsoup52 Can you help with more detail about how this type of thing would/could be used in the scenario you describe?

[2015-10-26 19:23] LisaGee commented on #165
@ultrasaurus Do I recall that we had a community developer had done some initial work on the backend of this?

[2015-10-26 19:24] LisaGee commented on #1338
First, we would need to implement #165

[2015-10-26 19:24] LisaGee commented on #165
Also look at #1338, as it may make sense to build this out as a service so that our front-end could use, but so could other websites.

[2015-10-26 19:59] saintsoup52 commented on #1347
It is based on OPE-6 which is at the corporate school level... which means all the campuses will show the same salary data.

[2015-10-26 20:05] claremccann commented on #1347
Patrick nails it again

[2015-10-26 20:08] melissacb commented on #1347
Isn't that problematic for students making decisions about debt load when
they are in states with lower average salaries?  Should there be a
disclaimer saying its a national average and state results may very?

On Mon, Oct 26, 2015 at 4:05 PM, claremccann <notifications@github.com>
wrote:

--
Melissa Byrne
(m) 609.364.4267

[2015-10-26 20:18] claremccann commented on #1347
It's included in our technical documentation. This isn't a choice we made, it's a necessity based on the data we have available to us. I'm happy to add to the tooltips, but we'd been asked to keep those short and not-technical. It varies significantly by school and system, so it's not exactly standard.

[2015-10-26 20:35] hollyallen commented on #1342
This is a project wellness task, and a step towards full system automation. I think this is more important than "nice to have" but not an immediate threat to the project. It will accelerate future development.

Ideally we'd be using ansible or docker or something to automate the setup and teardown of all our systems, be they test or production or on our local machines. Right now you have to do it

[2015-10-26 20:38] hollyallen commented on #1341
Yes and no. This pull request increased the TTL, but we haven't done another production deployment to get that change out. https://github.com/18F/open-data-maker/pull/212

[2015-10-27 15:38] barkimedes commented on #1178
Newbie trying to groom the backlog here...what missing data are you guys talking about? Flagging as needing more info so that we can prioritize accordingly.

[2015-10-28 00:30] barkimedes commented on #1162
@LisaGee If I understand this correctly, this is working as intended based on the default sort order, which is % earning above hs grad. Should we just close this issue because it is basically working as intended? Or is this good feedback to give that we may want to change default order so that users have a better experience (i.e. schools that lack data show up later in the results)?

[2015-10-28 00:31] barkimedes commented on #1161
Same with "Add region"

[2015-10-28 00:59] barkimedes commented on #1152
@claremccann Is it safe to assume that a simple checklist would be sufficient? Or are you asking for something that would enforce constraints too (e.g. cannot select both men-only and women-only schools)? I've applied labels on the assumption that just making it a checklist is sufficient.

[2015-10-28 01:37] claremccann commented on #1152
Checklist would be fine from my perspective

[2015-10-28 03:13] barkimedes commented on #1152
@claremccann Thanks for the info. I was thinking about this some more and we should turn this into a story. That way we can focus on defining the issue that needs to be addressed and less on the implementation details. I'm guessing @LisaGee has already mentioned this at some point somewhere, but stories take the form of "As an x, I would like to y so that I can z".

So, all that being said, does t

[2015-10-28 16:38] ozzyjohnson commented on #1346
This is about turning down the sensitivity of the alerts. At the current
setting, alerts are pushed the instant any check is missed which has
potential to alert on spurious things. Tuning them down should eliminate
false positives.

On Mon, Oct 26, 2015 at 2:47 PM, Lisa G. <notifications@github.com> wrote:

[2015-10-28 19:13] barkimedes commented on #7
@meiqimichelle Scrubbing the backlog...is this something that you're still looking at? In other words, should it remain in the develop stage or should we put it back in the backlog and reprioritize it?

[2015-10-28 19:15] meiqimichelle commented on #7
I'm frozen at the moment -- to the backlog it goes!

[2015-10-28 19:21] barkimedes commented on #11
@jjoteal I'm gonna assign this to you. It seems like this should be a closeable issue, but I'm new 'round here so I'm gonna give you the honors :smiling_imp:

[2015-10-28 19:53] barkimedes commented on #22
@ErieMeyer Assigning this to you. So do I understand this correctly that since https://pages.18f.gov/content-guide exists, we should be able to close this issue? :us:

[2015-10-28 19:57] barkimedes commented on #31
@ErieMeyer Not sure what to do with this one. What would be the goal(s) of reviewing the other tools? Is this something that makes sense as a story?

[2015-10-28 20:02] barkimedes commented on #44
@meiqimichelle From what I can tell, this seems done. Can we close this issue?

[2015-10-28 20:13] #44 closed

[2015-10-28 20:14] barkimedes commented on #54
@LisaGee I upped the priority on this because I don't know of acceptable workarounds for non-accessible elements.

[2015-10-28 20:15] #595 closed

[2015-10-28 20:22] barkimedes commented on #1286
@LisaGee, do you know the answer to this question (or can you point us in the direction of someone else who may)? Thanks!!

[2015-10-29 10:08] saintsoup52 commented on #1286
There is no regional or annual adjusting of the salary.

ED gives Treasury a list of names and information for each school and Treasury spits back an average salary.

While most schools only have one location, the larger for profit chains have campuses across the country that get rolled up into a single average.

[2015-10-29 10:09] saintsoup52 commented on #31
I think was just for inspiration... CFPB and the VA are now working to align their tools with College Scorecard.

[2015-10-29 10:31] saintsoup52 commented on #1178
Sometimes this happens when schools reorganize. For example University of Phoenix just consolidated from ~75 campuses down to 50 campuses in IPEDS and therefore there is a paucity of historical data on these new campuses.

That being said... it appears in the Scorecard data file that is provided some data is being groomed before it even gets to the tool.

For example: Retention rates... although m

[2015-10-29 12:18] claremccann commented on #1152
Yes that is the correct explanation

[2015-10-29 19:34] barkimedes commented on #1344
We also need to make sure that when this issue gets fixed, it is also fixed for Texas A&M University. This issue is referenced in an email thread related to that.

[2015-10-29 19:52] barkimedes commented on #162
@jjoteal  https://collegescorecard.ed.gov/data/ already has a...dare I call it a carousel??...for Data Insights. Does that mean this story is done? Can we close it?!

[2015-10-30 14:50] barkimedes commented on #1089
@jjoteal It still looks like a lighter gray color when I run it locally, so I don't know if @jfredrickson's change was supposed to fix it or if it actually fixed it. So I'll prioritize it in the backlog as though it isn't fixed, but if someone else thinks it is fixed and wants to close the issue, that's cool.

[2015-10-30 14:59] barkimedes commented on #1086
@LisaGee It looks like #1123 was closed because "Enter a ZIP code" matched the actiony writing of other fields. But "MIle radius" (which is right next to it) doesn't match that actiony tone. So I would recommend "ZIP code" and "Mile radius" for these fields.

If not, we should close this issue.

[2015-10-30 15:07] barkimedes commented on #1096
This school could be missing for any number of reasons, some of which may be valid, some may be invalid. It is worth understanding why this school is gone and make sure its for a valid reason. Otherwise, we could have a very serious bug in which schools we expect to be showing up are not.

[2015-10-30 17:39] barkimedes commented on #1019
@LisaGee Is this something you can make into a story? What does it mean? :rainbow: :rainbow:

[2015-10-30 17:43] barkimedes commented on #1040
@jjoteal I don't see this problem on my phone, but I'm wondering if that is just because I have a big screen (Nexus 6). Is this still an issue on smaller screens?

[2015-11-01 15:36] barkimedes commented on #1066
@jjoteal This can be closed, correct? I see the "Higher than average" notes on the scorecard on production.

[2015-11-01 15:44] barkimedes commented on #1047
@jjoteal @meiqimichelle  It's all one line on my phone (Nexus 6) and when I made my desktop window as small as possible, it was all one line. So is this still an issue on iPhone or can we close this?

[2015-11-01 17:02] barkimedes commented on #1046
@jjoteal @meiqimichelle This is another one that looks fixed on everything I can try it on. Can we close it?

[2015-11-01 17:05] barkimedes commented on #1045
@jjoteal @meiqimichelle Another one that looks fixed on everything I can try it on, but I don't have a really small phone screen. Is this fixed and can we close the issue?

[2015-11-01 17:54] barkimedes commented on #1075
FYI, I made this a P1 (open for debate) because if you get into a situation where you're zoomed in and the map fills the screen, you can't scroll. This could become an accessibility issue, so there's not an acceptable workaround.

[2015-11-01 18:58] barkimedes commented on #883
This doesn't happen anymore now that filter and edit search are overlays. Closing as resolved.

[2015-11-01 18:58] #883 closed

[2015-11-01 19:18] barkimedes commented on #881
@LisaGee Looks like current behavior is that if a filter is applied after you've browsed through some results, it will send you back to page 1. Which appears to address this specific problem.

But a separate (and in my opinion super not-worth-worrying-about) issue is that if you put in a page index into the url beyond where results show up, you see an empty page.

To me, it seems like we can just

[2015-11-01 19:18] #881 closed

[2015-11-01 19:40] barkimedes commented on #873
I don't think this is an issue anymore since they changed how the filter drop down thingy works. And I can't reproduce it on a very narrow window on my mac. @NatalieEMoore feel free to reopen if you can reproduce, but I don't think this is a problem anymore.

[2015-11-01 19:40] #873 closed

[2015-11-01 20:03] barkimedes commented on #1286
@jackiekazil Hopefully this answers your question. If you would like more information or have more feedback, please feel free to reopen this issue or create a new one. Thanks!

[2015-11-01 20:03] #1286 closed

[2015-11-01 20:31] barkimedes commented on #864
@LisaGee Is there an online only option somewhere? I've been clicking around tool and I can't find it anywhere. Was it removed?

[2015-11-01 21:50] barkimedes commented on #862
@schakj Could you give us more information about this? Or (since a lot has changed since 8/28) can you check to see if you still see this issue? Thanks!

[2015-11-01 22:03] barkimedes commented on #858
@LisaGee @schakj 'Tis true, we have "above average" and "below average" labels on the charts. Is this really not supposed to be there?

[2015-11-01 22:04] jackiekazil commented on #1286
@barkimedes, et al... thank you for the feedback. Sad to hear that it can't be broken down this way. Hopefully the data is improved in the future to compare apples to apples.

[2015-11-01 23:05] barkimedes commented on #828
@sharonleu There isn't enough information here to reproduce this bug, so I'm closing it. But if you are able to provide more information, then please feel free to reopen it. Thanks!

[2015-11-01 23:05] #828 closed

[2015-11-01 23:13] barkimedes commented on #814
@schakj This sounds similar to #858. Is it the same underlying issue (that we shouldn't be displaying the text 'above/below average')?

[2015-11-01 23:19] barkimedes commented on #799
@schakj There isn't enough information here to understand what the bug even is. You're welcome to reopen this with more details (steps to reproduce, screenshots, an explanation, etc.). But for now I'm closing this because I just don't know what else we can possibly do with it.

[2015-11-01 23:19] #799 closed

[2015-11-01 23:40] barkimedes commented on #809
@claremccann @saintsoup52  Given that "Find Schools" will show all of the schools, do you still have this request? If you do want a separate thing, could you please formulate it as a story? As an x, I would like y so that I can z. Thanks!

[2015-11-02 00:35] barkimedes commented on #790
@claremccann Is this still an issue? I don't see either option under "Filter your results", but I do see both under "Edit search". Does this look right to you? If so, can we close this issue?

[2015-11-02 00:38] barkimedes commented on #789
@LisaGee Are we happy with the cutoffs as they are? If so, can we close this?

[2015-11-02 01:28] barkimedes commented on #782
Shows "No Writing data available." now. Closing. @jennbell Feel free to reopen if you see the issue again.

[2015-11-02 01:28] #782 closed

[2015-11-02 05:26] barkimedes commented on #786
@claremccann Do you have more info about what you were referring to? Do you know if this is still an issue or can we close it?

[2015-11-02 15:18] claremccann commented on #786
No idea, sorry, I don't have an iPhone so think someone must have used my profile to post this.

[2015-11-02 15:19] claremccann commented on #790
No idea, sorry, I'm guessing someone else posted this from my profile.

[2015-11-02 15:20] claremccann commented on #809
As a student, I don't want to click through 15 pages of search results. Instead, I would like to click "show all" and have all schools populate on a single page, removing pagination.

[2015-11-02 18:48] jjoteal commented on #1354
Done. This request came in via email. Added to the queue so we wouldn't lose track of it. IMHO I don't feel as though this is a priority as this has not been a common user request AND it would likely only be used on desktop.

[2015-11-02 18:52] jjoteal commented on #1352
Done. Yes, this specific request came up during our in-person usability test sessions with high school students in October. They would like the ability to "save" schools and then compare them side-by-side -- especially the key metrics.

[2015-11-02 18:57] jjoteal commented on #1108
Just a note here that usability testing has been/is being conducted on this and it is not currently 100% clear to users that the search fields are optional. Unassigning me since the task of "performing usability testing" is complete. If you'd like me to move forward with a UI change to this, please create a new issue and assign to me.

[2015-11-02 19:01] jjoteal commented on #1084
Per usability testing, folks are still ignoring the sorts/filters completely. Accordingly, my recommendation would be to ensure that the filters are always visible in the left column for the desktop version (per original designs), and then introducing a bottom "sticky" tray per the above comment for the mobile version.

[2015-11-02 19:20] jjoteal commented on #1047
This is still an issue on iphone. Will post the iphone screenshot as soon as it comes through.

[2015-11-02 19:27] jjoteal commented on #1016
Per the task title above, this seems like a "distribution" task vs. a usability testing task. Accordingly, I think the issue of "getting PICC into the hands of guidance counselors" should be assigned to Ed Comms, but the ongoing usability testing with guidance counselors should be assigned to me. Naturally, I will need to coordinate with Ed Comms to ensure that when they contact guidance counselor

[2015-11-02 19:48] jjoteal commented on #886
Based on recent usability testing, I would recommend implementing this change in conjunction with introducing the filter left column back into the design. I also recommend adding a top "Edit Search" area (similar to Kayak). The 2-year and 4-year "toggle" options would appear in the "Edit Search" area. Additionally, if a user is viewing both 2-year and 4-year together in the search results, I recom

[2015-11-02 20:32] jjoteal commented on #513
Per October usability testing, there was a strong sentiment for students to see the desired GPA for admissions (which I know we don't have the data for). My recommendation would be to give the user *some* indication of admission rate (how many students apply vs. how many get in). Namely because students did express the desire to have better indicators of whether or not they stand a chance of getti

[2015-11-02 20:35] jjoteal commented on #452
Reassigning to Lisa to provide further direction on this so we can wireframe from there.

[2015-11-02 20:39] jjoteal commented on #444
Based on usability testing, I recommend that we do indeed add the National Average numbers to the value snapshot. We will likely need to do add these markers within the bar graph itself or as a tooltip so that the side-by-side layout in the value snapshot will be possible. Once this issue is prioritized for a sprint, I can mock-up some options.

[2015-11-02 20:48] jjoteal commented on #195
Per usability testing, diversity was very important to students. Though they might not conduct an initial search by diversity, I recommend adding it as an advanced search option. Naturally we will need to figure out how we define diversity and then the words we use to display this information (i.e. Is diversity defined as % of non-whites? What % of non-whites characterizes as a school as having a

[2015-11-02 20:56] jjoteal commented on #179
Per usability testing, both adult and high school students would love to have the following additional information regarding earnings:
- Salary by major (which I know we don't have the data for)
- Expected entry-level salary (i.e. what students can expect to make immediately upon graduating, which I know we also don't have the data for)

They did not express having the desire to have both 6-year a

[2015-11-02 21:11] jjoteal commented on #174
Per October usability testing with high school students, there were no specific asks for data associated with % 1st generation students, Average age at enrollment, % students over 24, or family income as it pertains to socio-economic diversity. There were requests for things like school activities/sports/clubs, fraternities/sororities (which I know we do not have the data for).

If anything, I wou

[2015-11-02 21:12] jjoteal commented on #11
Yep, closing as all of these items have been completed as intended for launch.

[2015-11-02 21:12] #11 closed

[2015-11-04 13:34] barkimedes commented on #979
Jamie Isaac (isaac@rti.org) also reported a user who entered Colorado as the state and 80915 as the zip with no mile radius specified. Only got one result even though there are 12 schools in Colorado Springs. So we may want to follow up once this is updated.

[2015-11-04 18:08] saintsoup52 commented on #809
For me... It is not immediately clear that you can just click search and all the schools will return.

I want a way to get to them all at once and then use the filters.

[2015-11-04 18:24] barkimedes commented on #1344
From another email thread. We need to make sure this is fixed for University of La Verne, too.

[2015-11-04 18:54] barkimedes commented on #786
I'll go ahead and close it then. If it is still an issue, someone will report it again.

[2015-11-04 18:54] #786 closed

[2015-11-04 18:54] barkimedes commented on #790
I'll go ahead and close it. If this is still an issue, someone will report it again.

[2015-11-04 18:54] #790 closed

[2015-11-04 19:02] barkimedes commented on #809
I feel like there might be two separate things being discussed here.
* Making it more clear that Find Schools without specifying any parameters will return all of the schools
* Provide an option to remove pagination after a search a student doesn't have to click through pages of results.

@saintsoup52 I think you're asking for the first bullet. If so, can you create a separate story (of the form a

[2015-11-05 13:55] barkimedes commented on #1173
I don't see this when I just do the search, but I can reproduce this (Nexus 6, Chrome) when I click on a school and drag from right to left.

[2015-11-05 19:15] barkimedes commented on #829
@sullivanse The filtering and search edit fields are much more prevalent now. Would you consider this issue resolved (and closeable :wink: )? Or is there more you think that should be done?

[2015-11-05 19:27] barkimedes commented on #801
@schakj Can you provide more info on this issue? If not, we'll have to close it as not reproducible. Thank you!

[2015-11-05 19:29] barkimedes commented on #780
@lm27 Is there any further information you can provide on this issue? Did you have any other search fields specified? If not, we'll close the issue as not reproducible. Thank you!

[2015-11-05 19:33] barkimedes commented on #774
The behavior I'm seeing now for some schools is that it just re-opens the same page in a new tab. For example, with https://collegescorecard.ed.gov/school/?117803-Los-Angeles-County-College-of-Nursing-and-Allied-Health. This looks like a bug; not sure what I expect other than perhaps a page saying "Calculate your personal net price" is not available for this institution rather than opening new tab

[2015-11-05 19:36] barkimedes commented on #763
@lm27 I can't reproduce this; can you provide more information on how you got that to happen? Otherwise we'll have to close the issue as not reproducible. Thanks!

[2015-11-05 19:40] barkimedes commented on #658
@kimballce Would the following be an accurate story description of what you're asking for?

As a student, I would like to be able to quickly expand all of the info sections on a school's page so that I can quickly and easily see all of the information.

[2015-11-05 19:42] kimballce commented on #658
Yes, that looks great!

From: barkimedes [mailto:notifications@github.com]
Sent: Thursday, November 5, 2015 2:40 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Kimball, Chase <Chase_E_Kimball@omb.eop.gov>
Subject: Re: [college-choice] Bug (feature request, really): Wish there were an "expand all" option (#658)

@kimballce<%3ehttps:/github.com/kimballce%3c> Would the following be

[2015-11-05 19:43] barkimedes commented on #637
@liyanchang Closing this issue as resolved. When I go to https://collegescorecard.ed.gov/search/?state=MA&zip=02139&sort=advantage:desc and then expand the "Edit Search" section, I see the correct 0-prefixed zip code in the zip code field. Feel free to reopen (and add more details) if I misinterpreted the bug. Thanks!

[2015-11-05 19:43] #637 closed

[2015-11-05 19:49] lm27 commented on #763
I don’t know

From: barkimedes [mailto:notifications@github.com]
Sent: Thursday, November 05, 2015 2:37 PM
To: 18F/college-choice
Cc: Masiuk, Libby
Subject: Re: [college-choice] BUG: ugly drop down (#763)

@lm27<https://github.com/lm27> I can't reproduce this; can you provide more information on how you got that to happen? Otherwise we'll have to close the issue as not reproducible. Thanks!

—
Rep

[2015-11-05 19:49] lm27 commented on #780
I don’t know

From: barkimedes [mailto:notifications@github.com]
Sent: Thursday, November 05, 2015 2:30 PM
To: 18F/college-choice
Cc: Masiuk, Libby
Subject: Re: [college-choice] BUG: program search feature doesn't work (#780)

@lm27<https://github.com/lm27> Is there any further information you can provide on this issue? Did you have any other search fields specified? If not, we'll close the issue

[2015-11-05 19:58] barkimedes commented on #634
@m-hsiang You make a good point. Do the tooltips help? Or is it still unclear after reading the tooltips? Do you feel like (if you were a student), it would make you more suspicious of the data?

[2015-11-05 20:04] barkimedes commented on #780
No problem. If it comes up again, hopefully someone will report it. Closing the issue. Thanks!

[2015-11-05 20:04] #780 closed

[2015-11-05 20:04] barkimedes commented on #763
No problem. If it comes up again, hopefully someone will report it. Closing the issue. Thanks!

[2015-11-05 20:04] #763 closed

[2015-11-05 20:31] barkimedes commented on #619
@stephaniefaith I believe that this is fixed now. Please feel free to reopen if you can reproduce the issue.  But I just tried it on IE11 on various widths and didn't see the problem. Thanks!

[2015-11-05 20:31] #619 closed

[2015-11-05 21:26] m-hsiang commented on #634
can you send me a link to the tooltips?

[2015-11-05 23:02] barkimedes commented on #634
@m-hsiang For any school (oh say https://collegescorecard.ed.gov/school/?243744-Stanford-University),  under "Graduation & Retention" section, you see the Graduation Rate and the Students Who Return After Their First Year graphs. Under each of the titles is a little white i in a blue circle that explains what the graph means.

So what I think I'm asking is if, given that at first glance the data i

[2015-11-08 20:47] barkimedes commented on #620
If #907 (or something akin to that) is used, then it would also address this issue.

[2015-11-08 20:55] barkimedes commented on #1176
Closing in favor of #1075

[2015-11-08 20:55] #1176 closed

[2015-11-08 20:58] barkimedes commented on #631
I think this is another duplicate of #1075. Closing as such, but if I'm wrong, please feel free to reopen it! Also adding a note there to make sure we test on Android once fixed to make sure that this is really really resolved.

[2015-11-08 20:58] #631 closed

[2015-11-08 20:59] barkimedes commented on #1075
Closed #631 as a duplicate of this issue. But we should make sure in testing that we also test this on Android Chrome too.

[2015-11-08 21:02] barkimedes commented on #907
Could possibly affect #620, #97, #231, #754.

For the record, I'm reading this issue as Google Maps (or any other map API that would have the features that we would want).

[2015-11-08 22:28] barkimedes commented on #917
Closing. There is no circle now. @jjoteal Feel free to reopen in case I missed something, but see no circle.

[2015-11-08 22:28] #917 closed

[2015-11-09 01:01] stevenbuccini commented on #907
@barkimedes Do y'all have bandwidth for this? I can make this happen if needed.

[2015-11-09 01:20] barkimedes commented on #864
@jjoteal Do you know if this is still a valid issue? I can't find the online-only option anywhere :disappointed:

[2015-11-09 01:49] barkimedes commented on #879
@claremccann This is a partial duplicate of #1152, so I am going to rename this issue. That bug addresses the special designation piece. This issue can remain focused on being able to select multiple religious affiliations.

It's interesting because this is two opposite behaviors. For special designations, we would expect multiple selections to result in schools that match all of the choices (conj

[2015-11-09 01:50] barkimedes commented on #1152
Pay attention to #879 as well when addressing this issue so that we don't implement two features that do somewhat opposite things from a user's perspective.

[2015-11-09 02:21] barkimedes commented on #907
@stevenbuccini Nobody's assigned to it, so as far as I know, it's up for grabs :smile:

I don't have much context for why things are currently set up the way they are, so I don't know just switching to Google Maps (or whatever) is actually the correct solution. Perhaps someone like @shawnbot can provide more context? (Or at least point to who really can give more context if necessary)

Thanks!! :u

[2015-11-09 03:32] barkimedes commented on #913
@shawnbot @jjoteal I just reproduced it on prod on my computer (mac running chrome). I also repro it running locally with the latest code. I followed the exact instructions in the original comment. So still an issue.

[2015-11-09 14:20] barkimedes commented on #1185
closing as duplicate of #187.

[2015-11-09 14:20] #1185 closed

[2015-11-09 15:37] barkimedes commented on #174
@LisaGee Is your question answered? If so, is there somewhere that we should put this information and close the issue?

[2015-11-09 17:14] barkimedes commented on #496
@LisaGee It seems like all the stuff in this issue has been done, but I'm not 100% sure. Can you verify and (hopefully) close the issue? Thanks!

[2015-11-09 17:24] barkimedes commented on #531
@jjoteal Will this still be a pretty good experience for red/green color blind folks? I guess it isn't tragic sine they can still glean the information from the charts, but it would still be kinda sad to degrade their experience (assuming the colors we're using now are good for them?)

[2015-11-09 17:30] barkimedes commented on #345
@jjoteal I feel like we can close this issue. Can we? :us: :bar_chart:

[2015-11-09 17:35] shawnbot opened #1361 "Map components don't load in Firefox"
Not sure what the deal is here, but it probably has something to do with my tweaks to the `eiti.load()` function that spread out multiple loads of the same URL over multiple frames. Need to debug this in FF and write some unit tests!

[2015-11-09 17:45] barkimedes commented on #316
@jjoteal The current text is

Typical Total Debt
$xx,xxxx
For undergraduate borrowers who complete college

Thoughts? Still something you think should potentially change? Has there been any updates (usability testing) on this?

[2015-11-09 17:48] barkimedes commented on #1297
@LisaGee Just tried it out. Totally is :) Closing this issue :us:

[2015-11-09 17:48] #1297 closed

[2015-11-09 17:59] barkimedes commented on #303
@jjoteal It looks like it is supposed to on my Nexus 6. Is it still looking not good on other devices? If so, which device(s) is this reproducible on?

[2015-11-09 18:27] saintsoup52 commented on #531
I would also recommend adding the words "Above Average", "About Average" and "Below Average" underneath each metric as you already do on the school profile page.

![image](https://cloud.githubusercontent.com/assets/4397508/11042528/a554085a-86e5-11e5-99e0-ab1fff1fc6fa.png)

[2015-11-09 20:20] dnesting commented on #496
I don't think this is working as expected yet.  Google has only indexed the (~empty) /school/ page and has not indexed the individual schools beneath it.  I believe this is chiefly because the page content is generated entirely with Javascript, which is something search engines have traditionally eschewed.  Google effectively sees them all as identical, because the page itself is identical.

Howev

[2015-11-09 20:55] barkimedes commented on #314
@ErieMeyer all of the links under the "Check Out These Schools" section are all live. Closing this issue (please reopen if I somehow misunderstood) :us:

[2015-11-09 20:55] #314 closed

[2015-11-09 20:56] barkimedes commented on #232
@diego- I can't find what you might have been referring to. Can you provide more information? Since this is a fairly old issue, is this something that is no longer an issue and we can close it?

[2015-11-09 21:05] barkimedes commented on #496
@dnesting ah thanks! effective and informative  :+1: :us:

[2015-11-09 21:07] diego- commented on #232
this is an old issue and can be closed!

[2015-11-09 21:09] barkimedes commented on #208
(2) is being tracked by #531. Updating the title of this issue to only refer to (1).

[2015-11-09 21:11] barkimedes commented on #232
:us:

[2015-11-09 21:11] #232 closed

[2015-11-09 21:45] dnesting opened #1362 "As a consumer, I want to perform a scorecard search directly from search engine results"
(Splitting from #496)

Google has the ability to present a search box directly on the results page for navigational queries.  This would let someone search for "college scorecard" and then enter "harvard" and have their entry point into the site be this search request.

Search engines are under no obligation to honor this request, but if we wanted to enable it, we'd add this to the home page of th

[2015-11-09 22:13] barkimedes commented on #258
@diego- I gave it checkboxes and checked the issues that seemed to be done. The one that I was confused about was #160. It's closed, but I couldn't tell if it was *done*. So anywho, if someone else wants to take a look and see what the real status of this epic is, that'd be swell.

[2015-11-09 23:10] barkimedes commented on #852
@samquinney2 This doesn't sound like it was an iphone-specific issue, and the national average is displayed now in the chart. So I'm closing this issue as resolved. Please feel free to reopen if it turns out that it is not really closed. Thanks!

[2015-11-09 23:10] #852 closed

[2015-11-10 04:35] #1285 closed

[2015-11-10 04:41] barkimedes commented on #1283
Moving to accept--it is fixed when I run it locally, but not in production. So no code change is required, it just needs to be deployed and verified.

[2015-11-11 02:35] saintsoup52 opened #1363 "As a student I would like browse all schools and use filter to narrow my search"
Similar to #809

I would like to a "see all schools" option that allows a user to filter down the results or sort the results different ways.

For example... which schools have the highest salary rates.

[2015-11-11 03:28] saintsoup52 commented on #1338
Non-sophisticated developers and researchers like myself would like to grab this data and use it but don't know how to extract flat files from an API>

I imagine this would work a lot like how the current IPEDS tool works... you select the data fields you want and you get a flat file on the back end.

[2015-11-11 06:01] barkimedes commented on #729
@LisaGee Closeable? Seems like we launched :smiling_imp: : :us:

[2015-11-11 06:04] barkimedes commented on #720
There are pretty clear indicators that a school is 2 or 4 years from the icon set at the top.

[2015-11-11 06:04] #720 closed

[2015-11-11 06:13] barkimedes commented on #690
Is there still a hover on the graph? I don't see it (chrome, mac), but I don't know if that's a feature that was removed or if I'm just not doing it right. Can someone confirm this isn't an issue anymore? Then we can close it :grin:

[2015-11-11 06:26] barkimedes commented on #448
Related issues #690, #689 in favor of this issue. I think it is no longer an issue because I don't see any hovery stuff (chrome, mac). But whoever officially closes this issue, just verify that those issues should be closed as well. Thanks!

[2015-11-11 06:27] barkimedes commented on #690
See #448

[2015-11-11 13:39] jjoteal commented on #316
In usability testing, folks are generally understanding "Typical Total Debt", however some have lingering questions like "Is that the debt for all 4 years? Or, is that the debt just after 1 year?" I would recommend that we make the bottom phrase more clear. Perhaps something like "After graduating college (for undergraduates who have taken out loans)"

I'd love to be able to say "graduating" but n

[2015-11-11 13:39] jjoteal commented on #345
Yep, closing out.

[2015-11-11 13:39] #345 closed

[2015-11-11 13:45] jjoteal commented on #531
@barkimedes I agree with @saintsoup52. If we go with the red, green, yellow bar graphs, I think it will be very important to ensure that the "Above Average", "About Average" and "Below Average" signifiers accompany each graph. That way those with color blindness will still be able to comprehend the charts. Please note that we'll likely  need to change the color of those labels though so they are N

[2015-11-11 13:53] jjoteal commented on #303
@barkimedes this is displaying correctly on my iphone 5 now (which is a small screen). I think we can close this one out. Doing so!

[2015-11-11 13:53] #303 closed

[2015-11-11 14:42] barkimedes commented on #689
I think they've been removed. Closing as resolved (please someone reopen if this was a mistake on my part!)

[2015-11-11 14:42] #689 closed

[2015-11-11 14:44] #690 closed

[2015-11-12 05:38] barkimedes commented on #674
@kimballce I *think* what you're saying has been addressed in that (regardless of width), things are generally centered. Would you say that it looks consistent enough to close the issue? :wink:

(This image is at a window width that seems comparable to the original issue)

<img width="451" alt="screen shot 2015-11-12 at 12 36 46 am" src="https://cloud.githubusercontent.com/assets/1174867/11111284/

[2015-11-12 06:00] barkimedes commented on #663
@kimballce I think this one is fixed now, but it would be super awesome if you could verify it. But the reason I think it's fixed is because (as you can see in the screenshot below), the map is now below the icons, not next to them. And at the skinniest width I can make my window, they stay in one row. So I don't think what you saw is reproducible, but it'd be great to confirm it. Thanks!

<img wi

[2015-11-12 14:35] saintsoup52 commented on #663
Does the map even need to appear on a mobile device?

[2015-11-12 15:33] LisaGee commented on #663
@barkimedes – I think you can close this. It was indeed fixed.

[2015-11-12 15:58] LisaGee commented on #720
@barkimedes – I think this was referring to the Search Results page, which at the moment, does not indicate what “type” a school is: 2 or 4 year or public, private or for profit, ….

[2015-11-12 17:23] barkimedes commented on #1314
@gregshap Sorry, but could you provide some more information on this bug (or close it if it is no longer an issue)? I'm trying to clean up/prioritize the issues and I am not sure what you're referring to here. Thanks!

[2015-11-12 18:31] barkimedes commented on #1328
I flagged this high-priority because I have no idea if this policy is like a "policy" or a *policy* that we totally need to comply with yesterday or something. So this should pop up towards the top in prioritization and it can be settled there.

[2015-11-12 18:49] barkimedes commented on #1252
@hollyallen So how are we with 508? Are we keeping track of compliance/issues other than just tagged issues in github?

[2015-11-12 18:56] barkimedes commented on #1249
@hollyallen I have no idea what to do next with this issue. Thoughts?

[2015-11-12 19:11] barkimedes commented on #1250
Should also pay attention to #979 if you work on this issue.

[2015-11-12 19:12] barkimedes commented on #979
Also look at #1250 if you work on this issue

[2015-11-12 19:45] hollyallen commented on #1249
I'd want to verify that @LisaGee has access as well, and you should get access too. Otherwise this can be closed.

[2015-11-12 19:47] hollyallen commented on #1252
@barkimedes Before launch @mhz did a preliminary review with 18F's accessibility expert. We need to do a more thorough review then prioritize the findings in the backlog. @LisaGee had thoughts on where this slots in as a priority, which hopefully we can talk more about next week. The biggest accessibility challenge as far as I remember is navigating with the keyboard w/o a mouse.

[2015-11-12 20:26] LisaGee commented on #729
Agreed!

[2015-11-12 20:26] #729 closed

[2015-11-12 21:45] stevenbuccini commented on #907
@shawnbot, are you still looking for people to pick this up?

[2015-11-12 23:55] barkimedes commented on #326
@LisaGee Did anyone scream? Or can we close :smiling_imp:

[2015-11-13 00:02] barkimedes commented on #291
@jjoteal or @LisaGee I don't see gender on individual school pages. That still a thing or was it removed?

[2015-11-13 00:46] LisaGee commented on #326
We can close. No IE9 support

[2015-11-13 00:46] #326 closed

[2015-11-13 00:47] LisaGee commented on #291
We didn't have the data to implement this. Closing.

[2015-11-13 00:47] #291 closed

[2015-11-13 15:38] barkimedes commented on #1201
@dnesting What's next for this issue?

[2015-11-13 16:25] barkimedes commented on #1166
I think this issue is fixed now (and I can't reproduce it). @MarinaMartin, I'm going to close this issue, but if you are able to replicate it, please feel free to reopen.

[2015-11-13 16:25] #1166 closed

[2015-11-13 16:29] dnesting commented on #1201
@barkimedes I think the checklist in the first comment sums it up, but we've launched since the time this issue was created and I think we are generally satisfied with the performance of the system and its ability to scale beyond what we originally wanted to figure out.  Sooo I'm OK closing this early unless someone thinks we want to put some time into the other scaling options.

[2015-11-13 17:32] barkimedes commented on #1155
@ultrasaurus Who should confirm this is done (and then close the issue)?

[2015-11-13 17:51] hollyallen commented on #1201
Concur. The uncompleted tasks in the checklist represent potential future performance improvement methods should performance become a problem.

[2015-11-13 18:02] barkimedes commented on #1142
@LisaGee I still can't find this online-only checkbox. Is this still a thing?

[2015-11-13 18:06] #663 closed

[2015-11-13 18:10] #1201 closed

[2015-11-13 19:33] barkimedes commented on #642
This doesn't appear to happen on all mobile clients. We'll see if we can reproduce.

[2015-11-13 19:38] barkimedes commented on #1296
@alex I know this is useful, but do you know (in terms of prioritization), is this super important (like a policy compliance thing)? Or a good "right thing to do on the internet thing?

@konklone This sounds like a lot of work. Is it as much work as it sounds?

[2015-11-13 19:52] barkimedes commented on #952
Also see #953

[2015-11-13 20:05] LisaGee commented on #1197
@claremcann- Can you take a look at the data and confirm if something needs to be changed?

[2015-11-13 20:05] konklone commented on #1296
It is a [policy compliance thing](https://https.cio.gov), and by the letter of the rule, `collegescorecard.ed.gov` doesn't get until December 2016 to do it, because it was released after M-15-13 came out.

However, [OMB does give two ways to accomplish it](https://https.cio.gov/guide/):

1. Put the HSTS header on each subdomain. (Which is what @alex asked for.)
2. Put an HSTS header on the domain

[2015-11-13 20:08] barkimedes commented on #858
I think we're OK.

[2015-11-13 20:08] #858 closed

[2015-11-13 20:09] LisaGee commented on #1096
@barkimedes - Can you confirm in the data that the school should be showing in the Consumer Tool?

[2015-11-13 20:10] LisaGee commented on #1096
CURROPER==1 and PREDDEG==2||3 is what is required for a school to show up at the moment in the Consumer Tool.

[2015-11-13 20:19] LisaGee commented on #621
@claremcann - Any next steps on this?

[2015-11-13 22:55] djharrity commented on #1296
The timeline/viability for ed.gov fully HSTS Preloaded is a significant challenge and not around the near corner. The Ed.gov has hundreds of public subdomain a hosted by a decentralized group of host providers. We are making significant progress on Always On HTTPS but HSTS will take time.

[2015-11-13 22:59] konklone commented on #1296
That's what I figured (and yeah, Ed is making visibly significant progress). Hopefully this is something @dhcole and I can resolve at the hosting level, for collegescorecard.ed.gov and the other domains Federalist hosts. If not, we'll figure something else out!

[2015-11-16 17:27] ErieMeyer commented on #22
Yes! I love it.

[2015-11-16 17:27] #22 closed

[2015-11-16 17:41] ErieMeyer opened #1366 "As the department of education, I want analytics in order to know usage by API Key"
As the department of education, I want to know how much each API key is being used.

[2015-11-16 17:42] ErieMeyer opened #1367 "As the department of education, I want analytics in order to know the number of unique API users"
As the department of education, I want to know how many API keys are being used.

[2015-11-16 17:51] ErieMeyer opened #1368 "As the department of education, I want analytics in order to know how many calls are made to the API"
As the department of education, I want analytics in order to know how many calls are made to the API. For example, how many times has it been called today? Compared to last week? Last month?

[2015-11-17 15:17] claremccann opened #1369 "CIP missing in available areas of study"
Cal State-Long Beach offers a bachelor's degree program in Education (reflected in the data, CIP13BACHL=1). The school shows up when you search by program: education; but not when you look at the IHE profile. Google Chrome, 11/17/2015, https://collegescorecard.ed.gov/school/?110583-California-State-University-Long-Beach

![image](https://cloud.githubusercontent.com/assets/13874735/11215483/7131b86

[2015-11-18 16:51] hollyallen commented on #1369
Verified. Thank you for verifying that the Education bachelor's degree is in the data Clare.

It is probably a software bug because this search gets you the school:
https://collegescorecard.ed.gov/search/?degree=b&major=education&state=CA&name=long&sort=advantage:desc

But Education doesn't show up for areas of study on the school's page:
https://collegescorecard.ed.gov/school/?110583-California-S

[2015-11-18 17:32] jjoteal commented on #1275
This appears to be completed, so closing this ticket.

[2015-11-18 17:41] jjoteal commented on #1124
Closing this issue as it seems to be resolved.

[2015-11-18 17:41] #1124 closed

[2015-11-18 19:47] hollyallen opened #1370 "As a user I want to search for school names which contain two letter words"
As a user I want to search for school names, like St Louis, which contain two letter words. Currently only searches for names with three letter words yield results.

Steps to reproduce:
1. On College Scorecard homepage, enter "St" in the Name search box

Expected Result:
* Search results with colleges with "St" in their names

Current Result:
* 0 search results

[2015-11-18 19:53] jjoteal commented on #1018
Per usability testing results, students *are* catching onto this.

[2015-11-18 19:54] #1018 closed

[2015-11-18 19:55] jjoteal commented on #930
Only assigning to @barkimedes so she can coordinate these dev efforts with the dev team.

[2015-11-18 19:57] jjoteal commented on #905
FYI -- I think this is a greater initiative to add "helpful hints" across the site to help users understand why particular metrics are important and the relevant meaning behind them. Assigning to me to work on with Erie.

[2015-11-18 19:59] jjoteal commented on #880
Assigning to @ErieMeyer as a first step to see if we can get this information

[2015-11-18 20:02] jjoteal commented on #588
Assigning to @ErieMeyer to work on with Jess, as Jess has a similar ticket.

[2015-11-18 20:04] jjoteal commented on #539
Assigning to @ErieMeyer then to find out if we can get this, if it is indeed something we want to move forward on.

[2015-11-19 15:58] barkimedes commented on #951
@claremccann Is it possible to get RTI to add columns to the data? The first column being whether a 2-year degree is offered and the second being whether a 4-year degree is offered?

[2015-11-19 16:10] barkimedes commented on #187
@claremccann If this information is available in IPEDS, can we ask that it be made available in our data?

[2015-11-19 17:25] claremccann commented on #951
To clarify, you would need the highdeg category broken out, so rather than saying "a school offers an associate degree if highdeg==2 and a bachelor's if highdeg==3," you need two different columns that say "associatedeg==1 means it offers an associates" and "bachelorsdeg==1 means it offers a bachelor's"? Am I understanding correctly?

Also, can we include data elements in the file without adding t

[2015-11-19 18:21] jjoteal commented on #525
Assigning @barkimedes to work in in coordination with the development team.

[2015-11-19 18:22] jjoteal commented on #523
Assigning to @ErieMeyer then per the note above.

[2015-11-19 18:26] jjoteal commented on #505
Just a note on usability testing results here -- very few people are actually using the sorts and filters at all. I think we'd need to tackle the issue about how to encourage more sorting and filtering first before we decide what or what not to include in them.

[2015-11-19 18:31] jjoteal commented on #285
FYI -- Per usability testing in October, this feature was requested by students. Assigning to Lisa to determine priority.

[2015-11-19 18:39] jjoteal commented on #144
Assigning to @ErieMeyer to work on with Clare.

[2015-11-19 18:40] barkimedes commented on #1214
See #1142...probably want to look at both of these at the same time

[2015-11-19 18:40] barkimedes commented on #1142
See #1214...probably want to look at both of these at the same time

[2015-11-19 18:41] barkimedes commented on #864
Closing in favor of #1142.

[2015-11-19 18:42] #864 closed

[2015-11-20 16:26] LisaGee commented on #1363
@saintsoup52 - not sure I'm following. How is this different from the filtering and sorting a student can do today?
![image](https://cloud.githubusercontent.com/assets/12847090/11305188/77ed6f18-8f79-11e5-8e14-4976c6de0ed3.png)
![image](https://cloud.githubusercontent.com/assets/12847090/11305198/87378fe4-8f79-11e5-89f4-20b435e7a0a8.png)

[2015-11-20 16:27] LisaGee commented on #204
We should determine what additional analytics we would like to see.

[2015-11-20 16:33] LisaGee commented on #188
@barkimedes This story needs to be re-written to reflect where the comments in the ticket took it. I think this has become more about how to reflect the differences in national averages of 2 vs 4 year schools, in filters.

[2015-11-20 16:34] LisaGee commented on #266
@barkimedes We should look at each of the substories and see what still needs to be done and then perhaps create a new story and retire this one.

[2015-11-20 16:36] saintsoup52 opened #1371 "As a user, I would like to research all post secondary schools (not just 2 and 4 year schools)"
A user should be able research certificate granting schools.

[2015-11-20 16:40] LisaGee commented on #1090
@barkimedes anything we still need to do here?

[2015-11-20 16:41] LisaGee commented on #1090
@barkimedes fuggedahboutit - I see that it's marked for Acceptance.

[2015-11-20 16:44] LisaGee commented on #118
@barkimedes - Can you confirm that this is good to go and we have everything we need in GA to close this ticket?

[2015-11-20 16:44] saintsoup52 commented on #956
Not to revisit this issue again... but this decision has caused confusion among stakeholders and makes it difficult for VA to mirror the outcomes on the College Scorecard.

VA is publishing student veteran outcome measures... they only have graduation rates for 2 years school (150%NT).

Right now on the comparison tool... we choose to use the same rates you display on the Scorecard tool... but tha

[2015-11-20 16:51] saintsoup52 opened #1372 "As a user, I would like to know if my credits earned will transfer to another school"
We should consider adding information about transferability of credit based the school's type of accreditation (e.g., regional vs national).

[2015-11-20 16:51] LisaGee commented on #597
I think that means this story is ready for Accept.

[2015-11-20 16:54] saintsoup52 opened #1373 "As a user, I would like to see the most recent school data displayed on the Scorecard"
Most of the IPEDS data on the Comparison Tool is 1-2 years old.

[2015-11-20 16:59] saintsoup52 commented on #118
When I think about this... i want to see in-page behavior...

Is the user scrolling?
Are they opening the drawers?
Are they clicking on the tool tips?

This type of info is not currently being collected.

[2015-11-20 18:37] barkimedes opened #1374 "As a student, I would like to know that not all schools are represented in the tool, so that I understand the current limitations of the tool and that there are additional schools that I could consider."
For example, we don't currently show predominantly certificate schools (which is something that students should definitely be looking at!), so it would be good to have some way of letting students know that this isn't a complete set of schools.
- [ ] What would the words read? (@ErieMeyer)
- [ ] Need visual design of where this message could be? (@jjoteal)

[2015-11-20 19:42] barkimedes commented on #951
Yes! I think that those associatedeg and bachelorsdeg fields sound good to me!

I am not sure I understand the second question; are you asking if data changes are automatically updated in the API? If so, I would say that the best way to think about it is as a multi-step thing--once we have the additional columns, we will then be able to do whatever work is necessary to expose those columns through

[2015-11-20 20:04] barkimedes commented on #1374
If #951 is completed, we may not have to do this one, right?

[2015-11-20 20:23] claremccann commented on #951
I think that helps. In other words, adding new columns doesn't affect the API? I'm surprised to hear that because there were a lot of specifications put on our data files to ensure they didn't mess up the API -- just want to make sure.

[2015-11-20 20:24] claremccann commented on #951
Also, would it just be easier to say "include if highest degree (highdeg) does not equal 1 (certificate)"?

[2015-11-20 20:25] claremccann commented on #1374
Yes, we're looking for an interim solution to #951 with this one.

[2015-11-20 20:57] barkimedes commented on #951
@claremccann Its more like the API is built on top of the data. So when new columns are added, we can update the API to use those columns. Conversely, if the existing columns were to change, the API would explode. Also, in order to build an API from any data, it has to be consistent, well-structured, etc. So I suspect whatever specifications you had are probably related to those things.

Do you ha

[2015-11-20 21:41] claremccann commented on #951
Can I consider this license to add other, new columns without worrying about the API at this point?

We will try to produce in the next data run as needed.

[2015-11-21 00:17] LisaGee commented on #956
@saintsoup52 Can you file a new ticket for this? Confusing to have the discussion here, as the description of the ticket is the opposite and it's already closed.

[2015-11-23 18:31] barkimedes opened #1376 "As a developer, I would like to be able to reindex the data faster so that we can have faster turnaround on data updates."
Reported by @hollyallen. Apparently it takes something like 8 hours to index the data, which is an unpleasant amount of time. There may be some low-hanging fruit here. This story is intended to track ideas/tasks related to speeding up indexing.

[2015-11-23 18:42] barkimedes opened #1377 "As an API user, I would like to be able to construct any query so that the server won't run out of memory"
Story is phrased a little oddly, but the main idea is that @hollyallen reported that there are certain queries that can be constructed such that the server can run out of memory. Which is kinda bad.

@hollyallen can you provide more detail, including the impact of this issue? What kinds of queries cause this? Is it likely to happen to a lot of people (bang = high) or is this more of a theoretical

[2015-11-23 18:54] barkimedes commented on #1376
Oops. Dupe of #1081

[2015-11-23 18:54] #1376 closed

[2015-11-23 19:52] barkimedes opened #1378 "As a developer, I would like the API documentation to be clear about what is supported so that I know which features have been tested."
Reported by @hollyallen. She can provide more details. But apparently the data tool doesn't do a great job of being clear about what data is supported via the api and what data isn't. Or things that should work but haven't been tested vs. things that we know will work. So we should make that more clear.

[2015-11-23 21:10] saintsoup52 opened #1379 "Completion rate for less-than-four-year schools needs to use 150% (not 200%)"
This is the exact opposite #956...

Not to revisit this issue again... but this decision has caused confusion among stakeholders and makes it difficult for VA to mirror the outcomes on the College Scorecard.

VA is publishing student veteran outcome measures... they only have graduation rates for 2 years school (150%NT).

Right now on the comparison tool... we choose to use the same rates you disp

[2015-11-23 21:36] saintsoup52 commented on #1363
For example... If I wanted to know the schools with the highest salaries (or salaries over $60K)... there is no clear way to "select all schools" from the initial search page.

It seems as though I have to select at least one search option before clicking search which then narrows the list in some fashion.

[2015-11-23 21:38] barkimedes commented on #1379
@claremccann @mitzcow My understanding is that this is a policy issue. How would you like to address it (assigned to Clare for research purposes). Thanks!

[2015-11-23 22:14] ErieMeyer opened #1380 "FYI: Third party tools using the College Scorecard"
This is a running thread to capture 3rd party tools that are using the data from CollegeScorecard.ed.gov.

--
From the launch fact sheet:

New capabilities created with the open API, customized to serve a variety of students and counselors, including:

Better college search and choice tools: Today, ScholarMatch, StartClass, and College Abacus, three online search tools, will incorporate the new da

[2015-11-23 22:19] ErieMeyer commented on #1380
+ http://scholarmatcher.scholarmatch.org/
+ http://www.startclass.com/
+ https://collegeabacus.org/
+ https://pell.collegeabacus.org/
+ http://www.payscale.com/college-roi/roi-by-income-level
+ http://www.insidetrack.com/
+ Debt by Degrees: https://projects.propublica.org/colleges/
+ Head to Head: https://projects.propublica.org/colleges/compare
  + https://projects.propublica.org/colleges/compare

[2015-11-23 22:38] barkimedes commented on #1316
@hollyallen How does one such as myself get access to new relic? :smile:

[2015-11-23 23:11] barkimedes commented on #396
Links appear to go to the right places now. I think this is done.

[2015-11-23 23:12] #396 closed

[2015-11-23 23:45] barkimedes commented on #596
@hollyallen I feel like we can close this, but I don't want to pull the trigger in case I'm missing something. This OK to close?

[2015-11-24 17:14] hollyallen commented on #951
Please do add more data fields, this ticket is an excellent example of that need. The backend service might need to be updated if the types of data in any given column changed, as @barkimedes said.

If I remember correctly, RTI made the updates to the data dictionary. @ultrasaurus can correct me if that is wrong though.

[2015-11-24 18:13] hollyallen commented on #1377
More technical detail can be found in the related open-data-maker ticket: https://github.com/18F/open-data-maker/issues/63. The bang is low, but so is the buck.

https://github.com/18F/open-data-maker/issues/218 is also related in that it is a out of memory problem, but for the puma server. There is a known community solution to try, basically including a gem to do preemptive restarts. Not super e

[2015-11-24 18:28] hollyallen commented on #1378
The api documentation currently lives here: https://github.com/18F/open-data-maker/blob/api-docs/API.md

It implies that all Field Parameters and Option Parameters defined in the data dictionary would work, but in fact they do not.

Success Criteria:
* API Documentation at https://github.com/18F/open-data-maker/blob/api-docs/API.md lists the set of parameters that are expected to work.

[2015-11-24 18:29] hollyallen commented on #1316
@ozzyjohnson can get you an account.

[2015-11-24 18:31] ozzyjohnson commented on #1316
@hollyallen @barkimedes - This is true, just need an email to invite.

[2015-11-24 18:31] hollyallen commented on #596
Agreed, we can accept this and open new tickets to refine as desired.

[2015-11-24 18:31] #596 closed

[2015-11-24 18:33] hollyallen commented on #1316
Taking it to email with you two.

[2015-11-24 19:10] hollyallen commented on #176
This is currently in Blocked, would it make more sense to put it into the Icebox? @lisagee and @barkimedes

[2015-11-24 19:13] hollyallen commented on #808
Race/Ethnicity is now displayed properly I believe. See https://collegescorecard.ed.gov/school/?166683-Massachusetts-Institute-of-Technology

@lisagee @barkimedes okay to resolve this?

[2015-11-24 19:14] hollyallen commented on #863
Additionally, the states are not actually alphabetized. Alaska comes before Alabama, for example.

[2015-11-24 19:16] hollyallen commented on #749
@barkimedes propose we remove the Design label and prioritize this in the backlog or icebox.

[2015-11-24 19:18] hollyallen commented on #664
This is currently in Design, but should it instead be in the Icebox? @barkimedes

[2015-11-24 19:27] claremccann commented on #664
Probably research. This is a policy question.

[2015-11-24 19:28] claremccann commented on #176
We now have default rates in the data file.

[2015-11-24 19:30] hollyallen commented on #176
Fantastic! So this can be prioritized in the general backlog it sounds like.

[2015-11-24 21:06] LisaGee commented on #176
Thanks, @claremccann - In the data set that is live and publicly available today? If so, we can actually, close the ticket, cause then it's done. yay, yippee.

[2015-11-24 21:09] LisaGee commented on #664
I think for starters, it's a Usability question. Let's confirm that students would find this helpful before taking any additional steps.

[2015-11-24 21:12] LisaGee commented on #808
Agreed. Closing

[2015-11-24 21:12] #808 closed

[2015-11-24 21:12] claremccann commented on #176
Yes we added before launch, it's live

[2015-11-24 21:13] LisaGee commented on #176
Great. Thanks. Closing.

[2015-11-24 21:13] #176 closed

[2015-11-24 22:46] hollyallen opened #1381 "Investigate using sentry.18f.gov to capture front end errors"
Before launch we were talking about using the new relic front end error capturing ability to have a record of any front end (javascript) errors our users are getting in their browsers. These errors are not in our server logs, of course, because they are generated within the users' browsers.

Since then the cloud.gov platform has added its own installation of Sentry ("real-time crash reporting for

[2015-11-24 22:47] hollyallen commented on #1381
This ticket shouldn't take more than an hour or so, and doesn't include the full work of actual production-level integration of sentry.

[2015-11-24 23:10] hollyallen commented on #1380
http://www.brendansudol.com/college-scorecard-rankings/

[2015-11-24 23:12] hollyallen commented on #1380
Completely separately, Sarah and I made this wiki page the other day, which I've just updated to basically match this issue: https://github.com/18F/college-choice/wiki

[2015-11-25 01:05] hollyallen opened #1382 "Expand front end functional tests"
The automated front end tests need to be expanded to support rapid development. There is an existing test framework in place, and test cases to be automated.

Success Criteria:
* Decrease in the number of manual tests done before production deployments
* Increase in the test code coverage according to something like https://codeclimate.com
* Team feels increased confidence in the ability of the te

[2015-11-25 17:54] hollyallen commented on #1344
Also related to #187

[2015-11-25 19:50] hollyallen commented on #951
I talked with @ultrasaurus who said that the data dictionary starts as a google spreadsheet updated by @claremccann , then it is exported as a csv for the /data site and turned into the data.yml file for the back end service by a script.

[2015-11-25 20:09] barkimedes commented on #951
@hollyallen: Thanks for the info!

The other question I had (we talked about it a little on the call earlier) is if we can handle 'or's in the tool . You mentioned that elasticsearch may be able to create a column when it ingests data.

The reason I ask is because we are requesting 2 columns to be added to the data (associatedeg and bachelorsdeg). But if we want all the schools that offer either/b

[2015-11-25 20:49] hollyallen commented on #951
@ultrasaurus My idea was to create a new document attribute during the data import process which is 1 if either associatedeg==1 or bachelorsdeg==1. Seem reasonable?

[2015-11-30 21:46] hollyallen opened #1383 "Update style guide to match production site"

[2015-11-30 22:51] hollyallen commented on #1370
@LisaGee said she may also want to be able to search for a single character. @ultrasaurus is going to create a test site for @LisaGee to review so she can see if it has the behavior she likes.

[2015-11-30 23:11] ultrasaurus commented on #951
current thinking is that this approach should work from my comment on Sep 3:  school.degrees_awarded.predominant__range=1..3&school.degrees_awarded.highest__range=2..4 ?

[2015-12-01 18:45] hollyallen commented on #1296
@konklone @dhcole Thanks for your work on this. Do you have a Federalist ticket I can reference?

[2015-12-01 22:14] hollyallen commented on #951
@ultrasaurus your search criteria would also return PREDDEG=4 schools, but I think Shawn is saying that the front end filter thought out so it would be okay?

[2015-12-01 22:35] hollyallen commented on #952
I think in this case we will need the associatedeg==1 field that @claremccann is having added.

[2015-12-01 22:36] hollyallen commented on #953
I think in this case we will need the bachelordeg==1 field that @claremccann is having added. See #951.

[2015-12-01 22:39] hollyallen commented on #951
While this ticket might be doable w/o the associatedeg==1 and bachelordeg==1 fields, I believe #952 and #953 are not.

It will probably be faster to go ahead with the plan @ultrasaurus said and use that query. We might consider a cleanup ticket to use the new data fields when they are available.

If these three tickets can only go out together, not piecemeal, we'll need to wait for the data.

[2015-12-02 18:08] claremccann commented on #951
So just to clarify: What you want is two new fields added. One that is "preddeg means it should be there" and the other that is "highdeg means it should be there" (so binary variables of preddeg=1, 2, or 3 and highdeg=2, 3, or 4). Yes?

[2015-12-02 18:52] LisaGee commented on #951
@claremccann Sorry. I think there has been confusion as there are so many different channels by which we are communicating. Clare on 9/21, I sent you and email asking for the following: "Could you get RTI to create 3 new columns: Offers Associates, Offers Bachelors, and Offers Associates OR Bachelors?"
If we get this, we should be all set. Thanks and sorry for the multiple requests from different

[2015-12-03 00:00] hollyallen opened #1384 "Several non-states missing from interface"
It has been a while, I can't remember if we did this on purpose. There are three non-states missing from the States dropdown: Federated States of Micronesia (FM), Northern Mariana Islands (MP), and Palau (PW).

[2015-12-03 14:36] saintsoup52 opened #1387 "As a developer, I would like to have "current year" data points in the API"
I mentioned this a couple of months back but I can't find it on issues...

I think is probably the most important output for me as a developer of tools that will consume the data to be able to have data points that will always be the most current. I will want to most recent graduation rate, netprice, default rate, average salary and median borrowing rates.

Right now each data point is contained i

[2015-12-03 19:46] shawnbot opened #1388 "Create unit tests for API parameters"
We need unit tests that ensure the correct parameters are being passed to the API for different combinations of search inputs. This came about because @davidebest discovered that the result totals for the areas of study are different (usually higher) than the expected ones. I suspect that it's because the expected counts were derived from slightly different API parameters.

[2015-12-03 21:18] millerbenl opened #1389 "As a researcher it would be helpful if the student counts behind the cohort default rates were included"
The Scorecard data currently only provide the student loan default rate for given years, not the numbers that comprise the numerator and denominator. This makes it impossible to aggregate default rates across college types and also runs the risk of providing information on a college's default rate when they have very few borrowers.

[2015-12-03 22:43] hollyallen opened #1390 "Schools showing up in subject area search even though PCIP = 0"
Schools are showing up in subject area search even though the related PCIP = 0 for that school.

Example:
Choose a Program = Agriculture, Agriculture Operations, and Related Sciences
In the search results is Appalachian State University, which in the data set and in the school's page does not show that as an area of study.
https://collegescorecard.ed.gov/school/?197869-Appalachian-State-University

[2015-12-03 22:44] hollyallen commented on #1390
This feels related to #1369

[2015-12-03 22:53] barkimedes commented on #1096
related to #951. Need to go through and make sure the info is shared appropriately.

[2015-12-04 19:53] hollyallen commented on #1390
My methodology in the scorecard data csv file from https://collegescorecard.ed.gov/data/ :
Filter for rows where preddeg=2|3, and curroper=1
Filter for rows where PCIP01 > 0 (PCIP01 is defined in the [data.yml](https://github.com/18F/college-choice-data/blob/master/data.yaml) file as the code for agriculture program)

[2015-12-04 20:54] hollyallen commented on #1390
Verified that in the MERGED2013_PP.csv file, for Appalachian State, PCIP01 = 0 but CIPBACHL = 2. Does that constitute a data problem @LisaGee @barkimedes @claremccann ?

The upshot is that it appears we use a parameter called academics.program.degree.agriculture which is defined as "CIP01ASSOC or CIP01BACHL" for search results, but PCIP01 for the "programs offered" list on the school page (see #13

[2015-12-04 21:00] hollyallen commented on #1369
Thanks Shawn. We'll wait now for comment on the related issue #1390: is this a data problem or not, and if not which query do we use.

[2015-12-07 03:44] LisaGee commented on #1352
Duplicate of #285?

[2015-12-07 03:44] #1352 closed

[2015-12-07 20:17] claremccann opened #1395 "As a student, I want guidance in understanding new deadlines for FAFSA, so that I can take advantage of prior-prior year reforms"
The Department recently announced that it will allow students completing their FAFSAs to use income from two years prior, rather than last year, so that families can apply for federal aid shortly after they file their returns and have information about financial aid in hand as they select a college. This will begin on October 1, 2016; that means for the 2017-18 school year (Oct 1, 2016-June 30, 20

[2015-12-07 20:38] schakj commented on #1395
A Power Point and additional information about prior-prior is located here: http://fsaconferences.ed.gov/2015sessions.html under preseation number 49.  FSA will eventially post a video with questions and answers about how prior-prior will affect the FASFA filing timelilne for students.

[2015-12-07 22:24] brian9 opened #1396 "As a consumer, I would like to know if a school is considered a less-than-2-year school so that I can tell the difference between predominantly certificate and associate degree schools"
When we go to a school's page, and it has 2 or 4 year icon, how will we represent that if it is a predominantly certificate school?

Related to issues #951 and #952

[2015-12-08 18:43] hollyallen commented on #1390
@barkimedes Can you comment on the last two updates to this ticket? Thanks.

[2015-12-08 18:47] ultrasaurus commented on #951
Via email from Sabrina:

We want to require CIPxxASSOC or CIPxxBACHL > 1.

but also make sure they are awarding degrees, not just offering them, so we do not want to include any of the PREDDEG = 0, HIGHDEG = 1, or PREDDEG=4 schools.

I think we want this kind of a query, which we can do
[code]

in data.yml we could (potentially) create a computed field, like:
CIPxxASSOC or CIPxxASSOC or CIPxxASSOC

[2015-12-08 22:59] claremccann opened #1397 "As a student, I want to see the earnings for an IHE that has changed Unit IDs"
DeVry's earnings are not included on the site because the unit ID that DeVry had in the 2011 file is different from in the 2013 file (where the universe is defined). It's not technically a data problem, in that the data are accurately reflected in the files, but it means that the Scorecard is pulling in a DeVry that appears to have no earnings data (because that Unit ID did not exist in 2013). Loo

[2015-12-09 02:32] onceuponatimeforever opened #1399 "Error with localdev set up with Open Data Maker instructions"
With elastic search running, `padrino start` produced the following error:

https://gist.github.com/5e84fbd67440b34b4106

[2015-12-09 02:55] onceuponatimeforever commented on #1399
Closing this issue because I figured out how to get localdev to work by following https://github.com/18F/open-data-maker/blob/dev/INSTALL.md. I can modify this repo's `README.md` to be clearer in terms of setting up a separate local Open Data Maker github repo.

[2015-12-09 02:55] #1399 closed

[2015-12-09 10:54] saintsoup52 commented on #1397
In IPEDS they have a field called "UNITID for merged schools" and that is a way a developer and or data scientist can track how IPEDS unit ids change year to year. In the short-term we should add this field to the data set (see #588).

This will become a much bigger problem when you update to the next year's IPEDS data because all of the University of Phoenix schools changed unitids.

In the longe

[2015-12-09 10:54] saintsoup52 commented on #588
I would also like to add:
UNITID for merged schools (See #1397 )

[2015-12-09 15:08] ultrasaurus commented on #951
I've got some local open-data-maker changes that let me do queries like this:

http://localhost:3000/v1/schools?_per_page=3000&fields=id,school.name,2013.academics.program.bachl&2013.academics.program.bachl=1&school.degrees_awarded.predominant__range=1..3&school.degrees_awarded.highest__range=2..4

http://localhost:3000/v1/schools?_per_page=3000&fields=id,school.name,2013.academics.program.assoc&2

[2015-12-09 18:34] afeld commented on #1399
Documentation improvements would be more than welcome, thanks!

[2015-12-09 21:12] barkimedes commented on #1390
My guess (based on the conversations around #951-#955) is that it means that the bachelor's degree is *offered* but that nobody actually completed the program that year (and PCIPxx would have NULL when it isn't offered at all). So I suspect there's actually a couple questions here.

@claremccann, thoughts on the below?

1. Is my assumption for how these values are calculated/should be interpreted

[2015-12-09 21:16] claremccann commented on #1397
Note that this might help but wouldn't resolve the issue, because it only shows year-to-year changes. The 2013 Unit ID for DeVry would still be different from the merge unit ID, not connecting with the 2011 file where the earnings data are located. We could create a data solution that shows the relationship between the 2013 record for that school and the 2011 record for that school, but need a pro

[2015-12-10 08:10] LisaGee commented on #1396
@brian9 We have an icon for a Certificate school.
But I guess maybe we should think about what this icon actually tells a student about a school to see what makes the most sense.

[2015-12-10 15:04] barkimedes commented on #1396
@jjoteal What *should* we do here? If a school is PREDDEG=1 (predominantly certificate), what should show up on that school's page as its designation (currently only do 2 year or 4 year)?

FYI, in js/src/picc.js is the code that determines the year designation:
[code]
Based on this, the behavior (if we change nothing) will be some sort of bug because some school will have PREDDEG=1.

[2015-12-10 15:08] claremccann commented on #1396
The policy team is also discussing and will circle back.

[2015-12-10 16:55] jjoteal commented on #1396
@barkimedes -- we have an icon for certificate programs already (just not currently in-use). Looks like this:
![image](https://cloud.githubusercontent.com/assets/12192706/11722013/b1ff4ee0-9f34-11e5-964f-c7408a2a8263.png)

Will ensure that the .svg is in Drive > PICC > Designs > Consumer Tool > Assets for the front-end devs.

[2015-12-10 19:55] onceuponatimeforever commented on #1399
https://github.com/18F/college-choice/pull/1398

[2015-12-10 22:53] LisaGee commented on #1384
I remember looking into this. Is it possible there are no schools that fit our criteria for inclusion in the tool that were in those locations? Although that might be changing as we add in the additional schools.

[2015-12-10 23:02] hollyallen commented on #1384
Nope, there are schools:
Palau (PW): https://collegescorecard.ed.gov/school/?243647-Palau-Community-College
Federated States of Micronesia (FM): https://collegescorecard.ed.gov/school/?243638-College-of-Micronesia-FSM
Northern Mariana Islands (MP): https://collegescorecard.ed.gov/school/?240790-Northern-Marianas-College

[2015-12-11 18:52] hollyallen commented on #1296
Nothing for us. Upstream ticket is: https://github.com/18F/federalist/issues/161

[2015-12-14 22:56] hollyallen commented on #994
This has been fixed as part of the work in https://github.com/18F/college-choice/pull/1392

[2015-12-14 22:56] #994 closed

[2015-12-14 23:20] hollyallen commented on #367
This is fixed with the work on #1382

[2015-12-14 23:22] #367 closed

[2015-12-14 23:25] hollyallen commented on #1334
@ozzyjohnson do the traffic levels and infra size match now? I think we did this task.

[2015-12-15 00:52] barkimedes commented on #951
@ultrasaurus I figured out the differences. There are a couple more constraints we need to add to your query:

UGDS > 0 (meaning students are enrolled - your results include a few UGDS = NULL schools)
CURROPER = 1 (meaning that it is currently operating - your results include CURROPER = 0 schools)

[code]

Lastly, we need to loosen up query a bit. Right now, you're only returning schools that have

[2015-12-15 03:46] barkimedes commented on #1096
@ErieMeyer I checked on this--rest assured that Columbus State Community College will be included in the tool once #951 is committed. :us:

[2015-12-15 16:36] barkimedes opened #1401 "As the Department of Ed, I would like to encourage students to explore schools they may not have considered to date and might be a good fit, so they are exposed to enough information without being overwhelmed and can make a well-informed choice"

[2015-12-15 19:49] barkimedes commented on #1396
Per conversation with @mitzkow, we will default to showing the 2 year logo for certificate schools for now with the understanding that we can change this later if necessary.

[2015-12-15 20:02] DavidEBest opened #1402 "Search parameters are occasionally lost or replaced by the default parameters on Sauce."
When running the `'each state should include the correct count of schools'` test on Sauce Labs in Chrome, the test will fail on a random (?) state. The state that it fails on varies; I've seen FL, NY, & MI, but there doesn't seem to be a pattern. All the states up to the failure point do not exhibit the behavior and have the correct count.

When it fails, the search page is loaded, and contains th

[2015-12-15 20:17] DavidEBest commented on #1382
The Search Tests are here: #1392

[2015-12-15 22:04] ultrasaurus commented on #951
@barkimedes thanks so much for the detailed follow-up!  All makes sense, just one question:

What does it mean when  `CIPxxBACHL = 2` ?  I'm  trying to figure out if `2013.academics.program.bachl` should be `2` or `true` (I think the latter, but need to understand a little more about what this data means)

[2015-12-15 22:52] ultrasaurus opened #1403 "open data maker integrated data tests"

[2015-12-15 22:54] barkimedes commented on #951
I'm not 100% sure on what the 2 vs 1 means for CIPxxASSOC/CIPxxBACHL means, but I do know the answer to your question is that the new column should be a boolean. so 2013.academics.program.bachl and 2013.academics.program.assoc should be boolean values.

Thanks!!

[2015-12-15 23:30] claremccann commented on #951
1=program offered
2=program offered as distance ed (fully online)

[2015-12-16 09:11] ArcTanSusan opened #1404 "enable debugger to be placed in JS and changes to show up"
My changes don't show up on localhost when I place JS `debugger` in the JS files.

[2015-12-16 09:31] onceuponatimeforever commented on #1246
Not sure if this is a bug anymore, I can't see the difference between the fonts.

[2015-12-16 14:24] claremccann commented on #1246
This was resolved a while back.

[2015-12-17 21:08] barkimedes commented on #951
@claremccann Thanks for the info!

@ultrasaurus, I checked my set of schools with the data I got from ed, and it matched exactly. EXACTLY :smile: :us: I'm now confident that we have the right set of schools given the update to the queries I mentioned a few days ago.

[2015-12-17 21:34] mitzkow commented on #951
Yeah!

Sent from my Windows Phone
________________________________
From: barkimedes<mailto:notifications@github.com>
Sent: ‎12/‎17/‎2015 4:08 PM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Subject: Re: [college-choice] Include in the results, all school who offer and award an associates or bachelors degree (#951)

@claremccann<https://github.com/claremccann> Thanks for the inf

[2015-12-17 22:44] onceuponatimeforever commented on #1246
Can you help close this issue?

[2015-12-22 14:45] claremccann commented on #1246
Actually, sorry, found the same bug again. It's fixed on the search results page, but not on the IHE pages. For instance, see: https://collegescorecard.ed.gov/school/?106306-Arkansas-Baptist-College and mouse over the (i) on the banner at the top of the page for ED monitoring.

[2015-12-22 15:39] barkimedes commented on #1390
@claremccann Ping?

There are some schools that have CIPxxASSOC > 0 or CIPxxBACHL > 0 but PCIPxx = 0.

Right now, we have inconsistent behavior. If we search for schools that offer program xx, then the school will appear in the search results (because CIPxxASSOC or CIPxxBACHL > 0). However, when we look at the details of that school, the program isn't listed (because PCIPxx = 0).

We can figure ou

[2015-12-22 16:35] claremccann commented on #1390
The CIP variable shows whether the program is offered; PCIP is the share of degrees awarded in each program. There are schools that offer a program with no degrees awarded in the program last year.

When you search for a program, it should use the CIP variables and appear if >0. When you look at the most popular programs on the IHE page, it should use the PCIP variables and not the CIP.

Let us kn

[2015-12-22 21:58] hollyallen commented on #1390
Thank you, that makes it very clear.

[2015-12-22 22:07] barkimedes commented on #1390
@claremccann On the school page, if PCIPxx = 0, should the program still appear under "Available Areas of Study"?

[2015-12-22 22:08] claremccann commented on #1390
Available areas of study should use CIP>0, rather than PCIP, and should align with the way the program search from the homepage works.

[2015-12-23 01:02] barkimedes commented on #1396
As we discussed last week, instead we will have predominantly certificate schools show <2 years rather than the current certificate icon.

@jjoteal Do you have an ETA on when the new <2 year asset will be available (or if it is already)?

[2015-12-23 13:47] jjoteal commented on #1396
Yes, here is the new icon:

![image](https://cloud.githubusercontent.com/assets/12192706/11977521/346871f4-a949-11e5-8d38-78afc4549bc7.png)

I am thinking that this format will be consistent with the other icons and accordingly won't make it look more "special" than the others. Let me know if this will work or if you think I should explore other options.

[2015-12-28 18:02] barkimedes commented on #1246
Whoever wants to verify this bug once it's fixed, be sure to test it on Windows. Because when I check it on my Mac (Chrome), it looks more fixed, but on Windows (Chrome), it is clearly not fixed.

[2015-12-28 18:24] LisaGee commented on #1396
Out of curiosity, why <2 vs. Certificate icon?

From: barkimedes [mailto:notifications@github.com]
Subject: Re: [college-choice] As a consumer, I would like to know if a school is considered a less-than-2-year school so that I can tell the difference between predominantly certificate and associate degree schools (#1396)

As we discussed last week, instead we will have predominantly certificate sch

[2015-12-28 18:25] LisaGee commented on #1396
Okay by me. Thanks, Jess..

[2015-12-28 19:23] LisaGee commented on #1401
@barkimedes - How do we define "good fit"? That's what we struggled with in the initial version.

[2015-12-28 19:27] barkimedes commented on #1401
@LisaGee I dunno :us: But @jjoteal is going to try to gather data through usability tests and (now that I have access!) I'm starting to look at analytics to see what we can glean about current user behavior that could help inform this.

We have talked about this behavior a lot, but we didn't have a github issue to track it, so Jess and I created one.

[2015-12-28 19:32] LisaGee commented on #1401
Thanks. Also – Can you update the story to make the “why” a little more concrete? Why does a student want to “consider multiple schools”? What does that help them achieve?

[2015-12-28 23:24] jjoteal commented on #1401
Updated the story a bit -- feel free to edit!

[2015-12-28 23:26] jjoteal commented on #1396
RE: Why not the certificate?
The Dept. of Ed had concerns that the certificate icon, since it was a graphic, made it feel more "special" than the 2-year and 4-year icon, so we opted for the <2-year icon to keep things in a consistent, uniform format.

[2015-12-28 23:32] LisaGee commented on #1396
Thanks. Do we know how students think of schools? Would they call a school a “less than 2 year” school? Or would they have some other way of describing it? Do you know? Want to make sure we’re using vocabulary that will mean something to our audience. Thanks..

[2015-12-28 23:35] LisaGee commented on #1401
So, is this the same as the original story we had: “If you’re interested in this school, you might also like….”? Where we had to figure out what the criteria was by which we would display other “similar” options?

[2015-12-28 23:37] jjoteal commented on #1396
We can definitely test this in upcoming usability test sessions, but my gut would say that the average high school student would NOT know what "< 2 years" or "certificate" means. I think terms like "bachelors" and "associates" and "professional certificate" or "license" might be more familiar. That said, I'm not sure what "< 2 years" all includes.... could we get a list of what specific degrees th

[2015-12-28 23:38] claremccann commented on #1396
Jess and/or Lisa, why don't you call me tomorrow to discuss further?

[2015-12-28 23:40] jjoteal commented on #1401
It's different -- essentially, this is a research task aimed at trying to solve for "what is the best way we can broaden students horizons so that they consider more well-performing schools that they may have not considered to-date."  That *might* take the form of "suggested schools," the original "help me find schools that are best for me" widget, and/or some form of the comparison tool. The exac

[2015-12-28 23:43] LisaGee commented on #1401
Got it. That explanation sums it up perfectly. The “additional” was throwing me off. You mean “additional in life”, as opposed to “additional to the school I’ve already search for”. We’re good. Thanks for the clarification!.

[2015-12-29 18:50] hollyallen commented on #1382
Is this ticket ready to close?

[2015-12-29 19:58] barkimedes opened #1407 "Map for Texas A&M displays the wrong city."
https://collegescorecard.ed.gov/school/?226152-Texas-A-M-International-University

According to @claremccann, the correct address is present in the data, so it appears that this is an issue with the mapping.

Right now, we are displaying Nuevo Laredo, which is in Mexico. It should be pointing to Laredo, TX.

[2015-12-29 20:34] barkimedes commented on #951
#1396 must also be done for this story to be complete (otherwise we'll introduce a bug).

[2015-12-29 20:35] barkimedes commented on #1396
Necessary for #951, #952, #953, #954, #955.

[2015-12-29 21:52] LisaGee commented on #1396
Thanks, Clare. Jess is on leave until Jan. 7th, so she’ll catch up with you then.

[2015-12-29 22:24] afeld opened #1408 "Figure out log retention/deletion"
Following the conversation at https://18f.slack.com/archives/collegechoice/p1451411251000121 ff. @ozzyjohnson Mind adding details with your recommended steps?

/cc https://github.com/18F/DevOps/issues/512

[2015-12-29 22:27] barkimedes commented on #951
Tasks remaining for this issue to be completed
- [ ] Check in the data.yaml file https://github.com/18F/college-choice-data/pull/8
- [ ] Complete script to migrate index snapshots so we can reindex using the new data.yaml file
- [ ] Reindex and move to a staging environment
- [ ] Deploy to production with new index
- [ ] Update the frontend code to query for the correct set of schools
- [ ] Provid

[2015-12-29 23:05] abisker commented on #1408
@ozzyjohnson: Can you provide clarity on how urgent this issue is?

[2015-12-30 18:26] abisker commented on #952
Other items to complete before this issue can be resolved:
- [ ] Frontend query updates
- [ ] Testing (#951 tests should cover)

[2015-12-30 18:26] abisker commented on #953
Other items to complete before this issue can be resolved:
- [ ] Frontend query updates
- [ ] Testing (#951 tests should cover)

[2015-12-30 18:26] abisker commented on #955
Other items to complete before this issue can be resolved:
- [ ] Frontend query updates
- [ ] Testing (#951 tests should cover)

[2015-12-30 18:28] ozzyjohnson commented on #1408
@abisker - Low urgency, high severity.

It will take perhaps half a year or more for the production ES instance to fill up left untouched, but if / when it does queries will fail. Since the production school / city data is effectively read only, we don't stand to lose anything, but recovery would mean staging a new service instance and restoring / reindexing into it.

I'll flesh this out more late

[2015-12-31 01:01] yozlet commented on #951
It appears that the snapshot migration script and associated tools don't quite do what I thought they did, or I've misunderstood something about how to use them - am checking with @ozzyjohnson. In the meantime, the `indexing` space has reindexed the data with the new boolean code & config. I've used a slightly more manual process to copy the index over to `dev`, and am poking at the data looking a

[2016-01-02 23:28] ultrasaurus opened #1409 "404 earlier today, now it's fine..."
reported at 7:55AM PT, failed with Safari iPhone browser, later in the day it worked fine, same phone, same browser

![image](https://cloud.githubusercontent.com/assets/41906/12076551/49569950-b165-11e5-9f0a-5f254f6fcd29.png)

[2016-01-04 18:17] #1382 closed

[2016-01-04 22:30] yozlet commented on #951
Given what I've seen from indexing with the new `data.yaml`, we have a logic problem and a naming problem. (This is all based on a sample from [one school record](https://ccapi-dev.18f.gov/v1/schools?id=173966), and may need wider investigation.)

**Logic problem:** There appear to be zero records with any of the three new calculated fields (`YEAR.academics.program.assoc/bachl/assoc_or_bachl`) set

[2016-01-05 19:11] dnesting commented on #1409
This URL gives different results between reloads:
https://ccapi-production.18f.gov/v1/schools/?sort=2011.earnings.6_yrs_after_entry.percent_greater_than_25000%3Adesc&school.operating=1&2013.student.size__range=0..&school.name=Booyah&school.degrees_awarded.predominant__range=2..3&fields=id%2Cschool.name%2Cschool.city%2Cschool.state%2C2013.student.size%2Cschool.ownership%2Cschool.degrees_awarded.pre

[2016-01-05 19:53] dlapiduz commented on #1409
One thing that might be interesting in this discussion is that app instances seem to be running out of ram, crashing and restarting:

[code]

That is why you see different start times on each app.

That said, at the end of the day each app instance should return the same result regardless of the RAM. Could it be that there is some state being stored locally that can affect the output?

[2016-01-05 19:56] yozlet commented on #1409
@ultrasaurus and I dived into the app initialisation code and think we've found it: when the app starts up, it tries to pull its `data.yaml` config from S3. But if that fails for some reason, the app carries on regardless:

[code]

Sure enough...

[code]

This is this instance:

[code]

... which Sarah is now restarting.

[2016-01-05 19:57] yozlet commented on #1409
... so I suspect this was a (probably intermittent) failure to load the config from S3, and the app should be terminating in such circumstances.

[2016-01-05 19:59] dnesting commented on #1409
Nice catch.  Yeah, the ALLOW_MISSING_YML implies it will be disallowed if this is false, when in fact it just emits a warning.  A few retries might be reasonable here before aborting, provided all of this initialization happens before the instance starts accepting connections.

[2016-01-05 20:01] yozlet commented on #1409
Also, in this case, it's the one app in the set **not** apparently having RAM usage growing with age - because it's not serving proper queries. We clearly have a memory leak, but it's a separate issue.

[2016-01-05 20:04] yozlet commented on #1409
Uh oh. Looks like this is less intermittent than I hoped - it's happening for all new instances? https://ed-production-elk-kibana-proxy.18f.gov/#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now-90d,mode:quick,to:now))&_a=(columns:!(_source),index:'logstash-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'message:%20%22no%20data.y%3Fml%20found%22

[2016-01-05 20:10] yozlet commented on #1409
Ah - I think this is a manifestation of https://github.com/18F/open-data-maker/issues/250 . So we're deleting a load of snapshot files from the `ed-college-choice-production` bucket before we restart the app.

[2016-01-05 20:25] yozlet commented on #1409
OK, we believe this is sorted now. Deleted the `backups/indices/` folder from the S3 bucket, which had 10,000 files in it. After restarting the apps, they seem to be running fine. @ultrasaurus is working on a fix for https://github.com/18F/open-data-maker/issues/250 .

[2016-01-05 20:25] #1409 closed

[2016-01-06 04:41] barkimedes commented on #951
@yozlet I think I prefer option 3. IMHO, we don't want to break folks trying to get out this feature (option 1), and I think we shouldn't compound bad decisions (option 2).

I don't know if anyone would like this idea, but another naming option is `YEAR.academics.program.assoc.any` and `YEAR.academics.program.bachelors.any`. Thoughts?

[2016-01-06 19:27] yozlet commented on #951
@barkimedes I like that idea! I like it so much that I'm kind of torn between it and my original proposal. :smile:

[2016-01-06 19:50] yozlet opened #1410 "Investigate why we didn't get automated alerts for #1409"
In theory, Pingdom and/or New Relic should have alerted us (via Slack and possibly email) about #1409. But they didn't. Why not? And how can we fix that?

- [x] NewRelic
- [ ] Pingdom

[2016-01-07 01:39] yozlet commented on #951
In the meantime, @ultrasaurus & I dove into the logic problem and we have a fix here: https://github.com/18F/open-data-maker/pull/262

I've started a new index run now with the fix (though it isn't merged yet) and a new `data.yaml` which has @barkimedes suggestions for renamed fields ([pull request here](https://github.com/18F/college-choice-data/pull/9)). If it all looks good in the morning we'll

[2016-01-07 21:24] yozlet commented on #1096
Confirmed that it's in there after indexing: https://ccapi-indexing.18f.gov/v1/schools?school.name=Columbus%20State%20Community%20College&fields=id,school.name,2012.academics.program.assoc.any,2012.academics.program.bachelors.any,2012.academics.program.assoc_or_bachelors.any

[2016-01-07 21:25] yozlet commented on #951
Indexing is done and looks good! Also (per #1096) Columbus State Community College is in, and has correct summaries: https://ccapi-indexing.18f.gov/v1/schools?school.name=Columbus%20State%20Community%20College&fields=id,school.name,2012.academics.program.assoc.any,2012.academics.program.bachelors.any,2012.academics.program.assoc_or_bachelors.any

Now to copy this index over to dev.

[2016-01-08 01:00] yozlet commented on #1378
@hollyallen Do you by any chance remember which parameters don't work?

[2016-01-08 01:04] yozlet commented on #1316
Here's a stack trace: https://rpm.newrelic.com/accounts/1065766/applications/8349766/filterable_errors#/show/bb3200-71be2c76-b051-11e5-9286-b82a72d2466d/stack_trace?top_facet=transactionUiName&primary_facet=error.class&_k=ua6bcs

OK to close?

[2016-01-08 01:08] yozlet commented on #1081
Bulk import may speed things up, and _should_ be pretty fast to implement: https://github.com/18F/open-data-maker/issues/263

[2016-01-08 01:33] yozlet opened #1411 "As a site operator, I'd like to see and query ElasticSearch logs for any environment"
As the last comment on #480 shows, Ozzy wanted to get ElasticSearch pushing logs to the Kibana for each environment but never got that far. Is it easier now? Or is there a different place for us to see ES logs?

@dlapiduz, any ideas?

[2016-01-08 01:37] yozlet commented on #480
Splitting this one out into remaining issues. See #1411 and https://github.com/18F/DevOps/issues/533

[2016-01-08 01:37] yozlet commented on #920
:+1:

[2016-01-08 01:37] #920 closed

[2016-01-08 16:21] abisker commented on #1004
@shawnbot do you need more info on this one and/or can you update on status? Thanks!

[2016-01-08 17:31] ultrasaurus opened #1415 "searchData test fails locally (excluded from ci)"
I think this is a known issue but I couldn't find a bug on it
[code]

[2016-01-08 21:01] ultrasaurus commented on #951
New query with new name:  https://ccapi-dev.18f.gov/v1/schools?sort=2011.earnings.6_yrs_after_entry.percent_greater_than_25000%3Adesc&school.degrees_awarded.predominant__range=1..3&school.degrees_awarded.highest__range=2..4&school.operating=1&2013.academics.program_available.assoc_or_bachelors=true&fields=id%2Cschool.name%2Cschool.city%2Cschool.state%2C2013.student.size%2Cschool.ownership%2Cschool

[2016-01-08 22:45] ultrasaurus opened #1417 "slow leak on API server"
we noticed the other day in Cloud Foundry that older instances seem to use more memory

[code]

We suspect a leak.

[2016-01-08 23:45] yozlet commented on #1378
Ah, it was this issue with the `location` field: https://github.com/18F/open-data-maker/issues/227

[2016-01-11 20:31] barkimedes commented on #1396
@abisker: we will get a final asset from @jjoteal, but up until that point, does it make sense to have someone update the logic around using the new asset? Then when we get the final one, we can just plop in the replacement.

For now, let's use the latest <2 year asset that was added to this issue as the placeholder.

[2016-01-11 22:04] jjoteal commented on #1396
Hi folks,

Per various discussions, we will be testing this solution (along with the 4, 2, and <2 icons) on Wednesday during our focus group with DC-CAP:

![image](https://cloud.githubusercontent.com/assets/12192706/12248090/25f06f8c-b885-11e5-92df-d1e309bc9fe2.png)

[2016-01-12 01:16] LisaGee commented on #189
I think we've implemented the bulk of this story. Closing

[2016-01-12 01:16] #189 closed

[2016-01-12 01:17] LisaGee commented on #258
I think the bulk of this Epic is done. The outstanding items all have their own stories. Closing the Epic

[2016-01-12 01:17] #258 closed

[2016-01-12 01:19] LisaGee commented on #608
@yozlet Was this handled? Can it be closed?

[2016-01-12 01:32] LisaGee commented on #599
Fixed.

[2016-01-12 01:32] #599 closed

[2016-01-12 01:36] LisaGee commented on #435
We should see if users are using the Share functionality before investing any time in this.

[2016-01-12 01:41] LisaGee commented on #109
This should be achievable now.

[2016-01-12 01:41] #109 closed

[2016-01-12 01:42] LisaGee commented on #116
This should be achievable now.

[2016-01-12 01:42] #116 closed

[2016-01-12 01:43] LisaGee commented on #113
Should be achievable now.

[2016-01-12 01:43] #113 closed

[2016-01-12 01:43] LisaGee commented on #114
Should be achievable now.

[2016-01-12 01:43] #114 closed

[2016-01-12 01:43] LisaGee commented on #112
Should be achievable now.

[2016-01-12 01:43] #112 closed

[2016-01-12 01:44] LisaGee commented on #108
Should be achievable now.

[2016-01-12 01:44] #108 closed

[2016-01-12 01:44] LisaGee commented on #107
Should be achievable now.

[2016-01-12 01:44] #107 closed

[2016-01-12 01:45] LisaGee commented on #110
Should be achievable now.

[2016-01-12 01:45] #110 closed

[2016-01-12 01:49] LisaGee commented on #1337
Fixed.

[2016-01-12 01:49] #1337 closed

[2016-01-12 01:51] LisaGee commented on #1324
@spl - I'm not sure I'm following. Might you include a screenshot so I understand exactly to what you are referring?

[2016-01-12 01:54] LisaGee commented on #1278
We completely redid our pagination and filtering. Cannot reproduce this anymore. Closing.

[2016-01-12 01:54] #1278 closed

[2016-01-12 01:58] LisaGee commented on #1184
Dupe of #1251

[2016-01-12 01:58] #1184 closed

[2016-01-12 02:07] LisaGee commented on #164
MVP is done.

[2016-01-12 02:07] #164 closed

[2016-01-12 02:08] LisaGee commented on #525
I think this is done.

[2016-01-12 02:08] #525 closed

[2016-01-12 02:14] LisaGee commented on #1070
Dupe of #1251

[2016-01-12 02:14] #1070 closed

[2016-01-12 02:26] #980 closed

[2016-01-12 02:26] #1040 closed

[2016-01-12 02:26] #1045 closed

[2016-01-12 02:26] #1046 closed

[2016-01-12 02:26] #1047 closed

[2016-01-12 02:26] #1066 closed

[2016-01-12 02:26] #1076 closed

[2016-01-12 02:26] #1082 closed

[2016-01-12 02:26] #1085 closed

[2016-01-12 02:26] #1086 closed

[2016-01-12 02:26] #1089 closed

[2016-01-12 02:26] #1095 closed

[2016-01-12 02:26] #1117 closed

[2016-01-12 02:26] #1143 closed

[2016-01-12 02:26] #1154 closed

[2016-01-12 02:26] #1161 closed

[2016-01-12 02:26] #1163 closed

[2016-01-12 02:26] #1173 closed

[2016-01-12 02:26] #1177 closed

[2016-01-12 02:26] #1179 closed

[2016-01-12 02:26] #1245 closed

[2016-01-12 02:26] #1354 closed

[2016-01-12 02:26] #1355 closed

[2016-01-12 02:26] #1362 closed

[2016-01-12 02:26] #1366 closed

[2016-01-12 02:26] #641 closed

[2016-01-12 02:26] #650 closed

[2016-01-12 02:26] #658 closed

[2016-01-12 02:26] #668 closed

[2016-01-12 02:26] #670 closed

[2016-01-12 02:26] #674 closed

[2016-01-12 02:26] #683 closed

[2016-01-12 02:26] #741 closed

[2016-01-12 02:26] #746 closed

[2016-01-12 02:26] #749 closed

[2016-01-12 02:26] #754 closed

[2016-01-12 02:26] #772 closed

[2016-01-12 02:26] #773 closed

[2016-01-12 02:26] #774 closed

[2016-01-12 02:26] #804 closed

[2016-01-12 02:26] #825 closed

[2016-01-12 02:26] #846 closed

[2016-01-12 02:26] #850 closed

[2016-01-12 02:26] #874 closed

[2016-01-12 02:26] #879 closed

[2016-01-12 02:26] #892 closed

[2016-01-12 02:26] #895 closed

[2016-01-12 02:26] #902 closed

[2016-01-12 02:26] #904 closed

[2016-01-12 02:26] #975 closed

[2016-01-12 02:26] #163 closed

[2016-01-12 02:26] #168 closed

[2016-01-12 02:26] #171 closed

[2016-01-12 02:26] #193 closed

[2016-01-12 02:26] #217 closed

[2016-01-12 02:26] #241 closed

[2016-01-12 02:26] #320 closed

[2016-01-12 02:26] #323 closed

[2016-01-12 02:26] #324 closed

[2016-01-12 02:26] #325 closed

[2016-01-12 02:26] #344 closed

[2016-01-12 02:26] #426 closed

[2016-01-12 02:26] #448 closed

[2016-01-12 02:26] #459 closed

[2016-01-12 02:26] #478 closed

[2016-01-12 02:26] #519 closed

[2016-01-12 02:26] #552 closed

[2016-01-12 02:26] #576 closed

[2016-01-12 02:26] #579 closed

[2016-01-12 02:26] #608 closed

[2016-01-12 02:26] #610 closed

[2016-01-12 02:26] #620 closed

[2016-01-12 02:26] #622 closed

[2016-01-12 02:26] #628 closed

[2016-01-12 02:26] #635 closed

[2016-01-12 02:26] #43 closed

[2016-01-12 02:26] #78 closed

[2016-01-12 02:26] #79 closed

[2016-01-12 02:26] #83 closed

[2016-01-12 02:26] #85 closed

[2016-01-12 02:26] #88 closed

[2016-01-12 02:26] #97 closed

[2016-01-12 02:26] #127 closed

[2016-01-12 02:26] #129 closed

[2016-01-12 02:26] #158 closed

[2016-01-12 02:26] #159 closed

[2016-01-12 02:26] #162 closed

[2016-01-12 02:28] LisaGee commented on #1374
Working on #951

[2016-01-12 02:28] #1374 closed

[2016-01-12 02:31] LisaGee commented on #204
I think we're all set at the moment.

[2016-01-12 02:31] #204 closed

[2016-01-12 02:32] LisaGee commented on #332
I think this Epic can be closed. Google Analytics implemented across site.

[2016-01-12 02:32] #332 closed

[2016-01-12 08:10] spl commented on #1324
@LisaGee My description was intended to be thorough, but the idea is very simple. I think you should add a number to each college card on a given query page. For example, on https://collegescorecard.ed.gov/search/?sort=advantage:desc , I see the following entries:

* Los Angeles County College of Nursing and Allied Health
* Louisiana State University Health Sciences Center-Shreveport
* ...

This i

[2016-01-12 09:01] saintsoup52 commented on #525
So... this can be extrapolated from the URLs but this is very hard without a separate software that can plug into google analytics API (e.g., Tableau). At VA we are implementing other methods (e.g., events, page titles, etc) to make this information accessible from a google analytics dashboard. I would encourage ED to adopt some GA techniques to make this more accessible (without downloading all t

[2016-01-12 13:34] mitzkow commented on #435
This is something we had ready for the last Scorecard.  Not sure if usage of the current share function directly relates to sharing via social media.  During the user testing on the old demo site, users liked and were excited by this feature.

Sent from my Windows Phone
________________________________
From: Lisa G.<mailto:notifications@github.com>
Sent: ‎1/‎11/‎2016 8:36 PM
To: 18F/college-choice

[2016-01-12 18:54] LisaGee commented on #1020
Ongoing in the Project Meeting

[2016-01-12 18:54] #1020 closed

[2016-01-12 18:58] LisaGee commented on #872
This should be resolved as part of #951. We should also list "Certificate" as an option under the drop down.

[2016-01-12 19:02] LisaGee commented on #1214
dupe of #1142

[2016-01-12 19:02] #1214 closed

[2016-01-12 19:06] LisaGee commented on #523
Closing as analytics is implemented.

[2016-01-12 19:06] #523 closed

[2016-01-12 19:34] ErieMeyer commented on #1343
@jalbertbowden Thank you for your feedback, and sorry for my delay! Lots of great points and ideas -- we'll take a look at your PR as well.

Our priority is definitely getting questions answered as quickly as possible by an expert on the data, and we're super pleased that Brian (from Ed) has been able to answer all of them, and on a platform where lots of folks are already looking for help on open

[2016-01-12 19:34] #1343 closed

[2016-01-12 22:38] #1361 closed

[2016-01-12 23:04] shawnbot opened #1419 "Fix color contrast on school page sidebar buttons"
The school page sidebar buttons have insufficient color contrast (minimum 4.5:1) per WCAG 2.0 AA, as discovered when adding accessibility tests in #1418:

![](https://cloud.githubusercontent.com/assets/113896/12213590/ec2a498c-b62f-11e5-9111-1ef04aa82028.png)

@jjoteal suggests putting the buttons on a white background:

![](https://cloud.githubusercontent.com/assets/12192706/12273104/fb45ee6c-b93

[2016-01-13 22:12] #1275 closed

[2016-01-13 22:48] LisaGee commented on #1415
When we search for schools with the program Agriculture...., the test thought there should be 492, The code returned 539. this is before making any code changes to include certificate schools.

[2016-01-14 17:49] LisaGee commented on #872
This tool is actually specifically designed for schools that offer Associates and Bachelors. The target audience is students looking for those types of programs. Those should be the only 2 listed in the drop-down. The data for other schools is of course available via the API for anyone to make use of.

[2016-01-14 17:49] #872 closed

[2016-01-14 22:44] yozlet commented on #951
Have written up docs on _manually_ copying indexes from one space/app to another: https://github.com/18F/college-choice-data/blob/master/doc/snapshot.md

[2016-01-15 00:15] shawnbot opened #1423 "Figure out how to run the functional tests against different APIs"
The fixes for #951 in #1416 require API changes, so the tests need to be run against the dev API in order to pass. You can run them locally by explicitly setting the `API_BASE_URL` environment variable and restarting the Jekyll server:

[code]

The problem, though, is that we don't currently have a way to set this environment variable on a per-branch basis in Circle CI, so our tests always run aga

[2016-01-15 14:07] jjoteal commented on #1396
Based on usability testing and Ed's concerns, we have 2 options for the final "icon" for certificate schools. @LisaGee could you make the final call between these 2:

![image](https://cloud.githubusercontent.com/assets/12192706/12354895/17fab984-bb67-11e5-946c-7579f2da270b.png)

---- OR -----

![image](https://cloud.githubusercontent.com/assets/12192706/12354931/4734107e-bb67-11e5-8edb-e32561a73ac

[2016-01-15 15:44] barkimedes commented on #1396
Personally, I prefer the first one. I know the second one feels more consistent when they're next to each other, but I feel like it would look weird on the page since it is by itself (not next to the others).

[2016-01-15 16:59] abisker commented on #1396
After speaking with @barkimedes we're going to go with the first one (using only the full word certificate); @yozlet, @ultrasaurus, @shawnbot -- ready to move forward here.

[2016-01-15 18:27] ErieMeyer opened #1427 "As a potential student, I want to know the transfer rate of schools"
For example, a community college may have a graduation rate in the teens, but a transfer rate of 30%. If I want to get general credits at a community college and then finish a degree at another school, the transfer rate could give me more information than the graduation rate.

[2016-01-15 18:32] claremccann commented on #1427
We are planning to have these data added to the Scorecard file, but they are voluntarily and often shoddily reported. Will need a determination on the policy side about whether the data are interesting enough to be worth reporting.

[2016-01-15 20:37] abisker opened #1428 "Kentucky Search Issues - Multiple states showing and 4 year results in 2 year search"
(From Michael Itzkowitz): From the home page, I am searching for 2-year colleges in Kentucky, and sometimes I have 3,052 institutions show up (from every state).  When it does work and only show Kentucky colleges (54 institutions), I have a 4-year institutions show up in my search (e.g. Allen College, Spalding).

On: http://federalist.18f.gov/preview/18F/college-choice/staging

[2016-01-15 20:39] abisker opened #1429 "Indiana search issues - 4 year results in a 2 year search"
(From Michael Itzkowitz): I get a bunch of 4-year institutions when doing 2-year search in Indiana.

On: http://federalist.18f.gov/preview/18F/college-choice/staging

[2016-01-15 21:02] yozlet commented on #1428
Could we get more info on this:

 1. When you search for KY-only but get 3,000 results, what's the URL in the browser's location bar?
 2. We show Spalding with the "4 year" icon but it apparently also does 2-year (associates) degrees in several different disciplines. So it's correct that Spalding shows up in the results, but possibly confusing that it says "4 year" when one is searching for 2-year

[2016-01-15 21:13] mitzkow commented on #1428
Of course, I am unable to replicate the KY now.  It appeared that it was disregarding state and searching nationally.

For the other issues (#2), within the two year search function should only pull up predominately certificate or 2-year schools.  The 4-year search should only pick up 4-year schools.

Michael Itzkowitz
Deputy Chief of Staff
Office of Postsecondary Education
(202) 453-5695

From: Y

[2016-01-15 21:16] yozlet commented on #1429
Closing as duplicate of #1428

[2016-01-15 21:16] #1429 closed

[2016-01-15 21:19] yozlet commented on #1428
Thanks @mitzkow - sorry, I misunderstood the role of the predominant degree in the search.

[2016-01-15 22:44] abisker commented on #1428
We had a clarifying question on this issue, basically trying to work out whether Spalding should be showing in the 2-year results.

It has a "school.degrees_awarded.predominant" value of 3; does that mean it's actually a 4-year school, and shouldn't be showing up?

The API search includes

&school.degrees_awarded.predominant__range=1..3&school.degrees_awarded.highest__range=2..4

so it's right tha

[2016-01-16 00:50] barkimedes commented on #1428
@mitzkow, @claremccann I don't know where the tradeoff should be.

Currently, the way we implemented it, if a school offers a 2 year degree (regardless of predominant degree), it will show up in the search. The school icon may say 4 year, and that can be confusing. But at least they know the school is an option. (If we keep it this way, its worth figuring out how to make this more clear)

On the o

[2016-01-16 00:52] barkimedes commented on #1428
When I say "worth figuring out how to make it more clear", I mean in a future version. I don't think that it is so confusing that it would harm the user experience. Thoughts @jjloteal?

[2016-01-16 02:23] claremccann commented on #1428
I absolutely agree that we should show any school that offers an associate degree, regardless of whether it is predominantly 2 or 4 year. That is how we originally intended the search to work, and it is the most technically accurate. We are also considering whether there are other ways to depict degree type on the institutional pages, but let's leave that for a subsequent ticket.

[2016-01-16 08:22] barkimedes commented on #1427
Hmm. @ErieMeyer To coin a phrase, "what is the problem we're trying to solve here?"

There may also be other ways of satisfying this request rather than just displaying the transfer rate somewhere. Is the goal to understand why a school might have low graduation rates? Or is the goal to understand that a school is a good transfer school (e.g. a community college that makes it easy for people to tr

[2016-01-17 05:40] stevenbuccini opened #1430 "Custom 404 page not appearing"
Follow up to #1349

When I try to visit an arbitrary invalid URL (https://collegescorecard.ed.gov/asdf), the custom 404 page is not displaying. Instead, I see this:
![screen shot 2016-01-16 at 9 39 31 pm](https://cloud.githubusercontent.com/assets/2475615/12376140/b24a32e8-bc99-11e5-8662-3bd8cea1fb5f.png)

[2016-01-17 06:23] stevenbuccini commented on #1430
This could be because the latest version hasn't been deployed even though the PR has been accepted. May have opened this prematurely, my apologies.

[2016-01-17 13:28] mitzkow commented on #1428
If all institutions that offer associate's are included in the associate's search, yes, I think this is fine for this iteration, and we can reevaluate for future versions.

Sent from my Windows Phone
________________________________
From: barkimedes<mailto:notifications@github.com>
Sent: ‎1/‎15/‎2016 7:52 PM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Cc: Itzkowitz, Michael<ma

[2016-01-17 22:38] ErieMeyer commented on #1427
Hmm -- good point! Those may be two separate stories!

[2016-01-19 03:35] barkimedes commented on #1428
@mitzkow Yes, all institutions that offer associates are included in the associates search. Similarly, all institutions that offer bachelors are included in the bachelors search.

@yozlet @abisker Yes, Spalding should be included in the search results for 2 year degrees because it offers some associates degree(s) (even though it is a predominantly bachelors school).

Closing this issue as working

[2016-01-19 03:35] #1428 closed

[2016-01-19 15:29] abisker opened #1432 "Chrome v47 - 2yr + KY Search (Pulling up all 2yr not just KY)"
From @claremccann :

So far looking like the cert schools are there, but I’m finding two big (related) bugs. Chrome v47/searched two-year (degree/program) and Kentucky (state).

First, it’s not limiting the search results accordingly – pulling up all two-year schools, but not limiting to KY.

The other bug is being tracked in #1434

[2016-01-19 15:33] barkimedes commented on #1432
I am unable to reproduce this reliably, but I did see it once. The first time I opened up scorecard today on my computer, the first search I did was just for Kentucky (no other filters). And I got all 4200+ schools in the tool. The next time I did the search, I got the expected 66 schools.

I have not been able to make it happen since :( I even tried incognito windows; can't make it happen again.

[2016-01-19 15:38] ultrasaurus commented on #1432
I can't reproduce either, but I will keep trying... if anyone sees it fail again, please paste in the part of the URL after the `?`

A search for all schools in Kentucky, should have `?state=KY&sort=advantage:desc` at the end if the URL.  I see 66 schools for this search.

[2016-01-19 18:02] claremccann commented on #1432
I did another two-year/KY search and got the same 3,056 results:

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?degree=a&sort=advantage:desc

[2016-01-19 18:13] claremccann commented on #1432
Might be specifically KY searches -- when I try to search the state (no degree specified), I get 4,247 schools. https://federalist.18f.gov/preview/18F/college-choice/staging/search/?sort=advantage:desc

[2016-01-19 18:37] ultrasaurus commented on #1432
@claremccann what kind of computer (operating system) are you on?

[2016-01-19 18:41] barkimedes commented on #1283
Done! Working on staging.

[2016-01-19 18:41] #1283 closed

[2016-01-19 18:45] barkimedes commented on #1090
OK, tested it out on my mac/chrome at collegechoice.ed.gov/data. No trailing slash required :us:

[2016-01-19 18:45] #1090 closed

[2016-01-19 18:46] claremccann commented on #1432
Windows 7 on dumb ED computer

[2016-01-19 18:53] barkimedes commented on #955
It's working! Tested it out on my mac/chrome and I got the correct filtering when using a combination of program and degree length.

Specifically:
search with  Military Technologies and Applied Sciences

Search with Any Program/Degree: 21 results
Associates: 8 results
Bachelors: 13 results

Closing--this looks like it is working :us:

[2016-01-19 18:53] #955 closed

[2016-01-19 18:54] barkimedes commented on #953
:us: Yay! Also, tested on my mac/chrome. This has also been tested by many folks on many devices

[2016-01-19 18:54] #953 closed

[2016-01-19 18:54] barkimedes commented on #952
:us: Yay! Also, tested on my mac/chrome. This has also been tested by many folks on many devices

[2016-01-19 18:54] #952 closed

[2016-01-19 18:55] barkimedes commented on #597
Thank you @dnesting :us: :+1: :us:

[2016-01-19 18:55] #597 closed

[2016-01-19 18:58] barkimedes commented on #1127
LGTM. @ultrasaurus Feel free to reopen if there's anything else that needs to be done here, but it looks done to me :smiley_cat:

[2016-01-19 18:58] #1127 closed

[2016-01-19 19:37] barkimedes opened #1434 "Scrolling not available for states"
From @claremccann ...when you pull down the “edit search,” you can’t scroll past Iowa on the state list (all other searches you can scroll—program and religion). Selecting one of those states does narrow the results to two-years in that state, but I can’t get to KY.

![](https://cloud.githubusercontent.com/assets/15878767/12422871/f313f436-be96-11e5-8b3c-dcff7e7b3ec7.png)

[2016-01-19 19:38] barkimedes commented on #1434
I haven't been able to reproduce this on any of my devices anywhere; the one thing I don't have is a windows 7 machine :(

[2016-01-19 19:44] barkimedes commented on #1434
@claremccann Is this also a problem with the existing production site? Trying to figure out if this is something new that has been introduced or if it was an existing problem.

[2016-01-19 20:03] claremccann commented on #1434
As a matter of fact, just tried it on the live site and got the same problem. Searched KY and got this https://collegescorecard.ed.gov/search/?sort=advantage:desc.

[2016-01-19 20:19] barkimedes commented on #1432
@claremccann was able to reproduce this in prod, too. So good news: we didn't introduce some new weird bug. Bad news: it's an existing weird bug. But nobody seems to have reported it, so it must not affect many people. We will continue to look into it (the issue will remain open), but I'm more comfortable now with the position that we should not block deploying due to that.

[2016-01-19 21:57] barkimedes commented on #1396
@shawnbot, @jjoteal gave the OK in the PR. Methinks we're good to go here. Thanks!!

[2016-01-19 23:53] #252 closed

[2016-01-19 23:54] ultrasaurus commented on #936
this apparently only fails for me, but we need to debug so I can do this too.  Prolly need more error handling in the script...
[code]

[2016-01-19 23:56] shawnbot opened #1439 "Improve PageSpeed Insights scores"
This is a follow-on from #252. Once #1438 merges, we'll have New Relic reporting front-end performance metrics and we can improve our scores. Having browser and unit tests in place should also make this less scary. From the [original issue](https://github.com/18F/college-choice/issues/252#issuecomment-142492571):

[PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/) rates

[2016-01-20 00:06] barkimedes commented on #132
Closing, though #974 will be the check and we'll reopen any issues we see there.

[2016-01-20 00:06] #132 closed

[2016-01-20 00:14] barkimedes commented on #1073
I think we're good. Closing :smile:

[2016-01-20 00:14] #1073 closed

[2016-01-20 00:14] barkimedes commented on #1396
Awesome :us:

[2016-01-20 00:14] #1396 closed

[2016-01-20 00:16] barkimedes commented on #951
:us: :smile: :+1: :us:

[2016-01-20 00:16] #951 closed

[2016-01-20 00:22] barkimedes commented on #205
Need to split the other tasks into individual tasks; so the parts we originally wanted are done, but I'll move the remaining into backlog.

[2016-01-20 00:23] barkimedes commented on #598
@dnesting  and @LisaGee have accounts. This is sufficient for now; if we need more accounts, we can create more issues later.

[2016-01-20 00:24] #598 closed

[2016-01-20 00:26] ultrasaurus commented on #480
The docs about how to access the logs don't actually seem to work: https://github.com/18F/college-choice-data/blob/master/doc/LIVE.md

I followed the instructions to get the credentials and they weren't the correct ones to see the logs (tested production)

I actually have the credentials, so this isn't a "stop ship" but we do need to fix

[2016-01-20 00:33] ultrasaurus commented on #730
Four Year School with over 2000 students:
https://ccapi-staging.18f.gov/v1/schools?school.degrees_awarded.predominant=3&2013.student.size__range=2000..&fields=id,2013.student.admission_rate.overall,2013.completion.rate_suppressed.overall,school.name,2013.student.size&sort=2013.completion.rate_suppressed.overall:desc

generates this error:
[code]

[2016-01-20 00:37] barkimedes commented on #336
:us: works on staging.

[2016-01-20 00:37] #336 closed

[2016-01-20 00:38] ultrasaurus commented on #730
I believe in the pre-1.0 API scrub, this was moved from the `student` category to the `admissions` category

This is the correct query:

https://ccapi-production.18f.gov/v1/schools?school.degrees_awarded.predominant=3&2013.student.size__range=2000..&fields=id,2013.admissions.admission_rate.overall,2013.completion.rate_suppressed.overall,school.name,2013.student.size&sort=2013.completion.rate_suppr

[2016-01-20 00:42] barkimedes opened #1440 "As a site administrator, I would like to see more detailed analytics so that we know how people are using the site to improve the experience."
From @saintsoup52: (formerly part of #118)

When I think about this... i want to see in-page behavior...

Is the user scrolling?
Are they opening the drawers?
Are they clicking on the tool tips?

This type of info is not currently being collected.

[2016-01-20 00:42] barkimedes commented on #118
Opening up a separate ticket to track the additional requests. See #1440

[2016-01-20 00:42] #118 closed

[2016-01-20 21:43] #1096 closed

[2016-01-21 22:04] ultrasaurus commented on #1357
tested locally and this looks like it is fixed:

![image](https://cloud.githubusercontent.com/assets/41906/12495990/c4044daa-c047-11e5-93fb-9c872b4363d9.png)

Uses a client-side methodology, rather than the way completion rates are addressed server-side, but I think it is expedient and the right thing to do at the moment.  (It will allow us to deploy the fix without re-indexing.)

[2016-01-21 22:05] ultrasaurus commented on #1357
should it have a test?

[2016-01-22 16:32] abisker opened #1442 "Turn off beta server"

[2016-01-22 16:33] abisker opened #1443 "New Relic issue review"
@yozlet can you document the process as you are doing it (for handoff). And probably should be done once a week, slowing eventually to once a month.

[2016-01-22 18:55] abisker opened #1444 "Fielding Stack Exchange questions"
First line of defense is Ed, any relevant questions highlighted to 18F

[2016-01-22 18:56] abisker opened #1445 "Documented standard rollback process"
Create and include documentation on standard rollback process

[2016-01-22 18:58] abisker opened #1446 "Ed would need an account for sauce labs"
Ed would need an account for sauce labs access

[2016-01-22 20:29] abisker opened #1447 "Known issue skipping some zip codes (update data.yaml)"
Known issue skipping some zip codes (update data.yaml)

[2016-01-22 20:39] abisker opened #1448 "Update averages"
From @claremccann: "The answers are barely changed here, but wanted to share the most up-to-date versions. Given the way the site currently uses the percentiles for all schools together, I’ve highlighted the ones I think you need here. Let us know if we missed anything!

The ones currently on the site include only predominantly two- and four-year schools. The ones below include all of the schools

[2016-01-25 18:14] abisker opened #1449 "Update API docs"

[2016-01-26 18:07] sharms commented on #1445
Created PR #11 on college-choice data repo, which provides 'production.md' describing the rollback process

[2016-01-26 18:07] #1445 closed

[2016-01-26 19:08] ultrasaurus commented on #1357
this needs to be tested on staging by @barkimedes

[2016-01-26 23:11] #1423 closed

[2016-01-27 00:07] yozlet commented on #480
I believe this is now fixed with the availability of https://logs.cloud.gov/

I can see all app and router logs in there for all spaces. However, no ES logs yet (see #1411).

[2016-01-27 00:17] ultrasaurus commented on #1449
I think we should fix this bug before merging the docs: https://github.com/18F/open-data-maker/issues/278

[2016-01-27 00:40] ultrasaurus commented on #1316
confirmed that we're seeing stack traces now.  Will move to accept in case @barkimedes or @LisaGee want to see for yourselves.

[2016-01-27 21:02] barkimedes commented on #1291
@jjoteal Ping? Can you (and maybe @claremccann ) figure out what the wording here would be?

[2016-01-28 13:50] barkimedes commented on #7
LGTM :us:

[2016-01-28 13:50] #7 closed

[2016-01-28 13:59] barkimedes commented on #1357
Confirmed with Ed that it meets their expectations. LGTM :us:

[2016-01-28 13:59] #1357 closed

[2016-01-28 14:04] barkimedes commented on #1316
Sweet! I clicked around and some some stack traces too, so LGTM :us:

[2016-01-28 14:04] #1316 closed

[2016-01-28 14:15] barkimedes commented on #480
@yozlet is access to logs.cloud.gov something that I/USDS would need access to?

@ultrasaurus You mentioned that the docs for this were incorrect. Are they correct now?

If you both are comfortable closing the issue, then we can close it. But I haven't been able to see the things that evidence it's completeness, so I can't make that call.

[2016-01-28 14:22] barkimedes commented on #1415
This is fixed now. The test data has been updated with new numbers with the addition of predominantly certificate schools. This was resolved as part of that effort. :us:

[2016-01-28 14:22] #1415 closed

[2016-01-28 18:05] yozlet opened #1452 "As a USDS/DoE site owner, I need cloud.gov access so I can continue to administer the site post-transition"
We need to create cloud.gov accounts for all USDS/DoE folks working on the app and give them access to the `ed` org.

[2016-01-28 18:17] ultrasaurus commented on #480
will move back to in-progress till docs are updated

[2016-01-28 19:39] yozlet commented on #1081
After discussion with @ultrasaurus, we have a couple of tactics to implement here:

1. Use ES update actions to append nested docs to existing records, rather than retrieving & rewriting each record (@ultrasaurus)
2. Use ES bulk actions to write/update tens/hundreds of records at a time, instead of a separate request for each record (@yozlet)

It's probably best for us to do it in the order above

[2016-01-28 19:40] yozlet commented on #1417
Further discussion here: https://github.com/18F/open-data-maker/issues/218

[2016-01-28 22:15] yozlet commented on #1449
And also https://github.com/18F/open-data-maker/issues/276 , because trying to gather stats about the vast majority of fields in a record will error out in a broken way.

[2016-01-28 22:18] yozlet commented on #1449
More discussion in https://github.com/18F/open-data-maker/pull/279 - the majority of docs changes are already there, but after fixing https://github.com/18F/open-data-maker/issues/278 we'll need to update those docs very slightly.

[2016-01-28 22:41] sharms commented on #1442
The following files need to be updated:
- [ ] make_sitemap.rb:8 references ccapi-prod
- [ ] README.md:41 references ccapi-prod

[2016-01-28 23:12] shawnbot opened #1455 "Remove minfied JavaScript from git"
Currently our repo contains minfied JavaScript. This inevitably causes merge conflicts whenever two branches touch the code, because minified JavaScript can't be diffed: it's all on one line, mangled variables names change if code is reordered, and so on. We can solve this by only checking in the bundled JS, pre-minification. ([Source maps], which allow us to debug the bundled code as though it we

[2016-01-28 23:13] ultrasaurus commented on #936
progress: https://github.com/18F/college-choice-data/pull/13 and  https://github.com/18F/cf-service-proxy/pull/13

[2016-01-29 00:28] LisaGee commented on #988
Hi @shawbot

Can you help me understand the risk vs. reward of making this change? I’m not sure I fully understand the impact, but in my experience making changes to underlying libraries/framework introduce a bunch of risk and quite often require a full and complete re-test across browsers and devices. I freely admit that I don’t know what D3 is and am also not sure what the goal is of making this

[2016-01-29 01:28] yozlet opened #1457 "As a new site admin, I would like to not have to deal with ELK instances that are no longer in use"
Clean up Ed-specific ELK resources

Now that we have logs.cloud.gov we don't need our own ELK instances for looking at logs any more. Currently there are proxies scattered among the various `ed` spaces with names like `elk-proxy` and `elk-kibana-proxy`, which can now go away. However, we should also make sure that **if** these proxies are connected to one or more ELK instances which are **solely d

[2016-01-29 01:35] LisaGee commented on #988
Thanks, @shawnbot. Sorry for my ignorance! Appreciate your patience….

[2016-01-29 14:40] dnesting commented on #496
Theory:  This line on the /school/ page might be breaking Google's willingness to consider each page distinct:

[code]

[2016-01-29 19:25] jjoteal commented on #1291
@barkimedes here is the text from Clare that has also been approved by Michael:

Find the college that’s the best fit for you! The U.S. Department of Education’s College Scorecard has the most reliable data on college costs, graduation, and post-college earnings.

[2016-01-29 19:42] barkimedes commented on #1291
@jjoteal Thanks Jess!! @abisker who do we assign this one to now that we have content?

[2016-01-29 19:56] abisker commented on #1291
Adding @shawnbot now that we have the language, thanks @barkimedes!

[2016-01-29 20:01] abisker commented on #1341
@yozlet should we include in the production deployment next week to close out?

[2016-02-01 20:33] ultrasaurus commented on #1356
@LisaGee @barkimedes check this out:  https://federalist.18f.gov/preview/18F/college-choice/ex

You can search for "st louis" and get results... order is maybe not what people would expect.  Please test it and add notes about what you search for and the results you get vs. expect to get :)

[2016-02-01 22:02] yozlet opened #1459 "Investigate why we didn't get Pingdom alerts for 1/29/16 outage"
Related to #1410.

[2016-02-01 22:03] yozlet opened #1460 "Ensure alert notifications are set up correctly for the team"
The outage of 1/29/16 showed that we don't have alert notifications set up for the team to immediately notice and respond to problems. We need to set notifications for both New Relic and ~~Pingdom~~ that go to key members of the 18F and DoE teams.

[2016-02-01 22:19] ultrasaurus commented on #1370
@LisaGee @barkimedes check this out:  https://federalist.18f.gov/preview/18F/college-choice/ex

You can search for "st louis" and get results... order is maybe not what people would expect.  Please test it and add notes about what you search for and the results you get vs. expect to get :)

[2016-02-01 23:48] yozlet opened #1461 "Rename this & "-data" repo to college-scorecard"
... in line with the actual name of the website. ("College Choice" is a legacy name that was changed)

In order to do this:

 - [ ] Check & change all uses of `college-choice`/`College Choice` to College Scorecard in
   - [ ] https://github.com/18F/college-choice
   - [ ] https://github.com/18F/college-choice-data
   - [ ] https://github.com/18F/open-data-maker
 - [ ] Rename both this and the `-da

[2016-02-01 23:49] yozlet commented on #431
Added #1461 for repo renaming.

[2016-02-02 00:14] yozlet commented on #1377
Have chatted with @hollyallen about this and neither of us can remember specific queries that still cause out-of-memory errors. (There used to be some, but then we added a maximum limit for results-per-page.)  The puma memory leak is not caused by specific queries (as far as we can tell) and is less pressing. I'm closing this for now.

[2016-02-02 00:14] #1377 closed

[2016-02-02 00:19] yozlet commented on #1334
@sharms, can you and the Cloud.gov folks give us any input on what our various resource allocations should be for current traffic levels, vs what they actually are?

[2016-02-02 00:59] LisaGee commented on #1370
When I search for "a & m", I get 0 results, but there is at least Alabama A & M and Texas A & M in the data set.
https://federalist.18f.gov/preview/18F/college-choice/ex/school/?100654-Alabama-A-M-University

See #1356 & #1344.

I understand that this ticket only handles 2-letter words, but perhaps it makes sense to try to address all the name search issues at once so we can understand the effect

[2016-02-02 01:06] LisaGee commented on #1370
One good test is to search for "St John": https://federalist.18f.gov/preview/18F/college-choice/ex/search/?name=St%20John&sort=advantage:desc

This search returns several unexpected results, like: Johnson State and John C Calhoun State Community College.

But doesn't return: Saint John's Seminary. Yet searching for "St John's" does. There is something off here.

[2016-02-02 09:47] saintsoup52 commented on #1370
Many of these issues would be resolved by including school aliases from IPEDS, because this has been an issue on college navigator for years

http://nces.ed.gov/collegenavigator/?q=St+john&s=all&pg=2

[2016-02-02 16:17] abisker opened #1462 "Need a process for cleaning snapshots out of S3 bucket"

[2016-02-02 16:54] abisker opened #1464 "Verify varnish caching in api.data.gov"
Need to verify that the api.data.gov service is indeed caching results in the way it says it is (verify that cached results are being served up upon repeated requests to api.data.gov).

[2016-02-02 21:03] barkimedes commented on #233
sounds good to me!

[2016-02-02 21:03] #233 closed

[2016-02-03 05:20] barkimedes commented on #1370
@ultrasaurus seeing weird behavior, too. When I search for

"fo": Contains 71 schools (seems to be most schools that have a word that start with fo)
"for": Contains ALL schools <== this is weird.
"ford": Contains only two schools (that start with ford)

@LisaGee Do you know: should we just be checking the beginnings of words or do we want to search anywhere in the name? For example, if I search fo

[2016-02-03 17:37] #876 closed

[2016-02-03 17:45] yozlet commented on #480
@ultrasaurus: apart from https://github.com/18F/college-choice-data/pull/14 (now merged) what other docs need fixing?

[2016-02-03 18:18] yozlet commented on #1442
See linked PR above for fixing the docs.

@sharms can you clear up the remaining resources linked from the `beta` services?
 - [ ] `ed-college-choice-prod` S3 bucket
 - [ ] ES on `10.10.3.101:32784` (is that provisioned solely for `beta`, or used by others?

Once that's done, it's just a matter of deleting the apps and the space, right?

[2016-02-03 18:54] abisker commented on #1448
New update @shawnbot :

repay_YearsAll_p67 =  .78107086
repay_YearsAll_p50 =  .65766598
repay_YearsAll_p33 =  .53000335
retention_YearsAll_p67 =  .74419999
retention_YearsAll_p50 =  .66895002
retention_YearsAll_p33 =  .59759998
graduation_YearsAll_p67 =  .54759997
graduation_YearsAll_p50 =  .42696676
graduation_YearsAll_p33 =  .32584232
net_price_YearsAll_p67 =      19990
net_price_YearsAll_p50 =

[2016-02-03 19:30] barkimedes commented on #1291
@shawnbot Any idea how we test this on dev?

[2016-02-03 22:36] barkimedes commented on #1252
LGTM :us:

[2016-02-03 22:36] #1252 closed

[2016-02-04 00:00] shawnbot opened #1468 "Parallelize Circle CI builds"
We can apparently [parallelize some of our tests](https://circleci.com/docs/parallel-manual-setup) on Circle CI. If this is possible (and relatively straightforward), we should do it! At the very least our unit, browser, and a11y test suites could run in parallel and probably reduce the build time by a couple of minutes. This would in theory speed up the rate of development and help people catch b

[2016-02-04 01:05] shawnbot opened #1469 "Add tests for above, below and within average meters"
This is a follow-on from #1448. We've updated the stats, but we don't have any tests in ensure that they show the right thing.

[2016-02-04 16:12] abisker commented on #1448
@shawnbot & @barkimedes, info on testing from @claremccann:

"Changed as compared with what was originally on the site?

The original 33rd percentile for completion rate was 31.8%; here it’s 32.6%. All of these schools should be on the site and should now appear as below average instead of about average as compared between the original percentiles and the ones pasted below. Is that what you need?

[2016-02-04 16:29] dhcole commented on #1430
Looks like the S3 bucket is looking for an error page in its root instead of at the prefix where this particular site is stored. I filed an upstream issue to discuss how this could be solved.

[2016-02-04 16:40] niqjohnson opened #1470 "Searching by Puerto Rico ZIPs and a mile radius returns an internal server error"
If I search for a school in Puerto Rico by ZIP without specifying a mile radius, I see the results I'd expect (for example, a school in San Juan: https://collegescorecard.ed.gov/search/?zip=00926&sort=advantage:desc).

If I search using the same ZIP but add a mile radius, I get an internal server error (same San Juan school: https://collegescorecard.ed.gov/search/?zip=00926&distance=10&sort=advant

[2016-02-04 18:47] shawnbot opened #1471 "CI test results in false positive"
[This staging build](https://circleci.com/gh/18F/college-choice/260) is a false positive. A couple of things are going on here:

1. Something in our [test/ci.sh script](https://github.com/18F/college-choice/blob/dev/test/ci.sh) is causing the server to stop when the browser tests fail, which means that the a11y tests will also fail regardless.
1. In this particular case, the a11y tests failed but

[2016-02-04 19:10] #1004 closed

[2016-02-05 05:10] barkimedes commented on #886
@nguyenist I think this is yours now to actually mock up. It's actually sneaking up pretty high into the priority list and we will be ready to have development start on it pretty soon!

[2016-02-05 18:11] ultrasaurus commented on #1081
ES update actions to append nested docs to existing records: https://github.com/18F/open-data-maker/issues/267

[2016-02-05 18:43] jjoteal commented on #1419
Hey there,

I don't see this change implemented yet on staging:

![image](https://cloud.githubusercontent.com/assets/12192706/12855583/58651c64-cc0e-11e5-9920-e4c888955e5b.png)

https://federalist.18f.gov/preview/18F/college-choice/staging/school/?164924-Boston-College

That is where I'm supposed to be looking for this change, correct?

[2016-02-05 19:39] abisker opened #1473 "P0 - Site search not functioning"
Site is live, but search is returning an Internal Server Error.

Errors began at 1 PM EST

@yozlet and @sharms troubleshooting.

[2016-02-05 19:54] abisker commented on #1473
Following escalation path procedures, tagging @devops-staff here (@sharms currently troubleshooting though) @dlapiduz @NoahKunin @jezhumble

[2016-02-05 20:08] sharms commented on #1473
@yozlet identified the eservice was not correctly bound on 2/3 instances which had multiple root causes, including ELS server resources and previous troubleshooting moving eservice to eservice.current

@sharms migrated 3x ELS instance to 6x ELS instance taking the place of the original eservice, which after restaging resolved the binding issue and performance issues

[2016-02-05 20:22] #1473 closed

[2016-02-05 20:36] LisaGee commented on #1473
Thanks, @yozlet and @sharms

From: Steven Harms <notifications@github.com<mailto:notifications@github.com>>
Reply-To: 18F/college-choice <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, February 5, 2016 at 3:08 PM
To: 18F/college-choice <college-choice@noreply.github.com<mailto:college-choice@noreply.github.com>>
Subject: Re: [college-choice] P0 - Site search not functioning (

[2016-02-05 21:43] jjoteal commented on #1419
Looks good! Too bad we can't shorten the text for the first button or make overall grid size adjustments, but as far as this ticket goes, this is ready to roll!

[2016-02-05 21:45] ultrasaurus commented on #1410
@yozlet is this a dup now?

[2016-02-05 22:03] yozlet commented on #1408
This is now a Cloud.gov issue rather than one for us, since they provide and maintain ES service as a standard system rather than a special thing for us. Have flagged this as something for them to double-check (though it's likely to be happening as part of their standard ops setup): https://github.com/18F/DevOps/issues/552

[2016-02-05 22:20] afeld commented on #1408
I think the original issue was around application logs, which are now automatically retained for 180 days automatically:

https://docs.cloud.gov/apps/logs/#historic-logs:6d6e87c8985e9c9e781f22ee066f5a45

Not sure about ElasticSearch logs though... will let one of the cloud.gov team answer in https://github.com/18F/DevOps/issues/552.

[2016-02-05 22:22] afeld commented on #1408
In other words, I'm not sure if there's a required retention period for ElasticSearch (non-web-server) logs, but if there is, that should be taken care of at the cloud.gov level, rather than something you will need to worry about within the College Choice application/configuration.

[2016-02-05 22:25] ultrasaurus commented on #480
@yozlet docs look good to me

[2016-02-05 22:27] ultrasaurus commented on #936
Depending on how fast we get the indexing (https://github.com/18F/college-choice/issues/1081), we might want to revisit this approach

[2016-02-05 22:34] ultrasaurus commented on #1341
via @yozlet: there are cases when we want to reduce the CACHE_TTL (for example, in advance of a data update - otherwise it's going to make it harder to check that the new data's being picked up). Perhaps CACHE_TTL should be picked up from an environment variable?

I like this idea.  Will close the PR, and recommend this approach when this becomes a priority (probably if there's a big announce arou

[2016-02-05 23:16] shawnbot opened #1474 "Remove local build+serve step from CI tests"
This will go a long way in addressing #1468 and possibly #1471. Currently, our CI test script builds the site and serves it locally, then establishes a secure tunnel with Sauce Labs so that it can test the site from `localhost`. This not only takes more time per build (setting up the Ruby environment, building the site, and waiting for the Sauce Connect tunnel), but also introduces a level of comp

[2016-02-06 00:29] barkimedes commented on #1370
We are going to take a little bit of time to step back and think a bit more about how this should work a little more holistically. And then we can better figure out what experiments to try next.

[2016-02-06 00:37] barkimedes commented on #187
@claremccann Can you tell us how that data would be made available in college scorecard data? Like if a school has multiple nicknames, would it come in one column that are separated by columns? Would it show up in multiple columns?

[2016-02-06 16:07] claremccann commented on #187
Just forwarded you a sample file

[2016-02-08 21:06] dnesting commented on #496
@shawnbot This was something I considered too.  The way I read things, this is a *signal* that the URL parameter uniquely identifies a page, not an *instruction* to consider variants of the page distinct.  In other words, I don't know that we have evidence that the URL as it's written today is inadequate in that regard.

I see that the canonical change is in prod now and I'm going to poke around w

[2016-02-08 21:11] dnesting commented on #496
A search for [site:collegescorecard.ed.gov](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=site%3Acollegescorecard.ed.gov) now has a school that I explicitly submitted to the index via the "Fetch as Google" feature.  This didn't happen before.  I suspect this means our problem may be resolved and we just need to wait for Google to get around to reindexing the rest of

[2016-02-08 22:44] LisaGee commented on #1408
Waiting to hear from cloud.gov has resolved.

[2016-02-08 23:45] shawnbot opened #1475 "Fix a11y issues on the Data Tool"
I neglected to add `/data/` to the list of URLs that gets tested for accessibility. The failures are captured in [this build](https://circleci.com/gh/18F/college-choice/269), and should be easy to fix.

[2016-02-09 16:50] barkimedes commented on #187
@ultrasaurus it is a pipe-separated list within one column. That something you can work with?

[2016-02-09 18:26] ultrasaurus commented on #187
@barkimedes can you forward me the file?  Assume we're using a pipe since that is a special character that never appears in a school name?

Curious: do most schools have nicknames?  who collects/determines this data?  (e.g. how frequently is it updated)

[2016-02-09 19:10] claremccann commented on #187
The file download is from IPEDS, so we use pipe because they do. If we need another format, we'll have to give different specs for the data cleaning. 2125/7438 have a nickname. Schools self-report it to IPEDS and it is updated once annually.

[2016-02-09 19:12] barkimedes commented on #187
@ultrasaurus I forwarded you the file offthread.

From: Clare McCann [mailto:notifications@github.com]
Sent: Tuesday, February 9, 2016 2:11 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Williams, Sabrina <Sabrina_B_Williams@omb.eop.gov>
Subject: Re: [college-choice] As a student, I'd like to be able to search by colloquial terms, so that I can find schools as I know them and fi

[2016-02-09 19:21] abisker opened #1478 "Update documentation to reflect service info"
@sharms & @yozlet this is a ticket to ensure we update the Scorecard documentation to reflect the proper naming of the service (so that when the app re-starts it can find the service).

Result from issue #1473

[2016-02-09 19:34] ultrasaurus commented on #1291
We've got og and twitter descriptions, but maybe cuz we're a plain old meta description, so we still see just the page text:
![image](https://cloud.githubusercontent.com/assets/41906/12928205/f7c34546-cf20-11e5-87b5-237beb709a8a.png)

[2016-02-09 19:37] ultrasaurus opened #1479 "When I search for the site, I shouldn't see error text for /schools page"
Not sure how this got indexed.  Would be simple to fix with a re-direct:

![image](https://cloud.githubusercontent.com/assets/41906/12928285/651ce4b2-cf21-11e5-925c-dda9127d1613.png)

[2016-02-09 19:42] ultrasaurus commented on #496
Can we adjust the title to say something like: "As a Consumer, I should be able to search on Google for a specific school and see College Scorecard results"

acceptance:
- [ ] search for site:collegescorecard.ed.gov should have >4000 results
- [ ] search for "University of Puget Sound collegescorecard" and see College Scorecard page in the results

[2016-02-09 19:59] ultrasaurus commented on #54
oops -- this wasn't actually in the last release.  @shawnbot will amend release notes, re-opening

[2016-02-09 20:35] dnesting commented on #1479
Possibly Javascript could add a meta element with "noindex" for the no-ID case.  I believe Google would respect that, but I'm not positive.

[2016-02-10 01:23] yozlet commented on #730
This has now been pushed to staging, and the updated URLs are in the links on the front page of https://ccapi-staging.18f.gov/

[2016-02-10 15:51] barkimedes commented on #54
@shawnbot Where should I be able to try this out?

[2016-02-10 15:53] abisker commented on #54
@barkimedes you can test on the dev server https://federalist.18f.gov/preview/18F/college-choice/dev/

(details in the "[college choice] pls test accessible accordian!" email)

[2016-02-10 15:53] barkimedes commented on #1471
SGTM :us:

[2016-02-10 15:54] #1471 closed

[2016-02-10 15:54] abisker commented on #1378
@yozlet following the trail to https://github.com/18F/open-data-maker/pull/283 is this resolved now?

[2016-02-10 15:57] abisker commented on #1350
@barkimedes as there's no action item here yet, should we assign to Clare and move to research?

[2016-02-10 16:00] abisker commented on #205
@barkimedes has this been split yet? Should we close this one out, or...?

[2016-02-10 16:05] abisker commented on #1332
Dupe of #1083

[2016-02-10 16:07] abisker commented on #979
@barkimedes is it fair here to change the story to center on having a default 10 mi radius to achieve the 'near me' feature?

[2016-02-10 16:09] barkimedes commented on #205
@abisker no, I don't think I ever got to it. Rather than splitting them up now, I think the critical ones are done; these are lower priority. So I'm going to lower the priority of this story as a whole. And when someone actually gets to it, they can break it up into even more stories. Just to preserve my sanity by not creating 6 more stories right now :smile:

[2016-02-10 16:22] barkimedes commented on #1350
@claremccann Assigning this to you...are we still expecting to get these tweaks?

[2016-02-10 16:23] abisker commented on #1328
@ultrasaurus once we get to this issue, would you be the right person to investigate?

[2016-02-10 16:35] barkimedes commented on #199
@abisker @shawnbot understanding that this may be a larger ticket depending on how we can deal with the fact that we don't want to show the link if the school doesn't provide one, let's consider this a time boxed "think about it for a little while" kind of state. Shawn, whatever you can come up with for how we may want to deal with it, I would say toss those ideas in this issue's comments. Once we

[2016-02-10 17:52] barkimedes commented on #1448
@shawnbot were you able to get clarification on this?

[2016-02-10 17:53] barkimedes commented on #54
WOOOHOO!! :us:

[2016-02-10 17:55] abisker commented on #1448
@barkimedes I think we still need Clare to take a look -- @claremccann possible for you to review the above and comment with thoughts here?

[2016-02-10 18:02] barkimedes commented on #480
:us:

[2016-02-10 18:03] #480 closed

[2016-02-10 18:16] barkimedes commented on #730
I tried it out; looks like i'm getting results. So :us:

[2016-02-10 18:16] #730 closed

[2016-02-10 19:29] claremccann commented on #1448
Double-checked and agree with Shawn's analysis. Will talk to him tonight in case there are outstanding q's.

[2016-02-10 21:02] #1448 closed

[2016-02-10 22:25] yozlet commented on #1410
I haven't yet got access to Pingdom, mainly because there is no official 18F setup for it. I think basic Pingdom coverage is something that Ozzy set up but didn't have alerting anyone else, or alerting anywhere visible. That's my best guess as to why we didn't see alerts from it.

For the foreseeable future we're going to use New Relic for both availability monitoring and error tracking, rendering

[2016-02-10 22:25] #1410 closed

[2016-02-10 22:25] yozlet commented on #1459
Closing for the same reasons as #1410, explained here: https://github.com/18F/college-choice/issues/1410#issuecomment-182606204

[2016-02-10 22:25] #1459 closed

[2016-02-10 22:39] ultrasaurus opened #1484 "Create documentation for Cloud.gov dependencies"
We need to understand which things are custom parts of the ED deployment and what things are "owned" by Cloud.gov, and document those things so new ED team will know what they are responsible for and what should be escalated by Cloud.gov

[2016-02-10 22:49] ultrasaurus opened #1485 "As a site operator, I would like to stop getting unimportant NewRelic notifications"
We're getting notifications almost every day that are for minor, and we think easy-to-fix issues:  https://github.com/18F/open-data-maker/issues?q=is%3Aissue+is%3Aopen+label%3A%22from+New+Relic%22

[2016-02-10 23:36] barkimedes commented on #1419
:us: looks good!

[2016-02-10 23:36] #1419 closed

[2016-02-10 23:37] barkimedes commented on #54
Splendiforous :us:

[2016-02-10 23:37] #54 closed

[2016-02-11 15:58] abisker commented on #199
Thanks @shawnbot! For both options (but particularly #1 since you're leaning that way), do you have an idea of a) how long it would take to build out initially and then b) how intensive any manual updates might be on an ongoing basis?

[2016-02-11 16:47] abisker commented on #1442
@barkimedes We mentioned de-prioritizing this one for now as it's a "do before transition, but not critical at this very moment" item; Are you okay to move this to backlog (and place in proper priority order)?

[2016-02-11 17:21] abisker commented on #199
So realistically, allowing for any surprises/bumps, this would take up a week of @shawnbot's time, i.e., if we do a week long sprint, this will be THE issue he works on -- with that in mind, @barkimedes do you want to prioritize this for next sprint, or wait on it?

[2016-02-11 18:37] abisker commented on #1334
@yozlet and @sharms is this moot now since we expanded ES?

[2016-02-11 18:39] abisker commented on #1325
@barkimedes is this still an issue?

[2016-02-11 18:40] abisker commented on #1314
@barkimedes was there movement on this one?

[2016-02-11 18:48] abisker commented on #938
@yozlet since we're going to NR now, is this ticket moot, and if so can you close?

[2016-02-11 19:01] gregshap commented on #1314
Hi sorry for the late response.

So the issue here is with the hosting of the site, and not this codebase in particular, but I figured it was the best place to post.

To reproduce:
1) Go to https://collegescorecard.ed.gov/

2) Under "Check Out These Schools" follow the link to the ed.gov blogpost "23 four-year schools with low costs that lead to high incomes"

3) From http://blog.ed.gov/2015/09/sc

[2016-02-11 19:37] abisker commented on #1314
Thanks for the detailed description @gregshap!

[2016-02-11 19:45] LisaGee opened #1487 "Blog posts referenced from College Scorecard website have broken links"
To reproduce:
1) Go to https://collegescorecard.ed.gov/

2) Under "Check Out These Schools" follow the link to the ed.gov blogpost "23 four-year schools with low costs that lead to high incomes"

3) From http://blog.ed.gov/2015/09/schools-with-low-costs-and-high-incomes/ follow the link to Georgia Institute of Technology-Main Campus

4) The linked webpage is not available: https://www.collegescore

[2016-02-11 19:47] LisaGee commented on #1487
@mitzkow - can you get this taken care of please? Thanks.

[2016-02-11 19:57] abisker opened #1488 "As a new site admin, I would like to have access to all alerts and escalation path documents"
All New Relic alerts (and any additional monitoring systems brought on) need to be updated to send the alerts to the new site maintainers.

The escalation path documents need to be updated to mention the new admins and have ownership transferred as well.

[2016-02-11 20:53] #1292 closed

[2016-02-11 21:03] yozlet commented on #938
I think the ticket's still valid, just with a different source. NR has a Synthetics product for this. I'm going to rename the ticket.

[2016-02-11 21:42] yozlet commented on #1460
Since taking on this issue, it's become clear that Pingdom is not in regular use by devops teams elsewhere in 18F. Furthermore, it looks like New Relic can take care of all the needs that would be met by Pingdom, especially pinging basic & synthetic (#938) transactions.

[2016-02-11 22:06] abisker opened #1489 "As a new site admin, I would like to access an S3 bucket owned by Dept of Ed (instead of 18F)"
When we transition the project, we're going to need to switch the S3 bucket to be one owned by Ed (rather than 18F).

[2016-02-11 22:28] yozlet commented on #1460
This issue has multiple elements at different stages:

### Application-Level Monitoring for the API

We've had New Relic monitoring application-level metrics from `ccapi-production` (Open Data Maker), which are mainly based on
1. Error counts/percentages per time period
1. Transaction latency (which NR turns into an "Apdex score")

Previously, we had a couple of policies set up in NR's legacy aler

[2016-02-11 22:29] yozlet opened #1490 "Set up SMS and dev-on-call shift rotation with PagerDuty"
(Quoting from #1460:)

PagerDuty would give us SMS notification (which is more reliable than the NR mobile app) but, more importantly, would allow us much better routing and scheduling capabilities. We aren't the only ones who want PagerDuty; Bret has started pushing on acquiring service for Cloud.gov and the rest of 18F. NR can plug directly into PagerDuty once we get it.

[2016-02-11 22:35] ultrasaurus commented on #1485
https://github.com/18F/open-data-maker/pull/286

[2016-02-16 15:06] claremccann opened #1492 "Share file upload link and update the data on the site."
As noted to @LisaGee and @ErieMeyer the other day, we'll be sending over the latest files soon to update the site before the next annual upload. Can 18F send us an upload link to use?

[2016-02-16 15:17] mitzkow opened #1493 "Sorting by SAT/ACT"
As a student, I want to be able to filter by SAT and ACT to help better target my college search.

[2016-02-16 17:48] yozlet commented on #1485
@ultrasaurus Is this on staging now? Move to Accept?

[2016-02-16 18:25] yozlet commented on #1360
The `data.json` endpoint (which reflects a JSON version of the `data.yml` file) _may_ be useful here. It's not currently documented. Example: https://ccapi-dev.18f.gov/v1/data.json

The most relevant field is the `version` field, which right now is a bit of a mess. It currently starts with `Aug27` because that's when we got the data dump from Ed, but followed by the ISO8601 date of the last time t

[2016-02-16 18:38] yozlet commented on #1360
Oops - just realised the above comment is more relevant to #1359. For this ticket, we could tweak the `data.json` endpoint so you can supply a path to a particular JSON key rather than having to download all 300Kb of it, and then the frontend can dynamically pull that? Maybe?

[2016-02-16 18:39] yozlet commented on #1359
(originally posted this in #1360, but it's more relevant here)

The `data.json` endpoint (which reflects a JSON version of the `data.yml` file) _may_ be useful here. It's not currently documented. Example: https://ccapi-dev.18f.gov/v1/data.json

The most relevant field is the `version` field, which right now is a bit of a mess. It currently starts with `Aug27` because that's when we got the data d

[2016-02-16 21:02] ultrasaurus commented on #1474
I like the idea of running unit tests always, then limiting browser tests to branches, then always test locally or push a branch before merging... @yozlet ?

[2016-02-16 21:03] ultrasaurus commented on #1474
main thing is that I want to make sure we never have a false positive: https://github.com/18F/college-choice/issues/1471

and simplicity of the tests is a big plus

[2016-02-16 22:33] barkimedes opened #1494 "As the Department of Education, we need a long-term, consistent mechanism to easily update the data so that we can do data drops."
We need to provide the department of education a mechanism by which they can update the data. Ideally, it would be super duper sweet if they could update the data without engineering involvement.

I know, I know, but one can dream :smiling_imp:

[2016-02-16 22:38] ultrasaurus commented on #1485
This has been deployed & there were no alerts over the long weekend, so am closing!