[2015-09-02 19:59] ultrasaurus commented on #955
moving to accept to confirm that this is, effectively, a dup (the other is not yet ready to accept)

[2015-09-02 20:22] ultrasaurus opened #990 "as a server, I would like to have cache control headers, so I don't need to respond to so many requests"
via Nick Muerdter:  We do provide an HTTP caching layer. However, your API must return the appropriate cache control headers if you want to perform caching (we don't cache anything by default). Here are the supported headers: http://apiumbrella.io/docs/caching/

[2015-09-02 21:05] #647 closed

[2015-09-02 21:06] #618 closed

[2015-09-02 21:07] meiqimichelle commented on #737
Remaining:
- [ ] one remaining query sample
- [ ] pdfs for download (policy, tech, dictionary)
- [ ] full data download
- [ ] sample/subset csvs
- [ ] review 10 quotes in carousel, if we keep all of them need to make carousel taller. recommend choosing less than 10.

[2015-09-02 21:09] meiqimichelle commented on #521
I think @LisaGee you said this was covered and you were able to get what you needed from google analytics for now?

[2015-09-02 21:12] meiqimichelle commented on #342
@jjoteal What do you think about this one? Personally, I'd think about tweaking the design, but either way perhaps not urgent for launch anymore?

[2015-09-02 21:13] meiqimichelle commented on #984
Noting that this is also related to #932 (another drawer implementation issue).

[2015-09-02 21:25] meiqimichelle commented on #984
@LisaGee I linked the usability bug reports we've gotten in search/filter here so we can talk about them together. I'm concerned that this has not been prioritized because users are reporting that our app is broken not because it is not functioning as expected, but because of some pretty major usability problems with the UI.

On desktop, the drawer-open-push-content-over interaction is confusing p

[2015-09-02 21:49] hollyallen commented on #956
I found that for schools with preddeg==1 or ==2 (and operating in 2013) there are 470 schools with non-null, non-privacysuppressed values in C150_4_POOLED_SUPP.

I found that schools with preddeg==3 (and operating in 2013) there are 0 schools with non-null, non-privacysuppressed values in C200_L4_POOLED_SUPP.

[2015-09-02 22:10] ultrasaurus commented on #572
just on dev, pls review!

[2015-09-02 22:15] diego- commented on #572
tested using ope8_id without dev-category.
also tested negative case with 'name' without dev-category school. Returns real error message rather than internal server error.

works as expected!

Also, all fields in data dictionary now have a dev-category.

[2015-09-02 22:16] #572 closed

[2015-09-02 22:18] KHarshawat opened #992 "Disable some location search features when others are used"
On the search page, it's confusing that there are multiple location options that look like they can be used at the same time.

![image](https://cloud.githubusercontent.com/assets/6335546/9646142/b5abf586-519e-11e5-998c-ff56720c7c2b.png)

When a user enters a state, the other two location options should be disabled. Same with if I use a region or enter a zip code.

[2015-09-02 22:20] diego- commented on #413
tested on dev; 2013.repayment.CDR3 is returning numbers as expected (example: 16.5)

[2015-09-02 22:20] #413 closed

[2015-09-02 22:29] alex opened #993 "Hover text for "test scores" in the selectivity section is wrong"
It appears to have the hover text for the Graduation Rate section instead. See this screenshot:

![screen shot 2015-09-02 at 6 28 14 pm](https://cloud.githubusercontent.com/assets/772/9646315/663c9364-51a0-11e5-904b-ff02ca405420.png)

[2015-09-02 22:29] hollyallen commented on #990
Thoughts on this: will need to understand how we clear that cache when needed.

[2015-09-02 22:42] #708 closed

[2015-09-02 22:45] hollyallen commented on #956
Some test school names for Shawn:
National Paralegal College
New York College of Health Professions
Sitting Bull College

[2015-09-02 22:47] #378 closed

[2015-09-02 22:55] ultrasaurus commented on #956
This is what the data.yaml should be
```C200_L4_POOLED_SUPP or C150_4_POOLED_SUPP```

[2015-09-02 22:56] LisaGee commented on #956
@ultrasaurus Yes!

[2015-09-02 22:56] ultrasaurus commented on #956
this is the source file:  https://github.com/18F/college-choice-data/blob/master/dictionary_additional.yaml

[2015-09-02 23:07] shawnbot opened #994 "Fix front end functional tests"
The functional tests have been failing for quite some time but haven't been reported because of #367. The tests themselves need to be fixed before we can fix the reporting issue, though.

[2015-09-02 23:17] ultrasaurus commented on #741
Actually we never really implemented location.  The name "location" is hard-coded in several places in the server code and we kept deferring it :(

[2015-09-02 23:45] hollyallen commented on #946
I created a new sheet called "Beta Launch Play by Play" within the "TODOs to get us to Beta & to Launch" sheet in PICC on Google Docs. https://docs.google.com/spreadsheets/d/1BtjN7NSWeseA0C_IHwhnFV2-Y2pdwB6SmFkZd5_o0Ss/edit

I'm putting in there all the nitty gritty of what will happen when by who. Please help me make it correct.

@ozzyjohnson @ultrasaurus

[2015-09-03 00:00] hollyallen commented on #920
I believe this is complete, correct @ozzyjohnson ?

[2015-09-03 00:02] hollyallen commented on #480
@ozzyjohnson  is there a corresponding devops github issue or trello card for this?

[2015-09-03 00:05] hollyallen commented on #596
@dnesting the meeting where this was discussed is written up here: https://docs.google.com/document/d/1IHs25wNe6OJJXhqR3MFXn-ZONPVJDiF8lAeCEIncGwE/edit

Summary: New Relic has about a 3 minute latency on alerts. Ozzy says new relic isn’t good for downtime alerting. Something specific to alerting and synthetic transactions like pingdom is better and will alert a lot faster in the case of an issue.

[2015-09-03 01:00] ErieMeyer opened #996 "ENHANCEMENT: Add "Notices" link in footers"
Investigating additional links for footer -- these are the ones that the new DOI site has in the footer.

For my research:

https://www.doi.gov/privacy
https://www.doi.gov/disclaimer
https://www.doi.gov/accessibility
https://www.doi.gov/notices

[2015-09-03 03:53] ErieMeyer commented on #943
Looks great on dev!

[2015-09-03 03:55] ErieMeyer commented on #941
Looks great on dev!

[2015-09-03 03:57] ErieMeyer commented on #937
LGTM on dev!

[2015-09-03 04:00] ErieMeyer commented on #910
LGTM on dev!

[2015-09-03 04:02] ErieMeyer commented on #909
LGTM on dev!

[2015-09-03 04:06] ErieMeyer commented on #896
Looks great on dev!

[2015-09-03 04:09] ErieMeyer commented on #891
These two say "none" as default -- expected behavior on dev?

Special designation
Religious affiliation

[2015-09-03 04:13] ErieMeyer commented on #890
Love it! Looks great on dev.

[2015-09-03 04:39] ErieMeyer commented on #888
The vs. their from https://github.com/18F/college-choice/issues/694 still is an issue here

![screen shot 2015-09-03 at 12 29 21 am](https://cloud.githubusercontent.com/assets/1626026/9650585/436bbf62-51d3-11e5-9854-402463b1d82b.png)

Also -- content from https://github.com/18F/college-choice/issues/684 is not "making" -- but I also think that the sidebar is being replaced with "get the best deal"

[2015-09-03 04:41] ErieMeyer commented on #781
LGTM on dev!

[2015-09-03 04:43] ErieMeyer commented on #761
Looks great on dev!

[2015-09-03 04:47] ErieMeyer commented on #753
Avg is there, but it looks like it says 70 instead of 66.9 (~67)
![screen shot 2015-09-03 at 12 46 32 am](https://cloud.githubusercontent.com/assets/1626026/9650750/54484ae2-51d5-11e5-8149-75fcddde842f.png)

[2015-09-03 04:47] ErieMeyer commented on #747
Yes!

[2015-09-03 04:50] ErieMeyer commented on #723
Looks great on dev!

[2015-09-03 04:50] ErieMeyer commented on #667
Looks great on dev!

[2015-09-03 04:51] ErieMeyer commented on #560
Looks good on dev!

[2015-09-03 04:54] ErieMeyer commented on #534
Looks good!

[2015-09-03 11:23] ozzyjohnson commented on #920
This is ready, but only available when a new instance is created.

Here's the 18 year indexer running this morning:

<img width="1107" alt="screen shot 2015-09-03 at 7 20 25 am" src="https://cloud.githubusercontent.com/assets/3709182/9657146/88d9ecde-520c-11e5-8baa-f0f4a066035c.png">

[2015-09-03 11:26] ozzyjohnson commented on #480
@hollyallen - Yes, there's a consolidated card with most of the PICC engineering tasks.

https://trello.com/c/utrIWpVb/274-picc-launch-consulting

[2015-09-03 11:30] ozzyjohnson commented on #596
This is correct. Pingdom is a much more directed check and alerting tool to the application instrumentation, trending and dashboarding of New Relic. Though, for the time being New Relic and a trial period of their synthetic product is what we have to work with.

[2015-09-03 12:38] ErieMeyer commented on #753
Rounding is fine! The issue is that the rounded number would be 67 not 70.

[2015-09-03 13:32] jjoteal commented on #342
I don't think this is urgent for launch.

Later on down the road, I'd still like to keep things in cards, but perhaps we just reduce the left and right margins a bit (so maybe 10px rather than 20px for example).

[2015-09-03 14:07] meiqimichelle commented on #891
@shawnbot maybe this was another change that didn't make it through the JS changes of a few days ago. I changed the default to 'any' - did you change it to 'none' ?

[2015-09-03 14:10] meiqimichelle commented on #342
Sure! That sounds good.

[2015-09-03 15:44] LisaGee commented on #934
Agree with all of Charles' options. Only 1. is required for 1.0 Launch, but all the others are also good things.

The other additional use case is
5. When I search for "berk" or "Berk", I should see "University of California at Berkeley", as well as "Berkeley College".

[2015-09-03 15:47] ultrasaurus commented on #934
FYI "University of California at Berkeley" is actually "University of California-Berkeley" in our data set, so we need to make sure to tokenize based on - as well as space (currently using standard tokenizer which splits words based on these and other common english word-break characters)

[2015-09-03 17:50] meiqimichelle commented on #891
@shawnbot Ok! Got it! I read the issue too quickly and assumed *all* the drop-downs should be `Any` but this is, as written, only referring to the state and location drops. @ErieMeyer can you confirm what the special designation and religious affiliation default should be? Seems to me that should should still be `Any` since *not* selecting one likely includes `All` in the result, correct?

[2015-09-03 18:01] ErieMeyer commented on #769
Filters look/work great on iPhone.

[2015-09-03 18:03] ErieMeyer commented on #769
On dev, that is!

[2015-09-03 18:08] hollyallen commented on #920
Great. Is that the new production elasticsearch?

[2015-09-03 19:08] shawnbot opened #1000 "Sliders should have a national average legend"
Just as the schools have a legend that tells you what the black lines across the meters mean:

![image](https://cloud.githubusercontent.com/assets/113896/9668060/392e71f0-5234-11e5-96d2-a561eaff7774.png)

The sliders should also have a legend that explains what their black lines mean:

![image](https://cloud.githubusercontent.com/assets/113896/9668079/51c6cabe-5234-11e5-8568-7f625574f0a3.png)

e.g

[2015-09-03 19:42] meiqimichelle commented on #466
This will be done when #999 merges.

[2015-09-03 19:46] meiqimichelle commented on #891
This should be live on `dev` for review. All dropdown should show "Any" as the default.

[2015-09-03 21:29] jjoteal commented on #1000
In the original designs, this is how the national average displayed on the sliders:

![image](https://cloud.githubusercontent.com/assets/12192706/9671479/3572e80c-5261-11e5-963b-f1aeea7f9f04.png)

Possible to do this @shawnbot ?

[2015-09-03 22:33] hollyallen commented on #596
@ozzyjohnson  To clarify, do you think we'll have pingdom on production for Sept 11 or not?

[2015-09-03 22:43] shawnbot opened #1004 "Add documentation for JavaScript build process"
The instructions for building the JS in #969 need to go somewhere in the repo, like `js/README.md`.

[2015-09-03 23:40] LisaGee commented on #536
So, it looks like the calculation I originally concocted is incorrect due to the definition of the metrics and my misinterpretation of them. Sorry!

We should be using the value that appears in one of these 2 fields:
RET_FT4
RET_FTL4
There should never be a value in both columns.

From Patrick:
Retention rates are based on first time, degree seeking students and this equation assumes that is every

[2015-09-03 23:41] ultrasaurus commented on #934
I've addressed the top priority of this bug and a couple of the use cases from @cew821

Here are the sample API calls:
0. "berk" finds "University of California-Berkeley" (and other results) https://ccapi-ex.18f.gov/v1/schools?school.name=berk&fields=school.name
1. "phoenix university" should find "university of phoenix" https://ccapi-ex.18f.gov/v1/schools?school.name=phoenix%20university&fields=s

[2015-09-03 23:47] ultrasaurus commented on #199
@jjoteal @LisaGee do we want this to be at the top of the page when most links will be 404s?  when we talked about it with @LisaGee yesterday, I thought she said it would be less prominent, at bottom of page

[2015-09-03 23:51] ultrasaurus commented on #536
@shawnbot do you need another OR column?

[2015-09-03 23:51] ozzyjohnson commented on #596
Yes, it's in place as of this evening. Still need to create alerts, but
it's bought.

On Thu, Sep 3, 2015, 18:33 Holly Allen <notifications@github.com> wrote:

[2015-09-03 23:56] ultrasaurus commented on #604
@LisaGee I'm testing it now.  How do I know it is good?  https://ccapi-ex.18f.gov/

[2015-09-03 23:57] LisaGee commented on #199
Agreed. In the original designs it was at the bottom of the page. It probably got moved up in the spirit of trying to give institutions’s reponse a little more visibility.

Given what we’re implementing, I agree that it’s safer to put back at the bottom of the page, at least for this first release.

Thanks for catching.

--Lisa

From: Sarah Allen [mailto:notifications@github.com]
Sent: Thursday, S

[2015-09-04 00:01] LisaGee commented on #604
I believe the only difference is:
RTI is fixing the files so that the CDR data are a decimal rather than a number.

To test, you should be able to use the Test Cases with Expected Results that @hollyallen has put together.
And maybe @hollyallen can do some spot checking too?

From: Sarah Allen [mailto:notifications@github.com]
Sent: Thursday, September 03, 2015 7:56 PM
To: 18F/college-choice
Cc: G

[2015-09-04 00:06] ultrasaurus commented on #536
@shawnbot where does this show up in the UI?

[2015-09-04 00:22] LisaGee commented on #536
You mean for this particular school?
Bryant University RET_FT4= 0.9026

From: Shawn Allen [mailto:notifications@github.com]
Sent: Thursday, September 03, 2015 8:20 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] BUG: Retention Rate for Bryant University is incorrect as compared to data (#536)

@LisaGee<https://github.com/LisaGee> do you know offhand what the displayed re

[2015-09-04 00:25] LisaGee commented on #951
I think you're right. I think what we want (as noted in #885 - doh):
Any school where:
1. (PREDEG==2||3) && (PREDDEG==1 && HIGHDEG!=1)

[2015-09-04 00:34] LisaGee commented on #951
To recap: We want to include predominantly certificate schools, but only if they offered at least one two- or four-year degree.
1.	Include any school where preddeg=2 or preddeg=3
2.	Include any school where preddeg=1 if highdeg!=1
3.	Exclude schools with preddeg=0
4.	Exclude schools with preddeg=4 (still confirming, but I think this is the only thing that's doable given our data).

[2015-09-04 00:42] ultrasaurus commented on #951
so school.degrees_awarded.predominant__range=1..3&school.degrees_awarded.highest__range=2..4 ?

[2015-09-04 00:44] LisaGee commented on #951
That ought to do it. Thanks! I'm a little too close on this one.

[2015-09-04 00:52] LisaGee commented on #934
Confirming also against data
0. "berk" in the excel shows 13 schools, as does the API call above. And I verified that they all match.
1. Search for "phoenix" gives same number in Excel and API. Search for "phoenix" and "university" gives same results in Excel and API.
4. API call and Excel for "phoenix" and "online" results in 2 schools. both.

Looking good!

[2015-09-04 00:56] LisaGee commented on #934
Tested a few others for good measure, like "virginia", "Phoenix", "PHOENIX", "PHOEN". All good.

fyi "nix", results in 0, which seems fine.

Nice Sarah!

[2015-09-04 01:03] LisaGee opened #1010 "On the Consumer Tool Homepage, "60% of college graduates started college at age 24 or older" should actually be 30% and age 25"
In the Fun Facts. A little too much fun!
Can you please change to 30% and age 25 or older?

[2015-09-04 01:06] LisaGee opened #1011 "On the Consumer Tool Homepage, change "of free money" to "for free""
In the Fun Fact:
"You could be eligible for up to $5,775 of free money in federal grants to help pay for college. No repayment needed!"

Replace "of free money" to "for free"

[2015-09-04 02:12] LisaGee commented on #566
I have also confirmed that the 3 test calls above result in same data that is in Excel.

So, I believe that when I search in the Consumer Tool for All schools in RI that offer
* Program in Computers (Bach or Assoc) = 9
* Bachelors in Computers = 8.
* Associates in Computers = 5

I think we now have the API implemented to be able to do this. Will confirm in Tool, when is pushed to Staging.

[2015-09-04 06:04] meiqimichelle commented on #984
@jjoteal @shawnbot the latest looks like:

## Desktop

![screen shot 2015-09-03 at 10 57 57 pm](https://cloud.githubusercontent.com/assets/4827522/9677503/ad8f45d2-528f-11e5-82c4-157ef9a8f703.png)

![screen shot 2015-09-03 at 10 58 06 pm](https://cloud.githubusercontent.com/assets/4827522/9677505/b84dd7ae-528f-11e5-8c5b-72cd44dee488.png)

![screen shot 2015-09-03 at 10 58 17 pm](https://cloud.gith

[2015-09-04 06:19] meiqimichelle commented on #1010
Grabbed this one in passing. Fix should be live on `dev`.

![screen shot 2015-09-03 at 11 17 26 pm](https://cloud.githubusercontent.com/assets/4827522/9677708/2164d920-5292-11e5-9b3c-883da43cb117.png)

[2015-09-04 12:12] ErieMeyer commented on #943
Flag is present on staging!

[2015-09-04 12:12] #943 closed

[2015-09-04 12:13] ErieMeyer commented on #941
All set on staging!

[2015-09-04 12:13] #941 closed

[2015-09-04 12:16] ErieMeyer commented on #937
Working on staging!

[2015-09-04 12:16] #937 closed

[2015-09-04 12:17] ErieMeyer commented on #914
Awesome!

[2015-09-04 12:17] #914 closed

[2015-09-04 12:19] ErieMeyer commented on #910
Lgtm on staging!

[2015-09-04 12:19] #910 closed

[2015-09-04 12:24] ErieMeyer opened #1012 "BUG: can't click into religious affiliation on iphone"
When in the "type" section, and I click on "religious affiliation" it opens the "special designation" drop down. I click out of it and back on to religious affiliation and it goes back to special designation.

IPhone 5, 8:21 am, Safari (screenshot coming)

[2015-09-04 12:25] ErieMeyer commented on #1012
![image](https://cloud.githubusercontent.com/assets/1626026/9683471/6f411a90-52de-11e5-8042-89756b44b698.jpg)

[2015-09-04 12:26] ErieMeyer commented on #909
Can't accept on mobile because of https://github.com/18F/college-choice/issues/1012

Will check from a desktop

[2015-09-04 12:27] ErieMeyer commented on #896
LGTM on staging!

[2015-09-04 12:27] #896 closed

[2015-09-04 12:28] ErieMeyer commented on #890
Lgtm on staging

[2015-09-04 12:28] #890 closed

[2015-09-04 12:30] ErieMeyer commented on #792
Great on staging!

[2015-09-04 12:30] #792 closed

[2015-09-04 12:31] ErieMeyer commented on #781
👌🏽

[2015-09-04 12:31] #781 closed

[2015-09-04 12:32] ErieMeyer commented on #775
Looks great on staging! Thanks @dmedfsa! 🇺🇸

[2015-09-04 12:32] #775 closed

[2015-09-04 12:34] ErieMeyer commented on #761
Looks great on staging!

[2015-09-04 12:34] #761 closed

[2015-09-04 12:34] ErieMeyer commented on #723
🇺🇸🇺🇸

[2015-09-04 12:34] #723 closed

[2015-09-04 12:35] ErieMeyer commented on #667
👌🏽

[2015-09-04 12:35] #667 closed

[2015-09-04 12:36] ErieMeyer commented on #629
Working in staging!

[2015-09-04 12:36] #629 closed

[2015-09-04 12:37] ErieMeyer commented on #560
Looks good on staging!

[2015-09-04 12:37] #560 closed

[2015-09-04 12:38] ErieMeyer commented on #654
👌🏽

[2015-09-04 12:38] #654 closed

[2015-09-04 12:40] ErieMeyer commented on #536
LGTM

[2015-09-04 12:40] #536 closed

[2015-09-04 12:41] ErieMeyer commented on #534
Looks good on staging!

[2015-09-04 12:41] #534 closed

[2015-09-04 12:42] ErieMeyer commented on #1010
Lgtm

[2015-09-04 12:42] #1010 closed

[2015-09-04 12:44] ErieMeyer commented on #989
Not sure how to acceptance test this... Halp?

[2015-09-04 12:46] ErieMeyer commented on #955
Assigning Lisa to confirm

[2015-09-04 13:13] ErieMeyer commented on #514
Looks great!

[2015-09-04 13:13] #514 closed

[2015-09-04 13:14] jjoteal commented on #984
Looking good @meiqimichelle !

[2015-09-04 14:00] ultrasaurus commented on #604
copied all the new data to dev, staging, production (plus ex and indexing enviornments) -- please verify dev, staging and production via api (ccapi-dev.18f.gov  ,  ccapi-staging.18f.gov, ccapi-production.18f.gov)

[2015-09-04 14:52] ErieMeyer commented on #854
Looks good on staging!

[2015-09-04 14:52] #854 closed

[2015-09-04 15:27] diego- opened #1013 "update calls to production API domain in college-choice application"
final path for launch:
https://api.data.gov/ed/collegescorecard/

NOTE: API key requires role authorization prior to launch.

[2015-09-04 15:34] meiqimichelle commented on #1011
Should be live on dev.

![screen shot 2015-09-04 at 8 33 08 am](https://cloud.githubusercontent.com/assets/4827522/9687705/b4484d88-52df-11e5-95a3-4251c828f9b8.png)

[2015-09-04 15:39] ultrasaurus commented on #604
after this is verified on dev and staging, we should move to production and verify there

[2015-09-04 15:40] ultrasaurus commented on #398
@diego- is this done for everything except the final master changes?

[2015-09-04 15:41] ultrasaurus commented on #398
the last bit should probably be a separate issue

[2015-09-04 15:57] meiqimichelle commented on #1012
Fix should be live on `dev` @ErieMeyer :us: :us: :us:

[2015-09-04 16:05] diego- commented on #398
I believe we're good with #729, but still need to do #4 on above list.

[2015-09-04 16:06] diego- commented on #729
last checkbox to @shawnbot

[2015-09-04 16:19] hollyallen commented on #596
Awesome!

[2015-09-04 16:21] hollyallen commented on #604
I am happy to do some testing, will wait until it is on prod.

[2015-09-04 16:24] meiqimichelle commented on #983
We removed Advanced Search for now since we don't have a whole ton under there yet. That content is now its own normal search area called Type, as per #890.

[2015-09-04 16:24] #983 closed

[2015-09-04 16:25] meiqimichelle commented on #982
We removed the advanced search distinction as per #890 .

[2015-09-04 16:25] #982 closed

[2015-09-04 16:39] ultrasaurus commented on #604
I would like someone to spot check it on dev/staging, before moving to production

[2015-09-04 16:46] meiqimichelle commented on #891
This should be ready on `staging` for review.

[2015-09-04 16:47] meiqimichelle commented on #466
Should be live on `staging`

[2015-09-04 16:48] meiqimichelle commented on #497
Should be live on `staging` although @ErieMeyer @diego- which GitHub repo should we link to from the data site footer?

[2015-09-04 16:54] ultrasaurus commented on #480
@ozzyjohnson do you have an ETA on the logging?  for some reason I thought you had set this up on Mon/Tues and I just needed to learn how to use it...

[2015-09-04 16:57] ultrasaurus commented on #185
@LisaGee looks like a dup to me too, will close

[2015-09-04 16:57] #185 closed

[2015-09-04 17:07] meiqimichelle commented on #984
@shawnbot I'm passing this to you for the JS bits. I'm not sure if I should label it with a priority and mess with Lisa's system, but it is something that is a big UI problem that we're trying to fix for launch.

[2015-09-04 17:13] meiqimichelle commented on #751
Closing in favor of #984

[2015-09-04 17:13] #751 closed

[2015-09-04 17:13] meiqimichelle commented on #889
Closing in favor of #984

[2015-09-04 17:13] #889 closed

[2015-09-04 17:15] meiqimichelle opened #1015 "Upload final documents/links on data tool"
The MVP for the data tool is structurally done, but we will need to update links/downloads before launch.

- [x] query samples #1220
- [x] pdfs for download (policy, tech, full documentation report) #1216
- [x] data dictionary csv #1192
- [x] full data download, zip (includes all of the csvs, data dictionary, full report documentation, data.yml)
- [x] sample/subset csvs #1216
- [x] review 10 quote

[2015-09-04 17:16] meiqimichelle commented on #1015
@diego- I put you on here because I think you're tracking the documents?? feel free to reassign.

[2015-09-04 17:17] meiqimichelle commented on #737
I moved the remaining tasks to #1015 and am moving the MVP to accept.

[2015-09-04 17:17] meiqimichelle commented on #737
The data tool should be live on `staging` minus the downloads as listed above.

[2015-09-04 17:33] LisaGee opened #1016 "What is the best way to get PICC into the hands of Guidance Counselors?"
1.	What would make this tool more useful to them? Data points, wording, etc…
2.	What’s the best way to get it into their hands?
3.	What side materials would be helpful for them?
4.	Recommendations for Fun Facts that they think would be appealing and useful to their students.
5.	Get suggestions for Future Features.

[2015-09-04 17:38] LisaGee opened #1017 "Seed StackExchange with any questions/answers from Beta program"

[2015-09-04 17:40] LisaGee opened #1018 "Evaluate whether students are grocking the value of our “value” metrics"
Do they understand that these metrics are good for them to consider as factors in their evaluation of schools?

[2015-09-04 17:41] LisaGee opened #1019 "Determine how to integrate the data into SAT, FAFSA and any other appropriate touchpoints"

[2015-09-04 17:42] LisaGee opened #1020 "Evaluate if we achieved our Goals and Success Metrics for the project."

[2015-09-04 17:45] ozzyjohnson commented on #480
Still banging on this as v2. The first shot proved more of a trade-off than
I anticipated. Hoping to give you something new by EoB.

On Fri, Sep 4, 2015 at 12:54 PM, Sarah Allen <notifications@github.com>
wrote:

[2015-09-04 17:50] jjoteal opened #1021 "DISPLAY: Reduce space around "Find Schools" button"
Desktop screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9690651/c5d50d44-530b-11e5-8317-32ec4762689e.png)

Would limit to ~30px top and bottom margin around the button.

[2015-09-04 17:53] jjoteal opened #1022 "DISPLAY: Hero image should scroll with the rest of the page"
The hero image appears to be fixed now (perhaps as part of the background). Possible for it to also scroll?

[2015-09-04 17:54] jjoteal opened #1023 "DISPLAY: Should be ~20px space between laurel icon and "check out these schools" line item text"
![image](https://cloud.githubusercontent.com/assets/12192706/9690775/6acf28fc-530c-11e5-8de5-17134d6ea47a.png)

Should be ~20px space between the laurel icon and the beginning of the text.

[2015-09-04 17:56] jjoteal opened #1024 "DISPLAY: Reduce spacing around text in footer"
Desktop screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9690815/aa0ae7e0-530c-11e5-99fa-fc027ccd9275.png)

Reduce to ~40px top and bottom margin around the text.

[2015-09-04 18:01] jjoteal commented on #329
Hi all, I'm also marking this issue as a DISPLAY issue, as I would love, love, love it if we could get the toggle interface in for launch. This is a hope and dream and not prioritized, but labeling it here just in case!

[2015-09-04 18:01] ErieMeyer commented on #1012
Works great on dev now!

[2015-09-04 18:03] ErieMeyer opened #1025 "BUG: Very hard to scroll on iphone without expanding everything"
Scrolling around on staging is very hard on an iphone -- the filters open no matter where you touch when you try to scroll down.

It's hard to get to the "find schools" button without expanding every filter.

Maybe make the expandy part more constrained to the button?

[2015-09-04 18:04] ErieMeyer commented on #1011
Looks good on dev!

[2015-09-04 18:07] ErieMeyer commented on #956
@hollyallen Can you take a look at the data to confirm that this is addressed? Or give me some 200% numbers to check?

[2015-09-04 18:09] hollyallen opened #1026 "Update footer to credit GeoNames"
Update the footer to credit GeoNames, as required by CCBY, and because it is the right thing to do.

Zipcode latitude and longitude provided by [GeoNames](http://www.geonames.org/) under under a Creative Commons Attribution 3.0 License.

[2015-09-04 18:10] ultrasaurus commented on #743
already true as of 9/4

[2015-09-04 18:10] ErieMeyer opened #1027 "BUG: Weirdie green thumb creeping into search results"
To recreate:

- Chrome, PC
1. Search for associates programs in history in the state of Ohio.
2. Scroll down the page of results
3. View weirdie thumb on the bottom left of page:

![image](https://cloud.githubusercontent.com/assets/1626026/9691154/c06bdf74-530e-11e5-94bf-914c35399f1c.png)

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?degree=a&major=history&state=OH&sort=ad

[2015-09-04 18:10] jjoteal opened #1028 "DISPLAY: "By the Numbers" content not centered on iphone 5"
iphone 5 screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9691147/a954b626-530e-11e5-90c9-528b25245ade.png)

(is leaning to the right)

[2015-09-04 18:11] ErieMeyer commented on #1027
When you click on it, it slides you to the bottom of the page (really just looking at the footer)

[2015-09-04 18:12] ultrasaurus commented on #744
this was already true as of 9/4

[2015-09-04 18:12] jjoteal opened #1029 "DISPLAY: iphone 5 issues on "Get the Best Deal" block"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9691164/d9bbae3c-530e-11e5-9174-3c54ea9ffdd5.png)

Possible to:
- Reduce the space above the buttons?
- On the "Estimate Your Aid" button, can "Your Aid" be on the 2nd line?

[2015-09-04 18:13] jjoteal opened #1030 "DISPLAY: Fix footer background color on iphone 5"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9691198/10abb4a0-530f-11e5-8cc4-b4f62093bc98.png)

Light gray background color should extend to the bottom.

[2015-09-04 18:14] ultrasaurus commented on #740
will change from 2013.student.operating to school.operating

[2015-09-04 18:18] ErieMeyer commented on #934
Looks great on staging!

[2015-09-04 18:18] #934 closed

[2015-09-04 18:18] ErieMeyer commented on #891
:us:

[2015-09-04 18:18] #891 closed

[2015-09-04 18:23] jjoteal opened #1031 "DISPLAY: Change style of x button"
I know this was a bug somewhere, but I can not for the life of me find it.

Change the "x" button style from this (current site screenshot):

![image](https://cloud.githubusercontent.com/assets/12192706/9691401/35091530-5310-11e5-8c02-2cc2730b7aca.png)

To what was designed:

![image](https://cloud.githubusercontent.com/assets/12192706/9691435/70b5344c-5310-11e5-9088-c7c170036ad3.png)

[2015-09-04 18:26] LisaGee commented on #741
Deferring until post 1.0 launch due to the hard-coding.

[2015-09-04 18:30] jjoteal opened #1032 "DISPLAY: Supporting text under School name on individual school page should also be #040404"
![image](https://cloud.githubusercontent.com/assets/12192706/9691526/e99db578-5310-11e5-849d-393f06c6ee83.png)

"Milwaukee, WI
8,190 undergraduate students"

Should be #040404.

Also, can you confirm the text size is ~24px? It looks a little large... if it is ~24px, perhaps we bring down to ~21px?

[2015-09-04 18:31] diego- commented on #946
holly is driving!

[2015-09-04 18:36] jjoteal commented on #433
Going through display issues and am thinking there's a dupe of this somewhere with a more updated design. The new design should look like this:

![image](https://cloud.githubusercontent.com/assets/12192706/9691693/1b1860ac-5312-11e5-9f8f-1453928baa4f.png)

So, in other words, the arrow is next to the "HIGHER THAN AVERAGE" and number associated with the graph stands alone.

Assigning this to @meiqi

[2015-09-04 18:43] ultrasaurus commented on #742
@shawnbot corresponding change needed in consumer field.  The affected names are:
[code]

[2015-09-04 18:43] ultrasaurus commented on #742
to clarify, all of the above used to have ```student.``` prefix, now have ```admissions.```

[2015-09-04 18:44] LisaGee commented on #1031
I made it post-launch b/c I think it’s functionality needs to be researched/addressed.

https://github.com/18F/college-choice/issues/426

The functionality works as it is currently implemented. And what if the user clicked Add State,b ut then whoops, decides she doesn't really want to add another state and wants the empty field to go away?

[2015-09-04 18:44] ultrasaurus commented on #740
-> @shawnbot for consumer tool change

[2015-09-04 18:45] meiqimichelle commented on #1027
This should be resolved with #1008

[2015-09-04 18:47] jjoteal commented on #426
This is JUST referring to the style of the 'x' -- the circle should be smaller, the 'x' should be white, and the 'x' within the circle should be bigger.

[2015-09-04 18:50] jjoteal opened #1033 "DISPLAY: Add label + tooltip to Earnings > % earning more than those with only a high school diploma"
This is the only stat without a label + tooltip, so for consistency's sake, we should add one.

For the time being add "Earning Potential" as the label and add a tooltip that is associated with the glossary.yaml term "earnings-25k"

[2015-09-04 18:53] jjoteal opened #1034 "DISPLAY: Race/Ethnicity bar graphs look and feel"
Current screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9692071/9fdefaec-5314-11e5-9250-91a6f3983555.png)

Should look like:
![image](https://cloud.githubusercontent.com/assets/12192706/9692059/9103cb1a-5314-11e5-9c8a-79c24a98eda0.png)

[2015-09-04 18:53] ultrasaurus commented on #480
thanks @ozzyjohnson !

[2015-09-04 18:54] jjoteal commented on #925
Also marking this is as a DISPLAY issue, as crossing fingers that we can address this for launch (i know it's not a priority though!

[2015-09-04 18:55] meiqimichelle commented on #1022
Totally possible. I just like fixed background images the let the rest scroll. No bueno?

[2015-09-04 18:55] jjoteal commented on #924
Marking as a DISPLAY issue (though i know it is a low priority).

Tooltip text is associated with glossary.yaml term "socio-eco"

[2015-09-04 18:59] jjoteal opened #1035 "DISPLAY: Top of map should top align with top of Name of School"
Desktop screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9692206/82e60fce-5315-11e5-8ab2-ceb5b125c9f9.png)

Top of map should top align with "Marquette"

[2015-09-04 19:02] jjoteal opened #1036 "BUG: Sidebar on Individual School page should be the new "Get the Best Deal" buttons and no longer the CFPB Promo"
Current screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9692250/c849ebe4-5315-11e5-9a44-c303cdf3d347.png)

Should be "Get the Best Deal" title with the 3 green buttons from the homepage:
![image](https://cloud.githubusercontent.com/assets/12192706/9692277/f9a44022-5315-11e5-8dbe-f33234c40308.png)

[2015-09-04 19:06] jjoteal commented on #342
Just marking this as DISPLAY just in case we're able to get to this for launch...

[2015-09-04 19:10] jjoteal commented on #1022
I think this is a personal preference thing. It kinda makes me dizzy, but maybe I'm the only one!

[2015-09-04 19:13] jjoteal opened #1038 "DISPLAY: Pagination presentation on iphone 5"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9692474/52992458-5317-11e5-85a3-bf6bc80b023e.png)

Display improvement requests:
- Possible to have the pagination align left with the sort dropdown?
- Decrease the space between the dropdown and the pagination to be only about ~20px?

[2015-09-04 19:17] jjoteal commented on #1031
Just adding my comment from the other ticket here:
This is JUST referring to the style of the 'x' -- the circle should be smaller, the 'x' should be white, and the 'x' within the circle should be bigger.

[2015-09-04 19:20] jjoteal opened #1039 "DISPLAY: On iphone 5, Name of School on Individual School page is too large"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9692626/5aa3a136-5318-11e5-9715-7bf38585520b.png)

Original design:
![image](https://cloud.githubusercontent.com/assets/12192706/9692646/6eff382a-5318-11e5-929b-e9b7e269c024.png)

Should be ~24px

[2015-09-04 19:22] jjoteal opened #1040 "DISPLAY: On individual school page, size of basic information icons should get smaller on mobile to fit on one line"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9692679/b5c794aa-5318-11e5-99a9-76c5fee7d0c8.png)

Original design:
![image](https://cloud.githubusercontent.com/assets/12192706/9692686/c0232946-5318-11e5-837a-9a0786f389cf.png)

[2015-09-04 19:30] hollyallen commented on #990
The api.data.gov cache doesn't have a programatic way to be cleared, though in a non-regular urgent use case they can clear it for us manually. This argues for short times to live, in case bad data ever gets into the cache.

Adding @GUI so he can watch how this is implemented.

I recommend a time to live of 5 minutes. We don't expect our data to change, but we also don't want a long time to live o

[2015-09-04 19:40] jjoteal opened #1042 "DISPLAY: On mobile, add more space between different sections/metrics of information contained within the expand/collapse units on the Individual School page"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9693009/078a481c-531b-11e5-818b-62402ee92a0b.png)

Add more space between bottom of "Students Paying Down Their Debt" metric and top of "Get Help Paying for College" block as well as "Get Help Paying for College" and  "Typical Total Debt"

We add the same amount of space consistently throughout all the various expand/collapse

[2015-09-04 19:43] jjoteal opened #1043 "DISPLAY: On mobile, "Start My Application" button need more inner padding"
Screenshots:

![image](https://cloud.githubusercontent.com/assets/12192706/9693063/7e396290-531b-11e5-904e-cd2bf5b994a4.png)

In the original design, it wrapped onto 2 lines:
![image](https://cloud.githubusercontent.com/assets/12192706/9693084/9f62405e-531b-11e5-9917-b0a02c6552a4.png)

[2015-09-04 19:46] LisaGee commented on #990
Agreed for launch. But let's say a week after, shouldn't we changed the TTL to actually make better use of the caching opportunity. The data will not change very frequently, probably once a year, but hopefully once a quarter. 5 mins seems a little ambitious. At my last gig, I made things that weren't really expected to change a TTL of 30 days. I'd be more comfortable, once we're settled that the d

[2015-09-04 19:47] jjoteal opened #1045 "DISPLAY: On mobile, on individual school page expand/collapse containers, ensure there is ~10-15px of inner margin so the text doesn't run into the border"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9693128/f99294e8-531b-11e5-8c52-0825bebb16c7.png)

The "mo" should only go as wide as the inner horizontal rule.

Original design:
![image](https://cloud.githubusercontent.com/assets/12192706/9693150/1b65a22c-531c-11e5-88e8-99078bb76810.png)

Changing the "/mo" font weight from bold to regular might help with this a bit, but

[2015-09-04 19:54] jjoteal opened #1046 "DISPLAY: On iphone 5, to much space between "of" and "students" on % earning over $25K metric"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9693272/187a4abc-531d-11e5-8be4-234ddf595219.png)

Reduce the line space between "86% of" and "students"

[2015-09-04 19:56] jjoteal opened #1047 "DISPLAY: On iphone 5, possible to fit full-time/part-time % on one line?"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9693313/64aab516-531d-11e5-9742-7fd6f6b63715.png)

[2015-09-04 19:59] LisaGee commented on #161
I think this is done, so moved to accept. @diego- please pull back, if it's not ready for acceptance.

[2015-09-04 20:02] jjoteal opened #1048 "DIPLAY: Numbers under value snapshot displaying too small on iphone 5"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9693411/3f666588-531e-11e5-817d-5b02963396bf.png)

Original design:
![image](https://cloud.githubusercontent.com/assets/12192706/9693415/516e80b2-531e-11e5-929e-9c6c55781767.png)

Possible to make this text under the bar graphs a little larger?

[2015-09-04 20:09] LisaGee commented on #960
Moved this to accept based on @meiqimichelle comments. Feel free to bump back, if not.

[2015-09-04 20:10] LisaGee commented on #953
We decided too risky for launch.

[2015-09-04 20:11] #1025 closed

[2015-09-04 20:11] LisaGee commented on #952
We decided too risky for launch.

[2015-09-04 20:13] LisaGee commented on #954
I think this was fixed as part of #566 . Can @ultrasaurus @shawnbot confirm?

[2015-09-04 20:32] jjoteal opened #1051 "BUG/ENHANCEMENT: Do not have any search parameters open by default on homepage"
The original design intended for the "Find Schools" button to be visible within the first screen of the mobile interface so the user would not have to scroll to see the button (and actually, could just hit 'Find Schools' right away if he/she wanted to to get instant results). If we have a section like "Programs/Degrees" open by default, we force the user to scroll to get the 'Find Schools' button,

[2015-09-04 20:39] hollyallen commented on #990
@LisaGee I agree that when we have confidence in the lack of bugs/bad data getting into the cache, we should raise it to something like 7-30 days.

[2015-09-04 20:43] ultrasaurus commented on #990
I agree with @hollyallen recommendation for today and maybe for launch --  load testing could reveal challenges which would cause us to make longer, certainly today keeping this short is important :)

[2015-09-04 20:44] LisaGee commented on #990
Awesome. Sounds like we’re on the same page. Thanks!

From: Holly Allen [mailto:notifications@github.com]
Sent: Friday, September 04, 2015 4:39 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] as a server, I would like to have cache control headers, so I don't need to respond to so many requests (#990)

@LisaGee<https://github.com/LisaGee> I agree that when we have confid

[2015-09-04 20:45] jjoteal opened #1052 "DISPLAY: Confirming font sizes in Individual School Card"
Just confirming a few font sizes in the individual school cards, as things generally look a little "off" on my iphone 5. Here's a screenshot from the iphone:

![image](https://cloud.githubusercontent.com/assets/12192706/9694048/366ecd8a-5323-11e5-9d7a-5458384d25a5.png)

And here's the original design:
![image](https://cloud.githubusercontent.com/assets/12192706/9694109/c57993f2-5323-11e5-921c-bdf6

[2015-09-04 20:49] jjoteal opened #1053 "DISPLAY: Text flow for "By the Numbers" facts on iphone 5"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9694238/c1d15ec8-5324-11e5-90ac-9866eea36d5e.png)

Possible to take out the hard line breaks so "pay for" isn't on a line by itself?

[2015-09-04 20:53] meiqimichelle commented on #1026
@jjoteal Thoughts on how to the footer should look with this addition?

[2015-09-04 21:00] jjoteal commented on #1026
Well, without a full redesign of the footer at this point, I would recommend adding that line of text ("Zipcode latitude and longitude provided by GeoNames under under a Creative Commons Attribution 3.0 License.") in 12px #666 type under the Contact Us link.

[2015-09-04 21:01] hollyallen opened #1054 "bug in dev: student body 0% full time"
https://federalist.18f.gov/preview/18F/college-choice/dev/school/?196431-Talmudical-Seminary-Oholei-Torah (new code in dev) vs
https://college-choice.18f.gov/school/?196431-Talmudical-Seminary-Oholei-Torah (old code on prod)

0% full time (on dev)
100% full time (on prod)

[2015-09-04 21:02] jjoteal commented on #1026
Reassigning to @meiqimichelle for implementation.

[2015-09-04 21:12] hollyallen opened #1056 "bug in dev: name search files for at least one school"
Going right to the page works: https://federalist.18f.gov/preview/18F/college-choice/dev/school/?449339-American-Public-University-System

But searching by name yields no results: https://federalist.18f.gov/preview/18F/college-choice/dev/search/?name=american%20public%20university%20system&sort=advantage:desc

[2015-09-04 21:14] ultrasaurus commented on #1054
related issue:  https://github.com/18F/open-data-maker/issues/186

[2015-09-04 21:17] ultrasaurus commented on #1054
FYI: definitely not an issue with the data, staging with new data matches production
![image](https://cloud.githubusercontent.com/assets/41906/9694675/b2779e66-530f-11e5-986b-f4e031206822.png)

note: full_time is derived from part time.  On dev, part-time is null

[2015-09-04 21:18] GUI commented on #990
And just to chime in here, all of this sounds like a good strategy to me too.

The only couple of things I'll add:

- Just to clarify, you shouldn't need to set all 4 of those HTTP cache headers at the same time:
  - `Cache-Control: max-age` and `Expires` effectively do the same thing, they are just two different conventions that achieve the same thing. So you should only need to use which ever on

[2015-09-04 21:19] hollyallen commented on #971
This is still happening on dev today: https://federalist.18f.gov/preview/18F/college-choice/dev/search/?name=Ultrasound%20Medical%20Institute&sort=advantage:desc

[2015-09-04 21:21] ultrasaurus commented on #1054
I found the cause.  This is data.ayml on production and staging:
[code]

on dev
[code]

[2015-09-04 21:25] LisaGee commented on #1054
These look the same to me. No?

From: Sarah Allen [mailto:notifications@github.com]
Sent: Friday, September 04, 2015 5:22 PM
To: 18F/college-choice
Subject: Re: [college-choice] bug in dev: student body 0% full time (#1054)

I found the cause. This is data.ayml on production and staging:

  student.part_time_share:

    source: PPTUG_EF

    type: float

    description: Share of undergraduate, de

[2015-09-04 21:25] ErieMeyer commented on #996
Ok! Looks like by linking "Notices" only, we're covered.

Notices link is here: http://www2.ed.gov/notices/index.html?src=ft

[2015-09-04 21:25] ultrasaurus commented on #1054
looks like we have two fields with same definition:  "Share of undergraduate, degree-/certificate-seeking students who are part-time"

PPTUG_EF was identified to us long ago as the field we should use for consumer tool.  Recent naming caused both fields to have same dev-friendly name, which meant last one won.  I think one should be named something else, just not sure what it should be.

[2015-09-04 21:27] ErieMeyer commented on #1017
We'll make sure the feedback from the beta developers are reflected in the documentation, and are training an ed staffer on responding to the stack exchange Qs.

[2015-09-04 21:27] #1017 closed

[2015-09-04 21:30] ErieMeyer commented on #817
![image](https://cloud.githubusercontent.com/assets/1626026/9694882/a0b74e9a-532a-11e5-9bfa-f56bc28d985c.png)

Has been addressed!

[2015-09-04 21:30] #817 closed

[2015-09-04 21:35] ErieMeyer commented on #733
Owner is Brian Fu, and tag is name of the product without spaces :)

[2015-09-04 21:35] #733 closed

[2015-09-04 21:37] ErieMeyer commented on #747
Michelle -- can you link up the GitHub link on the footer of Dev to github.com/18f/college-choice?

[2015-09-04 21:38] ErieMeyer commented on #314
The solution for this will be blog posts on Ed.gov. Will update as needed.

[2015-09-04 21:41] ErieMeyer commented on #753
:us:

[2015-09-04 21:41] #753 closed

[2015-09-04 21:42] jjoteal opened #1057 "DISPLAY: Adjust Data homepage design"
Because of the major cuts to the homepage content, change the homepage layout from this (screenshot):
![image](https://cloud.githubusercontent.com/assets/12192706/9695066/4d7ff284-532c-11e5-8bac-74ba007b70db.png)

To this:

![image](https://cloud.githubusercontent.com/assets/12192706/9695058/39df2bf0-532c-11e5-98f3-45ad53464817.png)

[2015-09-04 21:43] ErieMeyer commented on #15
Draft is up here in staging: https://federalist.18f.gov/preview/18F/college-choice/staging/data/documentation/

[2015-09-04 21:43] #15 closed

[2015-09-04 21:44] ErieMeyer commented on #928
![image](https://cloud.githubusercontent.com/assets/1626026/9695099/9687f8f0-532c-11e5-8c67-9d5c3af627f5.png)

Done on staging!

[2015-09-04 21:44] #928 closed

[2015-09-04 21:46] ultrasaurus commented on #990
started on this just understanding the Sinatra APIs for various headers... tagging @yozlet who is so fast with other things that he may be able to pick this up:  https://github.com/18F/open-data-maker/tree/dev-cache

[2015-09-04 21:46] ErieMeyer commented on #332
@meiqimichelle -- what's the latest?

[2015-09-04 21:51] LisaGee commented on #971
Another option would be to shorten the text.
@meiqimichelle if it's an easy code fix, that's great, else we'll edit the text down.

[2015-09-04 21:59] ultrasaurus commented on #490
Still open issue to make the checkbox ON by default.

[2015-09-04 22:01] meiqimichelle commented on #680
@shawnbot I'll take a look and see if I can fix this. The goal is to only make the +/- clickable instead of the entire bar.

[2015-09-04 22:01] ErieMeyer commented on #960
Done!

[2015-09-04 22:01] #960 closed

[2015-09-04 22:02] ErieMeyer commented on #929
Looks good to me!

[2015-09-04 22:02] #929 closed

[2015-09-04 22:04] meiqimichelle commented on #1022
Dizzy is bad! Let's freeze it.

[2015-09-04 22:09] meiqimichelle commented on #680
Oh oh oh  -- nevermind, I re-read your solution. Let's see if I can figure out how to do it the way you suggest. I won't spend long, I think this is a straightforward fix for you.

[2015-09-04 22:14] LisaGee commented on #1027
Dupe of #898

[2015-09-04 22:14] #1027 closed

[2015-09-04 22:14] LisaGee commented on #898
per @meiqimichelle : This should be resolved with #1008.
Moving to accept.

[2015-09-04 22:20] meiqimichelle commented on #981
This was resolved in passing with #1058 and changing the drawer to dropdowns (that part to-be-merged).

[2015-09-04 22:20] meiqimichelle commented on #1026
Should be live on `dev`

[2015-09-04 22:21] jjoteal opened #1059 "DISPLAY: Data Documentation Page Visual Improvements"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9695541/de23782a-5330-11e5-82fa-fee6d37750ac.png)

Recommend the following:
- Making "Structure" and Sample API Calls" larger so they stand out as subheaders
- Inserting thin horizontal rules between the sections in the sidebar with at least 20px margin above and below them. Insert those HRs above "Structure" and "Sample API

[2015-09-04 22:23] LisaGee commented on #993
@jjoteal Can you confirm that this one has been resolved?

[2015-09-04 22:24] LisaGee opened #1060 "Contact Us link in Footer should go to an RTI email address, not the Contact Us page on ED"
@ErieMeyer can you dig out the proper email address to use?

[2015-09-04 22:25] LisaGee commented on #1060
then assigne to @meiqimichelle

[2015-09-04 22:26] LisaGee commented on #992
Dupe of #329

[2015-09-04 22:26] #992 closed

[2015-09-04 22:27] LisaGee commented on #986
Dupe of #934

[2015-09-04 22:27] #986 closed

[2015-09-04 22:30] LisaGee commented on #979
I like this idea. Rather than have blank Miles radius. Have a default of 10 miles.

[2015-09-04 22:37] meiqimichelle commented on #971
@shawnbot -- I wasn't able to find a solution to this in css, perhaps this is a JS deal? Or I'm just missing the proper place to override a rouge `z-index` :P

[2015-09-04 22:39] meiqimichelle commented on #332
The helpdesk was helpful :) DAP can see our site, it is just with our low hits we get hidden in many of the dashboards you would normally use to see our stuff. So, we will be contributing to things like `analytics.usa.gov` and other stat roll-ups, no prob. In the meantime, Lisa confirmed that she can get what she needs from the 18F GA account wrt stats for launch.

[2015-09-04 22:42] meiqimichelle commented on #1057
Oooo, nice! :heart_eyes: On it!

[2015-09-04 22:44] LisaGee commented on #932
@meiqimichelle - Will this be addressed by #984?

[2015-09-04 22:48] LisaGee commented on #916
dependent on #984

[2015-09-04 22:53] meiqimichelle commented on #747
Should be live on `dev`

[2015-09-04 22:53] LisaGee commented on #885
Dupe of #951

[2015-09-04 22:53] #885 closed

[2015-09-04 22:53] meiqimichelle commented on #932
@LisaGee Yep, this is part of that change.

[2015-09-04 22:55] meiqimichelle commented on #916
@LisaGee this is separate from #984. Maybe you meant a different issue?

[2015-09-04 23:00] LisaGee commented on #916
or #948 ..... Thanks, @meiqimichelle

[2015-09-04 23:01] hollyallen opened #1062 "dev and staging: new data: one school not in Mid-Atlantic (region 2)"
Using the newest data, there is one fewer school in the Mid-Atlantic region than expected.

Mid Atlantic contains the states: DE, DC, MD, NJ, NY, PA. When you add up the number of schools in those states, it is 602. But when searching in the Mid-Atlantic Region only 601 schools come up.

[2015-09-04 23:01] LisaGee commented on #396
@nacin is handling 1.
@lisagee is in coordination with nces folks on target to launch time redirection.

[2015-09-04 23:03] LisaGee commented on #528
@jjoteal Can you confirm that data not available UI shows up appropriately for every element?
@hollyallen can help if you need a school you can test against.

[2015-09-04 23:05] meiqimichelle commented on #912
To @ErieMeyer for review of #1063 and merge if OK.

[2015-09-04 23:05] LisaGee commented on #571
I bet this is fixed by #536  We should retest.

[2015-09-04 23:07] meiqimichelle commented on #996
@jjoteal Thoughts on where to put this one?

[2015-09-04 23:09] jjoteal commented on #993
Yes, the tooltip text for Test Scores has been updated in glossary.yaml and is:

"At schools that report their test scores, 50 percent had scores within this range. Of the remaining 50 percent, half were above the range and half were below. Not all schools require test scores."

I also checked the school index file and it is referencing the correct tooltip (test-scores).

So once things merge, we

[2015-09-04 23:09] LisaGee commented on #524
Did we implement Share on Data site?

[2015-09-04 23:10] meiqimichelle commented on #524
Not yet. (no 'share' button)

[2015-09-04 23:10] LisaGee commented on #523
was "search" implemented?

[2015-09-04 23:10] jjoteal commented on #996
I would add it next to Contact Us. So you would do something like:

Contact Us   |   Notices

Note the vertical pipe.

[2015-09-04 23:11] meiqimichelle commented on #996
Nice, muy bueno. On it!

[2015-09-04 23:12] ultrasaurus opened #1064 "when we search for smallschools, should be 1..1999"
I think we're getting zero sized schools with this query:
[code]

[2015-09-04 23:12] LisaGee commented on #951
Need to re-review with Ted - see email

[2015-09-04 23:15] LisaGee commented on #1064
When I checked the data, there were no schools where UGDS==0, but you are correct, they should not show up in the tool, if they show up in the data.

[2015-09-04 23:17] LisaGee commented on #1062
@hollyallen The updated data should only affect one field CDR (moving from whole number to %).
Can you confirm that the data hasn't changed?

[2015-09-04 23:18] LisaGee commented on #1062
If the data hasn't changed, but the resulting api query has, please assign the ticket to @ultrasaurus Thanks.

[2015-09-04 23:18] meiqimichelle commented on #996
@ErieMeyer for your review in #1065. Merge if OK.

[2015-09-04 23:21] LisaGee commented on #926
Similar to #924

[2015-09-04 23:22] meiqimichelle commented on #523
I'm not sure. There was some talk around figuring out what analytics api.data.gov could provide but I don't remember who was meant to be looking into that. I have not been doing that. @diego- do you remember where we left that discussion?

[2015-09-04 23:23] meiqimichelle commented on #974
@LisaGee Just to note, we can't actually do this till after soft launch. I'm not sure if you want a different label for that (ie, it will have to come after code freeze and we're at our url).

[2015-09-04 23:26] meiqimichelle commented on #926
More discussion in #1063.

[2015-09-04 23:26] LisaGee commented on #838
@jjoteal Was this by design?

[2015-09-04 23:27] LisaGee commented on #702
@kimballce Do other "mailto:" links work on this same computer?

[2015-09-04 23:27] ultrasaurus commented on #1056
this should be fixed when checkbox is checked by default for online-only schools

[2015-09-04 23:32] LisaGee opened #1066 "Add "Higher than Average" qualifier to earnings chart"
![image](https://cloud.githubusercontent.com/assets/12847090/9696298/99fb2b60-533b-11e5-9454-415d9fb99259.png)

[2015-09-04 23:32] jjoteal commented on #838
This is the value snapshot. The national average #s don't display in the value snapshot because they should be side-by-side (Michelle has fixed this) and there isn't room to stick these numbers on the side. The #s *do* display though when the user takes a deeper dive into the parent expand/collapse section of the individual metrics.

Additionally, this issue was marked for "post-launch" in #444

[2015-09-04 23:34] hollyallen commented on #528
416801 The University of Texas MD Anderson Cancer Center - No data for costs, graduation rate, salary, SAT, ACT
104665 Frank Lloyd Wright School of Architecture - No data for costs, graduation rate, salary, aid, SAT, ACT

If you need any more let me know.

[2015-09-04 23:34] LisaGee commented on #974
@meiqimichelle Let's just make it blocked for the moment.

[2015-09-04 23:35] LisaGee commented on #523
I think this is for the Data Tool, not for the API. I believe this was for the Quick Query that got deferred.
@ErieMeyer to confirm.

[2015-09-04 23:36] hollyallen commented on #1056
Agreed!

[2015-09-04 23:36] #1056 closed

[2015-09-04 23:36] jjoteal commented on #1066
FYI -- It will certainly help once we get the label and tooltip in place here. It will also help when we add the "Higher than Average" qualifier item to the bottom.

Additionally, the circle graphic filled this space nicely, but that was de-prioritized for launch because it would take some development work to implement. Here was the original design for reference:

![image](https://cloud.githubuser

[2015-09-04 23:37] hollyallen commented on #1062
Upon further investigation, this "bug" was also true on 8/31, so it isn't actually a new bug.

[2015-09-04 23:37] jjoteal commented on #1066
@meiqimichelle so per my comment above, for the MVP, I recommend that we add the label and the tooltip as well as the "Higher than Average" indicator and that should fill the space nicely for launch.

We can deal with the circle graphic after launch of course.

[2015-09-04 23:47] hollyallen commented on #956
2 Year School Name | C200_L4_POOLED_SUPP | C150_4_POOLED_SUPP
--- | --- | ---
National Paralegal College | 0.52224  | NULL
New York College of Health Professions | 0.63336 | NULL
Sitting Bull College | 0.13977956989247 | NULL

[2015-09-04 23:49] hollyallen commented on #956
When I look at dev, I still see the C150 numbers for those three test schools, when I should see "data not available" I think.

[2015-09-04 23:50] ultrasaurus commented on #1064
I see 8 schools that have 0 undergraduate students:
https://ccapi-production.18f.gov/v1/schools?2013.student.size=0&fields=id,school.name

[2015-09-04 23:51] LisaGee commented on #838
Closed in favor of #444

[2015-09-04 23:51] #838 closed

[2015-09-04 23:53] LisaGee commented on #1064
@hollyallen can you help me confirm that API results match excel data results?
In the excel file, there are 0 schools where curroper==0 and preddeg==2||3, which are the 2 requirements for a school to be included in the Consumer Tool.

[2015-09-04 23:58] LisaGee commented on #956
@hollyallen unfortunately the 2-yr/4-yr break is not clean as it compares to all data fields. So there are certain instances where @shawnbot has had to implement: check the metric for a 2-year school, if null, check to see if there is data in the metric for a 4-year school. @claremccann confirmed that data should never exist in both places.

[2015-09-05 00:01] LisaGee commented on #932
moving to accept then.

[2015-09-05 00:05] hollyallen commented on #1064
In my spreadsheet there are two schools where curroper==1 and preddeg==2||3 and UGDS==NULL, which I think is being interpreted as zero attendance and is leading them to be removed from search results.

New England College of Optometry and Rosalind Franklin University of Medicine and Science

[2015-09-05 00:08] LisaGee commented on #1064
NULL should be excluded by #887
I think 0 is a different case, no?

[2015-09-05 00:08] LisaGee commented on #1064
and Sarah found 8 schools with 0. not sure of disconnect?

[2015-09-05 00:26] ultrasaurus commented on #916
create a URL like this:  https://ccapi-staging.18f.gov/v1/schools?id=104151,372213

[2015-09-05 00:26] diego- commented on #1013
should we close this issue?

On Fri, Sep 4, 2015 at 7:30 PM, Shawn Allen <notifications@github.com>
wrote:

[2015-09-05 00:37] hollyallen commented on #1064
Hm, well there are 5 schools with 0 undergraduate students when I remove the preddeg==2||3 , which looks like it more closely matches the api call @ultrasaurus made. But that's 5, not 8.

[2015-09-05 00:38] jjoteal commented on #528
Thanks for this @hollyallen.

For situations like:

![image](https://cloud.githubusercontent.com/assets/12192706/9696738/41642e4e-5344-11e5-837e-60a7b15aa3ca.png)

and

![image](https://cloud.githubusercontent.com/assets/12192706/9696739/4c17222e-5344-11e5-9c33-6ffd7c68655a.png)

and

![image](https://cloud.githubusercontent.com/assets/12192706/9696741/586937ce-5344-11e5-83ee-24e51318c108.png)

Un

[2015-09-05 00:40] diego- commented on #1015
new cvs:
https://s3.amazonaws.com/ed-college-choice-public/Most+Recent+Cohorts+(All+Data+Elements).csv (124MB)
https://s3.amazonaws.com/ed-college-choice-public/Most+Recent+Cohorts+(NSLDS+Elements).csv (104.4MB)
https://s3.amazonaws.com/ed-college-choice-public/Most+Recent+Cohorts+(Scorecard+Elements).csv (4.6MB)
https://s3.amazonaws.com/ed-college-choice-public/Most+Recent+Cohorts+(Treasury+Eleme

[2015-09-05 00:46] meiqimichelle commented on #912
Ready for review on `dev`

[2015-09-05 00:51] meiqimichelle commented on #996
Ready for review on `dev`

[2015-09-05 00:56] diego- commented on #1015
Raw data: https://s3.amazonaws.com/ed-college-choice-public/CollegeScorecard_Raw_Data.zip

[2015-09-05 00:57] diego- commented on #1015
Also added /assets/FullDataDocumentation.pdf in PR #1068

per @LisaGee:

This is the full Data Documentation file that should live in 2 places:
1.       Include the .PDF version as part of the Bulk Data Download (when downloading entire data set).

2.       I will also add it to this sentence on the Data Documentation page:

a.       For detailed information on each categories and its individual f

[2015-09-05 00:57] jjoteal commented on #916
@shawnbot this is a tough one, given the timeline we're under. In the interest of not creating a major interruption, perhaps the simplest solution would be to stick the link the blank space right above the school cards in the upper left (on the same row as the page numbers). Perhaps something like this:

![image](https://cloud.githubusercontent.com/assets/12192706/9696857/2a037144-5347-11e5-961e-5

[2015-09-05 01:03] hollyallen commented on #1062
I can't find a region column in the csv, so how is region being determined in the api?

[2015-09-05 01:13] meiqimichelle commented on #984
@shawnbot said in #616:
```Closing the drawer on submit—which happens when either the mobile keyboard's "go" button or an actual submit input is clicked, as opposed to just a change, which happens whenever you focus out of a field after changing it—should probably just close the drawer, right?```

Oh, interesting. The focus out of a field thing. I would *not* expect that, since it's built to be mo

[2015-09-05 01:19] ErieMeyer commented on #1012
Great on staging!

[2015-09-05 01:19] #1012 closed

[2015-09-05 01:19] ErieMeyer commented on #1011
Great on staging!

[2015-09-05 01:19] #1011 closed

[2015-09-05 01:21] ErieMeyer commented on #996
Great job on dev

[2015-09-05 01:47] LisaGee commented on #1062
There is a "region" field in the data dictionary. Perhaps it's just not in the version of the .csv you're looking at?

[2015-09-05 03:30] LisaGee commented on #935
I haven't reproduced this exact error, but when I click around thru pagination after entering the search criteria, I get IE errors:
![image](https://cloud.githubusercontent.com/assets/12847090/9697470/eaf9fb92-535c-11e5-90a2-59d2f91be3b2.png)

[2015-09-05 03:32] LisaGee commented on #935
And if I keep clicking around on the pagination, I get this error:
![image](https://cloud.githubusercontent.com/assets/12847090/9697476/0910f4dc-535d-11e5-8240-52d8655d7d54.png)

[2015-09-05 03:33] LisaGee commented on #935
Testing on Dev: https://federalist.18f.gov/preview/18F/college-choice/dev/search/?major=ethnic_cultural_gender&state=CA&online=1&sort=advantage:desc
But I'm still seeing the filter/search drawer, so not sure if I'm on the latest and greatest version..

[2015-09-05 03:38] LisaGee opened #1069 "Remove hover popups over bar graphs"
Win7, IE11

https://federalist.18f.gov/preview/18F/college-choice/dev/search/?major=ethnic_cultural_gender&state=CA&online=1&sort=advantage:desc

![image](https://cloud.githubusercontent.com/assets/12847090/9697495/af2b24fa-535d-11e5-94e8-174b8d096fe8.png)

In Chrome, on Prod the values appear. https://college-choice.18f.gov/search/?state=IN&sort=advantage:desc
![image](https://cloud.githubusercon

[2015-09-05 04:00] ErieMeyer commented on #912
![image](https://cloud.githubusercontent.com/assets/1626026/9697613/07a81054-5361-11e5-842c-c63d6edb50b4.jpg)

[2015-09-05 04:01] ErieMeyer commented on #912
The "I" appears to have different styling and unable to click on it from iPhone safari (dev)

[2015-09-05 04:03] ErieMeyer commented on #909
Looks great!

[2015-09-05 04:03] #909 closed

[2015-09-05 04:05] ErieMeyer commented on #855
Looks great!

[2015-09-05 04:06] ErieMeyer commented on #855
And on staging!

[2015-09-05 04:06] #855 closed

[2015-09-05 04:09] ErieMeyer commented on #769
Looks great!

[2015-09-05 04:09] #769 closed

[2015-09-05 04:13] ErieMeyer commented on #747
I believe I just tested this on staging and it was working super well!

https://federalist.18f.gov/preview/18F/college-choice/staging/data/

[2015-09-05 04:13] #747 closed

[2015-09-05 04:15] ErieMeyer opened #1070 "BUG: iPhone display weirdness for data tool"
This is on an iPhone in safari
![image](https://cloud.githubusercontent.com/assets/1626026/9697661/94e45e76-5363-11e5-8f46-a0620676fe66.jpg)
![image](https://cloud.githubusercontent.com/assets/1626026/9697662/94f77394-5363-11e5-91a5-293772356f2d.jpg)
![image](https://cloud.githubusercontent.com/assets/1626026/9697663/94f802dc-5363-11e5-8058-8f9c7b2ef524.jpg)

[2015-09-05 04:16] ultrasaurus commented on #1062
note: I believe that region is only present in 2013 csv

[2015-09-05 04:21] ErieMeyer commented on #521
Confirmed on today's standup

[2015-09-05 04:21] #521 closed

[2015-09-05 04:22] ErieMeyer commented on #455
Will test this on my parents super old IE version

[2015-09-05 04:24] ErieMeyer commented on #466
All set!

[2015-09-05 04:24] #466 closed

[2015-09-05 04:24] ErieMeyer commented on #477
Looking good!

[2015-09-05 04:24] #477 closed

[2015-09-05 04:25] ErieMeyer commented on #484
Works great!

[2015-09-05 04:25] #484 closed

[2015-09-05 04:28] ErieMeyer commented on #485
Looks good on dev (though the alien piece is very strange)

[2015-09-05 04:29] ErieMeyer commented on #485
And staging!

[2015-09-05 04:29] #485 closed

[2015-09-05 05:19] meiqimichelle commented on #1070
The data part of the site does not have much responsive code. Desktop users were prioritized for that part of the site so unfortunately this display is as expected for those pages. /cc @LisaGee

[2015-09-05 05:26] meiqimichelle opened #1071 "BUG overflow at small screen sizes"
This was discovered while working on #1008, and has something to do with the value meters (not pagination).

  ![image](https://cloud.githubusercontent.com/assets/113896/9697359/5acc3dcc-533f-11e5-8e89-80804285d26d.png)

[2015-09-05 05:31] meiqimichelle commented on #984
Should be live on `dev` from initial review.

[2015-09-05 12:10] saintsoup52 commented on #1064
I think that is because those two schools are graduate schools.

From: Holly Allen [mailto:notifications@github.com]
Sent: Friday, September 04, 2015 08:05 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Subject: Re: [college-choice] when we search for smallschools, should be 1..1999 (#1064)

In my spreadsheet there are two schools where curroper==1 and preddeg==2||3 and UGDS==NULL,

[2015-09-05 12:59] LisaGee commented on #490
If I select just Bachelors programs as my search criteria, I should get back in the thousands. Instead, there are 348 results. I suspect this is only giving me schools that are online only.
https://federalist.18f.gov/preview/18F/college-choice/dev/search/?degree=b&online=1&sort=advantage:desc

[2015-09-05 13:07] LisaGee opened #1072 "When I have the Filter Results drop-down open and I click off the drop-down on the page background, I would have expected the drop-down to close"
Win7, IE11

Steps to Repro:

1. Go to: https://federalist.18f.gov/preview/18F/college-choice/dev/search/?avg_net_price=0..22000&degree=b&online=1&sort=advantage:desc
2. Click the Filter drop-down
3. Click the background of the page, just to the left of the Sort label, for example.
4. See that the Filter drop-down stays where it is.

Expected Results:
I was expecting it to behave as a normal drop-d

[2015-09-05 13:15] LisaGee commented on #1051
@jjoteal I also think this is a good idea, b/c that's how I think it should be on the Search Results page when you Refine Results.

[2015-09-05 13:29] ultrasaurus commented on #739
This is on dev and staging

[2015-09-05 13:31] ultrasaurus commented on #41
@LisaGee @ErieMeyer Please test.  I believe this is working now.  When I tested last night it was not finished indexing.

[2015-09-05 13:33] ultrasaurus commented on #576
@diego- when you tell them about the new API, they can access /v1/data.json, but that doesn't show the nesting of the fields by year, so not marking this as resolved.

[2015-09-05 13:33] LisaGee commented on #41
I tested and in principle it  looks like its working, but it's hard to judge accurately b/c only online only schools are showing up and i can't figure out a way to test around that.

Sent from my Windows Phone
________________________________
From: Sarah Allen<mailto:notifications@github.com>
Sent: ‎9/‎5/‎2015 9:31 AM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Cc: Gelobter, L

[2015-09-05 13:41] ultrasaurus opened #1073 "should we increase quota for Cloud Foundry?"
We're now at 83%... probably because of the recent logging / monitoring additions.  That feels high.

[2015-09-05 13:41] ultrasaurus commented on #1073
@ozzyjohnson what do you think?

[2015-09-05 13:42] ultrasaurus opened #1074 "marvel and kibana have helath status yellow, should be greeen?"
https://ed-staging-eservice-proxy.18f.gov/_cat/indices?v

[code]

[2015-09-05 13:43] ultrasaurus commented on #1074
@ozzyjohnson not sure what these health status indicators mean, but wondering if they shouild be green

[2015-09-05 13:49] ozzyjohnson commented on #596
I created some basics, but I'll need address to send the alerts. A mail list is preferable, but I can deal with individual emails, twitter accounts (it will DM you), a webhook or a phone number (not ideal, SMS incurs a small fee).

Checking the frontend behind Federalist should be doable too assuming it just needs an auth header set and someone can tell me where it's getting auth list from (18F or

[2015-09-05 13:55] ultrasaurus commented on #480
Got this:  https://github.com/18F/college-choice-data/blob/master/doc/LIVE.md#app-logs

Would be great if @dnesting were to take a look at it too, maybe he could be the one to accept this story?

[2015-09-05 13:59] LisaGee commented on #41
It looks like it's working on Staging, but I'll test again once the other tickets are merged onto Staging.

[2015-09-05 14:03] LisaGee opened #1075 "On Android Note 4, on School Page, swiping to scroll down the page, swiping on the map does nothing."
If I'm trying to scroll down the page, when Map is on the screen, in order for me to scroll further down the page, I cannot swipe on the page. I have to be sure to swipe elsewhere. It interrupts the flow of scrolling down.

[2015-09-05 14:07] LisaGee opened #1076 "Font size in drop downs seem too large, as compared to other elements"
Elements in entry fields, like ZIP code and Special Designation are larger than the labels. I don't think they should be.

![image](https://cloud.githubusercontent.com/assets/12847090/9699571/cc643c48-53b5-11e5-999f-c2b570cb549d.png)

[2015-09-05 14:13] ultrasaurus commented on #1054
this is fixed on staging:  https://federalist.18f.gov/preview/18F/college-choice/staging/school/?196431-Talmudical-Seminary-Oholei-Torah

![image](https://cloud.githubusercontent.com/assets/41906/9699586/94530ac2-539d-11e5-8fd1-f58f831008ec.png)

[2015-09-05 14:19] hollyallen commented on #1062
Okay, I don't currently have that csv, where can I find it? Alternately I can query the API directly and find the school that way.

[2015-09-05 14:21] hollyallen commented on #480
That's good, what about the other logs though?

[2015-09-05 14:23] LisaGee commented on #851
Working on Staging. Accepting.

[2015-09-05 14:23] #851 closed

[2015-09-05 14:24] LisaGee commented on #894
Working on staging. Closing

[2015-09-05 14:24] #894 closed

[2015-09-05 14:28] meiqimichelle commented on #1036
@jjoteal this looks like
![screen shot 2015-09-05 at 7 25 41 am](https://cloud.githubusercontent.com/assets/4827522/9699642/b549e2ee-539f-11e5-96c0-86553e087b00.png)

You can review on `dev`.

[2015-09-05 14:29] ultrasaurus commented on #480
All the other services are part of Cloud Foundry infrastructure... @ozzyjohnson what do you think?

[2015-09-05 14:52] ErieMeyer commented on #1054
Looks great on staging!
![Uploading Screen Shot 2015-09-05 at 10.51.56 AM.png…]()

[2015-09-05 14:52] #1054 closed

[2015-09-05 14:54] ErieMeyer commented on #1036
Looks fantastic!

[2015-09-05 14:54] #1036 closed

[2015-09-05 14:54] ErieMeyer commented on #996
:us:

[2015-09-05 14:54] #996 closed

[2015-09-05 14:58] ozzyjohnson commented on #1073
@ultrasaurus - It does seem high, but the monitoring apps are tiny (16MB) and services are counted different than applications for quota purposes. Thing is, unless we add more spaces / multiple instances of an app the quota will stay steady.

I can certainly raise it, it means a higher daily cost for the project.

[2015-09-05 14:58] ErieMeyer commented on #981
:us:

[2015-09-05 14:58] #981 closed

[2015-09-05 14:59] ErieMeyer commented on #1026
Looks great!

[2015-09-05 14:59] #1026 closed

[2015-09-05 15:01] ErieMeyer commented on #989
Ah -- thank you! Perfect.

[2015-09-05 15:01] #989 closed

[2015-09-05 15:02] jjoteal commented on #984
This is looking good from a visual design perspective!

[2015-09-05 15:03] LisaGee commented on #41
Looking good! Accepting

[2015-09-05 15:03] #41 closed

[2015-09-05 15:07] LisaGee commented on #160
The visual design is done, but there are no files available for download. Removing from accept.

[2015-09-05 15:09] LisaGee commented on #161
Tested link from HP in right column and top nav. Accepting.

[2015-09-05 15:09] #161 closed

[2015-09-05 15:10] jjoteal commented on #856
This looks good from a visual design perspective!

[2015-09-05 15:10] ErieMeyer commented on #948
Tried to construct a URL, but not sure that I did it right:

https://federalist.18f.gov/preview/18F/college-choice/staging/schools?id=166656,229337,197027

Should = United-States-Merchant-Marine-Academy, Texas-Tech-University-Health-Sciences-Center, MCPHS-University

![screen shot 2015-09-05 at 11 10 13 am](https://cloud.githubusercontent.com/assets/1626026/9699874/b4f8f982-53be-11e5-9305-4f10188e

[2015-09-05 15:10] LisaGee commented on #199
This should open in a new window, instead of replacing the current window.

[2015-09-05 15:11] jjoteal commented on #841
This is looking good from a visual design perspective.

[2015-09-05 15:11] ultrasaurus commented on #948
https://ccapi-staging.18f.gov/v1/schools?id=166656,229337,197027

[2015-09-05 15:12] ultrasaurus commented on #948
https://ccapi-staging.18f.gov/v1/schools?id=166656,229337,197027&fields=school.name,id

[2015-09-05 15:12] ErieMeyer commented on #947
Great!

[2015-09-05 15:12] #947 closed

[2015-09-05 15:14] ErieMeyer commented on #984
This is gorgeous

[2015-09-05 15:14] #984 closed

[2015-09-05 15:14] LisaGee commented on #226
There is still a teeny bit of funkiness when the window is super, super narrow. but I'm going to accept it. Only way to solve, I think would be to set a minimum window size.

![image](https://cloud.githubusercontent.com/assets/12847090/9699896/462d7f7c-53bf-11e5-99f7-77561dc6a995.png)

[2015-09-05 15:14] #226 closed

[2015-09-05 15:18] jjoteal commented on #553
Still looks good!

[2015-09-05 15:19] ozzyjohnson commented on #1074
At a glance...

When Marvel creates its indices it's requesting 1/1 shards/replicas. Since the service instances are single nodes that replica will never be assigned as a replica can only be assigned to a node other the primary. The production-school-data is green because it's requesting 1/0.

On a related note, can you bump the index creation request up to create more shards? The default is 5 and

[2015-09-05 15:20] meiqimichelle commented on #1030
@jjoteal I think this was fixed in passing when we added/adjusted the footer yesterday. Check?

[2015-09-05 15:20] ErieMeyer commented on #932
This is so lovely now.

[2015-09-05 15:20] #932 closed

[2015-09-05 15:20] #498 closed

[2015-09-05 15:23] jjoteal commented on #1030
Looks good! Closing!

[2015-09-05 15:23] #1030 closed

[2015-09-05 15:23] ErieMeyer commented on #913
The search correctly refines (I see the schools while the filter is open) but if I click "Find schools" then this error shows:
![screen shot 2015-09-05 at 11 22 56 am](https://cloud.githubusercontent.com/assets/1626026/9699925/8b1ebe9c-53c0-11e5-8558-cacaa6fd6124.png)

[2015-09-05 15:24] #856 closed

[2015-09-05 15:24] hollyallen commented on #948
Looks good to me.

[2015-09-05 15:24] #948 closed

[2015-09-05 15:25] #553 closed

[2015-09-05 15:26] LisaGee commented on #956
This looks good on Staging:
Good test cases:
Brown University- preddeg==3 = C150_4_POOLED_SUPP = 94.83%; C150_4_POOLED_SUPP = NULL
Johnson & Wales University-Online - preddeg==3;  C150_4_POOLED_SUPP = NULL; C150_4_POOLED_SUPP = NULL
Community College of Rhode Island - preddeg==2;C150_4_POOLED_SUPP = NULL;  C200_L4_POOLED_SUPP=15.98%
New England Institute of Technology - preddeg==2;C150_4_POOLED_SU

[2015-09-05 15:26] #956 closed

[2015-09-05 15:27] jjoteal commented on #263
Looks good, closing!

[2015-09-05 15:27] #263 closed

[2015-09-05 15:29] jjoteal commented on #264
Looking good - closing!

[2015-09-05 15:29] #264 closed

[2015-09-05 15:30] jjoteal commented on #290
Looking good!

[2015-09-05 15:30] #290 closed

[2015-09-05 15:30] ErieMeyer commented on #877
Looks good!

[2015-09-05 15:30] #877 closed

[2015-09-05 15:31] jjoteal commented on #315
Looks great! I know we have a DISPLAY item for the centering of these graphics on mobile, but closing this ticket since the infographics are in place.

[2015-09-05 15:31] #315 closed

[2015-09-05 15:32] ErieMeyer commented on #875
Works!

[2015-09-05 15:32] #875 closed

[2015-09-05 15:33] ErieMeyer commented on #841
:us:

[2015-09-05 15:33] #841 closed

[2015-09-05 15:33] LisaGee commented on #250
Assigning to @diego- for Acceptance. If it's all good, please close the ticket.

[2015-09-05 15:34] ErieMeyer commented on #680
Works so much better!

[2015-09-05 15:34] #680 closed

[2015-09-05 15:35] jjoteal commented on #420
Looking good!

[2015-09-05 15:35] #420 closed

[2015-09-05 15:38] ultrasaurus opened #1081 "As a site operator, I would like indexing to be faster so we can respond to bug fixes or new data more nimbly"

[2015-09-05 15:38] ErieMeyer commented on #511
This looks good on most charts, but there's nothing on the value snapshot:

![screen shot 2015-09-05 at 11 35 35 am](https://cloud.githubusercontent.com/assets/1626026/9699995/91d4dda0-53c2-11e5-94de-87788ee0c3b3.png)

@jjoteal is that intended?

[2015-09-05 15:38] jjoteal commented on #340
Looking good on iphone.

[2015-09-05 15:38] #340 closed

[2015-09-05 15:39] ultrasaurus commented on #1074
Maybe we actually need fewer shards...  tracking in separate issue here:  https://github.com/18F/college-choice/issues/1081

[2015-09-05 15:39] ErieMeyer commented on #497
:us:

[2015-09-05 15:39] #497 closed

[2015-09-05 15:40] ultrasaurus commented on #1073
@ozzyjohnson will we get notified if it gets dangerous?

[2015-09-05 15:40] jjoteal commented on #737
Closing this one, as remaining tasks are in #1015

[2015-09-05 15:40] #737 closed

[2015-09-05 15:42] jjoteal commented on #511
@ErieMeyer correct the #s for the national average lines do NOT display on the value snapshot as there is not room for them on mobile.

[2015-09-05 15:42] ErieMeyer commented on #940
Looks awesome

[2015-09-05 15:42] #940 closed

[2015-09-05 15:43] LisaGee commented on #566
Well, I think this is the best we're going to do for launch, as we are using PREDDEG==2||3
Program in Computers (Bach or Assoc) = 9 - PASSED
Bachelors in Computers =  Results: 7
Associates in Computers = Results: 2

[2015-09-05 15:43] #566 closed

[2015-09-05 15:44] ErieMeyer commented on #657
Working beautifully!

[2015-09-05 15:44] #657 closed

[2015-09-05 15:48] LisaGee commented on #571
Providence College is showing 91%, as expected in the data.

[2015-09-05 15:48] #571 closed

[2015-09-05 15:49] shawnbot opened #1082 "IE11: tooltip display issues"
IE11, Windows 8.1 in VirtualBox:

1. Tooltips don't show the down triangle if they pop up above (the default).
1. Tooltips close to the bottom of the page show *both* the down and up triangles:

  ![image](https://cloud.githubusercontent.com/assets/113896/9700033/a9f3b87e-53aa-11e5-93fe-c190743f5c95.png)

1. Oddly, the "under investigation" tooltip displays with the default font. Could be broken m

[2015-09-05 15:49] jjoteal commented on #1076
This would actually need to be assigned to @meiqimichelle to adjust in the code.

[2015-09-05 15:51] LisaGee commented on #900
Filters are working as expected! Accepting.

[2015-09-05 15:51] #900 closed

[2015-09-05 15:52] ErieMeyer opened #1083 "BUG: Can do a decimal in the mile radius which breaks results"
![screen shot 2015-09-05 at 11 47 51 am](https://cloud.githubusercontent.com/assets/1626026/9700045/2727f7a6-53c4-11e5-877f-f4dabdcab78e.png)

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?zip=43212&distance=29.3&online=1&sort=advantage:desc

To recreate:

- Chrome, mac desktop
- Enter 43212 ZIP code
- Enter 30 mile radius
- (Accidentally) change it to any decimal like 29.3

[2015-09-05 15:54] LisaGee opened #1084 "Once I've scrolled down the page, I'd like to be able to easily get to Refine Results still"
@jjoteal What's the best way to do this? Lock the header so can see Filter, Edit Search? And Sort? or put another set of links at the bottom of the page?

[2015-09-05 15:56] LisaGee opened #1085 "Clear All Filters Button"
Now that Filters are separated into their own section, it would be great to have a Clear All or Reset option.

@jjoteal What would be the best way to make it work?

[2015-09-05 15:57] ErieMeyer commented on #1
This is fixed!

Found one new bug that's unrelated though:
https://github.com/18F/college-choice/issues/1083

[2015-09-05 15:57] #1 closed

[2015-09-05 15:58] jjoteal opened #1086 "Recommend changing "Enter a ZIP code" to just "ZIP code""
![image](https://cloud.githubusercontent.com/assets/12192706/9700092/6d2aa1b2-53c5-11e5-9cac-ce8c2096f934.png)

Change to "ZIP Code"

Assigning to @LisaGee for consideration.

[2015-09-05 15:58] LisaGee commented on #744
assigning @diego- to accept

[2015-09-05 15:59] ErieMeyer commented on #898
Looks awesome -- cannot recreate.

[2015-09-05 15:59] #898 closed

[2015-09-05 15:59] LisaGee commented on #743
assigning @diego- to accept

[2015-09-05 16:00] LisaGee commented on #742
assigning @diego- to accept

[2015-09-05 16:00] LisaGee commented on #740
assigning @diego- to accept

[2015-09-05 16:00] ErieMeyer commented on #511
Then this is set!

[2015-09-05 16:00] #511 closed

[2015-09-05 16:02] ErieMeyer commented on #471
Great on staging!

[2015-09-05 16:02] #471 closed

[2015-09-05 16:02] #1013 closed

[2015-09-05 16:02] LisaGee commented on #901
This particular issue doesn't occur anymore due to change in implementation of "filter drawer"

[2015-09-05 16:02] #901 closed

[2015-09-05 16:05] LisaGee commented on #739
assigning @diego- to accept

[2015-09-05 16:05] ErieMeyer commented on #954
Working great!

[2015-09-05 16:05] #954 closed

[2015-09-05 16:07] jjoteal commented on #1085
I recommend something like this:

![image](https://cloud.githubusercontent.com/assets/12192706/9700141/afe814e8-53c6-11e5-98de-05915d8c234f.png)

If you approve, we can assign for implementation.

[2015-09-05 16:11] shawnbot opened #1087 "Display the site version somewhere on the site"
We'd like to display either a version (e.g. `v1.1.0`) or a git commit SHA (e.g. 388f8dbf7d) in the footer so it's clear which version of the site is deployed. This could go in the footer next to the github link, and should either take you to the release notes:

* if it's a tagged version number, the URL format is:

[code]

* or to the tree at that commit, for which the URL looks like:

[code]

We

[2015-09-05 16:21] LisaGee commented on #478
Actually, it does show the name of the school, but not the name of the tool.Format should be: School Name - Site Title

[2015-09-05 16:21] jjoteal commented on #1084
So, just recording my thoughts here before I forget. The original plan was to have a bottom "sticky" tray for the Filter/Search:

![image](https://cloud.githubusercontent.com/assets/12192706/9700190/78f68d64-53c8-11e5-9d73-ab7549ed7849.png)

Now that we've moved to a dropdown approach for the MVP, we may want to consider a top "sticky" nav of some sort.

I'll be working/researching this!

[2015-09-05 16:30] jjoteal opened #1088 "DISPLAY: In footer, for the GeoNames attribution, possible to have the text only on 2 lines and smaller?"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9700234/c2be5d36-53c9-11e5-9ff8-cd510c9768bf.png)

Reduce font size to ~12px or ~11px and put text onto 2 lines (i know it will be 3 on mobile)

[2015-09-05 16:31] ozzyjohnson commented on #1081
The school indexes are being created with 1 shard, not the default of 5 right now, can't go any lower.

[2015-09-05 16:35] jjoteal opened #1089 "DISPLAY: When selection made in search criteria, change selected item text to be #040404"
Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9700264/8882881c-53ca-11e5-8741-700d3c9aa7be.png)

In this case, "New Jersey" should change from #666 to #040404 once it is selected.

[2015-09-05 16:43] meiqimichelle commented on #433
Looks like:

![screen shot 2015-09-05 at 9 17 04 am](https://cloud.githubusercontent.com/assets/4827522/9700294/893c4116-53b2-11e5-8f36-2647b409cdf6.png)

[2015-09-05 16:52] ozzyjohnson commented on #480
Yes, service instances are 'black boxes' in the Cloud Foundry scheme of things. You're not supposed to be able to see anything but an IP/port and user/pass and that's only from within your runtime application.

What I've done to provide access to the Marvel Monitor and Kibana for general application logging is something of a hack.

That said, I can get the backing Elasticsearch service instances s

[2015-09-05 16:55] LisaGee opened #1090 "Access the Data Tool pages should not require a trailing slash"
I should be able to get to the Data Tool HP if I type in: college-choice.18f.gov/data

[2015-09-05 17:13] ultrasaurus commented on #252
moving to accept since testing is blocked and implementation is complete

[2015-09-05 17:18] meiqimichelle commented on #1032
The size was ~24 so I dropped it to ~21px (and changed to color to #040404). Looks like this:

![screen shot 2015-09-05 at 10 16 58 am](https://cloud.githubusercontent.com/assets/4827522/9700426/566021fe-53b7-11e5-9e26-ddef40f3f099.png)

Should the size be dropped further on mobile?
![screen shot 2015-09-05 at 10 17 56 am](https://cloud.githubusercontent.com/assets/4827522/9700429/6a05fc92-53b7-11

[2015-09-05 17:38] meiqimichelle commented on #1052
With some adjustments:

![screen shot 2015-09-05 at 10 37 40 am](https://cloud.githubusercontent.com/assets/4827522/9700505/27ed80d4-53ba-11e5-977c-0cc70b0eff30.png)

[2015-09-05 18:44] ErieMeyer commented on #913
@shawnbot I just test on Prod. If you follow the steps above, once I click Find Schools, it actually attempts to go back to Page 4. It shouldn't. It should be on Page 1, once I've done a new search.

For example, if I refine my search to look for Women-only schools, there aren't 4 pages of results, so I end up on a page with 0 results.

[2015-09-05 18:46] ErieMeyer commented on #913
hmmm. This is actually @LisaGee

[2015-09-05 18:55] meiqimichelle commented on #779
Fixed this in passing on Friday. Moving to accept.

[2015-09-05 19:35] ultrasaurus commented on #7
@yozlet this would be for the college-choice repo -- is this something you know how to do?

[2015-09-05 19:37] ultrasaurus commented on #1062
@hollyallen do you have s3 access? easiest way is to pull it out of ed-college-choice-production or ed-college-choice-staging bucket (both have latest data)

[2015-09-05 19:39] ultrasaurus commented on #1062
If this is a real bug, it will be either a data or API bug.  I will send a note to Clare to see if she has an idea of what this might be.

[2015-09-05 19:48] ultrasaurus commented on #1062
wait, I'm confused, when I search by state I get 662 schools:

https://ccapi-staging.18f.gov/v1/schools/?school.operating=1&2013.student.size__range=0..&school.state=DC,DE,MD,NC,NY,PA&school.degrees_awarded.predominant__range=2..3&fields=id,school.name,school.city,school.state,2013.student.size

region 2 is 601:

https://ccapi-staging.18f.gov/v1/schools/?school.operating=1&2013.student.size__range

[2015-09-05 19:53] meiqimichelle commented on #1048
This size was confirmed via #1052. Check again?

[2015-09-05 20:00] LisaGee commented on #1062
@ultrasaurus your state by state query accidentally replaced NJ with NC.
In the Data, if I add up all those states, I get 602 schools.

[2015-09-05 20:05] ultrasaurus commented on #1062
thanks @LisaGee -- hopefully Clare will be able to check the data.

[2015-09-05 20:06] ultrasaurus opened #1092 "consider setting API limit to page size"
see related:  https://github.com/18F/open-data-maker/issues/191

We need to do something so that it is not so easy to cause the server to crash simply by using the API as documented

[2015-09-05 20:07] ultrasaurus commented on #490
this was an issue with limited data on dev, pls review on production

[2015-09-05 20:09] ultrasaurus commented on #990
@diego- @dnesting can one of you pls review this?

[2015-09-05 20:10] ultrasaurus commented on #596
looks like this is all set -- @ozzyjohnson anything left to do here?

[2015-09-05 20:11] meiqimichelle commented on #1047
This is a little bit non-trivial. I did adjust the spacing and sizing here to make it flow a tiny bit more gracefully, looks like this now:

![screen shot 2015-09-05 at 12 59 59 pm](https://cloud.githubusercontent.com/assets/4827522/9701050/21b4b480-53ce-11e5-9fae-241e2a9d9941.png)

[2015-09-05 20:12] meiqimichelle commented on #1047
Assigning this to you @jjoteal for your thoughts

[2015-09-05 20:54] meiqimichelle commented on #1034
Looks like this:
![screen shot 2015-09-05 at 1 53 54 pm](https://cloud.githubusercontent.com/assets/4827522/9701254/98da3c22-53d5-11e5-9440-06a46f8ffe63.png)

[2015-09-05 20:58] meiqimichelle commented on #1033
I think this is the same as #926, which was fixed with #1063. @jjoteal I am closing this for now. Please reopen if this is something else.

[2015-09-05 21:15] meiqimichelle commented on #1029
I reduced the space above, and also made the text a bit smaller at smaller sizes, plus pumped up the inner padding so the word would be forced onto more than one line earlier. However, I can't tell it to make the words two lines when we want them to be -- there are too many permutations of browser widths to make it work :(

Here's how it looks now on a small size:
![screen shot 2015-09-05 at 2 12

[2015-09-05 21:16] meiqimichelle commented on #1029
(or rather -- you can make the space thing happen with a lot of effort, but it's likely not worth the effort)

[2015-09-05 21:59] meiqimichelle commented on #1031
Looks like:
![screen shot 2015-09-05 at 2 56 43 pm](https://cloud.githubusercontent.com/assets/4827522/9701447/6404043e-53de-11e5-8394-1ca711d3173d.png)

I also fixed some of the style issues on the 'Add State' in passing (tightened up the line height, and I think got rid of that bug where the edge would be cut off on certain browsers). I'm not sure why, when the add state and x are on the same li

[2015-09-05 22:13] meiqimichelle commented on #342
Looks like:

![screen shot 2015-09-05 at 3 11 42 pm](https://cloud.githubusercontent.com/assets/4827522/9701491/7a072868-53e0-11e5-9161-baac8f2ead85.png)

[2015-09-05 22:22] meiqimichelle commented on #426
#1031 covered the style of the X button issue. I updated the title of this issue to reflect the remaining bug.

[2015-09-05 22:36] meiqimichelle commented on #1043
Looks like

![screen shot 2015-09-05 at 3 34 48 pm](https://cloud.githubusercontent.com/assets/4827522/9701552/d206d060-53e3-11e5-8f8a-ace43dc04d75.png)

[2015-09-05 22:38] dnesting commented on #990
All of this looks right to me.  I agree with the 5-minute thing initially.  There isn't much of a benefit to extending this to anything longer than a few hours or a day.  Setting it at one day, you're sparing the server a single request per day of any request made more often than once a day.  That's not going to be a lot of requests you're avoiding, versus the headache of caching any bad data we m

[2015-09-05 22:50] meiqimichelle commented on #1035
Looks like

![screen shot 2015-09-05 at 3 49 51 pm](https://cloud.githubusercontent.com/assets/4827522/9701601/ca08330c-53e5-11e5-89c2-34c3fc06769d.png)

[2015-09-05 23:06] meiqimichelle commented on #635
This is a bit of an odd bird. As far as I can see on my end, it should be there (and I can't reproduce the error). However, we've gotten this report more than once. So, I've made it so that the scroll bar is *always* there. The downside is that even when the list is short, you get an empty scroll bar. Perhaps a fair trade. Looks like:

![screen shot 2015-09-05 at 4 06 14 pm](https://cloud.githubus

[2015-09-05 23:10] meiqimichelle commented on #296
Looks like:

![screen shot 2015-09-05 at 4 09 48 pm](https://cloud.githubusercontent.com/assets/4827522/9701667/9e3f5e78-53e8-11e5-81b9-44ad87ad09e5.png)

[2015-09-05 23:35] ultrasaurus commented on #1083
https://github.com/18F/open-data-maker/issues/192

[2015-09-05 23:41] meiqimichelle commented on #1066
@jjoteal what do you mean by label? I did add the tooltip. Adding the 'higher than average' is a Shawn thing tho :( We should chat to see if there's any way to fill that space easily.

[2015-09-06 00:02] ozzyjohnson commented on #596
Additional checks and escalations perhaps.

- The service is only doing uptime checks right now, it can do synthetics as well.
- Pingdom can do delayed notifications / escalations for different groups on a delay - to only notify after 30 minutes, 2 hours of downtime.
- Dashboarding?

I think we're covered on the intent of this issue though.

[2015-09-06 12:31] jjoteal commented on #1048
Unable to test on dev right now, as page results in error:

![image](https://cloud.githubusercontent.com/assets/12192706/9704340/b42fe098-5471-11e5-9eed-5222a0d1a7a9.png)

[2015-09-06 12:38] jjoteal commented on #1047
Unable to truly test on iphone right now, as dev results in errors, but when I shrink my browser window on desktop to approximate mobile size, it looks great!

![image](https://cloud.githubusercontent.com/assets/12192706/9704374/aad22cbc-5472-11e5-86f9-e8eb6dab3a06.png)

[2015-09-06 12:45] jjoteal commented on #1033
Nope, this is not a dupe. I'm hoping to add a label + tooltip above the metric so that it is in a consistent format with all the other items on the page.

So, looking at this screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9704397/60f585c0-5473-11e5-88b8-447f5cbc5e03.png)

I'd like to add a label "Earning Potential" (wording will change once Lisa gets final text from Ed) w

[2015-09-06 13:00] jjoteal commented on #296
Sorry, could you also put them in bold? Might mean you have to reduce the size as well to fit that then.

[2015-09-06 13:10] #738 closed

[2015-09-06 13:42] jjoteal opened #1095 "DISPLAY: Add new Filter icon"
![image](https://cloud.githubusercontent.com/assets/12192706/9704651/8fbcae08-547b-11e5-8d42-2de997ea4b52.png)

Icon .png and .svg in the PICC folder!

[2015-09-06 13:48] ErieMeyer opened #1096 "Data issue: Columbus State Community College missing"
On staging, looks like Columbus State Community College is missing: http://www.cscc.edu

[2015-09-06 14:40] meiqimichelle commented on #1033
OOoooooooh, go it! Yeah, it will be much more balanced this way!

[2015-09-06 15:00] meiqimichelle commented on #1033
Looks like

![screen shot 2015-09-06 at 7 59 47 am](https://cloud.githubusercontent.com/assets/4827522/9705070/4cf15910-546d-11e5-967b-10b49ef4f058.png)

[2015-09-06 15:07] ultrasaurus commented on #1062
Info from Clare: United States Merchant Marine Academy is region 0 (US Service Schools), but the state is NY.  Apparently this is considered to be correct.

https://ccapi-staging.18f.gov/v1/schools?id=197027

![image](https://cloud.githubusercontent.com/assets/41906/9705103/2eb2b740-546e-11e5-9af9-6c480e9fd9fa.png)

[2015-09-06 15:08] ultrasaurus commented on #1062
moving to "accept" for @LisaGee to confirm

[2015-09-06 15:24] ultrasaurus opened #1099 "eservice proxy bad gateway?"
https://ed-dev-eservice-proxy.18f.gov/

502 Bad Gateway

[2015-09-06 15:24] ultrasaurus commented on #1099
@ozzyjohnson am I using the right URL?

[2015-09-06 15:48] ultrasaurus commented on #920
started documenting this here:  https://github.com/18F/college-choice-data/blob/master/doc/LIVE.md

open issue:  https://github.com/18F/college-choice/issues/1099

I'd like to put URLs for all the environments in the doc before considering this complete

[2015-09-06 15:49] claremccann opened #1100 "Trouble with program/degree search"
Having some difficulty making the program-and-degree search work. Take CIP01 (Agriculture), and bachelor's degree. Two main problems are happening. There should be 237 schools, 243 counting schools with no threshold earnings data, but I only get 186.

The first school (with default sort threshold earnings) should be Stanford; that one doesn't show up at all, and it cuts instead to Cornell. I have

[2015-09-06 16:02] claremccann opened #1101 "Alpha-sort isn't working"
For instance, search all HBCUs (92 results) and sort A to Z. See below.

![image](https://cloud.githubusercontent.com/assets/13874735/9705320/2839b410-548f-11e5-923f-5fb629f61dc0.png)

[2015-09-06 16:10] claremccann opened #1102 "Filter seems to block out schools outside the upper boundaries"
If you search schools in the mid-atlantic and new england and pull the earnings filter up to something like $85k-$100k, it doesn't show schools that have earnings above $100k. Specifically, these four should be there for that example and aren't:

SUNY Downstate Medical Center
MCPHS University
Upstate Medical University
Albany College of Pharmacy and Health Sciences

[2015-09-06 16:27] ozzyjohnson commented on #1099
This is resolved, we ended up with two proxy instances one created before the script, one after. Though, it shouldn't change often the `make-proxy` script will recreate / reset the proxy and always provide the current route with the `-p` switch.

[2015-09-06 16:34] ErieMeyer opened #1103 "Copy issue: Actual cost definition"
Tested with an adult learner this morning who was stumped about Title 4 funding.

Current text [here](https://github.com/18F/college-choice/blob/dev/_data/glossary.yaml):
<strong>Actual Cost</strong> The average annual cost of attendance for *Title IV students* less any state, federal, or institutional grant aid.

Suggested edit to clarify:
<strong>Actual Cost</strong> The average annual cost of a

[2015-09-06 16:43] LisaGee commented on #1062
Not a Bug. API and Consumer Tool accurately reflect data. Closing.

[2015-09-06 16:43] #1062 closed

[2015-09-06 16:44] ultrasaurus commented on #1099
works for me

[2015-09-06 16:44] #1099 closed

[2015-09-06 16:44] LisaGee commented on #990
Based on @dnesting 's review. Accepting.

[2015-09-06 16:44] #990 closed

[2015-09-06 16:46] LisaGee commented on #529
assigning @shawnbot  to accept

[2015-09-06 16:47] LisaGee commented on #604
assigning @diego- to accept

[2015-09-06 16:47] LisaGee commented on #722
Tested "berk", "Berk", "PHOENIX" and "phoe". All good. Accepting.

[2015-09-06 16:47] #722 closed

[2015-09-06 17:34] ultrasaurus commented on #1074
thanks @ozzyjohnson -- I've added your note to the docs: https://github.com/18F/college-choice-data/commit/6f84c7344d4ebbafe6600222677937322bdb3a26

[2015-09-06 17:34] #1074 closed

[2015-09-06 17:37] ultrasaurus commented on #936
updated subject to be explicit.  In addition to elasticsearch index, the data.yaml is also important to snapshot.

I'm working with @ozzyjohnson on this.

[2015-09-06 17:45] ultrasaurus commented on #931
@shawnbot the CF deploy definitely takes the app down -- according to pingdom the API is down for 2-6 mins when we re-deploy.

[2015-09-06 17:46] ultrasaurus commented on #931
Given limited downtime, I wouldn't stop ship for this, but let's keep working on it!

[2015-09-06 17:59] ultrasaurus commented on #598
accounts were created for @LisaGee and @dnesting

[2015-09-06 18:02] ultrasaurus commented on #596
moving to accept
notifications currently go to slack, team has an account to view dashboard (sent via email)

note:  synthetics transactions -> https://github.com/18F/college-choice/issues/938

[2015-09-06 18:05] ultrasaurus commented on #367
@shawnbot is this still broken?  assigning to @yozlet to help if needed

[2015-09-06 18:07] ultrasaurus commented on #450
We've got pingdom set up now, so I will close this issue
See:  https://github.com/18F/college-choice/issues/596

[2015-09-06 18:07] #450 closed

[2015-09-06 18:14] ultrasaurus commented on #931
most of the conversation in this ticket is actually about the API which is https://github.com/18F/college-choice/issues/394

@shawnbot since we're deploying with federalist, I think downtime will be negliable -- I assume it builds elsewhere, then just does a copy.  //cc @dhcole

[2015-09-06 18:20] ultrasaurus commented on #595
We have several issues around front end tests:
- https://github.com/18F/college-choice/issues/994
- https://github.com/18F/college-choice/issues/367
- https://github.com/18F/college-choice/issues/7

Open Data Maker has automated tests

For integrated API tests (Open Data Maker configured for College Choice), we have an open issue:  https://github.com/18F/college-choice/issues/938

[2015-09-06 18:22] ultrasaurus commented on #595
closing as a duplicate.

@diego- if you know of a gap for which there is no open issue, please write up something more specific -- thanks!

[2015-09-06 18:22] ultrasaurus commented on #938
We should consider something that does this on the dev server too

[2015-09-06 18:55] LisaGee opened #1104 "Requested Copy Edits"
![image](https://cloud.githubusercontent.com/assets/12847090/9705995/a3df4dee-54a5-11e5-91db-d8c8c09e5f66.png)

![image](https://cloud.githubusercontent.com/assets/12847090/9706002/0c5775ae-54a6-11e5-9b7e-f7d8a098d353.png)
![image](https://cloud.githubusercontent.com/assets/12847090/9706004/1b931dac-54a6-11e5-827c-a797d3f59abd.png)
![image](https://cloud.githubusercontent.com/assets/12847090/97060

[2015-09-06 19:06] LisaGee opened #1106 "Changes to Special Designation copy in Search drop-down"
![image](https://cloud.githubusercontent.com/assets/12847090/9706077/bf72415e-54a7-11e5-98fc-d6e2c7dcc44e.png)
![image](https://cloud.githubusercontent.com/assets/12847090/9706091/56ce85e4-54a8-11e5-98be-1af4d293bb75.png)

[2015-09-06 19:11] LisaGee opened #1108 "Perform Usability Testing to ensure that students understand that every search field is optional."
Not all fields are required in order to search.

![image](https://cloud.githubusercontent.com/assets/12847090/9706118/76aa24da-54a9-11e5-8c2e-086b060a0199.png)

[2015-09-06 19:17] jjoteal commented on #1033
Not seeing this on dev yet, but your screenshot looks good!

[2015-09-06 19:38] ultrasaurus commented on #920
documented at the top of this doc:  https://github.com/18F/college-choice-data/blob/master/doc/LIVE.md
along with explanation of how to get credentials out of CF env using the make_proxy script

@ozzyjohnson is fixing up: https://ed-ex-eservice-proxy.18f.gov/_plugin/marvel/kibana -- all other links work for me

[2015-09-06 19:40] ultrasaurus commented on #1073
Sounds like this is fine.

[2015-09-06 19:41] ultrasaurus commented on #1073
I will move to accept for @LisaGee to review, since this is something she should be aware of, I think

[2015-09-06 19:51] ultrasaurus commented on #920
all the links work for me now

[2015-09-06 19:52] ultrasaurus commented on #920
I think @yozlet should accept -- read the docs and make sure you can click on the links to marvel at the visibility we now have into Elasticsearch

cc @dnesting

[2015-09-06 19:58] LisaGee opened #1109 "HP Fun Facts Edits"
![image](https://cloud.githubusercontent.com/assets/12847090/9706284/ea648d2a-54ae-11e5-90a2-672ecdbb9d67.png)

![image](https://cloud.githubusercontent.com/assets/12847090/9706328/b1484b20-54af-11e5-8371-5527b4c8900b.png)

[2015-09-06 20:25] LisaGee opened #1111 "Search Page Copy Changes"
1. Size (small to large)	Size (Small to Large)--capitalize	Search resultsSize sort label	Consistency /grammar

2. Under Investigation	Under ED Monitoring	Search Results pageLabel for HCM2 schools	Per Mushtaq’s emails	My concern is that going forward we will want this flag to be used for more than just HCM2. What will it read at that point?

[2015-09-06 20:34] LisaGee opened #1112 "Tooltips are cutoff, abbreviated and just not working as well as they used to."
Mac, Chrome.

![screen shot 2015-09-06 at 4 33 09 pm](https://cloud.githubusercontent.com/assets/12847090/9706499/07182746-54b5-11e5-8f9a-6727fac9b597.png)
![screen shot 2015-09-06 at 4 32 42 pm](https://cloud.githubusercontent.com/assets/12847090/9706500/071a7276-54b5-11e5-9f84-003d92103635.png)
![screen shot 2015-09-06 at 4 32 27 pm](https://cloud.githubusercontent.com/assets/12847090/9706502/07

[2015-09-06 20:51] LisaGee commented on #199
After further conversation, we actually need a few things to change for Launch:
1. Remove the College Response button from the UI altogether. We will settle on the date this should actually appear in conversations with ED and then add it back to the UI after Launch.
2. It should be ready to go, in short order, after Launch.
3. To that end, the wording should change from: "College Response" to "Mor

[2015-09-06 20:52] LisaGee opened #1114 "Remove the College Response button from the School Page"
#199 Will be deferred until after Launch.

[2015-09-06 20:54] ErieMeyer opened #1115 "BUG: Error when looking at technical paper"
![screen shot 2015-09-06 at 4 53 46 pm](https://cloud.githubusercontent.com/assets/1626026/9706603/ef566e44-54b7-11e5-98f1-985f41a5d3c9.png)

4:53, chrome, mac

To recreate:

- Go to data page on staging
- Click "download technical paper"
- See this error

[2015-09-06 22:06] LisaGee opened #1116 "Copy Edits"
1. Change "Type" on HP to Advanced Search" - Want to try to discourage students from selecting items under here.

2. Change "Special designation" to "Specialized mission"

[2015-09-06 22:07] LisaGee opened #1117 "As a Student, I'd like to be able to enter multiple school names, much like I can do for States, so that I can compare the several schools I'm thinking of attending in on easy search."
@jjoteal How should this be laid out?

[2015-09-06 22:20] LisaGee opened #1118 "Simplify the options under Religious Affiliation"
There are too many options under the drop-down.
This is what other sites show:
![screen shot 2015-09-06 at 6 11 53 pm](https://cloud.githubusercontent.com/assets/12847090/9706867/ee195a54-54c2-11e5-932e-7cf6e0804e03.png)

[2015-09-06 22:58] jjoteal commented on #1117
@LisaGee I would lay this out exactly like we do for adding more than 1 state and region -- keep it consistent.  So:

![image](https://cloud.githubusercontent.com/assets/12192706/9707031/2b136a8e-54c9-11e5-8272-0eb522bc8a4d.png)

But with the Name field, obv.

[2015-09-06 23:00] ErieMeyer commented on #1117
Sounds good!

[2015-09-06 23:03] ErieMeyer commented on #1104
Working on a PR for these

[2015-09-06 23:17] ErieMeyer commented on #1104
Lisa finished a PR for this one here: https://github.com/18F/college-choice/pull/1105/files

[2015-09-06 23:22] ErieMeyer opened #1120 "COPY CHANGE: Fafsa call-out"
![screen shot 2015-09-06 at 7 19 36 pm](https://cloud.githubusercontent.com/assets/1626026/9707115/4f5befb2-54cc-11e5-8f50-ecc850eedb66.png)

Switching to "Submit a free application for Federal Student Aid, which includes Pell grants"

[2015-09-06 23:26] ErieMeyer commented on #1120
PR here: https://github.com/18F/college-choice/pull/1121

[2015-09-06 23:48] ultrasaurus commented on #936
scripts complete and tested with all 18 years of data, which takes about 7 hours to index, and about 6 minutes to restore

https://github.com/18F/college-choice-data/pull/4

-> @yozlet to review & accept if it looks good.

[2015-09-06 23:49] ultrasaurus commented on #394
since we've got https://github.com/18F/college-choice/issues/936 working, i'm making this a P2A

[2015-09-07 00:11] LisaGee opened #1122 "When I open the Edit Search drawer, when I'm on the Search page, items are expanded even if no criteria"
I searched with no criteria https://college-choice.18f.gov/search/?online=1&sort=advantage:desc, but when I click on Edit Search, Programs/Degree and Location are both expanded, but Size, Name and Type aren't.

But if I search by name, Name is expanded, which makes sense. https://college-choice.18f.gov/search/?online=1&name=utah&sort=advantage:desc

Expected results:
Only sections that have search

[2015-09-07 00:17] ErieMeyer commented on #1086
Agree! PR here: https://github.com/18F/college-choice/pull/1123

[2015-09-07 00:18] LisaGee opened #1124 "Get The Best Deal on the School page should be styled more like the HP"
Title should be centered and larger than the text on the buttons.
![screen shot 2015-09-06 at 8 17 33 pm](https://cloud.githubusercontent.com/assets/12847090/9707373/5eeb3304-54d4-11e5-8ee2-577b5fd3decc.png)
![screen shot 2015-09-06 at 8 17 11 pm](https://cloud.githubusercontent.com/assets/12847090/9707374/5eef1e9c-54d4-11e5-95b3-077236ce9901.png)

@jjoteal may have already addressed with another

[2015-09-07 00:20] ErieMeyer commented on #1114
If it helps, make it into a PR here: https://github.com/18F/college-choice/pull/1126

[2015-09-07 00:22] ultrasaurus commented on #415
I believe this has been addressed

[2015-09-07 00:24] ultrasaurus opened #1127 "As a developer, I would like API documentation to be correct, so I can write apps"
latest API is at /v1/schools
I know it is not correct grammar but i think the period at the end of the URL was confusing (top right of page)
Also the ‘location’ category needs to be at the root --  we won’t be able to fix that for v1 API

[2015-09-07 00:24] ultrasaurus commented on #1127
I did a PR:  https://github.com/18F/college-choice/pull/1125
just adding an issue for awareness

[2015-09-07 00:26] ErieMeyer commented on #1124
FWIW, in testing today, the tester would do a search and then start clicking on "estimate your aid" instead of the school-specific net price calculator. I wonder if we shouldn't drop the sidebar implementation on the interior pages and instead just keep the homepage version (in case the person doesn't want to dig in).

[2015-09-07 00:26] ultrasaurus commented on #1127
@meiqimichelle can you review that I didn't screw up formatting and merge?

[2015-09-07 00:40] ultrasaurus opened #1128 "URL should be http://api.data.gov/ed/collegescorecard/v1/schools?"
Note: the docs say http://api.data.gov/ed/college-scorecard/  but ithe API is correct NO DASH
This issue is about the fact that /v1/ should be in the URL that developers us

[2015-09-07 00:42] ultrasaurus commented on #1128
@LisaGee care to weigh in?

note: we need to adjust the configuration anyhow, since /v1/ needs to be part of the developer-visible URL  (I changed this in api.data.gov on Saturday morning to make the app work, but I think it should to be modified in the client code AND api.data.gov config in a coordinated fix, ideally by @shawnbot )

[2015-09-07 00:42] LisaGee opened #1129 "Replace Actual Cost with Average Annual Cost or Avg Annual Cost where tight on space"

[2015-09-07 00:46] ultrasaurus opened #1131 "scale up Cloud Foundry instances for production API"

[2015-09-07 00:48] ultrasaurus commented on #1131
@ozzyjohnson I've never actually done this before.  I know this can be in the ```manifest.yml``` but I'd like to have multiple instances on production and just one in the other environments.  What's the best way to accomplish that?

[2015-09-07 00:59] jjoteal commented on #1124
Not sure I'm completely following, but the screenshots above are the correct design implementation on the individual school page. If you want, we could put things in a white container vs. directly on the light gray background, but that would be a change that Michelle would need to make.

[2015-09-07 01:01] ozzyjohnson commented on #1131
@ultrasaurus - The number of instances to launch can be configured in manifest with the [instances](https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html#instances) key or post-launch with `cf scale -i N` where N is the number of instances to create.

    ---
      ...
      instances: 2

[2015-09-07 01:21] LisaGee opened #1132 "Change Default Sort to be labeled "% Earning Above HS Grad""
Other previously considered options:
* Threshold Earnings
* Advantage Factor (in API)
* Increase in Earnings
* Earning More Than HS

[2015-09-07 01:30] ultrasaurus commented on #1131
@ozzyjohnson how do people generally have a different manifest for different environments?  right now it is checked into github, so the same file is deployed on dev, staging and production.

[2015-09-07 01:35] LisaGee opened #1134 "Finalize tooltips"
Ensure consistency.
* Avg annual cost: The average annual net price for federal financial aid recipients, after aid from the school, state, or federal government. For public schools, this is only the average cost for in-state students. (Was: The average annual cost of attendance for Title IV students less any state, federal, or institutional grant aid.)
* Graduation rate: The graduation rate after

[2015-09-07 01:43] #739 closed

[2015-09-07 01:44] #740 closed

[2015-09-07 01:47] #743 closed

[2015-09-07 01:48] #744 closed

[2015-09-07 01:49] #742 closed

[2015-09-07 02:31] yozlet opened #1136 "BUG: CSV output missing fields"
Example query: https://ccapi-dev.18f.gov/v1/schools.json?school.degrees_awarded.predominant=2,3&_fields=id,school.name,2013.student.size

The resulting CSV only includes the `id` and `school.name` columns.

[2015-09-07 02:37] LisaGee opened #1137 "Copy changes to School Page"
* Was: X% of students who attend this school will earn more than those with only a high school diploma. New: X% of students who attend this school earned, on average, more than those with only a high school diploma.
* Was: Admissions header. New: SAT/ACT Scores
* Was: X% of students have a family income less than $40k and receive a grant to pay for college. New: X% of students have a family income

[2015-09-07 02:46] yozlet commented on #1127
I'm also working on some URL syntax docs here: https://github.com/18F/open-data-maker/blob/api-docs/API.md

[2015-09-07 02:48] LisaGee opened #1138 "Change copy on HP"
* 3 links at bottom.
* 5 List of schools

[2015-09-07 03:20] hollyallen commented on #1062
Thank you @ultrasaurus  and @LisaGee  and Claire for tracking this down. For future reference, I do not (yet) have access to S3.

[2015-09-07 03:33] LisaGee opened #1142 "When I search by Location and have the Include Online-Only box checked, I would expect to get results matching my location search criteria, plus all online-only schools"

[2015-09-07 03:48] LisaGee commented on #1060
Email address to use: scorecarddata@rti.org

[2015-09-07 03:52] LisaGee commented on #1100
@hollyallen Can you also take a look and see if you can track down the discrepancy by looking at the data?

[2015-09-07 03:53] LisaGee commented on #1101
@ultrasaurus This sort used to work.

[2015-09-07 03:54] LisaGee commented on #1102
@shawnbot I suspect this got introduced when we changed the caps for the bar charts.

[2015-09-07 04:02] LisaGee commented on #419
We need to figure out the UX for this feature. Is not in 1.0 Launch.

[2015-09-07 04:02] hollyallen commented on #604
Search on Dev looks good. (There is still the mystery of the 2 schools extra in a few categories, same as last week, possibly related to NULL attendance schools.)

Staging has 3580 schools (when no parameters passed in consumer tool), but the proper number is 3587.

[2015-09-07 04:04] LisaGee opened #1143 "Have the By The Numbers Fun Facts link to someplace use where the user can get more info"
* Add a link to information on Pell under by the numbers (studentaid.ed.gov – see also this issue in the table above).
* Add a link to citation on $1 million fun fact. https://cew.georgetown.edu/

[2015-09-07 04:06] LisaGee opened #1144 "Add a tooltip next to the sort menu explaining the default sort option."
We should consider if this makes sense from a UX perspective.

Text: By default, results are sorted using the share of former students earning more than the average high school graduate (about $25,000), measured 6 years after entry. Schools with missing data appear at the end.

[2015-09-07 04:36] hollyallen commented on #1100
Which environment is @claremccann testing in?

[2015-09-07 04:41] LisaGee commented on #1100
Production.

[2015-09-07 04:54] LisaGee commented on #888
Copy edits all made. @meiqimichelle to check for conflicts and merge.

[2015-09-07 04:56] LisaGee commented on #490
@hollyallen Can you confirm?

[2015-09-07 04:57] LisaGee commented on #314
Dupe of #916 ?

[2015-09-07 04:57] LisaGee commented on #916
Dupe of #314 ?

[2015-09-07 05:14] hollyallen commented on #490
Fixed in dev/staging/production as of right now.

[2015-09-07 05:28] hollyallen commented on #1100
Using the merged_current_PP_consumer.csv file I have, there are only 186 schools with PREDDEG=3, CURROPER=1, and PCIP01>0. So that matches.

In my data, PCIP01 = 0 for Stanford.

I do not know how the tool knows that a predominantly two-year school offers a bachelor's degree.

I also don't know what "threshold earnings data" is.

[2015-09-07 05:46] ultrasaurus commented on #1101
yeah, I'll be the different approach to name matching also affects sort, though I had thought that it was set up independently.  Will look

[2015-09-07 06:57] ultrasaurus commented on #604
I may have done something wrong when I indexed 18 years of data and transferred the index snapsot to staging... since I did that, we've automated more parts of the process.  I'm re-indexing tonight and will use the new snapshot / restore process tomorrow

[2015-09-07 12:23] claremccann commented on #1100
Need to look at CIP01BACH, etc to see specific program offerings by degree type. Threshold earnings is gt_25k_p6.

[2015-09-07 13:12] ErieMeyer commented on #916
Yep! Closing in favor of https://github.com/18F/college-choice/issues/314

[2015-09-07 13:12] #916 closed

[2015-09-07 13:25] meiqimichelle commented on #1104
Should be live on dev for review

[2015-09-07 13:52] meiqimichelle commented on #1106
Ready for review on `dev`

[2015-09-07 13:54] LisaGee commented on #1131
@dnesting Can you help track on this too? Thanks

[2015-09-07 13:55] meiqimichelle commented on #1109
Ready for review on `dev`

[2015-09-07 13:57] LisaGee commented on #1128
Documentation can be found at: /data/documentation should be changed to:
http://api.data.gov/ed/collegescorecard/

[2015-09-07 13:57] ErieMeyer opened #1147 "COPY: Changing for-profit etc."
Three copy changes from Ed I'm working on:

![screen shot 2015-09-07 at 9 57 00 am](https://cloud.githubusercontent.com/assets/1626026/9718108/d7dd5bbc-5546-11e5-90d6-9de815e685e0.png)

[2015-09-07 13:58] ErieMeyer commented on #1147
Erie submitting pull request

[2015-09-07 13:59] LisaGee opened #1148 "Update documentation to reflect the appropriate API endpoint"
the docs on the /data/documentation page have a hyphen in them.

[2015-09-07 14:11] ozzyjohnson commented on #1131
@ultrasaurus - I suggest using multiple manifests and choosing between them
with `-f` at push time. The downside here is manging multiple files and the
limitations of Travis CI and possibly others which can only do a plain `cf
push` per branch.

A few projects are using [multi-app](
https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html#multi-apps)
manifests and specifying the app name t

[2015-09-07 14:13] ultrasaurus commented on #604
pls test on staging which has all 18 years of data

[2015-09-07 14:23] ErieMeyer commented on #1109
Looks great on Dev!

[2015-09-07 14:27] ErieMeyer commented on #1106
Looks great on dev!

[2015-09-07 14:29] ErieMeyer commented on #1104
Looks good on dev!

[2015-09-07 14:29] ErieMeyer commented on #1088
Looks good on dev!

[2015-09-07 14:30] meiqimichelle commented on #1111
Ready for review on dev

[2015-09-07 14:33] ErieMeyer commented on #1059
Looks great on dev!

[2015-09-07 14:34] meiqimichelle commented on #1116
Ready for review on dev

[2015-09-07 14:34] ErieMeyer commented on #1057
Looks :heart_eyes: on dev!

[2015-09-07 14:36] ErieMeyer commented on #1053
Looks great on dev!

[2015-09-07 14:37] meiqimichelle commented on #1120
Live on dev

[2015-09-07 14:39] ErieMeyer commented on #1052
Will need @jjoteal to acceptance test -- my font eyes aren't good enough (yet!)

[2015-09-07 14:41] jjoteal commented on #1052
This looks good! Accepting and closing!

[2015-09-07 14:41] #1052 closed

[2015-09-07 14:43] ErieMeyer commented on #1051
Love this. Looks great on dev.

[2015-09-07 14:46] ErieMeyer commented on #1048
Here's what's on dev right now:
![image](https://cloud.githubusercontent.com/assets/1626026/9718901/a2fecab4-554d-11e5-9f55-54e6107989c9.png)

Numbers look bigger but not quite as big as in the design.

[2015-09-07 14:46] meiqimichelle commented on #1129
At a small sliver of screen widths, this change does this:
![screenshot 2015-09-07 07 43 55](https://cloud.githubusercontent.com/assets/4827522/9718911/8c6bb9ec-5534-11e5-886b-3077345443c7.png)

Do you still want the change?

[2015-09-07 14:50] ErieMeyer commented on #1043
Looks great on dev!

[2015-09-07 14:51] ErieMeyer commented on #1042
Space looks great on dev

[2015-09-07 14:53] ErieMeyer commented on #1039
Looks great on dev!

[2015-09-07 14:53] LisaGee opened #1150 "Update test plan to not include schools with NULL size"
1. Search by col should return 1788 schools, but only finds 1780 - https://federalist.18f.gov/preview/18F/college-choice/staging/search/?online=1&name=col&sort=advantage:desc
2. Search for all Small schools should return 2027, but finds 2029 - https://federalist.18f.gov/preview/18F/college-choice/staging/search/?online=1&size=small&sort=advantage:desc
3. Bachelors Only should return 2101, but find

[2015-09-07 14:54] ErieMeyer commented on #1038
Looks good on dev!

[2015-09-07 14:54] meiqimichelle commented on #1129
Ok, I introduced a new setting that pops these cards over to one-up earlier. Now it looks like:
![screenshot 2015-09-07 07 54 36](https://cloud.githubusercontent.com/assets/4827522/9719039/b69d2204-5535-11e5-92de-53aff70a6a00.png)

[2015-09-07 14:56] ErieMeyer commented on #1035
Looks like that on dev!

[2015-09-07 14:57] ErieMeyer commented on #1034
Looks good on dev!

[2015-09-07 14:58] ErieMeyer commented on #1033
Looks good on dev now!

[2015-09-07 14:59] meiqimichelle commented on #1129
Ready for review on dev

[2015-09-07 14:59] ErieMeyer commented on #1032
Looks good on dev!

[2015-09-07 15:00] ErieMeyer commented on #1031
Looks excellent on dev

[2015-09-07 15:01] ErieMeyer commented on #1029
Looks good on dev!

[2015-09-07 15:01] LisaGee opened #1151 "Browser Tab for College Scorecard Data should read as such and have an appropriate favicon"
Currently the tab reads Data and the favicon appears to be a Federalist one.
![image](https://cloud.githubusercontent.com/assets/12847090/9719134/c134fbbe-554f-11e5-90f1-23894f3c5db6.png)

It should read College Scorecard Data and have a US Dept of Ed favicon.

[2015-09-07 15:01] ErieMeyer commented on #1028
Centered now on dev!

[2015-09-07 15:02] ErieMeyer commented on #1024
Looks beautiful!

[2015-09-07 15:02] ErieMeyer commented on #1023
Looks good on dev!

[2015-09-07 15:03] ErieMeyer commented on #1022
Frozen on dev!

[2015-09-07 15:06] ErieMeyer commented on #1021
Looks good on dev!

[2015-09-07 15:07] meiqimichelle commented on #1132
Ready for review on dev

[2015-09-07 15:07] ErieMeyer commented on #993
Looks good on dev!

[2015-09-07 15:08] ErieMeyer commented on #926
Looks good on dev

[2015-09-07 15:08] alex commented on #993
Confirmed that it looks good.

[2015-09-07 15:08] #993 closed

[2015-09-07 15:09] ErieMeyer commented on #925
Looks great on dev!

[2015-09-07 15:09] ErieMeyer commented on #924
Looks good!

[2015-09-07 15:10] ErieMeyer commented on #779
Looks great on staging!

[2015-09-07 15:10] #779 closed

[2015-09-07 15:11] ErieMeyer commented on #635
Hmmm -- on a mac, chrome. Still don't see the lil sidebar scrollie-do unless I'm over it and trying to scroll.

![screen shot 2015-09-07 at 11 10 48 am](https://cloud.githubusercontent.com/assets/1626026/9719324/308b0e80-5551-11e5-9578-5fabb710b8b6.png)

[2015-09-07 15:12] meiqimichelle commented on #1134
Ready for review on dev

[2015-09-07 15:12] ErieMeyer commented on #456
Looks great on dev!

[2015-09-07 15:13] ErieMeyer commented on #433
Looks good on dev!

[2015-09-07 15:14] ErieMeyer commented on #342
Looks great on dev!

[2015-09-07 15:14] ultrasaurus commented on #1150
1. https://college-choice.18f.gov/search/?online=1&name=col&sort=advantage:desc shows 1780 schools

[2015-09-07 15:15] ErieMeyer commented on #296
Looks good on dev!

[2015-09-07 15:15] claremccann opened #1152 "Change drop-down for special mission schools into a checklist"
Right now, the drop-down on the search list for special mission schools (minority-serving institutions and men-/women-only schools) is mutually exclusive--you can only pick one. Would be great to have it as a checklist, so that you can pick multiple options. For instance, Morehouse is a men-only HBCU; and Spelman is a women-only HBCU.

[2015-09-07 15:16] ErieMeyer commented on #84
Looks great on dev

[2015-09-07 15:16] ultrasaurus commented on #1150
2. https://college-choice.18f.gov/search/?online=1&size=small&sort=advantage:desc hsows 2029 schools

[2015-09-07 15:18] ultrasaurus commented on #1150
* 3. https://college-choice.18f.gov/search/?degree=b&online=1&sort=advantage:desc shows 2099 schools

[2015-09-07 15:18] claremccann opened #1153 "Search by Degree Type should use CIP, not Preddeg"
Currently, searching by program/degree without a program uses predominant degree awarded for the degree type. Instead, it should pull from each of the CIP variables by credential level to identify any school that offers that degree. For instance, if you select associate's degrees, it should pull any school that awarded a degree (==1 | ==2) in any of the CIPXXASSOC variables, whether or not the sch

[2015-09-07 15:20] meiqimichelle commented on #1137
Ready for review on dev

[2015-09-07 15:22] alex opened #1154 "Add explanatory hover labels for college descriptors"
![screen shot 2015-09-07 at 11 21 14 am](https://cloud.githubusercontent.com/assets/772/9719474/930d171e-5552-11e5-8486-a26500738e62.png)

While 4 Year and Private are self-explanatory, "city" and "medium" don't have obvious meaning to me. It'd be awesome if hovering over the images/text provided more explanatory information.

:us:

[2015-09-07 15:27] hollyallen commented on #1150
Related: #1064

[2015-09-07 15:32] ultrasaurus commented on #1150
* preddeg 2..3 AND operating=1 AND 2013.student.size=0.. = 3589 results
https://ccapi-production.18f.gov/v1/schools?sort=2013.student.size:asc&school.degrees_awarded.predominant__range=2..3&fields=id,school.name,2013.student.size&school.operating=1

* preddeg 2..3 AND operating=1 AND 2013.student.size=0.. = 3587 results
https://ccapi-production.18f.gov/v1/schools?sort=2013.student.size:asc&school.

[2015-09-07 15:32] meiqimichelle commented on #1138
Ready for review on dev

[2015-09-07 15:35] ultrasaurus commented on #1064
https://ccapi-production.18f.gov/v1/schools?id=167093,145558&fields=id,school.name,2013.student.size
yield no size fields

https://ccapi-production.18f.gov/v1/schools?id=167093,145558  -> shows size as null for every year

[2015-09-07 15:38] ultrasaurus opened #1155 "As a data journalist or developer, I should be able to get a few fields for 1000 schools"
For launch, we plan to set max page size to be relative low (https://github.com/18F/open-data-maker/issues/191) , which is fine for user experience paging, but not so great for analyzing data.

I believe we should be able to modify the code so the data is a simple pass-thru on the server (rather than exploding everything in memory) so that we could make the following query without using significan

[2015-09-07 15:39] ultrasaurus commented on #1092
For post launch, I've written up this issue:  https://github.com/18F/college-choice/issues/1155  to look at allowing for a larger page size for data analysis

[2015-09-07 15:41] jjoteal commented on #1048
These look good! Accepting and closing!

[2015-09-07 15:44] ultrasaurus commented on #1064
Confirming that there are ZERO schools which are preddeg=2..3 & school.operating=1, so this issue should be fixed in the future (with new data in future years), but is not expected to change the results for our current data set

https://ccapi-production.18f.gov/v1/schools?2013.student.size=0&school.degrees_awarded.predominant__range=2..3&school.operating=1&fields=id,school.name,2013.student.size

[2015-09-07 15:46] meiqimichelle commented on #1147
Ready for review on dev

[2015-09-07 15:51] ErieMeyer commented on #1147
Looks good on dev!!

[2015-09-07 15:55] ErieMeyer commented on #1048
We shouldn't close until we can accept on testing

[2015-09-07 15:55] ErieMeyer commented on #1048
Err -- staging.

[2015-09-07 17:17] hollyallen opened #1160 "Front page background image showing up in strange way at certain screen width"
https://college-choice.18f.gov/ on a desktop (not a mobile device).
Starting with the browser window very wide, make the page narrower until it change to a single column mobile-type view. Note that a small bar of the background image (with graduating students) appears below the blue horizontal bar, above the "By The Numbers" text. It should not.

<img width="468" alt="screen shot 2015-09-07 at 10

[2015-09-07 17:22] hollyallen commented on #1100
Based on my findings, I am guessing that the consumer tool is using PREDDEG and not CIP01BACH, though I don't have a csv with CIP01BACH in it.

[2015-09-07 17:25] hollyallen commented on #1150
1. we verified that the 'col' search isn't working the same as Lisa thought because she was including schools with 'col' anywhere (like in the word "Lincoln"), whereas the consumer tool search only searches for words that start with 'col'.

[2015-09-07 17:36] alex opened #1161 ""Add state" button when "Any" selected produces confusing result"
in the "Location" search functionality:

![screen shot 2015-09-07 at 1 34 33 pm](https://cloud.githubusercontent.com/assets/772/9721235/33873b72-5565-11e5-91ea-c7337fbe8eb5.png)

if you press the "ADD STATE" button while "Any" is selected, then a 2nd dropdown momentarily flashes, before disappearing

[2015-09-07 17:59] alex opened #1162 "Searching with no criteria gives confusing results"
If you hit "Find Schools" on the front page without entering any criteria the results you receive are confusing.

Of the top 4 schools:

- _none_ of them have any average annual cost or graduation rate data
- 2 have no data available in all fields, and the "Salary after attending" column shows "No data available", but says "$0"
- All of the schools have very low undergrad populations

[2015-09-07 18:14] alex opened #1163 "Student body Race/Ethnicity statistics are mis-ratio'd"
![screen shot 2015-09-07 at 2 12 46 pm](https://cloud.githubusercontent.com/assets/772/9721560/8c77779c-556a-11e5-8e53-a551ff71e214.png)

The "<%1 Black" is about half the size of the "6% Two or more races", and about 10x larger than the "<1% American Indian / Alaska Native"

[2015-09-07 18:37] BrianLefler commented on #1075
Possibly setting `tap:false` in the leaflet map options will fix this, as per https://github.com/Leaflet/Leaflet/issues/2031

This may complicate #231 but in the short term would improve things.

[2015-09-07 18:52] MarinaMartin opened #1164 "Locale Unknown"
If the locale (e.g. city, rural) of a school isn't known, just hide that icon, don't say "locale unknown" (see: Palau Community College). Technically you have the address so you *do* know the locale...

[2015-09-07 18:53] rongoro opened #1165 "API query with a large bogus id returns a 500"
Querying for:

/v1/schools/?id=2948092834042

results in a 500 server error.  Other bogus ids like -1, 0, 294809283, correctly return 0 results and a bad id with a character like "29480A" returns 400 with a good error message.

[2015-09-07 18:57] MarinaMartin opened #1166 "Location is always expanded in Edit Search"
If I search by Programs/Degrees, the "Edit Search" on the search results page shows that section expanded. Nifty and expected behavior.

However, the Location section is always expanded. On mobile this makes this section hard to scroll through. For example if I searched by "Name" and click "Edit Search" I have to scroll through the Location section to get to "Name" again.
![screen shot 2015-09-07

[2015-09-07 18:59] MarinaMartin opened #1167 "140 schools have $0 salary after attending"
I assume those zeroes should be blanks, for no data.

[2015-09-07 19:00] MarinaMartin opened #1168 "I do not expect the Share button to launch an email"
On a Mac this launches my unconfigured Mail.app which is annoying. If it had a mail icon, or was called EMAIL LINK, this would be clearer. Share implies I get to share on social media.

[2015-09-07 19:01] MarinaMartin opened #1169 "Clicking off the Filter Results modal does not make it go away"
To get it to go away, I have to click Filter Results again.

[2015-09-07 19:03] jjtswan opened #1170 "Information pop up in search filter goes off screen on mobile"
Minor ui glitch

Repros on nexus 5 Android chrome

1. Do any search
2. On the results page, click on filter results
3. Click on the (i) for anything, like graduation rate

Actual result
Part of content shown offscreen.  User has to side swipe to see everything.

[2015-09-07 19:04] rongoro commented on #1165
looks like this might be a common problem with integers.  This path has the same bug:

/v1/schools/?school.degrees_awarded.highest=9999999999999999999999999999999

[2015-09-07 19:06] BrianLefler opened #1171 "[Mobile] Cannot reopen a tooltip with focus"
Repo on mobile:

1. Click on text with a tooltip icon.  See the tooltip appear.
2. Click on the same text again.  See the tooltip disappear.
3. Click on the same text a third time.  Nothing happens.

After the second click, the only way to resurrect a tooltip is to lose focus by clicking on another interactive element, which is not an intuitive action on mobile.  I suspect the code is assuming the

[2015-09-07 19:11] jjtswan opened #1172 "[Mobile] Some search criteria is hidden in edit search"
Minor UI glitch.

Repros on nexus 5, Android chrome

1. Search for something in two states, e.g. CA and mo.

2. Check search results page, toggle edit search.

Expected result;
You can see both states in the current criteria.

Actual results:
You can only see the first state.  The second state in a box that is too small to actually show the text

[2015-09-07 19:13] jjtswan opened #1173 "[Mobile] search results page can be scrolled right to see empty gutter"
Nexus 5, Android chrome

1. Do any search
2. Drag from right to left

Expected: nothing happens
Actual: screen moves and you see a white gutter.

[2015-09-07 19:18] jjtswan opened #1174 "% earning above HS grad, what does it mean?"
All the other search sorting criteria (salary, graduation rate, etc) are either immediately obvious, or you can click on an (i) to get more detailed information about what exactly it is.

There doesn't seem to be anything about % earning above HS grad.

Also, I'm confused -- is there any difference in the resulting ordering for that vs. for salary?

[2015-09-07 19:19] jjtswan commented on #1174
I'd also expect to see a graph or metric labeled as % earnings above HS in each of the search results.  But I only see cost, grad rate and salary.

[2015-09-07 19:26] jjtswan opened #1175 "[Mobile] $0 is shown in detailed cost by family income, when it should be n/a?"
1. Find a school that does not have data for annual average cost, click to see details.

2. Expand costs which should be n/a

3. Look at the detailed average cost by family income table.

Actual: shows cost of $0 for every sample.

Expected: should say n/a?  Or just not shown.

[2015-09-07 19:27] ErieMeyer commented on #1167
Hi! Is this an API issue or consumer tool? Can you share one of the school names?

[2015-09-07 19:32] jjtswan opened #1176 "[Mobile] cannot scroll when finger starts on map image on school details page"
Repros on android chrome.

1. Search for any school
2. Click through to details of any school with a physical location.
3. Scroll down until you see the map image.
4.with your finger starting somewhere in the map, try scrolling up or down.

Actual result: nothing happens
Expected: screen moves up or down, or the map scrolls.

[2015-09-07 19:33] BrianLefler opened #1177 "No cost data => confusing "Calculate Your Personal Net Price" link"
When cost data is missing, clicking this link directs back to the originating page.

Example: Go to https://college-choice.18f.gov/school/?117803 then expand Cost then click "Calculate Your Personal Net Price".

One suggestion would be to send the user to the college's url which does seem to reliably exist in the data.  Another would be to hide the link.

[2015-09-07 19:35] BrianLefler commented on #1176
Dupe of #1075

[2015-09-07 19:43] jjtswan opened #1178 "Lots of entries with no data, expected?"
At the very least it might be nice to have some text that explains why the data is missing.

[2015-09-07 19:52] MarinaMartin commented on #1167
Consumer tool. If you change the search criteria to min AND max $0 salary after attending, you see 140 results.

[2015-09-07 19:54] jjtswan opened #1179 "[Mobile] Graphs with national average sometimes confusing"
On the search results page, there are three graphs that are shown to the user.  Each graph has a colored portion representing the school's metric and a black horizontal line representing the national average.

Multiple problems:

1. While you can see the value of the school's metric for the section, the national metrics value is never shown.

2. If I didn't know better, I might interpret the numer

[2015-09-07 19:54] ErieMeyer commented on #1178
In an ideal world where would that be? We are hoping to direct the convo to stack exchange.

[2015-09-07 19:55] rongoro opened #1180 "API documentation lacks information about the __range suffix"
Searching for ranges of values requires adding a "__range" suffix to the parameter you're searching for along with a properly formatted value (i.e. "1..1000").  The API documentation doesn't seem to discuss this nor does it specify if the __range suffix works everywhere.

[2015-09-07 20:06] jjtswan opened #1181 "[Mobile] when editing search criteria or adding filter, clicking somewhere else should dismiss the drawe"
Minor interaction glitch

Nexus 5

1. Do any search
2. Click on edit search
3. Try tapping somewhere outside

Expected result: drawer closes?
Actual result: no change.

[2015-09-07 20:11] jjtswan opened #1182 "[Mobile] on homepage, "check out these schools" section has no links"
I want to check them out!  But there's nothing to click on.

[2015-09-07 20:18] rongoro opened #1183 "Bad "page" parameter validation can cause API 500 or return results when it shouldn't"
A negative value results in a 500 error:
/v1/schools/?school.name=university+of+california&page=-1

These return page 0 when they probably should be errors:
/v1/schools/?school.name=university+of+california&page=0.5
/v1/schools/?school.name=university+of+california&page=a

And this fails probably due to the same bug as issue #1165:
/v1/schools/?school.name=university+of+california&page=99999999999

[2015-09-07 20:18] jjtswan opened #1184 "[Mobile] college scorecard data page formatting needs tweaking"
Lots of minor issues

1. College scorecard and data documentation links appear as white text on light gray background.  Hard to see.

2. The swipeable data insights quotations overlap the bottom  o o o o o o nav elements.

3. The download links are inconsistently aligned.

[2015-09-07 20:40] rongoro commented on #1183
This looks like it is probably actually a https://github.com/18F/open-data-maker bug.

[2015-09-07 20:41] rongoro commented on #1165
This looks like it is probably actually a https://github.com/18F/open-data-maker bug.

[2015-09-07 21:12] theplaz opened #1185 "No "mit""
Searched for "mit"
Expected Massachusetts Institute of Technology

[2015-09-07 21:21] claremccann opened #1186 "HCM2 tooltip is hidden behind the graphs around it on search results page"
e.g., university of the potomac if you search DC (using Chrome)

![image](https://cloud.githubusercontent.com/assets/13874735/9722952/d4d8dff2-5584-11e5-94ab-b4cc2fc72fc1.png)

[2015-09-07 21:53] claremccann commented on #1100
If you have the Featured Download -- all data elements file, the CIP data are in there.

[2015-09-08 01:17] ErieMeyer commented on #1147
Good on prod!

[2015-09-08 01:17] #1147 closed

[2015-09-08 01:55] ErieMeyer commented on #1137
Looks great on prod!

[2015-09-08 01:55] #1137 closed

[2015-09-08 01:56] ErieMeyer commented on #1132
this is implemented on production

[2015-09-08 01:56] #1132 closed

[2015-09-08 01:57] ErieMeyer commented on #1129
Looks good on prod!

[2015-09-08 01:57] #1129 closed

[2015-09-08 01:57] ErieMeyer commented on #1120
Implemented on prod!

[2015-09-08 01:57] #1120 closed

[2015-09-08 02:16] ErieMeyer commented on #1111
:us:

[2015-09-08 02:16] #1111 closed

[2015-09-08 02:17] ErieMeyer commented on #1106
:us:

[2015-09-08 02:17] #1106 closed

[2015-09-08 02:18] ErieMeyer commented on #1114
:us:

[2015-09-08 02:18] #1114 closed

[2015-09-08 02:18] ErieMeyer commented on #1088
:us:

[2015-09-08 02:18] #1088 closed

[2015-09-08 03:25] ErieMeyer commented on #1116
:us:

[2015-09-08 03:25] #1116 closed

[2015-09-08 03:26] ErieMeyer commented on #1109
:us:

[2015-09-08 03:26] #1109 closed

[2015-09-08 03:26] ErieMeyer commented on #1104
:us:

[2015-09-08 03:26] #1104 closed

[2015-09-08 03:27] ErieMeyer commented on #1059
:us:

[2015-09-08 03:27] #1059 closed

[2015-09-08 03:27] ErieMeyer commented on #1057
:us: :heart_eyes:

[2015-09-08 03:27] #1057 closed

[2015-09-08 03:31] ErieMeyer commented on #1053
:us:

[2015-09-08 03:31] #1053 closed

[2015-09-08 03:31] ErieMeyer commented on #1043
:us:

[2015-09-08 03:31] #1043 closed

[2015-09-08 03:33] ErieMeyer commented on #1039
:us:

[2015-09-08 03:33] #1039 closed

[2015-09-08 03:33] ErieMeyer commented on #1021
:us:

[2015-09-08 03:33] #1021 closed

[2015-09-08 03:34] ErieMeyer commented on #926
:us:

[2015-09-08 03:34] #926 closed

[2015-09-08 03:34] ErieMeyer commented on #925
:us:

[2015-09-08 03:34] #925 closed

[2015-09-08 03:35] ErieMeyer commented on #924
:us:

[2015-09-08 03:35] #924 closed

[2015-09-08 03:35] LisaGee opened #1189 "Data Tool HP Copy Changes"
* Remove quotation marks from Data Insights as they are not direct quotes.
* Replace "From the Technical Paper" to "Learn more in the Technical Paper" under each Data Insight.
* Remove Data Insights: 1, 2, 4, 6, 8, 10
* Add SAM Data Insight
* Update Intro copy
* Update Data Downloads copy
* Update Data Documentation copy

[2015-09-08 03:35] ErieMeyer commented on #1051
:us:

[2015-09-08 03:35] #1051 closed

[2015-09-08 03:36] ErieMeyer commented on #1042
:us:

[2015-09-08 03:36] #1042 closed

[2015-09-08 03:36] ErieMeyer commented on #1038
:us:

[2015-09-08 03:36] #1038 closed

[2015-09-08 03:36] ErieMeyer commented on #1035
:us:

[2015-09-08 03:36] #1035 closed

[2015-09-08 03:38] ErieMeyer commented on #1034
Styles are correct on prod!

[2015-09-08 03:38] #1034 closed

[2015-09-08 03:39] ErieMeyer commented on #1033
:us:

[2015-09-08 03:39] #1033 closed

[2015-09-08 03:40] ErieMeyer commented on #1032
:us:

[2015-09-08 03:40] #1032 closed

[2015-09-08 03:41] ErieMeyer commented on #1031
:us:

[2015-09-08 03:41] #1031 closed

[2015-09-08 03:42] ErieMeyer commented on #1028
:us:

[2015-09-08 03:42] #1028 closed

[2015-09-08 03:43] ErieMeyer commented on #1024
:us:

[2015-09-08 03:43] #1024 closed

[2015-09-08 03:44] ErieMeyer commented on #1029
:us:

[2015-09-08 03:44] #1029 closed

[2015-09-08 03:45] ErieMeyer commented on #1022
Hmmm -- there's a chance I misunderstood this one. Looping in @jjoteal to review.

[2015-09-08 03:45] ErieMeyer commented on #1023
:us:

[2015-09-08 03:45] #1023 closed

[2015-09-08 03:46] ErieMeyer commented on #456
:us:

[2015-09-08 03:46] #456 closed

[2015-09-08 03:47] ErieMeyer commented on #433
:us:

[2015-09-08 03:47] #433 closed

[2015-09-08 03:49] ErieMeyer commented on #425
Not sure that the % styles are consistent. Also, splitting on to two lines. Assigning @jjoteal to review

![screen shot 2015-09-07 at 11 48 07 pm](https://cloud.githubusercontent.com/assets/1626026/9726020/ec4cc776-55ba-11e5-962b-4975e42c8d16.png)

[2015-09-08 03:50] ErieMeyer commented on #342
:heart_eyes: :us:

[2015-09-08 03:50] #342 closed

[2015-09-08 03:50] ErieMeyer commented on #296
:us:

[2015-09-08 03:50] #296 closed

[2015-09-08 03:51] ErieMeyer commented on #84
:us:

[2015-09-08 03:51] #84 closed

[2015-09-08 03:58] ErieMeyer opened #1190 "BUG: HCM2 flag bleeds on single column or mobile"
chrome, mac

To recreate:

- Search for any school in DC region
- click on school "Under Ed Monitoring"
- Make screen thin enough to be one column or on mobile

![screen shot 2015-09-07 at 11 55 44 pm](https://cloud.githubusercontent.com/assets/1626026/9726103/58966c2e-55bc-11e5-88e5-7f30f56fd4d4.png)
![screen shot 2015-09-07 at 11 55 25 pm](https://cloud.githubusercontent.com/assets/1626026/97261

[2015-09-08 04:01] ErieMeyer commented on #1134
Threshold earnings looks different, but I think this is intentional:
![screen shot 2015-09-08 at 12 01 03 am](https://cloud.githubusercontent.com/assets/1626026/9726131/c937e098-55bc-11e5-8716-1c7dcd86101e.png)

Pinging @LisaGee for final review

[2015-09-08 04:05] ErieMeyer commented on #1138
:us:

[2015-09-08 04:05] #1138 closed

[2015-09-08 04:17] LisaGee opened #1192 "Data Dictionary should be available for download as a .csv rather than a .pdf"
Diego has created a cleaned up version of the Data Dictionary, as has Clare.
Should make sure to take the best of both.

[2015-09-08 04:24] LisaGee opened #1193 "Data Tool Documentation Page Copy Edits"
* Capitalize Accuracy and Privacy
* Completion by Race/Ethnicity
* Rework text in Overview section and include links to documentation downloads.
* Slight text modifications to Accuracy and Privacy section.
* Clean up of Category text.

[2015-09-08 04:51] LisaGee opened #1194 "Remove some extraneous copy from API Documentation"
The text below currently exists under the API Documentation on: https://college-choice.18f.gov/data/documentation/

However, I think these 2 sentences are no longer applicable as the friendly names have all been filled in. If that's the case, can we remove them?

All variables are listed in the Data Dictionary. In the event a dev-friendly variable name is not present, the parameter structure takes

[2015-09-08 04:55] LisaGee commented on #1194
Done already on Staging.

[2015-09-08 04:55] #1194 closed

[2015-09-08 06:36] LisaGee commented on #437
Tested. All good.

[2015-09-08 06:36] #437 closed

[2015-09-08 06:49] LisaGee commented on #1186
Dupe of #971

[2015-09-08 06:49] #1186 closed

[2015-09-08 06:50] LisaGee commented on #1181
Dupe of #1072

[2015-09-08 06:50] #1181 closed

[2015-09-08 06:50] LisaGee commented on #1182
Dupe of #314

[2015-09-08 06:50] #1182 closed

[2015-09-08 06:51] LisaGee commented on #1169
Dupe of #1072

[2015-09-08 06:51] #1169 closed

[2015-09-08 06:53] LisaGee commented on #1175
Dupe of #528

[2015-09-08 06:53] #1175 closed

[2015-09-08 06:55] LisaGee commented on #955
this does not seem to be functioning as expected.

[2015-09-08 06:57] LisaGee commented on #1153
Dupe of #955

[2015-09-08 06:57] #1153 closed

[2015-09-08 06:58] LisaGee commented on #1153
From Issue #1100
Having some difficulty making the program-and-degree search work. Take CIP01 (Agriculture), and bachelor's degree. Two main problems are happening. There should be 237 schools, 243 counting schools with no threshold earnings data, but I only get 186.

The first school (with default sort threshold earnings) should be Stanford; that one doesn't show up at all, and it cuts instead to

[2015-09-08 06:59] LisaGee commented on #955
From Issue #1100
Having some difficulty making the program-and-degree search work. Take CIP01 (Agriculture), and bachelor's degree. Two main problems are happening. There should be 237 schools, 243 counting schools with no threshold earnings data, but I only get 186.

The first school (with default sort threshold earnings) should be Stanford; that one doesn't show up at all, and it cuts instead to

[2015-09-08 06:59] LisaGee commented on #1100
Dupe of #955

[2015-09-08 06:59] #1100 closed

[2015-09-08 07:03] LisaGee commented on #490
This does not seem to be working when search for a state. Would think you would get schools in that state + online-only schools.

Alternate option is to remove this checkbox altogether. Always display Online-only schools, except when user selects a Location search (which is I think what the current behavior is???)

[2015-09-08 07:14] LisaGee opened #1196 "On School Page, Under Financial Aid section, need to adjust Students Receiving Federal Aid"
This section is intended to let students see that while an average debt load may be high, there is a chance that only a small percentage of students need to take out loans. So need to combine Average Debt you leave school with to what % of the student body does that apply to.

1. It should read: Students Receiving Federal Loans
2. Stat should use PCTFLOAN or federal_loan_rate, instead of federal_a

[2015-09-08 07:14] LisaGee commented on #1196
@jjoteal We should add this to our testing roster, b/c I do not think this will be obvious to students what their take-away here should be.

[2015-09-08 08:39] saintsoup52 commented on #490
I am confused by this too... probably because it just isn't working.

If this check box stays in the "location" part of the search fields... it should probably be "unchecked" as the default.

If the user does not make any changes to the location search filters... then online schools should appear by default.

Does that makes sense?

[2015-09-08 09:26] saintsoup52 commented on #531
Just following up on this issue... Any chance we can make this happen before launch?

[2015-09-08 09:50] saintsoup52 opened #1197 "Bug - On the API the accreditor for University of Phoenix-Online it says null"
This maybe an issue with the data itself... but only one of UoP's 71 campuses has an accreditor associated with the campus (University of Phoenix-Phoenix Campus, unitid 105516)

I am pretty sure this is because the OPE match that is being used is only looking for an exact 8-digit match with the OPE list. The UoP Phoenix campus is the "main campus" and therefore there is an exact OPE-8 match.

The

[2015-09-08 13:33] jjoteal commented on #1066
Just closing the loop here. What you've done, @meiqimichelle is correct (label + tooltip).

Leaving this open for @shawnbot to add the "above average" indicator though.

[2015-09-08 13:34] jjoteal commented on #1022
This looks good on prod! Accepting and closing!

[2015-09-08 13:34] #1022 closed

[2015-09-08 13:36] jjoteal commented on #310
Me too! Closing!

[2015-09-08 13:36] #310 closed

[2015-09-08 14:01] dnesting opened #1198 "Individual school pages pull data for all years"
When viewing a single school, e.g. https://college-choice.18f.gov/school/?117803-Los-Angeles-County-College-of-Nursing-and-Allied-Health, the call to api.data.gov returns a rather large JSON object (~633k) that appears to include data for all years.  If the information presented on this page only relies on the latest year, can we reduce the scope of the request so that the response is smaller and

[2015-09-08 14:15] #415 closed

[2015-09-08 14:17] #250 closed

[2015-09-08 14:49] diego- commented on #1192
file pending merge in github; assigning to @meiqimichelle to add link in frontend.

[2015-09-08 15:08] meiqimichelle commented on #1190
@ErieMeyer Good catch! Fixed locally, will be sending to dev momentarily. Looks like

![screenshot 2015-09-08 08 07 51](https://cloud.githubusercontent.com/assets/4827522/9738524/c59cfe7a-5600-11e5-9126-6cdd94a74725.png)

[2015-09-08 15:21] meiqimichelle commented on #1151
I can't recreate the favicon issue on my end, although favicons tend to stick around in cache for a long time -- you might be seeing an old one. I am moving this to in progress for the tab words, fixing that now.

[2015-09-08 15:21] #529 closed

[2015-09-08 15:24] meiqimichelle commented on #1189
Ready for review on dev

[2015-09-08 15:28] meiqimichelle commented on #1193
Ready for review on dev

[2015-09-08 15:51] diego- commented on #1015
S3 assets are currently restricted to authenticated users only.

[2015-09-08 15:52] LisaGee commented on #160
Dupe of #1015

[2015-09-08 15:52] #160 closed

[2015-09-08 15:57] yozlet opened #1201 "Improve performance (queries per second) of open data maker application"
- [x] validate that caching works for api.data.gov
- [x] scale elasticsearch vertically, try a 2x large and/or 3x large  (ex space @dnesting )
- [ ] using connection pooling in the elasticsearch client  (indexing space @yoz)
- [ ] create a cluster with replicas

not a priority: shards (since we're readonly after first indexing), depends on https://github.com/18F/open-data-maker/issues/204

[2015-09-08 15:58] LisaGee commented on #1136
CSV Creation feature not in for launch

[2015-09-08 16:01] meiqimichelle commented on #1060
Ready for review on dev

[2015-09-08 16:06] LisaGee commented on #1101
broke with change in name sorting.
implementation was same type as did before when it was working.
Will require that we spot check that data is correct, given that we have to re-index.

If the re-index doesn't work, would roll back. Have a snapshot of the index we are using.
[ull request 194 on open data maker

[2015-09-08 16:09] meiqimichelle commented on #1192
Ready for review on dev

[2015-09-08 16:14] meiqimichelle commented on #1112
This is what I'm seeing on production. @LisaGee , can you look again?
![screenshot 2015-09-08 09 13 25](https://cloud.githubusercontent.com/assets/4827522/9740512/fe00065a-5609-11e5-8580-5b4a6976cf84.png)
![screenshot 2015-09-08 09 13 53](https://cloud.githubusercontent.com/assets/4827522/9740514/ffc6575a-5609-11e5-9d48-86f5e07ee99b.png)

[2015-09-08 16:22] #1150 closed

[2015-09-08 16:22] #946 closed

[2015-09-08 16:27] LisaGee commented on #1090
@shawnbot says this might be an EngineX configuration.

[2015-09-08 16:28] LisaGee commented on #1090
@ozzyjohnson can you take a look?

[2015-09-08 16:36] meiqimichelle commented on #1087
For the short term, I will add a jekyll variable with the app version number and add to the footer throughout the site.

[2015-09-08 16:38] hollyallen opened #1204 "Make the app version in the footer dynamic"
Make the app version in the footer dynamic instead of hard coded.

This ticket makes the work done in #1087 dynamic and not manual.

[2015-09-08 16:45] LisaGee commented on #490
So we'll remove the checkbox.

[2015-09-08 16:57] dnesting commented on #597
Initial load testing results:
- The ccapi-ex instance can sustain about 70-75 responses per minute (1.1 requests per second)
- Increasing the number of requests per second just drives up response time

NewRelic screen shot:
![image](https://cloud.githubusercontent.com/assets/7342162/9741391/4947fbd6-5628-11e5-8b0d-530a182ec89c.png)

This depicts the tail of my testing and shows three clear periods

[2015-09-08 17:03] meiqimichelle commented on #1087
Ready for review on dev. Looks like:

![screenshot 2015-09-08 10 00 29](https://cloud.githubusercontent.com/assets/4827522/9741711/bffb6f14-5610-11e5-8bb3-4e3a2101aae1.png)

Links to releases on college-choice repo.

[2015-09-08 17:31] LisaGee commented on #1196
You are correct. This is correct. I was looking at this in the middle of the night and was going too fast/sleepily. I think we're good. I'm going to come in behind you and make some minor copy changes. thanks!

[2015-09-08 18:14] jjoteal commented on #913
I just tested this on Mac Chrome and Mac Safari and was UNABLE to replicate this. It worked fine for me.

[2015-09-08 18:14] LisaGee commented on #1196
@shawnbot I did a pull request, but don't think I saw your copy change in there yet. so I made it again... Hope that's ok.

[2015-09-08 18:18] ErieMeyer commented on #1190
Looks good on dev!

[2015-09-08 18:19] LisaGee opened #1214 "As a Student, I would like to search for Programs that are available to me as Online Programs"

[2015-09-08 18:21] ErieMeyer commented on #314
@meiqimichelle -- I emailed these along. Will try to add them in!

[2015-09-08 18:47] shawnbot opened #1215 ""No data available" sorts to the top"
When sorting by "% Earning Above", schools with "Data Not Available" sort to the top:

![data not available](https://cloud.githubusercontent.com/assets/12420233/9722960/0b843362-5585-11e5-8d39-e71e27ff4d65.PNG)

This is a re-post of #1187 as an issue, rather than a PR.

[2015-09-08 18:52] LisaGee commented on #455
Test IE9. Yay! on win7 at ED

![image](https://cloud.githubusercontent.com/assets/12847090/9744318/25bf68b4-5639-11e5-98d9-e434e6547d07.png)

[2015-09-08 18:52] #455 closed

[2015-09-08 18:56] LisaGee commented on #1072
Working for me on Dev! Chrome.

[2015-09-08 19:00] LisaGee commented on #1102
@shawnbot Looks great on Dev! confirmed against Excel data as well!

[2015-09-08 19:00] dnesting commented on #597
The first bottleneck was in open-data-maker/config/unicorn.rb, where the number of Unicorn web server workers is established at 1.  Per the documentation at http://unicorn.bogomips.org/Unicorn/Configurator.html, the Unicorn web server only processes a single request at a time per worker.  If you double the number of concurrent requests, they're processed sequentially at double the response time.

[2015-09-08 19:01] meiqimichelle commented on #314
The links existing and displaying (style-wise on our site) is ready to accept so I moved this to accept. @ErieMeyer did you want to keep this open for the task of actually getting blog posts at those locations, or open a new issue?

[2015-09-08 19:02] claremccann opened #1217 "Tooltip text changes"
Lisa suggested I start a thread for text changes that will ideally be made before launch, recognizing some might not make it.

For race/ethnicity tooltip on IHE page -- what's there now isn't quite right (it wasn't through regulation). Ideally we'd add this link but if that's not possible, just exclude the second sentence. TEXT: The specific race/ethnicity categories (including those for foreign s

[2015-09-08 19:03] LisaGee commented on #490
Confirmed on Dev on HP and on Search page under Edit Search drop-down.
And I still get the right number of schools if I look at all schools in Delaware and RI.
Plus I see online schools. Yay!

[2015-09-08 19:25] ErieMeyer commented on #1193
Looks good on dev!

[2015-09-08 19:25] ErieMeyer commented on #1192
Works great!

[2015-09-08 19:28] ErieMeyer commented on #1189
looks good on dev!

[2015-09-08 19:29] LisaGee commented on #1101
@ultrasaurus @hollyallen @yozlet Assume this has been pushed to Dev, b/c it's working in Dev.

[2015-09-08 19:31] LisaGee commented on #955
Assigned back to @shawnbot until is on Dev for testing.

[2015-09-08 19:41] LisaGee commented on #1069
Looks good on Dev.

[2015-09-08 19:45] LisaGee commented on #1112
@meiqimichelle - this is an inconsistent problem. I've seen it in the span of a few minutes to be working properly, then not working. I'm not at present able to repro even on Prod, where a saw this issue 2 days ago.
@hollyallen @jjoteal @ErieMeyer - Can you also try to find steps to repro? it goes back and forth for me. Sometimes it works, sometimes it doesn't. I think I've only seen it on Chrome

[2015-09-08 19:49] diego- commented on #1015
Final queries:

# Sample API Calls

# All Data for Boston College
api.data.gov/collegescorecard/v1/schools?school.name=boston%20college
api.data.gov/collegescorecard/v1/schools?id=164924

# Completion By Race
api.data.gov/collegescorecard/v1/schools?fields=school.name,id,2013.student.demographics.race_ethnicity.white,2013.student.demographics.race_ethnicity.black,2013.student.demographics.race_eth

[2015-09-08 19:52] meiqimichelle commented on #912
This one changed -- we put a sub-head in this section and the info icon went there. Moving to accept to see if the new functionality resolves this problem or not.

[2015-09-08 19:53] meiqimichelle commented on #457
Resolved in passing in another issue. Should be live.

[2015-09-08 19:56] meiqimichelle commented on #1160
Ready for review on dev

[2015-09-08 19:58] meiqimichelle commented on #1151
Tab words ready for review on dev

[2015-09-08 20:12] jjoteal commented on #1112
Working well on Mac Chrome and Safari for me!

[2015-09-08 20:17] hollyallen commented on #1112
Works fine for me on Mac Firefox and Chrome (on prod)

[2015-09-08 20:47] meiqimichelle commented on #1071
I thought this might have something to do with #971 and so worked on this in hopes of solving that. It is unrelated, but is now fixed and ready for review on dev.

[2015-09-08 21:00] hollyallen commented on #1160
Looks great.

[2015-09-08 21:02] hollyallen commented on #1101
Yes, @ultrasaurus pushed it to dev around 9am PT, during our morning meeting. Looks great to me.

[2015-09-08 21:30] meiqimichelle commented on #971
Looks like
![screenshot 2015-09-08 14 26 06](https://cloud.githubusercontent.com/assets/4827522/9747979/31c9f9e2-5636-11e5-8fb7-b56563dabda2.png)

Ready for review on dev

[2015-09-08 21:55] meiqimichelle commented on #1015
@diego- Assigning to you for the final task of getting the latest full data download in the right place. You can move to accept after that for review on dev.

[2015-09-08 21:59] hollyallen commented on #903
md_earn_wne_p10 has some values blank, NULL, and PrivacySuppressed

blank Examples: Shorter College , Yeshiva of Far Rockaway Derech Ayson Rabbinical Seminary

[2015-09-08 22:01] diego- commented on #1015
full download zip updated.

[2015-09-08 22:07] ErieMeyer commented on #1196
This is live on dev!

[2015-09-08 22:08] diego- commented on #903
staging call:
https://ccapi-staging.18f.gov/v1/schools?fields=id,2011.earnings.10_yrs_after_entry.median,school.name,2013.completion.rate_suppressed.lt_four_year&id=192961

results: [
{
id: 192961,
school.name: "Memorial School of Nursing",
2013.completion.rate_suppressed.lt_four_year: 0,
2011.earnings.10_yrs_after_entry.median: 0
}
]

[2015-09-08 22:09] ErieMeyer commented on #1160
This is good for now, Holly! We'll close it once it's on staging.

[2015-09-08 22:10] ErieMeyer commented on #1151
looks good on dev

[2015-09-08 22:13] hollyallen commented on #1201
@yozlet and @dnesting have been testing with multi-process Unicorn.
The next thing they are going to try is switching from Unicorn to Puma and seeing if that helps the number of queries per second the server can handle.

[2015-09-08 22:18] ErieMeyer commented on #1112
I'm seeing weirdness on mac chrome.

Steps to recreate:

- hit "find schools" on homepage
- on search results page, modify search to only be in the "state" of DC
- hit "find schools" on the search filter
- no tooltips on the search landing page work

This is a screenshot of me overing over the center "i" -- it changes color but does not pop up information:
![screen shot 2015-09-08 at 6 16 21 pm](h

[2015-09-08 22:22] ErieMeyer commented on #1101
looks good on dev!

[2015-09-08 22:24] ErieMeyer commented on #1087
looks great on dev!

[2015-09-08 22:27] ErieMeyer commented on #1071
Looks great on Dev!

[2015-09-08 22:31] ErieMeyer commented on #597
Hello! We should check the heap settings because we may be maxing out memory on the node -- that's the most common elasticsearch failure, per a little birdie.

We should also ask @arowla

[2015-09-08 22:38] hollyallen commented on #431
https://github.com/18F/college-choice/pull/1224

[2015-09-08 22:40] awong-dev commented on #597
Random kibitz: Unicorn's scaling is pre-forking workers. http://unicorn.bogomips.org/PHILOSOPHY.html

This in general does bad things with spike loads and can cause thrashing when requests grow larger than number of cores available. (It's also more memory intensive due to process overhead).

Heroku pushes users to use puma. I suggest following their lead as an experiment.

(The graph on http://pum

[2015-09-08 22:42] hollyallen opened #1225 "substring search on name of college is very slow"
Improve performance (query latency) of elasticsearch generally, and especially of substring search.

[2015-09-08 22:45] ErieMeyer commented on #1060
looks good on dev!

[2015-09-08 22:47] ErieMeyer commented on #971
Looks good on dev!

[2015-09-08 22:51] LisaGee commented on #1134
This screenshot is an accurate reflection of what we desire.

[2015-09-08 22:52] ErieMeyer commented on #912
Working on dev!

[2015-09-08 22:57] ErieMeyer commented on #457
Looks great on dev!

[2015-09-08 22:58] ErieMeyer commented on #314
Lets leave this here until the links are working :)

[2015-09-08 23:01] ErieMeyer commented on #1112
I am a notorious clicker, and can't reproduce this when I'm consciously not clicking, so yes!

Looks good on dev!

[2015-09-09 00:00] ErieMeyer commented on #1192
Looks great on staging!

[2015-09-09 00:00] #1192 closed

[2015-09-09 00:11] ErieMeyer commented on #1069
Gone on staging!

[2015-09-09 00:11] #1069 closed

[2015-09-09 00:12] ErieMeyer commented on #971
Looks great on staging!

[2015-09-09 00:12] #971 closed

[2015-09-09 00:12] ErieMeyer commented on #1060
Looks good on staging!

[2015-09-09 00:12] #1060 closed

[2015-09-09 00:14] ErieMeyer commented on #1087
:us:

[2015-09-09 00:14] #1087 closed

[2015-09-09 00:14] ErieMeyer commented on #1196
:us:

[2015-09-09 00:14] #1196 closed

[2015-09-09 00:19] ErieMeyer commented on #1193
:us:

[2015-09-09 00:19] #1193 closed

[2015-09-09 00:23] ErieMeyer commented on #1072
:us:

[2015-09-09 00:23] #1072 closed

[2015-09-09 00:25] ErieMeyer commented on #1112
Can't reproduce any of these errors! :us:

[2015-09-09 00:25] #1112 closed

[2015-09-09 00:29] ErieMeyer commented on #1189
:us:

[2015-09-09 00:29] #1189 closed

[2015-09-09 01:13] yozlet commented on #1092
Now the maximum `per_page` is 100, even when you try to set it higher. Example: https://ccapi-ex.18f.gov/v1/schools?_per_page=2000&school.degrees_awarded.predominant__range=2..3&_debug=1&fields=school.name,id,2013.cost.avg_net_price.overall&sort=2013.cost.avg_net_price.overall:asc

[2015-09-09 01:14] ultrasaurus commented on #1225
https://ccapi-staging.18f.gov/v1/schools?sort=2011.earnings.6_yrs_after_entry.percent_greater_than_25000%3Adesc&school.name=arizona&school.degrees_awarded.predominant__range=2..3&school.operating=1&fields=id%2Cschool.name%2Cschool.city%2Cschool.state%2C2013.student.size%2Cschool.ownership%2Cschool.degrees_awarded.predominant%2C2013.cost.avg_net_price.overall%2C2013.completion.rate_suppressed.overa

[2015-09-09 01:18] ultrasaurus commented on #1092
it appears that search time goes up linaerly with the size of the page, tho this at least caps the slowness.  So will accept / clost.

[2015-09-09 01:18] #1092 closed

[2015-09-09 01:20] yozlet commented on #1225
This is now rather faster than it was, thanks to two suggestions from @GUI:

 1. In order to make the `fields` list only return the fields that were asked for, rather than entire documents, we needed to set `_source: false` in the query. This drastically reduces the amount of JSON coming back to the app, and so parsing is much faster.
 2. We're now using the [oj](https://github.com/ohler55/oj) JSO

[2015-09-09 01:20] ultrasaurus commented on #1225
this is the PR that addressed this issue: https://github.com/18F/open-data-maker/pull/198

There's plenty more optimization to be had, but I think this issue should represent this specific fix

[2015-09-09 01:38] ultrasaurus commented on #1225
accepting since I think both @yozlet and I have verified the fix on staging

[2015-09-09 01:38] #1225 closed

[2015-09-09 01:52] LisaGee commented on #887
Accepting.

[2015-09-09 01:52] #887 closed

[2015-09-09 01:52] LisaGee commented on #888
Done!

[2015-09-09 01:52] #888 closed

[2015-09-09 01:53] LisaGee commented on #490
Accepting on Staging.

[2015-09-09 01:53] #490 closed

[2015-09-09 01:54] LisaGee commented on #1151
And on Staging.

[2015-09-09 01:54] #1151 closed

[2015-09-09 01:54] LisaGee commented on #1134
Got them all in!

[2015-09-09 01:54] #1134 closed

[2015-09-09 01:54] jjoteal commented on #1102
Looks good on staging! Accepting and closing!

[2015-09-09 01:54] #1102 closed

[2015-09-09 01:55] jjoteal commented on #1101
Looks good on staging! Accepting and closing!

[2015-09-09 01:55] #1101 closed

[2015-09-09 01:57] jjoteal commented on #1015
Getting this error:
![image](https://cloud.githubusercontent.com/assets/12192706/9751584/9e06aaae-5674-11e5-9ef3-3273e79aab8c.png)

Assigning to Diego to accept.

[2015-09-09 01:59] ErieMeyer commented on #1160
:us:

[2015-09-09 01:59] #1160 closed

[2015-09-09 02:01] ErieMeyer commented on #1190
:us:

[2015-09-09 02:01] #1190 closed

[2015-09-09 02:02] LisaGee commented on #912
And on staging!

[2015-09-09 02:02] #912 closed

[2015-09-09 02:02] jjoteal commented on #457
Looking good on staging! Accepting and closing!

[2015-09-09 02:02] #457 closed

[2015-09-09 02:02] ErieMeyer commented on #1071
:us:

[2015-09-09 02:02] #1071 closed

[2015-09-09 02:09] LisaGee commented on #955
still filtering by predeg2||3

Need to explore all side effects of behavior.
For example, if a user look for schools with Associates in RI - will get 2
But if look for schools with Associates in RI with Computer Associates (CIP11ASSOC), it would be wierd to see a diff number, like 5. Diff schools appearing, especially new ones would be wierd.

[2015-09-09 05:04] shawnbot opened #1236 "Unchecked checkboxes are invisible in iOS and IE11"
They might just need a fatter border?

![image](https://cloud.githubusercontent.com/assets/113896/9753704/5d56d424-5675-11e5-8b37-0005c8314fb5.jpg)

[2015-09-09 14:18] ozzyjohnson commented on #1090
@shawnbot - There's no nginx involved as deployed, but this can be done in rack as proposed in #1239

[2015-09-09 14:46] diego- commented on #1015
Known issue; this is because the files are not publicly accessible prior to
launch. If you get this message, it is hitting the right link in S3.

On Tue, Sep 8, 2015 at 9:57 PM, Jessica Teal <notifications@github.com>
wrote:

[2015-09-09 15:05] diego- commented on #903
Sorry, consumer app is using different years:

https://ccapi-staging.18f.gov/v1/schools?fields=id,2001.earnings.10_yrs_after_entry.median,2002.earnings.10_yrs_after_entry.median,school.name,2008.completion.rate_suppressed.lt_four_year,2009.completion.rate_suppressed.lt_four_year&id=192961

2001,2002 for md_earn_wne_p10.
2008,2009 for C200_L4_POOLED.

Doesn't look like data is available for these y

[2015-09-09 15:35] LisaGee commented on #903
Can we discuss a bit further?

Pulling completion data from 2008, 2009 seems different from what I expected and I want to make sure I’ve understood it properly.

Rather than get completion data from the 2013 file, it is actually pulled from (2013-4=2009)  for less than 4 year schools and from (2013-6 = 2007) for 4 year schools?

Or am I just completely misunderstanding what you said below???

From

[2015-09-09 15:50] LisaGee commented on #1090
@yozlet @ultrasaurus Can one of you code review the pull request? Merge and Accept. So @ozzyjohnson can deploy to prod asap. Thanks.

[2015-09-09 15:58] hollyallen commented on #1201
Aiming to stop optimizing this by end of day today, then code freeze, testing, and  and production deployment.

[2015-09-09 15:58] LisaGee commented on #1148
This is done.

[2015-09-09 15:58] #1148 closed

[2015-09-09 16:02] LisaGee commented on #1016
@jjoteal Try Greg Darnieder at ED for thoughts.

[2015-09-09 16:06] LisaGee commented on #729
Lisa found it and sent it to @shawnbot

[2015-09-09 16:08] LisaGee commented on #496
@dnesting Can you point @meiqimichelle to where the file is and she can deploy it into our repo. This should be done today if at all possible. Thanks.

[2015-09-09 16:14] LisaGee commented on #431
seems reasonable but only as part of launch plan.

[2015-09-09 16:21] LisaGee commented on #174
Should continue to do post-launch.

[2015-09-09 16:23] jjoteal commented on #345
Our bar charts have been designed with the thirds data, so it is clear when a particular metric is below, about, or above average. In addition to the bar charts there are also below, about, and above average indicators below the bar charts on the individual school page.

[2015-09-09 17:50] LisaGee opened #1243 "One word change on a Data Tool Insight"
5th Data Insight.

Directly after the highlight, "one leading effort", we have to remove the word leading.

[2015-09-09 17:53] LisaGee commented on #1243
@meiqimichelle Pull request ready for review.

[2015-09-09 18:03] meiqimichelle commented on #1243
Ready for review on dev

[2015-09-09 18:06] LisaGee commented on #1243
Looks awesome on dev! thanks! And OGC thanks you too!

[2015-09-09 18:08] LisaGee opened #1245 "When Data Tool, HP launches, it should show a Loading... screen, rather than a jumbled page."

[2015-09-09 18:25] meiqimichelle commented on #1245
Note to for the future: this is a flash of content from all the carousel cells. Likely something needs to be adjusted in how that part of the site loads/hides.

[2015-09-09 19:04] claremccann commented on #1217
On HCM2 tooltip, add the number "2" after "Heightened Cash Monitoring" in the explanation.

[2015-09-09 19:06] LisaGee commented on #1217
@claremccann - Sorry, Clare, can you actually start a new ticket for these now? We did get the first one in, so we're going to close this ticket.

[2015-09-09 19:07] LisaGee commented on #1217
@jjoteal Can you confirm and close? Thanks.

[2015-09-09 19:12] claremccann opened #1246 "Bug -- HCM2 tooltip appears with a different font"
https://college-choice.18f.gov/school/?384412-University-of-the-Potomac-Washington-DC-Campus
Windows, Chrome

Not a problem on search results page, just on IHE page.

![image](https://cloud.githubusercontent.com/assets/13874735/9771471/713ace0c-5704-11e5-8a99-373c5c01cbc7.png)

[2015-09-09 19:13] claremccann opened #1247 "Tooltip text change"
On HCM2 tooltip, add the number "2" after "Heightened Cash Monitoring" in the explanation.

[2015-09-09 19:23] dnesting commented on #496
The file is generated by the make_sitemap.rb script in pull request #3.  What we can do is finalize that PR as it stands (defer the copy-to-s3 logic until a later PR) just so that we have something checked in.  I'll do that now.  We also need a robots.txt change to point search engines to the sitemap.xml URL that we end up using.  Those last two pieces (what bucket/name to use for the file, and wh

[2015-09-09 19:45] meiqimichelle commented on #496
@dnesting Is there impact in where we put the sitemap.xml, or we just need a place to host a file? If we just need a place, can we use the s3 bucket that we're using to host the full data dump and small sample csv's ? If yes, @diego- knows how to put files there (where it is, etc).

I can change the robots.txt after we have the url. Do you know the proper robot.txt syntax or should I investigate?

[2015-09-09 19:59] LisaGee commented on #496
Generally, I’ve always place the robots.txt file in the root directory of the website, which I’m still of the belief will also be in an S3 bucket. Can we do that?

[2015-09-09 20:03] meiqimichelle commented on #496
@LisaGee I'm not worried about the robotx.txt placement -- it will go with the rest of the site, and it is already in root. I'm confused about the xml file then....I was thinking we wanted it somewhere else because it is big and maybe we wouldn't want to push it with the rest of the app every time we update the site? I suppose that doesn't mean we can't place it in the same s3 bucket. In any case,

[2015-09-09 20:10] ultrasaurus commented on #431
I can draft some text about configuring open-data-maker for the API.

[2015-09-09 20:11] LisaGee commented on #496
Got it. I think I've typically put the sitemap.xml in root too, but I defer to anyone else who has a strong POV.

[2015-09-09 20:19] dnesting commented on #597
Now load testing Puma instead of Unicorn.  To catch up, code changes were made to improve performance of Elastic Search queries.  This dropped the median search query from like 3s to around 150ms, which by itself (back at 1 worker) allowed the load test to see in excess of 500qpm overnight.

After switching to Puma, this doubled to about 1100qpm and with some tuning, I've settled on this configura

[2015-09-09 20:23] arowla commented on #597
:clap: If you need further help scaling Elasticsearch, the group formerly known as USASearch at GSA has experience there, and I can dig up a contact if need be.

[2015-09-09 20:24] dnesting commented on #1201
Load testing results are in issue #597 and look much better.  I'm about to create a PR with my changes.

[2015-09-09 20:24] meiqimichelle commented on #496
Agree. What do you think, @dnesting? Can we just put sitemap.xml at root?

[2015-09-09 20:25] LisaGee commented on #1201
yay!

[2015-09-09 21:00] hollyallen commented on #359
Status @NoahKunin @LisaGee ?

[2015-09-09 21:07] ultrasaurus commented on #597
Nice work @dnesting :clap:

[2015-09-09 21:17] ultrasaurus commented on #431
open data maker / API notes here:  https://github.com/18F/college-choice/pull/1248

[2015-09-09 21:19] LisaGee commented on #118
Thank you for the detailed steps, Michelle.

I did see one item available under Behavior > Site Content > All:
api.data.gov/vpv404/collegescorecard/v1/schools?school.name=boston college/https://college-choice.18f.gov/data/documentation/ got one PV ☺

Didn’t see anything under realtime for college-choice, but maybe no one is using it yet.

All that to say, I think we keep this open until we’ve move

[2015-09-09 21:41] awong-dev commented on #597
@dnesting AWESOME.  Any chance you can stuff that write-up in a format that we can share with the wider digital service coallition?

Having a sane, recommended serving stack initial config sounds like something we should socialize.

[2015-09-09 21:44] ultrasaurus commented on #1090
@ozzyjohnson when we deploy with Federalist this is site is build with jekyll safe option so the config.ru code won't be executed

[2015-09-09 21:45] ultrasaurus commented on #1090
The static files have the correct behavior, confirmed by @shawnbot in standup

[2015-09-09 21:50] ErieMeyer commented on #597
🇺🇸🇺🇸🇺🇸☁️⚡️💪🏿

[2015-09-09 21:52] diego- opened #1249 "S3 access and logging"
teach folks how to access s3 logs

[2015-09-09 21:52] diego- commented on #1249
opened devops ticket to provision accounts for: Erie, Lisa, Holly

[2015-09-09 22:23] #1015 closed

[2015-09-09 22:28] claremccann opened #1250 "Text change for search by ZIP"
Currently, if you search by ZIP, the distance box says "no limit," but searching pulls up only schools within that ZIP. Instead, it should say something like "0 miles" to indicate that you need to enter a distance or only schools in the ZIP will be pulled up.

[2015-09-09 22:32] LisaGee commented on #729
need to redeploy with new key

[2015-09-09 22:43] hollyallen opened #1251 "Data site on mobile"
From Erie: "One of our team members looked at the website through the phone, and mentioned that the data insights could be expanded (screenshot)."
![img_3663](https://cloud.githubusercontent.com/assets/3476681/9776078/879a5cf8-5709-11e5-8ac6-55d73a047105.png)

[2015-09-09 22:58] hollyallen opened #1252 "508 review"
An Accessibility Review is scheduled for tomorrow with the resident 18f accessibility expert.

[2015-09-09 23:28] hollyallen commented on #359
We forgot to tell @NoahKunin that the url for his nameservers should be https://collegescorecard.ed.gov (no longer https://collegechoice.ed.gov). He is fixing this on his time now.

[2015-09-09 23:42] hollyallen commented on #359
There was a URL miscommunication, Noah is working to get it fixed.

[2015-09-09 23:48] meiqimichelle commented on #1251
I'm not sure what to do with issues re: data site on mobile. The data part of the site is only minimally responsive as per our prioritization of desktop users on that part. So, it is (sadly) behaving as expected.

@LisaGee I suggest making one master issue called "add responsive site layout on data tool" or something for a post-launch feature, and then close all the others with reference to it. Is

[2015-09-10 00:33] ultrasaurus opened #1255 "we need access to logs on all our environments"
URLs changed recently, we need to either fix the docs or fix the URLs:  https://github.com/18F/college-choice-data/blob/master/doc/LIVE.md

[2015-09-10 00:34] ultrasaurus commented on #1255
-> @ozzyjohnson to fix URLs or tell us what they are, @hollyallen should review when this is figured out

[2015-09-10 00:57] hollyallen opened #1256 "Individual school page load perceived to be slow"
App version 1.3.0, when loading an individual school page it takes more than a second to load, which feels slow. @dnesting verified that the server side seems to be responding within ~60ms, so we suspect client side slowness.

[2015-09-10 02:19] LisaGee opened #1257 "Implement a naming convention which prevents older javascript stored in browser cache from being mistakenly re-used after an update"
@jjtswan 's brilliant idea.

[2015-09-10 02:21] LisaGee commented on #1257
His suggestion is to update the filename with each new version of the .js release - add a hash to filename

[2015-09-10 02:31] ErieMeyer commented on #1257
Justin is so 🇺🇸🇺🇸🇺🇸

[2015-09-10 03:46] ozzyjohnson commented on #1255
All set, links checked / fixed. The old reference to the service proxy scripts could explain a load of problems.

[2015-09-10 03:48] ozzyjohnson commented on #1249
Created.

@ErieMeyer @LisaGee @hollyallen - Ping me for next steps or give me an email / slack id where I can send a self-destructing password link.

[2015-09-10 12:35] jjtswan commented on #1257
We should also check the caching headers on the static content right now.  If they have a long expiration date, we should probably do this sooner than later.  Otherwise it will interfere with your ability to deploy fixes.

[2015-09-10 12:45] stephaniefaith opened #1258 "Confusing: Salary After Graduating"
I saw you changed it to say "Salary after Attending" and then once you hover it clarifies that that is the salary after 10 years after graduating. I think you need to add 10 years in the title. Otherwise many high school students won't read the fine print and will assume that is what they can make right after they finish school- because that's what the title implies.

I do not think we should assu

[2015-09-10 15:36] #1128 closed

[2015-09-10 15:50] yozlet opened #1259 "As the site owner I'd like to keep track of client-side Javascript errors that our users are getting"
New Relic has a "Browser" product that would do this, but we're not signed up for that yet.

[2015-09-10 15:59] hollyallen commented on #1255
@ozzyjohnson I'm not sure what you mean when you say the links are fixed. When I go to https://github.com/18F/college-choice-data/blob/master/doc/LIVE.md and click on the Production Logs link near the top, I get this message: "404 Not Found: Requested route ('ed-production-elk-kibana.18f.gov') does not exist."

[2015-09-10 16:16] hollyallen commented on #1255
Thank you Ozzy, I see the new links in that file.

[2015-09-10 16:16] #1255 closed

[2015-09-10 16:23] ultrasaurus commented on #434
I believe this was resolved a while back

[2015-09-10 16:23] #434 closed

[2015-09-10 17:44] yozlet commented on #1259
Have started mail conversation with our NR account people and Aquilent, will see how it goes.

[2015-09-10 18:09] jjtswan commented on #1257
Headers are set as follows:

Cache-Control:public, max-age=3600

Seems reasonable -- things will stay cached for about an hour.

[2015-09-10 21:05] jjoteal commented on #1016
Notes from my meeting with Greg Darnieder

*Targets*
1) Associations: ASCA, NACAC, NCAN
2) Ed programs: GEAR Up/NCCEP, Trio, COE
3) State/Regional Groups: SREB
4) Foundations (Lumina, Kresge, regional funders)
5) Non-profits (425 orgs are also members of NCAN; e.g. Michigan College Access Network)
6) Independent college access groups
7) NCSCPS - http://www.ncscps.org/
8) IHEP

*Methods*
- "To acco

[2015-09-10 21:33] hollyallen commented on #1249
I have my login now.

[2015-09-10 21:44] #604 closed

[2015-09-10 21:48] #398 closed

[2015-09-10 21:50] diego- commented on #234
WH working on flat alternative as discussed. Moving to accept for us to check upon completion.

[2015-09-10 22:01] ultrasaurus commented on #1131
next steps to change ​`instances: 1`​ and then write a script that does a push and cf scale, depending on environment

[2015-09-10 22:08] NoahKunin commented on #359
Done!

[2015-09-10 22:08] #359 closed

[2015-09-10 22:17] LisaGee opened #1261 "Cannot download the Technical paper from Staging - results in error"

[2015-09-10 22:18] LisaGee opened #1262 "Need to acquire SSL Cert"

[2015-09-10 23:48] hollyallen commented on #1262
I've actually delegated this to Ozzy.

[2015-09-11 01:41] meiqimichelle commented on #974
Sorry, how did you test that? I get auth errors with Federalist since it is behind, well, auth, but I'm guessing from this chain that you know a different way to access @shawnbot . If you let me know I can prep a PR for right after launch.

[2015-09-11 01:44] meiqimichelle opened #1263 "Optimize page load time"
https://developers.google.com/speed/pagespeed/insights/

[2015-09-11 01:58] LisaGee commented on #935
Tested on production. Yoopie!

[2015-09-11 01:58] #935 closed

[2015-09-11 01:58] LisaGee commented on #899
Rockin!

[2015-09-11 01:58] #899 closed

[2015-09-11 11:33] ozzyjohnson commented on #1262
We're looking good, all credit to @dhcole for running with this and DNS and the CloudFront distribution set up. I'll be adding the cert shortly.

[2015-09-11 15:47] jjoteal commented on #1016
Update: Spoke with Mr. Darnieder again this morning and regarding Saturday's launch, he didn't have any specific recommendations outside of the rule of 9 mentioned above. While it is important to ensure that counselors know that the tool exists shortly after launch, it is more important to do persistent communications through multiple channels.

I've also pinged Kelly Leon who is getting me a list

[2015-09-11 15:59] ozzyjohnson commented on #1262
All done. This is testable via a browser or with sslmate.

`sslmate test DOMAIN`

[2015-09-11 16:22] dnesting commented on #496
Ack, sorry for not responding on this earlier.  The placement of sitemap.xml doesn't matter because robots.txt will contain a link to it.  So put it wherever it's convenient.  I sent the robots.txt directive in e-mail but I should capture it here:

Sitemap: https://whatever/sitemap.xml

The robots.txt file must be placed at the root of the final web site (http://collegescorecard.ed.gov/robots.txt)

[2015-09-11 16:24] shawnbot opened #1264 "Create top-level favicon.ico"
I'm pretty sure that this can be done with just:

[code]

[2015-09-11 16:39] dhcole commented on #1262
Just so we have it documented, there are two steps to activate the custom domain:

1. Set the custom domain in Federalist. This is actually a full URL, from protocol to TLD, no trailing slash. This tells Federalist to build the site without a baseurl and sets your "View site" link to go to the custom domain. This needs to be done by @shawnbot as the owner of the site on Federalist.
    <img width=

[2015-09-11 16:39] meiqimichelle commented on #1264
Related to #975

[2015-09-11 18:38] ozzyjohnson commented on #729
FYI @shawnbot @hollyallen @diego- step #2 above is what we talked about this morning. The HTTP to HTTPS redirection is done.

@dhcole - We talked about 15 minutes to propagate the change. During that time are hits going to resolve to the old, blank placeholder or punch through to S3?

[2015-09-11 18:43] dhcole commented on #729
@ozzyjohnson CloudFront changes roll through their fleet of servers, so as an edge server gets the update, it will switch its origin from the placeholder page to the actual site. The whole process takes about 15 minutes. Individual edge servers will update on a rolling basis throughout that duration. So users may see the change sooner or later in that window, depending on where they are located. D

[2015-09-11 21:34] meiqimichelle commented on #1264
Ready for review on dev

[2015-09-11 23:26] ozzyjohnson commented on #729
@dhcole Yes, thanks.

[2015-09-12 01:41] LisaGee opened #1270 "Determine best way to incorporate links to SAM completion data on School pages"

[2015-09-12 03:56] #1264 closed

[2015-09-12 04:34] meiqimichelle opened #1272 "Change `HTTP API documentation` link"
This link currently goes to a branch of the open-data-maker repo. It should go to the master branch version of that README.

The link is on:
https://collegescorecard.ed.gov/data/documentation/

[2015-09-12 04:40] shawnbot opened #1273 "Data download size is wrong"
We've got the full data download listed as "170.7 MB", but now it's actually closer to 212MB.

[2015-09-12 04:46] jjtswan commented on #1178
At the very least, it would be good to have an explanation for why the data doesn't exist.  Possible reasons:

- School is too new and so data doesn't exist yet?
- Maybe the school needs to take special action in order to expose it?

If there was some extra work that needed to be done to get the extra numbers, then it might be interesting to also collect some data about how often people want that

[2015-09-12 04:47] #1261 closed

[2015-09-12 04:50] jjtswan opened #1274 "Error page renders HTML code as text, instead of as actual markup."
https://collegescorecard.ed.gov/search/?degree=a&major=multidiscipline&state=CA&state=MO&zip=94306&distance=-99999&sort=advantage:desc

![image](https://cloud.githubusercontent.com/assets/12799486/9829923/1fcd5c0c-58e8-11e5-87bf-25126efcf0ff.png)

[2015-09-12 04:51] shawnbot opened #1275 "As a consumer, I would like to see a more helpful error message when I visit a missing URL"
We need a `404.html`. What should it say?

[2015-09-12 04:51] meiqimichelle opened #1276 "Create custom 404 page"

[2015-09-12 04:54] meiqimichelle commented on #1276
Closing in favor of #1275. _so fast_ @shawnbot

[2015-09-12 04:54] #1276 closed

[2015-09-12 05:10] jjtswan opened #1277 "[Mobile] Tapping multiple times on the same (i) fails to re-show the pop-up."
Nexus 5, android chrome.

1. Do any search
2. Tap on the (i), see information bubble
3. Tap on the (i) again, information bubble dismisses
4. Tap again on the (i) any number of times, information bubble never appears

[2015-09-12 05:18] jjtswan opened #1278 "Shows 1 result, but actual result not shown?"
https://collegescorecard.ed.gov/search/?name=lindenwood&sort=salary:desc&page=1

![image](https://cloud.githubusercontent.com/assets/12799486/9829996/23af3ce2-58ec-11e5-8d37-8c2111daf2c7.png)

[2015-09-12 05:25] jjtswan commented on #1278
Hrm, I see that no results are shown because the url param page=1 which corresponds to actual "page 2" which of course would have no results.

I'm not sure how I ended up here. I know I didn't manually tweak the URL, but I can't reproduce the series of events that got me there.  So lower priority since this seems like a weird edge case.

At the very least, it might be nice to have some logic where

[2015-09-12 13:45] jjoteal opened #1279 "Create Social Media Promo Image"
Need image for promotional purposes on social media

![image](https://cloud.githubusercontent.com/assets/12192706/9831800/f3853124-5932-11e5-927a-a4db99bc72a7.png)

[2015-09-12 14:04] wslack opened #1280 "Does % of students earning more than 25K include students at grad school, or doing fellowship work?"
I know of many students with low direct earnings immediately after college because they receive a low stipend (and large other benefits, like free room and board) as part of their graduate work. This is path to success in academia.

These students are not seeking standard paid work; are they included in the % of students NOT earning 25K? If so, I think that's misleading without additional context.

[2015-09-12 14:21] diego- opened #1281 "Add API key documentation to /data/documentation page"
Add a blurb about how to sign up for an API key to the Data Documentation page.

[2015-09-12 14:29] meiqimichelle commented on #1279
@jjoteal I fixed the missing link so that the image that we have now will show up (once we push to production again). Right now it is the background happy people photo. Do you want to make a unique one for shares?

[2015-09-12 14:30] jjoteal opened #1283 "BUG: In Location search by State, alphabetize by full state name rather than state abbreviation"

[2015-09-12 14:34] jjoteal commented on #1279
Let's go with the happy people image for shares as well, as it really is the only image we have on the site.

[2015-09-12 14:46] claremccann opened #1285 "Rounding down instead of up"
https://collegescorecard.ed.gov/school/?173258-Carleton-College

1. Percentage Earning Above High School Grad  67% of students

API:
•	greater_than_25000: 0.67729085683822

[2015-09-12 14:49] claremccann commented on #1247
On SAT/ACT, below "Test scores," change from "Students who were admitted typically..." to "Students who were admitted and enrolled at the school typically..."

[2015-09-12 18:37] jackiekazil opened #1286 "Is average salary adjusted by cost of living?"
For example, if one school has an average salary of 50k and the majority of the graduates live in a major city, another another school has the same average, but the majority of the graduates live mid-sized cities (ie 100k people), then $50k != $50k, because in the city you are more likely to get a higher salary, because of high cost of living. So, the first $50k might be more like $40k when adjust

[2015-09-12 20:37] ondrae opened #1287 "College lists hard to read on FB mobile"
#### Description
Found this on Facebook today. Well done. The college lists are kind of hard to read on Facebook mobile though. It's hard to tell what data are with what college.

#### Screenshot
![image](https://cloud.githubusercontent.com/assets/595778/9833638/24b5eba6-5953-11e5-97b9-8b0ac885a2df.jpg)

#### Suggestion
To make each row more separated you could:
* Add a horizontal rule
* Alternate

[2015-09-12 22:37] melissacb opened #1288 "Title IX investigations ( sexual assaut)"
It would be great to add Title IX investigations to the drop menu and to flag schools under Title IX investigation.

[2015-09-12 22:42] melissacb opened #1289 "Dreamers search function"
Add a search function to find schools that give aid to Dreamers

[2015-09-12 23:59] nacin commented on #234
The end result here — wh.gov directly links to collegescorecard.ed.gov, rather than embedding anything — is in my opinion a better permanent solution. I suggest we close the PRs #1237 and #1238, as well as this issue.

If were to need embedding, I like the iframe as the best _initial_ approach and, as noted in #1237, it was feasible from a technical and security standpoint. Long term would have me

[2015-09-13 14:33] LisaGee opened #1291 "As a student, when I search in Google for College Scorecard, the description under the result should be a good synthesis of the purpose of the tool"
What it says now:
College Scorecard .... On average, college graduates earn $1 million more ... 15 public four-year colleges with high graduation leading to high incomes ...

It should say something more easily readable, more descriptive and as an overview.
this is what another site says:
College Scorecards make it easier for you to search for a college that is a good fit for you. You can use the

[2015-09-13 14:35] LisaGee commented on #1291
@jjoteal Can you take a crack working with Clare and the comms team on what the ideal language we could use here?

[2015-09-13 15:12] claremccann opened #1292 "Fix grammar on third fun fact"
"Did you know..." fun fact should have a question mark at the end instead of a period.

[2015-09-13 16:13] claremccann opened #1293 "Bug -- can't print bar graphs, search results from website"
When you try to print a page on the Scorecard, the graphs don't show up (IE 11, Firefox 40.0.3). Additionally, when printing the search results page, print appears as a single school rather than all results (e.g. search by North Carolina, 62 results, then print and only the first page appears).