[2015-08-26 22:07] NatalieEMoore opened #681 "Bug: FIND SCHOOLS button not always present"
Dell, Chrome, screen size one column, 6 pm.

https://college-choice.18f.gov/

https://college-choice.18f.gov/search/?&sort=advantage:desc&page=0

When I initially type in a name or use location, programs/degree, size on home page I have the option to click FIND SCHOOL which shows results.  Once I do an initial search, if I want to do another one, I don't see the FIND SCHOOL button.  If I want to a

[2015-08-26 22:40] m-hsiang commented on #621
Yup, but I was told by erie to keep track of them, as there is a pathway to circle back with the schools on it.

----
Mina Hsiang
c: (617) 866 9150

My apologies for any phone-related typos.

[2015-08-27 00:13] #379 closed

[2015-08-27 00:15] #382 closed

[2015-08-27 01:40] kimballce opened #683 "bug: home page image jitters when using scroll wheel in Edge"
Edge browser, Windows 10

Using a scroll wheel, the background caps and gowns image jitters. (Does not happen if I drag the scroll bar with my mouse)

[2015-08-27 01:44] kimballce opened #684 "BUG (content): Use gerund form to say "Get help making informed financial decisions""
Instead of: "Get help to make informed financial decisions about how to pay for college."
it should read: "Get help making informed financial decisions about how to pay for college."

I think it reads better to replace the infinitive with a gerund.

This sentence is found on the home page and on the "Paying for College" sidebar.

[2015-08-27 01:49] kimballce opened #685 "BUG: All three "By the Numbers" stats on home page are the same"
Edge browser, Windows 10.

All three stats say College grads earn 85%

![image](https://cloud.githubusercontent.com/assets/8903924/9510645/48d2359a-4c3c-11e5-94e6-7ba882dab70d.png)

[2015-08-27 01:49] ErieMeyer commented on #671
Huh! I wonder if it's synonymous with midatlantic.

[2015-08-27 02:03] kimballce opened #686 "BUG (content): Reword "Salary 10 Years After""
Would sound better to say "Salary after 10 Years"

![image](https://cloud.githubusercontent.com/assets/7342162/9555565/d65fa324-4d9b-11e5-93a5-7fb9482387df.png)

hrk

[2015-08-27 02:09] kimballce opened #687 "BUG: Average Actual Cost and Graduation Rate are 0 for UMD-BC"
Edge browser; Windows 10.

Pretty sure that wouldn't be the average actual cost and graduation rates shouldn't actually be as they appear here:
https://college-choice.18f.gov/school/?163259-University-of-Maryland-Baltimore

[2015-08-27 02:15] kimballce opened #688 "BUG: Average Cost hovertext is showing for all three bars"
Edge Browser and Chrome; Windows 10

Average Cost hovertext appears for Graduation Rate and Salary 10 Years After
https://college-choice.18f.gov/school/?163259-University-of-Maryland-Baltimore

![image](https://cloud.githubusercontent.com/assets/7342162/9555532/a3138b52-4d9b-11e5-8a55-9fff0e7592e1.png)

hrk

[2015-08-27 02:28] kimballce opened #689 "BUG: Hovertext over labels of National Average Lines"
Edge Browser; Windows 10.

When I hover over $17,706, hover text with "value:" and "median:" is unnecessary and confusing. This happens over many of the labels for the average lines.
https://college-choice.18f.gov/school/?166656-MCPHS-University

![image](https://cloud.githubusercontent.com/assets/8903924/9511136/47c9cb36-4c41-11e5-9c48-f7a59041d623.png)
hrk

[2015-08-27 02:32] kimballce opened #690 "BUG: Hovertext "Above Average" appears over up arrow for "Average Actual Cost""
Edge browser; Windows 10.

Don't need hovertext "Above Average" when hovering over red up arrow.
https://college-choice.18f.gov/school/?166656-MCPHS-University

![image](https://cloud.githubusercontent.com/assets/7342162/9555434/0ed34112-4d9b-11e5-9abc-ca49d430e8cf.png)

hrk

[2015-08-27 02:36] kimballce opened #691 "BUG: Hovertext "Average Actual Cost" appearing for "Students Paying Down Their Debt""
Edge browser; Windows 10.

Hovertext for "Students Paying Down Their Debt" is the text for "Average Actual Cost".
https://college-choice.18f.gov/school/?166656-MCPHS-University

![image](https://cloud.githubusercontent.com/assets/8903924/9511261/abdf5d56-4c42-11e5-8e57-7dada5d18968.png)
hrk

[2015-08-27 02:41] kimballce opened #692 "BUG: Hovertext "Graduation Rate" appearing for all three Financial Aid & Debt numbers"
Edge browser; Windows 10.

Hovertext "Graduation Rate" is appearing for all three info circles on the right
https://college-choice.18f.gov/school/?166656-MCPHS-University

hrk

[2015-08-27 02:50] kimballce opened #693 "BUG: All schools are showing 0% "Students Receiving Federal Aid""
Edge browser; Windows 10.

All the schools in my search are showing 0% "Students Receiving Federal Aid" in the "Financial Aid & Debt" section of school details.
![image](https://cloud.githubusercontent.com/assets/8903924/9511423/a2916e54-4c44-11e5-9510-fe59f5b5d78b.png)

https://college-choice.18f.gov/school/?217165-Bryant-University
hrk

[2015-08-27 02:57] kimballce opened #694 "BUG (content): make title and hovertext wording consistent for "Students Who Return After Their First Year""
Title says "their" and hovertext says "the". Change both to "their"
![image](https://cloud.githubusercontent.com/assets/8903924/9511480/400f0ff6-4c45-11e5-8c00-c28191116aaa.png)
hrk

[2015-08-27 03:01] kimballce opened #695 "BUG: Hovertext "Graduation Rate" appearing for "Race/Ethnicity" in "Student Body""
Edge browser; Windows 10.

Hovertext for "Graduation Rate" appears when I hover over "Race/Ethnicity"
https://college-choice.18f.gov/school/?166656-MCPHS-University
![image](https://cloud.githubusercontent.com/assets/7342162/9555507/758c5916-4d9b-11e5-89ee-580e22672feb.png)

hrk

[2015-08-27 03:04] kimballce opened #696 "BUG: Hovertext "Graduation Rate" appearing for "Test Scores" in "Selectivity" section"
Edge browser; Windows 10.

Hovertext "Graduation Rate" appears when I hover over "Test Scores" in "Selectivity" section.
https://college-choice.18f.gov/school/?166656-MCPHS-University
![image](https://cloud.githubusercontent.com/assets/7342162/9555493/5d068650-4d9b-11e5-898a-6b8aa7077293.png)

hrk

[2015-08-27 03:06] kimballce opened #697 "BUG: Hovertext "Graduation Rate" appearing for "Academics" section"
Edge Browser; Windows 10.

https://college-choice.18f.gov/school/?166656-MCPHS-University
![image](https://cloud.githubusercontent.com/assets/7342162/9555479/43805d82-4d9b-11e5-8be2-883159e3e164.png)

hrk

[2015-08-27 03:19] kimballce opened #698 "BUG (content): need "National Average" label or key on individual school pages"
Edge browser; Windows 10.

On the Search page, there is a key below the bar graphs indicating that the black lines are the National Average, but on the individual school pages, there is no similar key. Nothing says that the black lines are National Averages. Perhaps that's what the hovertext should say?
![image](https://cloud.githubusercontent.com/assets/8903924/9511800/74e097ec-4c48-11e5-9d37-d9c

[2015-08-27 03:31] kimballce opened #699 "BUG: Nevada State College data question"
Edge browser; Windows 10.

They are listed 15th most when sorted by threshold earnings in this search:
https://college-choice.18f.gov/search/?&major=psychology&degree=b&size=medium&sort=advantage:desc

But their graduation rate is low, so that's surprising.

[2015-08-27 03:35] kimballce opened #700 "BUG: add page selection buttons to bottom of results pages"
Edge browser; Windows 10.

When I scroll to the bottom of the results page, there is no way to go to the next page of results without scrolling back to the top and clicking "2". Would be nice to have buttons at the bottom. Would also be nice to have a "next page" option.
https://college-choice.18f.gov/search/?&major=psychology&degree=b&size=medium&sort=advantage:desc&page=0
hrk

[2015-08-27 03:39] kimballce opened #701 "BUG: On Desktop, need to do something with the 21st slot of the page on search results page."
Edge browser; Windows 10.

Because there are 20 results per page, but they are arranged in a 3x7 grid, there is a blank in the last spot on each results page. Confusing - makes it seem like you are at the end of the results. Make 21 results per page to fill out grid.
https://college-choice.18f.gov/search/?&major=psychology&degree=b&size=medium&sort=advantage:desc&page=0

hrk

[2015-08-27 03:45] kimballce opened #702 "BUG: "Share" to Google Chrome just opens google.com"
Edge browser and Chrome; Windows 10.

When I click "Share", then "Google Chrome", it just opens Google Chrome to google.com

![image](https://cloud.githubusercontent.com/assets/7342162/9555310/2b45cb9a-4d9a-11e5-8885-5dbf8f16dfdc.png)

hrk

[2015-08-27 03:47] kimballce opened #703 "BUG: "Share" application icons are pixelated"
Edge browser and Chrome; Windows 10.

These icons for Chrome, Mail, etc. look pretty pixelated.
![image](https://cloud.githubusercontent.com/assets/7342162/9555293/107a75cc-4d9a-11e5-9bae-e2abd0afa65a.png)

hrk

[2015-08-27 03:57] kimballce opened #704 "BUG: Bar graphs showing even for 0-values or no values"
Edge browser; Windows 10.

When I click the double arrows to see the last results
![image](https://cloud.githubusercontent.com/assets/8903924/9512304/1ad8fbda-4c4e-11e5-8ac6-1ea8a1b6a61a.png)

It takes me to a page where many of the results have either 0-values or no values, but still show positive bar graphs:
![image](https://cloud.githubusercontent.com/assets/7342162/9555247/dd4dc294-4d99-11e5-9

[2015-08-27 04:07] kimballce opened #705 "BUG: there's a funny hoverbubble when you click on the circle on maps"
Edge browser; Windows 10.

When I click on the circle on the maps, a funny little hoverbubble with no text appears.
![image](https://cloud.githubusercontent.com/assets/8903924/9512410/807e07d6-4c4f-11e5-9586-55a681efb068.png)
hrk

[2015-08-27 04:09] kimballce opened #706 "BUG: Nothing happens when click "Advanced Search +" on homepage"
Edge browser; Windows 10.

Nothing happens when I click on "Advanced Search +" on the homepage (under the "Find Schools" button).

hrk

[2015-08-27 04:11] kimballce opened #707 "BUG (content): homepage - criteria are plural"
Homepage should read "Enter criteria that are important to you" under "Find Schools By:"
![image](https://cloud.githubusercontent.com/assets/8903924/9512459/17e62a5e-4c50-11e5-8c79-ca7aa4f2d0eb.png)
hrk

[2015-08-27 04:17] kimballce opened #708 "BUG: searching state and "Include Online Only Schools" returns 0 results"
Edge browser; Windows 10.

When I select a state and also click "Include Online Only Schools" my search returns 0 results.
![image](https://cloud.githubusercontent.com/assets/8903924/9512491/e891ca50-4c50-11e5-8198-5f5c6b5b0336.png)
https://college-choice.18f.gov/search/?state=FL&online=1&sort=advantage:desc

hrk

[2015-08-27 04:25] kimballce opened #709 "BUG (content): use "Mid-Atlantic" instead of "Mid East" in region search"
No one says "Mid East" for the New York to Virginia region. Use "Mid-Atlantic" in the list of regions for search.
https://en.wikipedia.org/wiki/Mid-Atlantic_states

![image](https://cloud.githubusercontent.com/assets/8903924/9512542/aac2d6aa-4c51-11e5-859f-f5b7efd963de.png)

hrk

[2015-08-27 04:33] kimballce opened #710 "BUG: would be nice to have a "clear search criteria" button"
There's no easy way to clear the search criteria.

hrk

[2015-08-27 04:35] kimballce opened #711 "BUG: searching with "mile radius" returns error"
Edge browser; Windows 10.

Entering any number in "mile radius" box returns an error.
![image](https://cloud.githubusercontent.com/assets/8903924/9512667/703f4160-4c53-11e5-8b93-a654275ed91f.png)

hrk

[2015-08-27 06:47] meiqimichelle commented on #635
This is a bug. It should have one :-/

[2015-08-27 08:56] saintsoup52 opened #713 "Bug: Netprice incorrectly appearing as $0 on family income chart"
Search "Oxnard College" and open the costs drawer.  The net price for family income shows up as "$0" for all the incomes above $30,000.

![image](https://cloud.githubusercontent.com/assets/4397508/9516615/c8701c6e-4c77-11e5-95f3-2a47dff2557b.png)

The expected result should be values greater then zero and higher then the lowest income bracket

![image](https://cloud.githubusercontent.com/assets/43

[2015-08-27 11:24] LisaGee commented on #711
@shawnbot Want to call this one to your attention as we've been seeing this inconsistently but with some frequency.

[2015-08-27 11:26] LisaGee commented on #710
Dupe of #506

[2015-08-27 11:26] #710 closed

[2015-08-27 11:27] LisaGee commented on #709
@jjoteal - Can you fix?

[2015-08-27 11:30] LisaGee commented on #707
@ErieMeyer - Can you make this sentence more user friendly and attuned to our audience, but also grammatically correct?

[2015-08-27 11:32] LisaGee commented on #706
Not implemented yet. Will be handled by #196 and #192

[2015-08-27 11:32] #706 closed

[2015-08-27 11:39] LisaGee commented on #701
If it's more work to change the paging of the results, we should figure out something else to do with that last slot, as having it be empty makes it look like there are no more results.
@jjoteal at a minimum, let's design some kind of graphic that we can put in there.

[2015-08-27 11:46] LisaGee commented on #652
Dupe of #484

[2015-08-27 11:46] #652 closed

[2015-08-27 11:47] LisaGee commented on #700
Dupe of #484

[2015-08-27 11:47] #700 closed

[2015-08-27 11:52] LisaGee commented on #698
@jjoteal - I actually thought this was in progress, but I don't see a story for it.

[2015-08-27 11:55] LisaGee commented on #693
Dupe of #573

[2015-08-27 11:55] #693 closed

[2015-08-27 11:58] LisaGee commented on #681
Dupe of #451

[2015-08-27 11:58] #681 closed

[2015-08-27 11:59] LisaGee commented on #649
Great catch @liyanchang Thanks!

[2015-08-27 12:08] LisaGee commented on #664
@kimballce Great point. It would be good for a student to see the difference between sticker price and Net price so they understand that in fact there is a difference.

[2015-08-27 12:10] LisaGee commented on #651
@ErieMeyer Can you edit the text to be a bit more descriptive?

[2015-08-27 12:21] LisaGee opened #714 "Intermittent Internal Server Errors Appear"
Lots of reports of this.
#624

[2015-08-27 12:22] LisaGee commented on #624
Captured in #714

[2015-08-27 12:22] #624 closed

[2015-08-27 12:23] LisaGee commented on #567
Lots of reports of this:
#624

[2015-08-27 12:26] LisaGee commented on #629
May be similar to #567  But keeping open as this one should result in an error, whereas #567 is an error appearing for which there should be good search results.

[2015-08-27 12:26] LisaGee commented on #567
May be similar to #629   But #629 should result in an error, whereas #567 is an error appearing for which there should be good search results.

[2015-08-27 12:28] LisaGee commented on #567
#632 error when searching for a valid query that should result in good results.

[2015-08-27 12:28] LisaGee commented on #632
Captured by bigger ticket #567

[2015-08-27 12:28] #632 closed

[2015-08-27 12:30] LisaGee commented on #636
Dupe of #451

[2015-08-27 12:30] #636 closed

[2015-08-27 12:31] ErieMeyer commented on #573
Looks great on dev!

[2015-08-27 12:31] LisaGee commented on #644
Dupe of #635

[2015-08-27 12:31] #644 closed

[2015-08-27 12:32] ErieMeyer commented on #568
Looks great!

[2015-08-27 12:32] #568 closed

[2015-08-27 12:34] LisaGee commented on #602
Related to #567 ?

[2015-08-27 12:35] LisaGee commented on #567
#602 is another instance where there should have been 0 results, but got error instead.

[2015-08-27 12:35] ErieMeyer commented on #490
On dev the checkbox is not checked by default (which I believe is supposed to be the default). Moving back to develop.

[2015-08-27 12:36] LisaGee commented on #607
Dupe of #41

[2015-08-27 12:36] #607 closed

[2015-08-27 12:37] LisaGee commented on #567
#608  is another instance where there should have been 0 results, but got error instead.

[2015-08-27 12:38] LisaGee commented on #608
Should likely be solved the same was as #602 but both should be retested when fixed.

[2015-08-27 12:38] ErieMeyer commented on #473
Hi! It looks the national average has been removed from the sliders -- is that intended? @LisaGee

[2015-08-27 12:39] kimballce opened #715 "BUG: Program/Degree list is missing some basic categories, like Economics"
Economics was my major in college, but I don't see it listed as an option.

![image](https://cloud.githubusercontent.com/assets/8903924/9520657/0799c60a-4c97-11e5-9cd3-95c84165e2d1.png)

[2015-08-27 12:40] kimballce opened #716 "BUG: Program/Degree list is not in alphabetical order"
![image](https://cloud.githubusercontent.com/assets/8903924/9520686/47bb5884-4c97-11e5-8dd8-a1c101b61910.png)

[2015-08-27 12:40] ErieMeyer commented on #423
Looks great on dev!

[2015-08-27 12:42] ErieMeyer commented on #423
Actually -- I think Sarah mentioned that if something works on dev but not staging, I should move back to develop. Is that correct @ultrasaurus? Or someone else who's more certain than me?

[2015-08-27 12:43] ErieMeyer commented on #463
Looks lovely!

[2015-08-27 12:43] #463 closed

[2015-08-27 12:45] ErieMeyer commented on #192
Holding on accepting this until I figure out if I'm allowed to do acceptance testing on dev... @ultrasaurus @LisaGee

[2015-08-27 12:53] ErieMeyer commented on #420
I found a few that are still to the right instead of centered -- see below.

Filters on the right of search results:
![screen shot 2015-08-27 at 8 49 04 am](https://cloud.githubusercontent.com/assets/1626026/9520876/ef4081dc-4c98-11e5-8cdf-bde6f333d67c.png)

From the individual school page:

![screen shot 2015-08-27 at 8 49 45 am](https://cloud.githubusercontent.com/assets/1626026/9520880/ef4578e0

[2015-08-27 12:54] LisaGee commented on #192
Thanks. Don't close until they are tested on Staging, but I think it's probably helpful for Developers for you to help confirm all is good even on Dev.

Sent from my Windows Phone
________________________________
From: Erie Meyer<mailto:notifications@github.com>
Sent: ‎8/‎27/‎2015 8:45 AM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Cc: Gelobter, Lisa<mailto:Lisa.Gelobter@ed.go

[2015-08-27 13:04] ErieMeyer commented on #573
Looks awesome on dev, moving back to develop (and look forward to retesting on staging!)

[2015-08-27 13:08] ErieMeyer commented on #196
I see the designations showing up when I navigate to a school, but I still can't search by these because they're blocked by the advanced search story, which I think the best one is this: https://github.com/18F/college-choice/issues/197

[2015-08-27 13:14] ErieMeyer commented on #196
Looks good on dev tho!

[2015-08-27 13:14] ErieMeyer commented on #192
This looks great on dev!

[2015-08-27 13:19] ErieMeyer commented on #333
Looks good in dev! Moving to develop until it's ready on staging.

[2015-08-27 13:26] ErieMeyer commented on #608
Is that somewhere in Virginia?

[2015-08-27 14:51] ErieMeyer commented on #271
@shawnbot Not sure what to do to close out acceptance testing here. I checked staging against the yaml and it looks like they don't match -- is that expected?

[2015-08-27 14:53] ErieMeyer commented on #707
Yes! Switching to "Enter things that are important to you." for now. PR comin.

[2015-08-27 15:03] kimballce commented on #707
@ErieMeyer personally I still prefer "Enter criteria that are important to you" . It's more specific, and the audience knows what criteria are. My (Heather's) point was just that the "is" should be changed to "are".

[2015-08-27 16:50] ErieMeyer commented on #651
Updated here: https://github.com/18F/college-choice/pull/718

[2015-08-27 17:28] diego- commented on #566
@LisaGee This may be a discrepancy between your expectations in the raw data and what the tool is looking for. The missing school, 'New England Institute of Technology' is a two-year school; this implies that the predominant degree is associates. However, the raw data may indicate that they do offer bachelor's degrees as well. The college-choice tool -- for degree=b & degree=a -- is using the *deg

[2015-08-27 17:37] jjoteal commented on #315
@meiqimichelle here's a design comp of the adjusted design:

![image](https://cloud.githubusercontent.com/assets/12192706/9527999/6157f990-4cc0-11e5-811c-fcb73f5dfce3.png)

Please ping me on slack if you want specific font sizes.

Please note that I'll need Angel to create a different illustration for the first fact. Now that I know the content, we can create a graphic that better speaks to that d

[2015-08-27 17:48] jjoteal commented on #698
@lisa, here is the ticket where this is reported as an issue:

https://github.com/18F/college-choice/issues/466

Reassigning to @meiqimichelle

[2015-08-27 17:54] jjoteal commented on #709
@shawnbot thanks! Done and made pull request!

[2015-08-27 17:56] jjoteal commented on #709
Assigning to @LisaGee for acceptance.

[2015-08-27 18:13] meiqimichelle commented on #490
Hrrrrmmm, this is confusing. I thought "include online only" meant that by checking it, I would get to 100% online schools in my results, whereas if I left it unchecked, those would not be included, and I'd only see schools with a physical location.

[2015-08-27 18:33] jjoteal commented on #293
@meiqimichelle new icon for Suburban now in PICC! Here's what the new Suburban vs. Town icons should look like:

![image](https://cloud.githubusercontent.com/assets/12192706/9529470/743ffa46-4cc8-11e5-88c5-4b0fa0dbecc0.png)

So, in other words the OLD surbuban icon is now the TOWN icon. And there is a new icon for suburban. Ping me with any questions!

[2015-08-27 18:33] jjoteal commented on #577
reassigning to @meiqimichelle so she can close out when she also closes out the #293.

[2015-08-27 18:49] jjoteal commented on #420
@ErieMeyer the "i" icons associated with these particular items *should* be on the right as they are not associated with bar graphs. Michelle and I coordinated. So, the only thing really left on this ticket is to get the remaining tooltip text implemented, which we should be receiving from Clare soon!

[2015-08-27 18:53] #402 closed

[2015-08-27 18:56] jjoteal opened #720 "ENHANCEMENT: The original search results designs had the 2-year or 4-year indicators at the top of the card. Should we consider displaying so it is more obvious whether a school is a 2-year or 4-year?"
Original design:

![image](https://cloud.githubusercontent.com/assets/12192706/9530057/a9bcf2c0-4ccb-11e5-89f2-4725a24cf6c3.png)

Assigning @LisaGee for a decision.

[2015-08-27 18:59] jjoteal commented on #330
Ok @LisaGee . Closing this issue then.

[2015-08-27 18:59] #330 closed

[2015-08-27 19:01] #98 closed

[2015-08-27 19:03] jjoteal commented on #169
@LisaGee, you accepted the new layout for these in https://github.com/18F/college-choice/issues/454, so closing this ticket.

[2015-08-27 19:03] #169 closed

[2015-08-27 19:39] LisaGee commented on #698
Thanks,  @jjoteal! I couldn't remember the word "legend", so I was struggling to search. Closing this one as a dupe of #466

[2015-08-27 19:39] #698 closed

[2015-08-27 20:04] LisaGee commented on #711
Agreed. I knew there was one more version of this issue that I lost. Closing as dupe. Thanks. #567

[2015-08-27 20:04] #711 closed

[2015-08-27 20:08] shawnbot opened #722 "BUG: dev API (v1) should do case-insensitive name searches"
The dev API doesn't return any results when you provide the `school.name` or `name` query string parameters with case-insensitive values:

https://ccapi-dev.18f.gov/v1/schools/?school.name=brown&fields=id,school.name

for reference, the staging URL:

https://ccapi-staging.18f.gov/school/?school.name=brown&fields=id,school.name

I'm prepping #584 for merge, but before that can happen we need to poi

[2015-08-27 20:36] jjoteal commented on #315
@meiqimichelle -- updated the design mock-up with some wording changes on the "infographics" per Lisa's request. Please use this wording!

![image](https://cloud.githubusercontent.com/assets/12192706/9532426/a40ee8f2-4cd9-11e5-8574-d0e2695ceb98.png)

[2015-08-27 20:43] jjoteal opened #723 "ENHANCEMENT: New style for special designation on school page"

[2015-08-27 20:45] jjoteal opened #724 "BUG: Display Religious Affiliation on Individual School Page"

[2015-08-27 20:51] hollyallen opened #725 "Bug: Back button in search results doesn't work."
Today 8/27/2015 1:51pm on Staging (https://federalist.18f.gov/preview/18F/college-choice/staging/)
Firefox 40.0 on Mac

Steps to reproduce:
1. Search for colleges, get a list of results (A)
2. Refine your search in the search results page, get a new list of results (B)
3. Click the Back button on the browser

Expected result: URL changes, results list changes from B to A
Actual result: URL changes

[2015-08-27 20:52] jjoteal commented on #345
Just an update that as we continue to conduct usability tests, the bar graphs are pulling out further and further ahead of the dials. Here's a quote from a recent test:

"It is really easy to read bar graphs…I like bar graphs because they give you the fastest interpretation. They are easier and quicker to read than the dials. The dials remind me of the motor vehicle department. It’s not that I *do

[2015-08-27 22:18] shawnbot opened #729 "Launch checklist"
- [x] @LisaGee decide what our URL should be
- [x] @diego-  coordinate with api.data.gov folks to get that URL ready
- [x] @LisaGee register a new, dedicated API key for the production site
- [x] @meiqimichelle create pull request with `sitemap.xml` from @dnesting with version that contains real URL (see: #496)
- [x] @meiqimichelle update `robots.txt` to refer to the new sitemap
- [x] @shawnbot up

[2015-08-27 22:47] ultrasaurus opened #730 "As a developer, I'd like to see example APIs that are correct, so I can easily test the API"
I think this was one of the fields where the name changed
median earnings:
https://ccapi-staging.18f.gov/v1/schools?fields=school.name,id,2011.earnings.6_yrs_after_entry.median&sort=2011.earnings.6_yrs_after_entry.median:desc

[2015-08-27 22:58] ultrasaurus commented on #730
fixed in the dictionary for the next big field update, but also just made the example use the same fields as the consumer tool, since those are the fields we want to most frequently test.  (this is done locally, but want to test a bit more before updating server)

[2015-08-27 23:04] #639 closed

[2015-08-27 23:10] ErieMeyer commented on #709
Looks awesome on dev! I don't know what to do with this issue now -- I'm confused about what "accept" or "develop" means here.

[2015-08-27 23:15] #476 closed

[2015-08-27 23:18] ErieMeyer commented on #649
Looks great!

[2015-08-27 23:18] #649 closed

[2015-08-27 23:23] ErieMeyer commented on #490
I'm lost. @LisaGee -- could you clarify?

[2015-08-27 23:43] ErieMeyer commented on #651
Looks great on dev!

[2015-08-28 00:25] ErieMeyer commented on #102
Looks great on dev!

[2015-08-28 00:38] meiqimichelle commented on #315
Here's the latest:

![screen shot 2015-08-27 at 5 35 37 pm](https://cloud.githubusercontent.com/assets/4827522/9536552/0df73faa-4ce2-11e5-9f7b-3d2ae8055231.png)

As for the dollar sign, web font versions of typefaces often don't include nice versions of special characters. I tried to see if the one you're seeing is an available alternate and didn't come up with anything. For now, I suggest we bug-

[2015-08-28 01:00] LisaGee opened #733 "Get StackExchange set up"
Need to decide on tag that should be used and confirm owner is good to go.

[2015-08-28 02:57] #714 closed

[2015-08-28 03:00] ultrasaurus commented on #730
fixed on dev

[2015-08-28 03:18] ultrasaurus commented on #445
this got fixed when I changed the search, you can test it on staging

[2015-08-28 04:39] meiqimichelle commented on #490
Perhaps we need a micro-copy test and/or edit. I can see where `only` in that context is confusing. Would something like:

- [x] Include online schools

be clearer?

[2015-08-28 12:16] LisaGee opened #737 "MVP for Data Tool"
1. Intro
2. Data Insights carousel
3. Download papers:
   a. Technical
   b. Policy
4. Download data sets:
   a. All data
   b. Scorecard data
   c. Most recent data
   d. What's new from NSLDS
   e. Post-school earnings
5. API Documentation
   a. Overview explaining Data Buckets and Key Take-aways (Download?)
   b. Data Dictionary Download
   c. 5 example queries

[2015-08-28 12:52] LisaGee commented on #737
@diego- Could you take a crack at coming up with 5 good examples.
Maybe something along the lines of:
1. All Data for School 1
2. All Data for School 2
3. Interesting Completion Data for 4 year schools by race:  Fields:
PCTPELL,
C150_4,
C150_4_WHITE
C150_4_BLACK
C150_4_HISP
C150_4_ASIAN
C150_4_AIAN
C150_4_NHPI
C150_4_2MOR
C150_4_NRA
C150_4_UNKN
C150_4_WHITENH
C150_4_BLACKNH

4. School Names, 2011

[2015-08-28 12:54] LisaGee commented on #737
@meiqimichelle Given the requirements, what do you think is the simplest, fastest and least risky :-) way to get to the MVP?

[2015-08-28 13:02] LisaGee opened #738 "As a Developer, I'd like to be able to easily understand the Data Dictionary so it's more streamlined for me to make use of the API."
Clean up Data Dictionary for readibility.

[2015-08-28 13:04] LisaGee opened #739 "As a Developer, I'd like to have a consistent and readable naming convention for fields so it's easier for me to figure out which fields I really want to use."
Create Developer Friendly names for every field in the Data Dictionary.
@diego- Enlist Clare's help?

[2015-08-28 13:17] LisaGee commented on #737
@ErieMeyer Got any thoughts on sample queries that you think would be useful for Developers?

[2015-08-28 15:46] LisaGee opened #740 "BUG:CURROPER's dev-category should be school, not student."
@shawnbot Will this affect the Consumer Tool?

[2015-08-28 15:52] LisaGee commented on #723
@jjoteal -- Not sure exactly what this is referring to, so not sure how to prioritize it. Can you provide a bit more context? Thanks.

[2015-08-28 15:54] LisaGee commented on #725
Seems realted to #645

[2015-08-28 15:59] LisaGee commented on #315
@jjoteal @meiqimichelle is this ticket for the Key Facts/By The Numbers on the HP? Or is it for the More Key Facts Listing page? The description puts it at the later, but the discussion makes me think it is for the former. Are there 2 different tickets? The former is a p1, the latter is a p3. Just want to make sure there is no confusion especially during testing. Thanks.

[2015-08-28 16:08] LisaGee opened #741 "BUG:Latitude/Longitude should be in the school dev category, not root in the API"
City, State and Zip are under school, so it feels like all location fields should be in one place and I think school makes sense.

[2015-08-28 16:08] LisaGee commented on #741
@shawnbot Would this change mess up the Consumer Tool?

[2015-08-28 16:14] LisaGee opened #742 "Change dev-category for Admissions data from "student" to "admissions""
It feels like these items are more a characterization of the school, than of the students. Especially Acceptance Rate.

[2015-08-28 16:22] meiqimichelle commented on #315
We've been using it to track the homepage lately, tho maybe originally it was supposed to track both. We should make a different ticket for the 'more key facts' listing page and continue to use this for the homepage, which is complete except for the last illustration, on dev.

[2015-08-28 16:27] LisaGee opened #743 "BUG: UG field in Data Dictionary should have dev-category==student"
All the other student characteristics are marked thusly. This seems to be the one exception.
It doesn't feel like this should be at root.

[2015-08-28 16:43] ErieMeyer commented on #709
HOORAY! Looks awesome.

[2015-08-28 16:43] #709 closed

[2015-08-28 16:46] ErieMeyer commented on #651
Looks great on staging!

[2015-08-28 16:46] #651 closed

[2015-08-28 16:47] ErieMeyer commented on #573
This looks great on staging! Sorry about my process confusion earlier <3

[2015-08-28 16:47] #573 closed

[2015-08-28 16:50] meiqimichelle commented on #332
Update: 18F google analytics are running just fine on our site, and have been for at least a week. As per direction from Lisa, I've been trying to move us over to using DAP alone but have been running into problems in getting DAP to see our site. At this point, I have a help desk request in to DAP because no one at 18F can figure out why we can't see our site there.

[2015-08-28 16:50] ErieMeyer commented on #567
This looks great on staging -- couldn't recreate any of these!

[2015-08-28 16:50] #567 closed

[2015-08-28 16:58] LisaGee opened #744 "All Carnegie Classifications should be under the same dev-category: school"
There are 3 fields:
CCBASIC
CCUGPROF
CCSIZSET

They should all have dev-category: school

[2015-08-28 17:17] ErieMeyer commented on #490
Or "Include online-only schools"

[2015-08-28 17:37] LisaGee commented on #742
@shawnbot want to make sure it won't break Consumer Tool.

[2015-08-28 17:56] jjoteal commented on #315
I'll change the wording of this ticket to just say show 3 By the Numbers items on the homepage and then I'll create a new ticket for the "more by the numbers" page that is the p3.

[2015-08-28 17:57] jjoteal opened #746 "As a Consumer, I want to view MORE "key facts" (after seeing 3 initial facts on the homepage) so that I can get even more information about the factors I should be considering when examining schools"
(FYI, this should involve adding a "view more" link near the By the Numbers section on the homepage that then links to the full page of By the Numbers content)

[2015-08-28 17:58] jjoteal commented on #315
FYI: More "By the Numbers" content issue is https://github.com/18F/college-choice/issues/746.

[2015-08-28 18:03] LisaGee opened #747 "Should we send developers to GitHub for any reason? Link on the site"
@ErieMeyer Do we want to make any reference to building in the open and welcoming developer contributions and here is a link to our GitHub repo in the Data Tool someplace?

[2015-08-28 18:06] LisaGee opened #748 "Get USDS folks access to 18F Analytics system"

[2015-08-28 18:11] ErieMeyer commented on #473
This looks awesome on staging!

[2015-08-28 18:11] #473 closed

[2015-08-28 18:12] shawnbot opened #749 "Standardized test score chart design changes"
Re: #731, from @jjoteal [here](https://github.com/18F/college-choice/pull/731#issuecomment-135849507):

The screenshot, for reference:

![screen shot 2015-08-27 at 4 53 21 pm](https://cloud.githubusercontent.com/assets/4827522/9536027/2be09c2e-4cdc-11e5-93fe-6a0e29baff64.png)

[2015-08-28 18:17] ErieMeyer commented on #465
![image](https://cloud.githubusercontent.com/assets/1626026/9553793/6775bdd8-4d8f-11e5-9d57-8980412dab8f.png)

This is from dev -- looks like we need to drop the circle around the number (and do we need an i?)

[2015-08-28 18:18] ErieMeyer commented on #445
Looks great!

[2015-08-28 18:18] #445 closed

[2015-08-28 18:23] NatalieEMoore opened #750 "BUG: entering zip code and mile radius, zero results, then went back to change mile radius and find schools button doesn't work"
This was at 2:21 pm on a Dell Desktop with Chrome.  Screen size was one column.  I entered just the zip code and put 20 mile radius.  Search yielded zero results. Hit back button, changed mile radius to 50 and clicked find schools.  No response from website.  Will not show any results.

https://college-choice.18f.gov/search/?zip=22304&distance=50&online=1&sort=advantage:desc

![capture](https://cl

[2015-08-28 18:23] ErieMeyer commented on #293
Town icon is still missing on staging (and it says distant?)

![image](https://cloud.githubusercontent.com/assets/1626026/9553938/683495cc-4d90-11e5-90fd-15e0af795788.png)

[2015-08-28 18:30] LisaGee commented on #490
Launch. Absolutely doesn’t have to go in today. Thanks for checking!

From: Shawn Allen [mailto:notifications@github.com]
Sent: Friday, August 28, 2015 1:20 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] As a prospective college student, I would like "Include Online Only" checkbox to work (#490)

@LisaGee<https://github.com/LisaGee> can we revise the language after beta

[2015-08-28 18:30] meiqimichelle commented on #293
This should be fixed with #732

[2015-08-28 18:31] meiqimichelle commented on #340
This should be fixed on `dev` with #712

[2015-08-28 18:33] meiqimichelle commented on #458
This is fixed on `dev` with #735

[2015-08-28 18:34] meiqimichelle commented on #556
This is fixed with #594

[2015-08-28 18:35] meiqimichelle commented on #338
This is fixed with #585

[2015-08-28 18:36] meiqimichelle commented on #341
This should be fixed on dev with #712

[2015-08-28 18:36] meiqimichelle commented on #533
This should be fixed on dev with #712

[2015-08-28 19:10] jjoteal commented on #723
Sorry @LisaGee , this was me being fast to record the item during stand up yesterday. This is a new ticket to change the style of things like "HCBU" on the individual school page to something other than black text that is highlighted in yellow. This style would also be used for religious affiliation.

[2015-08-28 19:19] ErieMeyer commented on #10
I think this is done!

[2015-08-28 19:19] #10 closed

[2015-08-28 19:24] ErieMeyer commented on #242
this has been addressed elsewhere!

[2015-08-28 19:24] #242 closed

[2015-08-28 19:27] LisaGee commented on #537
good to go. I confirmed and I confirmed with another school too. It's working as expected. Thanks.

[2015-08-28 19:27] #537 closed

[2015-08-28 19:36] ErieMeyer commented on #203
Looks like a lot of these features would be better used in the sort/filter of search results -- very easy to compare there.

[2015-08-28 19:44] ErieMeyer commented on #396
@nacin is on this one!

[2015-08-28 19:46] ErieMeyer commented on #234
@nacin -- this is all you!

[2015-08-28 19:48] jjoteal opened #751 "ENHANCEMENT: Left Drawer UI Improvements"
Recommend changing the background color of the 'top bar' of the left drawer indicator to white like:
![image](https://cloud.githubusercontent.com/assets/12192706/9555617/354b0630-4d9c-11e5-9ec6-c592fb61969c.png)

Since the white background color will match the white background color of the drawer itself.

Also, recommend changing the hamburger menu icon to a close icon like:
![image](https://cloud

[2015-08-28 19:51] ultrasaurus commented on #730
and now on staging

[2015-08-28 19:52] ultrasaurus commented on #730
To test, click all the links and see if it looks like there is data there (was getting Internal Server Error for ones that included earnings): https://ccapi-staging.18f.gov

[2015-08-28 19:53] ErieMeyer commented on #592
This is addressed on staging!

[2015-08-28 19:53] #592 closed

[2015-08-28 19:54] ultrasaurus commented on #742
these changes feel a little arbitratry if you consider all of the fields in the 'school' category, please evaluate the "consumer tool field" tab before proposing name changes

[2015-08-28 19:55] meiqimichelle commented on #751
@jjoteal That 'gray out' was initially what I had, but decided that since we have filters in there that interactively interact with the content, people might want to still see the page. However, I think it makes it harder to understand that part of the page is 'gone' (opening the drawer pushes main content 'off screen' to the right on desktop) when the drawer is open if it's *not* grayed out. So,

[2015-08-28 20:15] ultrasaurus opened #752 "93% of what quota?"
sent this over email (to college-choice email list), putting in github so we don't lose it.

https://console.18f.gov

![image](https://cloud.githubusercontent.com/assets/41906/9556052/8d43e1f6-4d86-11e5-9c54-b19403eb6b77.png)

[2015-08-28 20:15] ultrasaurus commented on #752
@ozzyjohnson @dlapiduz what is the quota in the upper-right?  do we need to raise it?

[2015-08-28 20:16] jjoteal commented on #751
@meiqimichelle SOLD! on the fact that having the drawer open would allow folks to see what happens to the results in the main content area easier.

[2015-08-28 20:32] shawnbot opened #753 "Missing national average of repayment rate"
@ErieMeyer, when you were updating the national stats in #547, did you come across the national average for repayment rate (`repayment_rate`)? Because I only see the 2- and 4-year subsets in there. That's why the average line is missing in this chart:

![image](https://cloud.githubusercontent.com/assets/113896/9556392/374f8c3e-4d89-11e5-8f68-877b3464bc44.png)

[2015-08-28 20:33] jackiekazil commented on #748
I can help w/ this. With project specific requests, we limit access to the project. I can make someone an admin to the project and then they become the party who "manages" the request. I didn't see you in the system though :-).

@shawnbot, @meiqimichelle, @ultrasaurus -- can one of you tell me who would be the best person to "manage" users for this project in 18F analytics? The person that you ide

[2015-08-28 20:33] dmedfsa opened #754 "BUG: Click on map location results in blank bubble"
In the school screen, when you hover over the map of the school's location a hand occurs as if you could move the map, but you cannot.  Then, when you click on the location of the school itself, a pointing finger appears.  When you click, it brings up a blank bubble with an "x." Screenshot:

![bug01](https://cloud.githubusercontent.com/assets/14021621/9556416/8ce80f54-4da2-11e5-97b7-f44406148c75.P

[2015-08-28 20:37] sharonleu opened #755 "BUG: URL to school opens to new Tab"
School's URL opens to new tab, not to new window.

Mac Pro on Chrome
8/28/15 4:30 PM

[2015-08-28 20:38] shawnbot opened #756 "Define threshold for "about average" displays"
I *think* we agreed that the threshold for displaying "about average" instead of above or below was 3%, but I wanted to make sure before I implement it. This is re: @ErieMeyer's report via email for this chart:

![image](https://cloud.githubusercontent.com/assets/113896/9556422/777740c2-4d89-11e5-8a03-a82195198ad8.png)

FWIW, the green doesn't go above the line because the one pixel equals about $

[2015-08-28 20:40] Valer038 opened #757 "BUG: Student ethnicity descriptions"
https://college-choice.18f.gov/school/?239105-Marquette-University

![image](https://cloud.githubusercontent.com/assets/14021610/9556515/42de23de-4da3-11e5-86c9-2b509cadb171.png)

Time: 4:39pm
Date: 8/28/15
System: Chrome (PC)

Student ethnicity descriptions are all lower-case, several have underscores included, and several of the descriptors are accronyms.

[2015-08-28 20:40] sharonleu opened #758 "BUG: URL to school opens to new Tab"
School's URL opens to new tab, not to new window.

Mac Pro on Chrome
8/28/15 4:30 PM

[2015-08-28 20:41] obergh opened #759 "Bad info button"
Information button does not display any info. iPhone safari 4:45pm.

[2015-08-28 20:41] sharonleu opened #760 "BUG: Value snapshot i hovers wrong definition"
i hovers have the same definition (average actual cost) and does not change.

Mac Pro on Chrome
8/28/15 4:40 PM

[2015-08-28 20:41] dmedfsa opened #761 "BUG: System lists Blacksburg as an "urban" area"
When searching for Virginia Polytechnic Institute and State University, the school basics notes that it is in an "urban" area.  Blacksburg, VA is a very small, rural town, though the presence of Virginia Tech has increased its population significantly.

![bug02](https://cloud.githubusercontent.com/assets/14021621/9556564/aafc68f4-4da3-11e5-8af9-f95be4b01400.PNG)

[2015-08-28 20:45] LisaGee commented on #761
Locale for this school is ==13, which is defined as City: Small (population less than 100,000).

We should maybe take a look at the definitions? And confirm that they resonate with users.

[2015-08-28 20:46] dmedfsa opened #762 "BUG: Hovering over info for "graduation rate" and "salary after 10 years" describes "average actual cost""
Hovering over "info" for graduation rate does not provide information describing graduation rate calculation, but instead provides information about average actual cost.

![bug03](https://cloud.githubusercontent.com/assets/14021621/9556633/5c02240e-4da4-11e5-8871-d696c66bd30b.png)

[2015-08-28 20:47] lm27 opened #763 "BUG: ugly drop down"
![image](https://cloud.githubusercontent.com/assets/14021942/9556654/8490fc10-4da4-11e5-8473-ee9a8f4b2ccf.png)
 4:48 PM on Friday, tried to search for Pennsylvania and got an ugly drop down

[2015-08-28 20:48] mgunja opened #764 "Information hover problems"
When you hover over info on the main page over "Graduation Rate" and "Salary 10 years after", it gives you the information for "Average Actual Cost."

Hovering over the info tab on "Typical Total Cost" and "Typical Monthly Loan Payment" and "Students Receiving Federal Aid" under the Financial Aid & Debt tab gives you the information for "Graduation Rate"

[2015-08-28 20:48] sharonleu opened #765 "BUG: Financial Aid and Debt wrong def in i-hover"
In Financial Aid & Debt section

Students paying down debt - i hover def is average actual cost

Macbook Pro Chrome
8/28/15 4:48

[2015-08-28 20:50] sharonleu opened #766 "BUG: Financial Aid and Debt wrong def in i-hover"
Typical total debt i-hover shows definition for graduation rate

Macbook Pro Chrome
8/28/15 4:50 PM

[2015-08-28 20:51] lm27 opened #767 "BUG: tried to search for schools in PA and the Far West"
![image](https://cloud.githubusercontent.com/assets/14021942/9556743/026ddc3e-4da5-11e5-9ea7-f6ecf27d8112.png)

4:51 PM, I tried to search for schools in Pennsylvania and the Far West and it yielded no results.

[2015-08-28 20:52] sharonleu opened #768 "BUG: Financial Aid and Debt wrong def in i-hover"
In Financial Aid & Debt section (University of Maryland College Park)

Typical monthly loan amount - i hover def is average graduation rate

Macbook Pro Chrome
8/28/15 4:51

[2015-08-28 20:52] vgvg opened #769 "BUG: iPad - Search filter sliders don't work and show $NaN"
When tapping on the slider to try to change the filters, they change into $NaN

[2015-08-28 20:53] sharonleu opened #770 "BUG: Financial Aid and Debt wrong def in i-hover"
In Financial Aid & Debt section (University of Maryland College Park)

Students receiving aid  - i hover def is average graduation rate

Macbook Pro Chrome
8/28/15 4:53

[2015-08-28 20:53] dmedfsa commented on #762
![bug04](https://cloud.githubusercontent.com/assets/14021621/9556766/48592b40-4da5-11e5-8ca0-039a684dc827.png)

[2015-08-28 20:53] vgvg commented on #769
<img width="295" alt="screenshot 2015-08-28 16 48 08" src="https://cloud.githubusercontent.com/assets/815256/9556771/52768870-4da5-11e5-91a1-f04acb1bf07f.png">

[2015-08-28 20:54] claremccann opened #771 "BUG-No US Virgin Islands search option"
Dropdown menu for location lists states, the District and US overseas territories but not the US Virgin Islands/
![img_3458](https://cloud.githubusercontent.com/assets/13874735/9556776/59e8df86-4da5-11e5-9fed-81bc929a5f04.PNG)

[2015-08-28 20:56] vgvg opened #772 "BUG: iPad - Filter zip code & mile radius mis-alignment"
Only seems to be mis-aligned in horizontal view mode.

[2015-08-28 20:57] vgvg commented on #772
<img width="270" alt="screenshot 2015-08-28 16 49 12" src="https://cloud.githubusercontent.com/assets/815256/9556877/d129c7ea-4da5-11e5-8df3-c3802c7e8957.png">

[2015-08-28 20:57] vgvg opened #773 "BUG: iPad - When expanding location on homepage, background looks weird"
Initial load, background looks ok:
<img width="1016" alt="screenshot 2015-08-28 16 25 22" src="https://cloud.githubusercontent.com/assets/815256/9556895/e7ea227c-4da5-11e5-8e03-37744ef9ba3c.png">

After expanding a section like Location, the background behind it looks duplicated/cut-off (take a look at the hats):
<img width="1010" alt="screenshot 2015-08-28 16 25 28" src="https://cloud.githubuserc

[2015-08-28 20:58] ozzyjohnson commented on #752
That's the overall capacity limit for your project in Cloud Foundry. I
cranked it up.

On Fri, Aug 28, 2015 at 4:15 PM, Sarah Allen <notifications@github.com>
wrote:

[2015-08-28 20:59] diego- commented on #752
Specifically RAM usage per CF team
    current_memory_usage / memory limit * 100

[2015-08-28 20:59] #752 closed

[2015-08-28 21:00] jackiekazil commented on #748
@LisaGee you now have admin rights to analytics for this project. You should be able to add folks and give them permissions. If you have any issues, let me know.

[2015-08-28 21:00] sharonleu opened #774 "BUG: Calculate Your Exact Net Price opens to new tab"
Calculate new price opens college board website opens to new tab. (Chrome)

Macbook Pro Chrome
8/28/15 5 PM

[2015-08-28 21:00] jackiekazil commented on #748
Also... @shawnbot :+1:

[2015-08-28 21:01] dmedfsa opened #775 "BUG: Suggested copy change: "Calculate your exact net price""
Under "Costs" the link to the institution's net price calculator indicates that someone can "calculate your exact net price."  This is not exactly true, as a college's net price calculator provides an estimate based on the data provided, and does not account for many types of aid a student might receive.  Therefore, the phrase "exact net cost" is misleading.

Recommend copy reading:

"Calculate yo

[2015-08-28 21:01] sharonleu opened #776 "BUG: Calculate Net Price Wrong Link"
Selecting "Calculate your exact net price" directs to "school disabled" site on college board website.
(From Univ of MD College Park)

Macbook Pro Chrome
8/28/15 5:01 PM

[2015-08-28 21:02] samquinney2 opened #777 "Bug: Map will not scroll or zoom"
![image1](https://cloud.githubusercontent.com/assets/14021663/9556963/3d07ea28-4da6-11e5-9d01-128e76856466.PNG)

Browser: safari, iphone5, time: 5 PM , issue: when I clicked on a school the map will not zoom or scroll like a google map will

[2015-08-28 21:03] obergh opened #778 "Average grad rate not segmented"
In grad rate tab the avg rate showed 44 for a two year ihe and 44 for a four year ihe. iPhone safari 5:00pm.

[2015-08-28 21:03] vgvg opened #779 "BUG: US Dept of Ed text on footer not a link"
Per test case doc, the text in the footer should be a link.

[2015-08-28 21:04] lm27 opened #780 "BUG: program search feature doesn't work"
5:04 pm I tried to search for foreign language, literature and linguistics programs and the search yielded nothing.

![image](https://cloud.githubusercontent.com/assets/14021942/9557043/cc4d6956-4da6-11e5-977b-ccbfba5d6d34.png)

[2015-08-28 21:04] obergh opened #781 "0 search results for Native American non-tribal institution (NANTI)"
Searching for Native American ihe yielded no results. iPhone safari 5:05pm.

[2015-08-28 21:05] jennbell opened #782 "On SAT, 0 displayed in writing rather than N/a"
On SAT, 0 displayed in writing rather than N/a

[2015-08-28 21:05] sharonleu opened #783 "BUG: Financial Aid and Debt does not show national average for students paying down debt"
Shows percentage but not national average for "Students paying down debt"
(Univ of Maryland College Park)

MacBook Pro Chrome
8/28/15 5:05

[2015-08-28 21:05] vgvg opened #784 "BUG: Race/Ethnicity with 0% show in the list"
Notice the 0% nhpi and aian

<img width="242" alt="screenshot 2015-08-28 17 04 40" src="https://cloud.githubusercontent.com/assets/815256/9557052/e3bd5362-4da6-11e5-9893-ffae4472959f.png">

[2015-08-28 21:06] sharonleu opened #785 "BUG: Financial Aid and Debt does not show above/below/at average"
Students paying down their debt does not have national average, and thus there is not info about above/below/at average for school.
(Univ of MD College Park)

Macbook Pro Chrome
8/28/15 5:06

[2015-08-28 21:09] claremccann opened #786 "BUG-No way to select criteria from dropdown menu in iPhone 5 (chrome)"
No way to select criteria from dropdown menu in iPhone 5 (chrome)

[2015-08-28 21:10] vgvg opened #787 "Enhancement: iPad - Available areas of Study not clear that it is scrollable"
This is more of a usability thing rather than a "bug", but the text area that shows available areas of study is not immediately clear that it is scrollable on an iPad. At first it lead me to believe that it ended at Education. A lot of people might not know to scroll to see more. Small UI design tweak would fix it.

<img width="645" alt="screenshot 2015-08-28 17 07 16" src="https://cloud.githubuse

[2015-08-28 21:11] obergh opened #788 "Text on top of text"
In the selectivity tab the score numbers for the range for George Washington were on top of the right hand end range number. iPhone safari 5:10pm.

[2015-08-28 21:12] schakj opened #789 "School Basics / Size: Small, Medium, Large"
2000 is kind of a low cut-off for small schools.  I would suggest raising it to 3000 or 4000.

[2015-08-28 21:12] claremccann opened #790 "BUG-"religious affiliation" dropdown screen does not populate in filter your results"
"regligious affiliation" dropdown screen does not populate in filter your results.  Shows "special designation" dropdown.

[2015-08-28 21:12] samquinney2 opened #791 "BUG: information icon does not click"
![image2](https://cloud.githubusercontent.com/assets/14021663/9557171/c763fb98-4da7-11e5-87ed-aef7513e21eb.PNG)

iphone 5, safari, 5:10 pm, issue: when I click on the information icons on the actual school page (not the search page) the bubbles won't  display any information

[2015-08-28 21:12] vgvg opened #792 "BUG: Header link to US Dept of Ed doesn't open in new window"
Per test case this should have a target=_blank set, opens in the same window right now.

[2015-08-28 21:13] schakj opened #793 "BUG: Cost / Average Actual Cost / Info Hover"
The info Hover shows the Actual Average Cost definition for all three measures.

[2015-08-28 21:13] schakj opened #794 "BUG: Cost / Average Actual Cost / Info Hover"
The info Hover shows the Actual Average Cost definition for all three measures.

[2015-08-28 21:14] dnesting opened #795 "BUG: Browser history (back button) not working correctly in search results"
Chrome/MacOS

1. Perform a search (https://college-choice.18f.gov/search/?sort=advantage:desc)
2. Advance to the next page of results
3. Click the browser's Back button.  Observe the URL changes to the previous URL.

I expect that this will return to the previous page of results.  In actuality, the results don't change.  Hitting Reload in the browser will cause the correct results to load for that

[2015-08-28 21:15] sharonleu opened #796 "BUG: Former Students Earning >$25K Missing!"
The Earnings section does not have any information about former students earning more than 25K.
(Univ of MD College Park)

Macbook Pro Chrome
8/28/15 5:14 PM

[2015-08-28 21:15] schakj opened #797 "BUG: Financial Aid & Debt / Students Paying Down Their Debt / Info Hover"
Shows info for average actual cost instead of repayment rate.

[2015-08-28 21:16] schakj opened #799 "BUG: Financial Aid & Debt / Students Paying Down Their Debt / National Average"
Does not appear.

[2015-08-28 21:17] sharonleu opened #800 "BUG: Student Body i-hover definition of race/ethnicity incorrect"
i-hover definition for race/ethnicity displays graduation rate.
(Univ of MD College Park)

Macbook Pro Chrome
8/28/15 5:16 PM

[2015-08-28 21:17] schakj opened #801 "BUG: Financial Aid & Debt / Typical Total Debt"
Shows grad rate info instead of debt average.

[2015-08-28 21:18] schakj opened #802 "BUG: Financial Aid & Debt / Typical Monthly Loan Payment / Info Hover"
Shows grad rate info instead of info loan payment amounts.

[2015-08-28 21:18] #788 closed

[2015-08-28 21:19] schakj opened #803 "BUG: Financial Aid & Debt / Students Receiving Federal Aid / Info Hover"
Shows grad rate info instead of fraction of students receiving aid.

[2015-08-28 21:19] dnesting opened #804 "BUG: Search results pagination arrows advance to an inconsistent page"
Chrome on MacOS
The left-arrow (<) and right-arrow (>) items on search result pagination behave differently.  The right-arrow seems to advance to the next page number after the highest numbered page (i.e., if you are on page 1, you see links for pages 2-6, and > takes you to page 7).  If you are on page 10, and click the left-arrow, it only moves you back a single page (to page 9).  So it appears

[2015-08-28 21:20] rongoro opened #805 "cfpb image too wide on iphone5"
![img_2228](https://cloud.githubusercontent.com/assets/58707/9557302/ee47b3ca-4da8-11e5-8936-38f23ee61589.PNG)

[2015-08-28 21:20] lm27 opened #806 "BUG: nothing works on internet explorer 9"
5:19 pm on Friday August 28th: I tried using the website in Internet Explorer 9 and nothing works.  No search features, no nothing.

[2015-08-28 21:20] mgunja opened #807 "Text formatting issue - the Suburban is running into the size of the institution"
![image](https://cloud.githubusercontent.com/assets/14021629/9557300/e6ead53a-4da8-11e5-9905-2c75b6525413.png)

[2015-08-28 21:20] sharonleu opened #808 "BUG: Student Body Race/Ethnicity should have definitions for acronym."
The definitions for race/ethnicity should have definitions for acronym.

<img width="352" alt="screen shot 2015-08-28 at 5 19 13 pm" src="https://cloud.githubusercontent.com/assets/14021544/9557317/11c1e848-4da9-11e5-91e8-05058c9e287a.png">

[2015-08-28 21:20] claremccann opened #809 "Enhancement - add a "show all" in search results"
Enhancement - add a "show all" in search results

[2015-08-28 21:21] schakj opened #810 "BUG: Graduation & Retention / Graduation Rate / National Average"
44% is too low for the average six year graduation rate among 4-year colleges.

[2015-08-28 21:21] jennbell opened #811 "Bug"
Shouldn't race/ethnicity be displayed in caps?

[2015-08-28 21:22] jennbell opened #812 "Bug"
Shouldn't race/ethnicity be displayed in caps?

[2015-08-28 21:22] samquinney2 opened #813 "BUG: University of Chicago net price calculator"
![image3](https://cloud.githubusercontent.com/assets/14021663/9557339/37a4da98-4da9-11e5-8c70-928fbcc3d197.PNG)

iphone5, safari, 5:21 pm issue: for "Calculate Your exact net price" for University of Chicago it takes you to a broken url

[2015-08-28 21:23] schakj opened #814 "BUG: Earnings / Salary 10 Years After / Above, at, below average"
Includes above average, but this item should not appear - per policy decision.

[2015-08-28 21:23] sharonleu opened #815 "BUG: Student body - missing % Pell"
No information or graphic on percent pell.
(Univ of Maryland - College Park)

Macbook Pro Chrome
8/28/15 5:23
<img width="632" alt="screen shot 2015-08-28 at 5 22 19 pm" src="https://cloud.githubusercontent.com/assets/14021544/9557369/7a1c1efe-4da9-11e5-93a7-db507e45d4f7.png">

[2015-08-28 21:24] schakj opened #816 "BUG: Student body / Race/ethnicity / info hover"
Shows grad rate info instead of ethnicity definitions.

[2015-08-28 21:24] dmedfsa opened #817 "BUG: Style issue - "graduation rate" graph is a centimeter higher than parallel graph"
Under the "Graduation and Retention" screen, the "graduation rate" graph is a centimeter higher on the screen than the "students who return after their first year."  This is somewhat distracting.

![bug06](https://cloud.githubusercontent.com/assets/14021621/9557384/99cf9870-4da9-11e5-8686-f2b2bc412ae3.PNG)

[2015-08-28 21:24] sharonleu opened #818 "BUG: Test scores definition i-hover wrong definition"
Test scores definition shows definition rate.

Macbook Pro Chrome
8/28/15 5:24 PM

[2015-08-28 21:24] schakj opened #819 "BUG: Student body / Race/ethnicity / 0% do not display"
They do appear.

[2015-08-28 21:25] Valer038 opened #820 "BUG: SAT Scores Overlapping"
https://college-choice.18f.gov/school/?174066-University-of-Minnesota-Twin-Cities

Time: 5:23pm
Date: 8/28/15
System: Chrome (PC)

SAT Scores near the end of the spectrum overlap and make it difficult to read.

![image](https://cloud.githubusercontent.com/assets/14021610/9557400/b68f41d6-4da9-11e5-8c95-84dbd030e55f.png)

[2015-08-28 21:25] schakj opened #821 "BUG: Student / race/ethnicity / % Pell is correct"
% Pell is missing!

[2015-08-28 21:26] NatalieEMoore opened #822 "BUG: No national average line on U of Wisconsin Financial Aid and Debt"
On a Mac, on safari, with screen size of one column.  When looking at information for the University of Wisconsin-Madison the financial aid and debt tab, students paying down their debt, there is no national average black line.

https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

![screen shot 2015-08-28 at 5 22 00 pm](https://cloud.githubusercontent.com/assets/13317147/

[2015-08-28 21:26] sharonleu opened #823 "Selectivity"
In narrower view (still 3 columns), the numbers are squished and overlap.

Macbook Pro Chrome
8/28/15 5:26 PM

<img width="621" alt="screen shot 2015-08-28 at 5 25 11 pm" src="https://cloud.githubusercontent.com/assets/14021544/9557433/f2c6b616-4da9-11e5-8a46-889520050d5f.png">

[2015-08-28 21:26] schakj opened #824 "BUG: Academics / Most Popular Programs / Info Hover"
Shows grad rate info instead of info about popular programs.

[2015-08-28 21:27] vgvg opened #825 "Enhancement: iPad - make Filter results independently scrollable"
This would work well if the filter results was scrollable independent of the page, that way when clicking "Find Schools", the actual results are still in the viewport, and not way above the viewport.

Screenshot shows that the results are not in the viewport, so it looks like nothing was found

<img width="1017" alt="screenshot 2015-08-28 17 26 48" src="https://cloud.githubusercontent.com/assets/8

[2015-08-28 21:27] schakj opened #826 "BUG: Academics / Available Areas of Study / Info Hover"
Shows grad rate into instead of info about areas of study.

[2015-08-28 21:28] schakj opened #827 "BUG: Footer / Links of to a new tab when clicked"
Link does not work.

[2015-08-28 21:28] sharonleu opened #828 "BUG: Test scores percentiles not labelled"
The percentiles for scores are missing.

Macbook Pro Chrome
8/28/15 5:28

[2015-08-28 21:29] sullivanse opened #829 "Potential Enhancement: After landing on the results page, allow the option to search again without going back to the home page"
I'm using Google Chrome.  5:26pm.  At this link: https://college-choice.18f.gov/search/?name=Boston%20University&sort=advantage:desc

Potential enhancement:  After landing on the results page, allow the user to do another search from the results page--rather than having to go back to the homepage.

Due to the known bug where the search field is case sensitive, I kept getting zero results when I se

[2015-08-28 21:29] hollyallen opened #830 "Tooltip text wrong in some places"
https://federalist.18f.gov/preview/18F/college-choice/staging/school/?122454-San-Francisco-Art-Institute

![screen shot 2015-08-28 at 2 31 28 pm](https://cloud.githubusercontent.com/assets/3476681/9557484/3404b772-4d91-11e5-8370-13e12acf9005.png)

[2015-08-28 21:29] sharonleu opened #831 "BUG: Test scores ACT data missing"
No scores provided for ACT, should be labelled data not available.
Univ MD College Park

Macbook Pro Chrome
8/28/15

<img width="621" alt="screen shot 2015-08-28 at 5 25 11 pm" src="https://cloud.githubusercontent.com/assets/14021544/9557480/52866e3e-4daa-11e5-82d2-1714bcc1ed8b.png">

[2015-08-28 21:29] samquinney2 opened #832 "Bug: No average for students paying down their debt"
![img_4](https://cloud.githubusercontent.com/assets/14021663/9557470/460220f4-4daa-11e5-9dcd-e05589cfb524.PNG)

iphone 5, safari, 5:29 PM, issue: the national average for repayment is not showing up on the graph

[2015-08-28 21:30] vgvg opened #833 "BUG: iPad - "Find Schools" button on filter pane extends past container"
When pane is open:
<img width="341" alt="screenshot 2015-08-28 17 29 16" src="https://cloud.githubusercontent.com/assets/815256/9557492/65c618aa-4daa-11e5-9f8f-ba4cd50175c7.png">

When closed, it still shows up on the left side of the page:
<img width="59" alt="screenshot 2015-08-28 17 30 15" src="https://cloud.githubusercontent.com/assets/815256/9557501/7a6952ea-4daa-11e5-819c-29f9abba8ecd.png">

[2015-08-28 21:30] sharonleu opened #834 "BUG: Test scores writing score missing"
No SAT writing score for Univ of MD College Park.

Macbook Pro Chrome
5/28/15

[2015-08-28 21:32] sharonleu opened #835 "BUG: Academics i-hover definitions incorrect"
The definition for most popular programs and available areas of study show average graduation rate.
(Univ of MD College Park)

Macbook Pro Chrome
8/28/15

[2015-08-28 21:32] Valer038 opened #836 "ISSUE:"
It is not clear that the comparisons being made for Average Actual Cost, Graduation Rates, and Salaries are between similar types of IHEs (i.e. 2-year institutions are compared to other 2-year institutions; 4-year institutions are compared to other 4-year institutions)

I don't see that point clarified anywhere.

[2015-08-28 21:34] sharonleu opened #837 "BUG: Academics Most Popular Programs"
Most popular programs does not have sentence: "These are the most popular programs at this school"

Macbook Pro Chrome
8/28/15

<img width="653" alt="screen shot 2015-08-28 at 5 33 56 pm" src="https://cloud.githubusercontent.com/assets/14021544/9557553/fce864c2-4daa-11e5-8bca-3b8965413625.png">

[2015-08-28 21:34] NatalieEMoore opened #838 "BUG: National average bar on graphs only sometimes shows percentage or $ amount"
This is an example but I believe it happens on other schools and I know it happens on iPhone 5.  On the University of Wisconsin-Madison, several of the bar graphs show national average line but nothing next to it showing the percentage or $.  For example, average actual cost, graduation rate and salary after 10 years show the line but nothing to the right of the line.  However, further down, avera

[2015-08-28 21:34] rongoro opened #839 "on iphone5 clicking the "i" for more info doesn't display more info"
On the iphone5 going to a University's page then scrolling down to the "Average Actual Cost" section there is a blue "i" icon to get more info.  On a desktop you can hover to get more info, but on the iphone clicking it does nothing.

![img_2229](https://cloud.githubusercontent.com/assets/58707/9557548/f0b95738-4daa-11e5-9018-a9f04cd2aa64.PNG)

[2015-08-28 21:36] dmedfsa opened #840 "BUG: Race/Ethnicity graph has unclear/inappropriate descriptions"
Under "Student Body," the "Race/Ethnicity" includes several descriptions that are unclear to the layman -- "aian" and "nhpi" -- as well as a description that may be offensive and does not appear to be an "ethnicity" per se -- "non-resident alien."  Recommend capitalizing all races and ethnicities, spelling out any acronym, and potentially omitting the "non-resident alien" or re-characterizing as "

[2015-08-28 21:36] dnesting opened #841 "BUG: Four-column search results are too skinny at some browser widths"
Chrome/MacOS

1. Have a wide browser window
2. Perform a search (e.g. https://college-choice.18f.gov/search/?sort=advantage:desc&page=171)
3. Gradually shrink the width of the window until the four columns start to get compressed

The text starts running together and graph tops start shifting down inconsistently before the layout flips to two columns.  This implies there are ranges of browser widt

[2015-08-28 21:36] sharonleu opened #842 "BUG: Footer Department of ED link does not work"
Department of ED does not link to any site.

Macbook Pro Chrome
8/28 5:35

[2015-08-28 21:37] sharonleu opened #843 "BUG: Header link does not open new tab"
Link to the Department of ED header does not open new tab - opens on same page.

Macbook Pro Chrome

8/28 5:37

[2015-08-28 21:37] vgvg opened #844 "BUG: IE11 - Filter sliders don't do anything"
The "Actual Cost", "Graduation Rate", "Salary After Graduation" sliders on IE11 don't trigger a refresh/search on the page.

[2015-08-28 21:38] mgunja opened #845 "Text formatting issue -"
The high numbers on student selectivity run into the top score.

![image](https://cloud.githubusercontent.com/assets/14021629/9557300/e6ead53a-4da8-11e5-9905-2c75b6525413.png)
![image](https://cloud.githubusercontent.com/assets/14021629/9557631/802ddfce-4dab-11e5-8f99-0bffe14a3958.png)

[2015-08-28 21:38] meiqimichelle commented on #451
This was solved with #217

[2015-08-28 21:41] vgvg opened #846 "BUG: IE11 - Location "Add" remove functionality behavior"
This is a bit of an edge-case. But deleting the only location with a city picked doesn't reset the search on IE11. Steps to reproduce:

1- Select a state under "Location - Select one or more states".
2- Pages refreshes as expected
3- Click "Add State" but don't pick another state
4- Click the X to delete the first state
5- The search doesn't update when a location is no longer selected

Works in C

[2015-08-28 21:41] NatalieEMoore opened #847 "BUG: Key missing to show what the black line"
https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

This is not just a Wisconsin problem but there is no key to show what the black line means.  Missing key.  Mac--Safari--one column screen.

![screen shot 2015-08-28 at 5 42 27 pm](https://cloud.githubusercontent.com/assets/13317147/9557705/2ceb7438-4dac-11e5-9889-d37b92178fb9.png)

[2015-08-28 21:42] rongoro opened #848 "on iphone5 graphs are missing a key for what the line means and what its value is"
On the info page for a school the graphs hard to understand because the line isn't identified by a key or value.

![img_2230](https://cloud.githubusercontent.com/assets/58707/9557701/1b3dfecc-4dac-11e5-9d94-d3d336682e33.PNG)

[2015-08-28 21:44] NatalieEMoore opened #849 "BUG: Key missing to show what the black line"
https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

This is not just a Wisconsin problem but there is no key to show what the black line means.  Missing key.  Mac--Safari--one column screen.

![screen shot 2015-08-28 at 5 41 05 pm](https://cloud.githubusercontent.com/assets/13317147/9557687/fc8b052e-4dab-11e5-8fd3-a4e08a429648.png)

[2015-08-28 21:44] rongoro opened #850 "on iphone5 the info icons on a university page overflow to two lines"
![img_2231](https://cloud.githubusercontent.com/assets/58707/9557729/6125c744-4dac-11e5-88b5-b6c0111142cd.PNG)

[2015-08-28 21:45] vgvg opened #851 "BUG: IE11 - Accordions on school page do not expand"
The "Costs", "Financial Aid & Debt", "Graduation & Retention", etc buttons don't expand when clicked.

[2015-08-28 21:46] samquinney2 opened #852 "ENHANCEMENT: percent with earnings above high school average"
![img_5](https://cloud.githubusercontent.com/assets/14021663/9557733/6d04a044-4dac-11e5-8dbb-84423ba34e97.PNG)

iphone 5, safari, 5:44 PM, issue: The percentage of students earning above a high school diploma should have a national average, right now it doesn't have a reference point to what is average.

[2015-08-28 21:47] meiqimichelle commented on #541
Done.

[2015-08-28 21:48] NatalieEMoore opened #853 "BUG: Above average green arrow only occasionally showing."
On University of Wisconsin-Madison, lower on the site it shows Graduation & Retention: Graduation Rate: there is a green arrow with above average.  Further up on the site it appears the same bar graph with no green arrow.

On mac--safari--one column screen size.

https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison
![screen shot 2015-08-28 at 5 47 55 pm](https://cloud.gith

[2015-08-28 21:49] dmedfsa opened #854 "BUG: When searching, clicking "include online only schools" gives you ONLY online schools"
Clicking "online only" will restrict search results to online schools, omitting brick-and-mortar schools.

[2015-08-28 21:49] vgvg commented on #851
<img width="434" alt="screenshot 2015-08-28 17 49 29" src="https://cloud.githubusercontent.com/assets/815256/9557832/25e14e78-4dad-11e5-9f35-4a52990b1e04.png">

[2015-08-28 21:50] sullivanse opened #855 "BUG: Alphabetization of drop down list"
I'm using IE 11.  Accessing at 5:41pm this link:  https://college-choice.18f.gov/

On the "choose a program" drop down on the homepage, some of the programs are mis-alphabetized.  See "Natural Resources" comes in the As.  "Personal and Culinary Services" comes in the Cs. "Biological.." comes after the Bs.

It does seem like perhaps the programs are grouped by similar subject (meaning maybe they ar

[2015-08-28 21:52] rongoro opened #856 "on OSX chrome when one of the info icons is "suburban" it overflows into the "Medium" icon"
https://college-choice.18f.gov/school/?113218-Cuyamaca-College

![screen shot 2015-08-28 at 5 48 29 pm](https://cloud.githubusercontent.com/assets/58707/9557854/6859fb60-4dad-11e5-87d9-6b2874df2963.png)

(for a good looking example you can look here:  https://college-choice.18f.gov/school/?166656-MCPHS-University)

[2015-08-28 21:52] NatalieEMoore opened #857 "BUG: in Race/Ethnicity-non resident alien and two or more have weird underscores"
Under Wisconsin-Madison under race/ethnicity non_resident_alien and two_or_more looks weird.

On mac-safari-one column screen.

https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

![screen shot 2015-08-28 at 5 52 43 pm](https://cloud.githubusercontent.com/assets/13317147/9557875/9b12366c-4dad-11e5-92f5-8f9238da3b02.png)

[2015-08-28 21:53] schakj opened #858 "BUG: Graduation & Rate / Students Who Return After Their First Year / above, at, or below average"
Shows above average, but this should not be displayed, per policy decision.

[2015-08-28 21:54] meiqimichelle commented on #553
@ErieMeyer @jjoteal I think this is easiest to resolve live -- going through the pages together and making sure things are the way they're supposed to be. Pick a time next week?

[2015-08-28 21:55] meiqimichelle commented on #280
Done.

[2015-08-28 21:56] NatalieEMoore opened #859 "BUG: On race/ethnicity (at least on Wisconsin-Madison) 0% is showing up"
On mac on safari on single column screen- 0% is showing up for unknown, alan and nhpi under race/ethnicity for University of Wisconsin-Madison.

https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

![screen shot 2015-08-28 at 5 54 20 pm](https://cloud.githubusercontent.com/assets/13317147/9557918/0018fae6-4dae-11e5-8e2a-2d5608df97ca.png)

[2015-08-28 21:57] imetzg opened #860 "Issues / possible enhancements"
- The national average line for the percentage of students paying down their debt is missing
- Text for race/ethnicity terms needs to be finalized
- Percentage of students receiving Pell Grants is missing
- Numbers denoting range of test scores can overlap with min. and max. values

Possible enhancements:

- Add caveats to contextualize certain information. For example, the community college I sea

[2015-08-28 21:57] #307 closed

[2015-08-28 21:57] samquinney2 opened #861 "BUG: iphone safari test scores"
![img_6](https://cloud.githubusercontent.com/assets/14021663/9557933/20c02076-4dae-11e5-9a45-07cb8fe0099c.PNG)

iphone 5, safari, time 5:57, issue: the test scores are all overlapping each other.

[2015-08-28 21:58] schakj opened #862 "BUG: Filtering results (Sumsung)"
Changing the filter on search for schools does not update after clicking find schools.  This error occurs in the Samsung / Chrome environment.

[2015-08-28 21:59] sullivanse opened #863 "BUG: U.S. Territories alphabetization in the states drop down list"
I'm using Chrome.  Accessing this link at 5:53pm:  https://college-choice.18f.gov/

I'm not sure if it's most clear to have Puerto Rico, Guam, and American Samoa to come up at the end of the drop down of states.  (I was accessing this drop down from the homepage.)  The rest of the states are in alphabetical order.  But, after Wyoming comes Puerto Rico, Guam, and American Samoa.

Given that "Distri

[2015-08-28 21:59] dmedfsa opened #864 "ENHANCEMENT: When searching, include "online-only" as an option under states rather than a checkbox"
Currently, a student who is searching for a specific school or set of schools who clicks "online-only" will increase the number of his/her search results by all online-only schools.  This would likely be something someone would rarely want.  Instead, a student who specifically wants to see online-only schools would want to have that as a specific search option.

Also, if you search by location and

[2015-08-28 22:00] schakj opened #865 "Advanced Search Option Suggestion"
Should add the filtering options to the advanced search function.  Specifically, it would be great to search by distance from a zip code.

[2015-08-28 22:04] NatalieEMoore opened #866 "Bug: On Test Scores-University of Wisconsin-Madison-SAT section-Text Overlap Error"
On Mac on Safari on 1 Column Screen---> Under Wisconsin-Madison test scores, under Math, the text is overlapped and blurry.

https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

![screen shot 2015-08-28 at 5 57 25 pm](https://cloud.githubusercontent.com/assets/13317147/9557949/4bcd1710-4dae-11e5-9e3a-f8297ab03faf.png)

[2015-08-28 22:04] LisaGee commented on #657
Also true on iPhone, Safari

[2015-08-28 22:05] LisaGee commented on #759
Duplicate of #657

[2015-08-28 22:05] #759 closed

[2015-08-28 22:08] rongoro opened #867 "on iphone5 the double scrolling in the Available Areas of Study section makes it hard to navigate"
On the iphone5
1. open the info for a University
2. open the Academics subsection
3. The Available Areas of Study is another scrolling section that is difficult to scroll past on a phone.  It would be easier to just have it as a long list.

![img_2233](https://cloud.githubusercontent.com/assets/58707/9558101/d2ac842c-4daf-11e5-87cc-5ea7e694c1fc.PNG)

[2015-08-28 22:12] NatalieEMoore opened #868 "Bug: Wisconsin-Madison "i" shows incorrect information"
On safari--on mac--on one column screen.

Most popular programs, available area of study, test scores, and race/ethnicity all show the same information when hovering over "i" which is incorrect.

image that shows:
![screen shot 2015-08-28 at 6 12 13 pm](https://cloud.githubusercontent.com/assets/13317147/9558159/59475eb2-4db0-11e5-927d-a5794ebba437.png)

![screen shot 2015-08-28 at 6 10 15 pm](htt

[2015-08-28 22:14] LisaGee commented on #767
This should be fixed by #329

[2015-08-28 22:14] #767 closed

[2015-08-28 22:14] rongoro opened #869 "Student Body percentages that are 0% shouldn't display"
If there are 0% of a certain Race/Ethnicity it shouldn't display at all.

https://college-choice.18f.gov/school/?194824-Rensselaer-Polytechnic-Institute

![screen shot 2015-08-28 at 6 12 35 pm](https://cloud.githubusercontent.com/assets/58707/9558182/99beb85a-4db0-11e5-952b-0b0d2b95a432.png)

[2015-08-28 22:15] sullivanse opened #870 "BUG: Spelling out acronyms for race/ethnicity options"
I'm using IE 11.  Accessing this link at 6;13pm:  https://college-choice.18f.gov/school/?164988-Boston-University

It seems like "nhpi" and "aian" should be spelled out rather than listed as an acronym. Also, there are underscores in the two of the terms.

![image](https://cloud.githubusercontent.com/assets/9384522/9558193/b7dd1af2-4db0-11e5-85e7-3eb7e5dff688.png)

[2015-08-28 22:19] LisaGee commented on #869
Dupe of #519

[2015-08-28 22:19] #869 closed

[2015-08-28 22:20] LisaGee commented on #859
Dupe of #519

[2015-08-28 22:20] #859 closed

[2015-08-28 22:20] LisaGee commented on #819
Dupe of #519

[2015-08-28 22:20] #819 closed

[2015-08-28 22:20] LisaGee commented on #784
Dupe of #519

[2015-08-28 22:20] #784 closed

[2015-08-28 22:21] sullivanse opened #871 "BUG: "Share this school" link is not working"
I'm using IE 11.  Accessing this link at 6:20pm:  https://college-choice.18f.gov/school/?164988-Boston-University

When I click "Share this link" nothing happens.

![image](https://cloud.githubusercontent.com/assets/9384522/9558260/82524096-4db1-11e5-9703-2289b97a29ac.png)

[2015-08-28 22:22] dmedfsa opened #872 "BUG: "Choose a degree" lists only associate's and bachelor's degree as options"
The list of search options for types of degrees only provides options for bachelor's and associate's degrees.  There are a number of other types of lower-level credentials (certificates, diplomas, etc.) that students could be looking for, and these should be represented.

[2015-08-28 22:29] vgvg opened #873 "Bug: Layout issues on small on-column screens (like iPhone or desktop)"
Found by @NatalieEMoore!

When the filter pane is open, it creates scrollable space at the bottom of the page, and to the sides. It also covers the entire viewport (which in itself is ok), but clicking "Find Schools" doesn't hide the pane, so there's no signal to the user that the search went through.

[2015-08-28 22:29] rongoro opened #874 "On OSX chrome the search filter sliders get a focus state highlight when using the mouse"
The blue focus state highlight around the sliders appear to be meant for keyboard users but they activate when using the mouse as well.

https://college-choice.18f.gov/search/?avg_net_price=25000..87000&completion_rate=0.24000000000000005..0.85&name=Ron%20Gorodetzky&state=CA&zip=94122&size=small&size=medium&sort=advantage:desc

![screen shot 2015-08-28 at 6 27 12 pm](https://cloud.githubuserconten

[2015-08-28 22:30] ErieMeyer commented on #556
Looks great!

[2015-08-28 22:30] #556 closed

[2015-08-28 22:32] ErieMeyer commented on #541
Looks great!

[2015-08-28 22:32] #541 closed

[2015-08-28 22:32] dmedfsa opened #875 "BUG: After searching, user must click several times to get back to initial search"
If a user conducts a search and then wants to clicks "back" on the browser to return to the original search screen, the user must click "back" four times to return to the search screen.

Browser: Firefox

[2015-08-28 22:32] LisaGee commented on #849
Dupe of #466

[2015-08-28 22:32] #849 closed

[2015-08-28 22:33] vgvg opened #876 "Search form headings aren't tabbable"
After School Name, page skips to Find Schools. Doesn't seem to allow selection of Location, Programs/Degree, Size in the correct order.

[2015-08-28 22:33] dmedfsa opened #877 "BUG: Clicking "back" after searching does not clear search criteria"
Browser: Firefox

When a user searches and then attempts to return to the search panel by clicking "back," the system does not clear the user's original search criteria, so the next search's results are limited by the new criteria and the old criteria.

[2015-08-28 22:34] claremccann opened #878 "Bug: Data showing as 0% in label instead of N/A"
Yeshiva College of the Nations Capital shows as 0% grad rate when searching men's only schools, but bar graph shows as Data Not Available.

[2015-08-28 22:38] LisaGee commented on #847
Dupe of #466

[2015-08-28 22:38] #847 closed

[2015-08-28 22:38] claremccann opened #879 "As a student, I would like to be able select multiple religious affiliations so that I can find all of the schools that might be a fit for me (religion-wise)."
h/t dmedfsa

Schools can be multiple categories (eg women-only and HBCU=Spelman, men-only and HBCU=Morehouse). Users might be looking for schools that are one of several religious affiliations.

Should enable multi-select options.

[2015-08-28 22:43] dmedfsa opened #880 "ENHANCEMENT: Make "Check Out These Schools" specific to region"
Suggest using a user's IP address to determine the region from which he/she is logging in, and provide additional region-specific content in the "check out these schools" area.  For example, a user logging in from Montana might be more interested in colleges in the West than schools on the east coast.

[2015-08-28 22:44] ErieMeyer commented on #533
Looks great on dev

[2015-08-28 22:44] vgvg opened #881 "Bug: Filter when page is on another page doesn't work"
Steps to repro:
1- Do an initial search for something that results in many pages of results
2- Navigate past the first page (try page 3 at least)
2- Open the filter pane
3- Filter by a school that you know exists
4- Notice that the page is empty

Here's the direct URL that gets generated for an example filter when we were on page 24 already:
https://college-choice.18f.gov/search/?name=Boston%20Uni

[2015-08-28 22:45] ErieMeyer commented on #458
Yayaya looks great!

[2015-08-28 22:57] LisaGee commented on #777
Dupe of #231

[2015-08-28 22:57] #777 closed

[2015-08-28 23:02] LisaGee commented on #774
@sharonleu - Hi Sharon, Can you specify what school you were looking at when you saw this issue? It would be great to include: URL of the page you were on, URL that you were sent to. Thanks.

[2015-08-28 23:10] vgvg commented on #792
See PR #882

[2015-08-28 23:16] sharonleu commented on #774
Sorry - one of the early ones.  Clicking "Calculate Your Exact Net Price" and it went here.

<img width="977" alt="screen shot 2015-08-28 at 7 15 32 pm" src="https://cloud.githubusercontent.com/assets/14021544/9558903/4c06f542-4db9-11e5-8389-1ee437b3b41e.png">

[2015-08-28 23:24] LisaGee commented on #828
@sharonleu - Hi Sharon, Can you specify what school you were looking at when you saw this issue? It would be great to include: URL of the page you were on, a screenshot Thanks.

[2015-08-28 23:25] LisaGee commented on #822
Dupe of #466

[2015-08-28 23:25] #822 closed

[2015-08-28 23:26] LisaGee commented on #617
Dupe of #466

[2015-08-28 23:26] #617 closed

[2015-08-28 23:34] dnesting opened #883 "BUG: Right side of search results cut off when expanding filters"
Chrome on MacOS

1. Browser width to four columns
2. Perform a search
3. Click the 'Filter and edit your search'

A drawer appears on the left to apply filters on the data, and the content on the right appears to get pushed off the right side of the screen, truncating things after the third column, including pagination and sorting.  Resizing the browser seems to shift things around a little bit bu

[2015-08-29 00:29] LisaGee commented on #566
I would think Search Results would show the union of these 2 queries:

https://ccapi-prod.18f.gov/school?fields=school.name,id,2013.academics.CIP11ASSOC&2013.academics.CIP11ASSOC__range=1..100&state=RI

https://ccapi-prod.18f.gov/school?fields=school.name,id,2013.academics.CIP11BACHL&2013.academics.CIP11BACHL__range=1..100&state=RI

[2015-08-29 00:36] LisaGee opened #884 "Filter out schools with no undergraduate students"
we need to filter out schools with no undergraduate students and/or predominant degree of 0. These tend to be misclassified graduate schools, likely due to data reporting problems. The way to do that is to exclude preddeg=0 or UGDS=0 from the consumer site.

[2015-08-29 00:47] LisaGee commented on #884
Actually. There are no schools with UGDS=0 in the data.

[2015-08-29 00:47] #884 closed

[2015-08-29 00:53] LisaGee opened #885 "Include predominantly certificate schools, but only if they offer at least one two- or four-year degree"
We wanted to include predominantly certificate schools, but only if they offered at least one two- or four-year degree.
we’d ideally like preddeg=1 if highdeg!=1 included;

[2015-08-29 00:53] LisaGee commented on #885
@shawnbot I'm concerned about risk and am leaning toward post-launch. Wanted to consult with you.

[2015-08-29 01:01] LisaGee opened #886 "Compare Like Schools with Like - specifically 4-year schools against other 4-year schools, and then Less-Than-4 against each other"
This applies to:
1. Search Results - somehow show 4-year schools as one bucket and all others as another bucket.
2. National Average for Graduation Rate - Figure out a way to display and make a user understand that when she looks at a 4-year school, the National Average she's seeing is for only other 4-year schools. Similarly have all less than 4 (2-year and certificate) schools work that way.

Th

[2015-08-29 01:09] LisaGee commented on #566
Explanation of the WHY from Clare:
PCIP and predominant degree type (for program search) are only somewhat related to each other. A predominantly four-year school could still offer 49% two-year degrees. That’s why we created the CIP-by-credential-level variables – if you search by CIP and then by degree type, you’ll get more specific information for every school that offers the program you want in

[2015-08-29 01:12] LisaGee commented on #512
From Clare: Another option is to search by program and CIP, since most schools offer more than one degree type and therefore limiting by type (two- and four-year) could unnecessarily limit the types of schools they’re looking at. There’s some evidence to suggest enrolling in a two-year degree program at a four-year school makes you more likely to get a bachelor’s degree which, as you’ve seen, tend

[2015-08-29 01:20] LisaGee commented on #144
Put a file with the 4- and 6-digit CIP codes into the PICC/Data folder (CIPCode2010.csv & CIP4&6.zip). These follow the same format as the 2-digit ones already in the master file – 0=program not offered; 1=program offered; 2=offered as a distance-ed program. Programs are listed separately for certificate, associate, and bachelor’s-degree programs. The file, as with the other files, are provided at

[2015-08-29 01:29] LisaGee commented on #830
Should be addressed by #420

[2015-08-29 01:29] #830 closed

[2015-08-29 01:31] LisaGee commented on #868
Should be addressed by #420

[2015-08-29 01:31] #868 closed

[2015-08-29 01:31] LisaGee commented on #835
Should be addressed by #420

[2015-08-29 01:31] #835 closed

[2015-08-29 01:31] LisaGee commented on #824
Should be addressed by #420

[2015-08-29 01:31] #824 closed

[2015-08-29 01:31] LisaGee commented on #818
Should be addressed by #420

[2015-08-29 01:31] #818 closed

[2015-08-29 01:32] LisaGee commented on #826
Should be addressed by #420

[2015-08-29 01:32] #826 closed

[2015-08-29 01:32] LisaGee commented on #816
Should be addressed by #420

[2015-08-29 01:32] #816 closed

[2015-08-29 01:32] LisaGee commented on #803
Should be addressed by #420

[2015-08-29 01:32] #803 closed

[2015-08-29 01:32] LisaGee commented on #802
Should be addressed by #420

[2015-08-29 01:32] #802 closed

[2015-08-29 01:33] LisaGee commented on #800
Should be addressed by #420

[2015-08-29 01:33] #800 closed

[2015-08-29 01:33] LisaGee commented on #797
Should be addressed by #420

[2015-08-29 01:33] #797 closed

[2015-08-29 01:33] LisaGee commented on #794
Should be addressed by #420

[2015-08-29 01:33] #794 closed

[2015-08-29 01:34] LisaGee commented on #793
Should be addressed by #420

[2015-08-29 01:34] #793 closed

[2015-08-29 01:34] LisaGee commented on #770
Should be addressed by #420

[2015-08-29 01:34] #770 closed

[2015-08-29 01:34] LisaGee commented on #768
Should be addressed by #420

[2015-08-29 01:34] #768 closed

[2015-08-29 01:34] LisaGee commented on #766
Should be addressed by #420

[2015-08-29 01:34] #766 closed

[2015-08-29 01:34] LisaGee commented on #765
Should be addressed by #420

[2015-08-29 01:34] #765 closed

[2015-08-29 01:34] LisaGee commented on #764
Should be addressed by #420

[2015-08-29 01:34] #764 closed

[2015-08-29 01:34] LisaGee commented on #762
Should be addressed by #420

[2015-08-29 01:34] #762 closed

[2015-08-29 01:34] LisaGee commented on #760
Should be addressed by #420

[2015-08-29 01:34] #760 closed

[2015-08-29 01:35] LisaGee commented on #696
Should be addressed by #420

[2015-08-29 01:35] #696 closed

[2015-08-29 01:35] LisaGee commented on #695
Should be addressed by #420

[2015-08-29 01:35] #695 closed

[2015-08-29 01:38] LisaGee commented on #689
Related to #448 .
Consider removing the hover over graphs altogether.

[2015-08-29 01:39] LisaGee commented on #839
dupe of #657

[2015-08-29 01:39] #839 closed

[2015-08-29 01:41] LisaGee commented on #690
consider removing hover from graph

[2015-08-29 01:47] LisaGee commented on #669
Dupe of #241

[2015-08-29 01:47] #669 closed

[2015-08-29 01:51] LisaGee commented on #569
Dupe of #537

[2015-08-29 01:51] #569 closed

[2015-08-29 01:54] LisaGee commented on #866
Overlap should be handled by #102

[2015-08-29 01:54] #866 closed

[2015-08-29 01:55] LisaGee commented on #820
Overlap should be handled by #102

[2015-08-29 01:55] #820 closed

[2015-08-29 01:55] LisaGee commented on #666
Overlap should be handled by #102

[2015-08-29 01:55] #666 closed

[2015-08-29 01:55] LisaGee commented on #593
Overlap should be handled by #102

[2015-08-29 01:55] #593 closed

[2015-08-29 01:56] LisaGee commented on #633
Dupe of #420

[2015-08-29 01:56] #633 closed

[2015-08-29 02:02] LisaGee commented on #603
ED has a similar problem and it ended up being the Group Policy Object on Chrome.. It's the specific configuration for a group of users or the entire enterprise for a tool. In this case, it's the GPO for the Chrome browser.

[2015-08-29 02:02] #603 closed

[2015-08-29 02:03] LisaGee commented on #605
@jjoteal Can you confirm it works now?

[2015-08-29 02:05] LisaGee commented on #606
Should be fixed by combo of #273 and #380

[2015-08-29 02:05] #606 closed

[2015-08-29 02:07] LisaGee opened #887 "Filter out schools where UGDS==NULL"
these schools should not be included in the tool at all.

[2015-08-29 02:08] LisaGee commented on #611
Dupe of #887

[2015-08-29 02:08] #611 closed

[2015-08-29 02:09] LisaGee commented on #615
Dupe of #187

[2015-08-29 02:09] #615 closed

[2015-08-29 02:10] LisaGee commented on #612
Handled by  #293

[2015-08-29 02:10] #612 closed

[2015-08-29 02:12] LisaGee opened #888 "Review every label and text entry"
Make sure everything is actually labeled correctly.

[2015-08-29 02:13] LisaGee commented on #613
Thanks. This is actually supposed to read "Salary 10 Years After Entry".
Filed a ticket to make sure all copy is reviewed before Launch #888

[2015-08-29 02:13] #613 closed

[2015-08-29 02:14] LisaGee commented on #614
Should be taken care of by #293

[2015-08-29 02:14] #614 closed

[2015-08-29 02:15] LisaGee commented on #609
Should be handled by #887

[2015-08-29 02:15] #609 closed

[2015-08-29 02:17] LisaGee commented on #619
@stephaniefaith Which version of IE?

[2015-08-29 02:20] LisaGee commented on #621
mail sent to Clare 8/28/15

[2015-08-29 02:21] LisaGee commented on #623
Solved by #41

[2015-08-29 02:21] #623 closed

[2015-08-29 02:24] LisaGee commented on #625
Similar to #618 ?

[2015-08-29 02:25] LisaGee commented on #627
@sullivanse what version of IE were you using?

[2015-08-29 02:26] LisaGee commented on #630
Should be taken care of by #887

[2015-08-29 02:26] #630 closed

[2015-08-29 02:29] LisaGee commented on #634
Pinged Mina offline for more info.

[2015-08-29 02:31] LisaGee commented on #637
@liyanchang - Sorry, I'm not sure where I should be looking to see the issue. Can you augment ticket with Steps to Repro? Thanks.

[2015-08-29 02:33] LisaGee opened #889 "Filter & Edit Enhancements"
1. Can we make the font size a bit bigger? This is good functionality and I feel like it's getting a little lost.
2. Can we make the text read "Filter and Modify Search"
3. Can the the text be clickable, as well as the hamburger nav?

![image](https://cloud.githubusercontent.com/assets/12847090/9560167/7d468e22-4dd4-11e5-9353-b68e2ea218f4.png)

[2015-08-29 02:36] LisaGee commented on #872
For discussion re: goals of tool.

[2015-08-29 02:42] LisaGee commented on #878
C150_4_POOLED_SUPP==PrivacySuppressed for this school.
Not Available should be displaying in Label as well as Graph.

[2015-08-29 02:45] LisaGee commented on #880
Would need to figure out best implementation/presentation.

[2015-08-29 02:48] LisaGee opened #890 "Alternate presentation to Advanced Search"
What if we:
1. Removed the Green Advanced Search Label.
2. Renamed the Institution Type Label to be Advanced Search.

![image](https://cloud.githubusercontent.com/assets/12847090/9560217/ad78c428-4dd6-11e5-8c41-f1ca70d952a8.png)

[2015-08-29 02:50] LisaGee opened #891 "Make default option for Drop-downs be "Any", not blank"
This applies to State and Region drop-downs.
They should be implemented Program and Degree drop-downs are.
Missing the word "Any" instead of the first element appearing Blank.

[2015-08-29 02:53] LisaGee commented on #656
Should be solved by #41

[2015-08-29 02:53] #656 closed

[2015-08-29 02:54] LisaGee commented on #648
@jjoteal Is it better now that we have the Data Not Available state?

[2015-08-29 02:55] LisaGee commented on #661
Should be solved by #293

[2015-08-29 02:55] #661 closed

[2015-08-29 02:56] LisaGee commented on #704
@kimballce Can you try again? I think this has been resolved, but would like to confirm. Thanks!

[2015-08-29 03:02] LisaGee commented on #699
Well... Multiple things here:
1. Salary 10 years after entry is now displayed as Data Not Available.
2. I agree that it is very odd that they do so well by Threshold earnings, but have a graduation rate of 15%. This does match what's in the data file. Will check with Clare on the data itself. Editing Story to reflect this issue.

[2015-08-29 03:06] LisaGee commented on #697
Dupe of #420

[2015-08-29 03:06] #697 closed

[2015-08-29 03:06] LisaGee commented on #692
Dupe of #420

[2015-08-29 03:06] #692 closed

[2015-08-29 03:07] LisaGee commented on #694
Should be handled by #888

[2015-08-29 03:07] #694 closed

[2015-08-29 03:07] LisaGee commented on #691
Handled by #420

[2015-08-29 03:07] #691 closed

[2015-08-29 03:07] LisaGee commented on #688
Handled by #420

[2015-08-29 03:07] #688 closed

[2015-08-29 03:08] LisaGee commented on #678
this link now shows Data Not Available for 0%

[2015-08-29 03:08] #678 closed

[2015-08-29 03:12] LisaGee commented on #853
Dupe of #508

[2015-08-29 03:12] #853 closed

[2015-08-29 03:13] LisaGee commented on #857
Dupe of #485

[2015-08-29 03:13] #857 closed

[2015-08-29 03:15] LisaGee commented on #858
@schakj Can you provide more info via email to me and Clare? Not sure I'm following. Thanks.

[2015-08-29 03:17] LisaGee commented on #485
Need to remove underscores and should be capitalized,

[2015-08-29 03:18] LisaGee commented on #808
Edited to be non-duplicative of #485.

[2015-08-29 03:21] LisaGee commented on #840
Edited to remove duplication of #485 and #808

[2015-08-29 03:21] LisaGee commented on #840
Reached out to Clare for further guidance regarding naming.

[2015-08-29 03:24] LisaGee commented on #676
Should be resolved by #273

[2015-08-29 03:24] #676 closed

[2015-08-29 03:24] LisaGee commented on #673
Should be fixed by #293

[2015-08-29 03:24] #673 closed

[2015-08-29 03:25] LisaGee commented on #672
Dupe of #187

[2015-08-29 03:25] #672 closed

[2015-08-29 03:26] LisaGee commented on #671
Dupe of #709

[2015-08-29 03:26] #671 closed

[2015-08-29 03:27] LisaGee commented on #665
Dupe of #485

[2015-08-29 03:27] #665 closed

[2015-08-29 03:28] LisaGee commented on #662
Dupe of #187

[2015-08-29 03:28] #662 closed

[2015-08-29 03:29] LisaGee commented on #660
Is a dupe of #649

[2015-08-29 03:29] #660 closed

[2015-08-29 03:31] LisaGee commented on #659
Should be addressed by #528

[2015-08-29 03:31] #659 closed

[2015-08-29 03:31] LisaGee commented on #655
Should be addressed by #620

[2015-08-29 03:31] #655 closed

[2015-08-29 03:34] LisaGee commented on #653
Should be addressed by #273

[2015-08-29 03:34] #653 closed

[2015-08-29 03:36] LisaGee commented on #647
Similar to #618 and #625?

[2015-08-29 03:36] LisaGee commented on #643
Should be addressed by #273

[2015-08-29 03:36] #643 closed

[2015-08-29 03:39] LisaGee opened #892 "If NPCURL==NULL, Calculate Net Price button should be disabled."

[2015-08-29 03:39] LisaGee commented on #892
Example: https://college-choice.18f.gov/school/?190071-Cochran-School-of-Nursing

[2015-08-29 03:40] LisaGee commented on #640
This is b/c data has NULL. Submitted ticket for alternate behavior: #892

[2015-08-29 03:40] #640 closed

[2015-08-29 03:40] LisaGee commented on #638
Dupe of #335

[2015-08-29 03:40] #638 closed

[2015-08-29 03:41] LisaGee commented on #757
Dupe of #485 and #808

[2015-08-29 03:41] #757 closed

[2015-08-29 03:42] LisaGee commented on #755
that's ok. Thanks.

[2015-08-29 03:42] #755 closed

[2015-08-29 03:43] LisaGee commented on #753
Repayment rate (all schools) Average: 66.90%

[2015-08-29 03:50] LisaGee commented on #886
For the predominant two-/four-year school comparisons: Associate and bachelor’s degree have very different costs and payoffs, and in general, it’s not quite fair to expect them to live up to the same standard. Students may also have different goals for each program. For instance, a community college will essentially always be cheaper than even a public four-year, and I doubt there’s any community

[2015-08-29 03:52] LisaGee commented on #699
I just have a guess here, which is that they have a pretty high percentage of adult students (58%) and a high percentage of part-time students (62%). Most likely a lot of their students are already working while in the program, so they’re close to/exceeding the threshold when they start. Even if they don’t finish, they may already be on track to hit about the average for a high school graduate.

[2015-08-29 03:52] #699 closed

[2015-08-29 04:01] LisaGee commented on #750
This is due to #877 . Looking at the URL, I can see that you had Online Only schools checked. Probably accidentally.

[2015-08-29 04:01] #750 closed

[2015-08-29 04:01] LisaGee commented on #748
Thanks @jackiekazil !

[2015-08-29 04:04] LisaGee commented on #686
Should be handled by #888

[2015-08-29 04:04] #686 closed

[2015-08-29 04:04] LisaGee commented on #685
Fixed!

[2015-08-29 04:04] #685 closed

[2015-08-29 04:06] LisaGee commented on #713
@jjoteal Great example of an edge case needed for Data Not Available. In this case, our data only has a value for the first income bracket. The other 4 are NULL.

[2015-08-29 04:08] LisaGee commented on #713
Also mailed Clare to see why another site has data, but ours shows NULL. Different data source?

[2015-08-29 04:16] LisaGee commented on #687
The data appears to be Not Available. Display issue solved by #273

[2015-08-29 04:16] #687 closed

[2015-08-29 04:18] LisaGee commented on #888
Perhaps use #684 suggestion: I think it reads better to replace the infinitive with a gerund.

[2015-08-29 04:18] jackiekazil commented on #748
:+1:

[2015-08-29 04:18] LisaGee commented on #684
Should be handled by #888

[2015-08-29 04:18] #684 closed

[2015-08-29 04:23] LisaGee commented on #796
Adding missing URL to ticket: https://college-choice.18f.gov/school/?163286-University-of-Maryland-College-Park

Should be fixed by: #423

[2015-08-29 04:23] #796 closed

[2015-08-29 04:25] LisaGee commented on #725
Not specific to Firefox.
Also related to #645?

[2015-08-29 04:25] LisaGee commented on #795
dupe of #725

[2015-08-29 04:25] #795 closed

[2015-08-29 04:26] LisaGee commented on #792
Thanks, @vgvg

[2015-08-29 04:27] LisaGee commented on #791
dupe of #657

[2015-08-29 04:27] #791 closed

[2015-08-29 04:28] LisaGee commented on #790
@claremccann can you provide more info? URL, Device, OS, Browser & version plus a screenshot would be helpful. Not sure I understand the ticket as it is written.

[2015-08-29 04:29] LisaGee commented on #789
@jjoteal I presume you got the size definitions from someplace else and wanted to use them for consistency?

[2015-08-29 04:31] LisaGee commented on #635
Should work on iPad too. See #787

[2015-08-29 04:31] LisaGee commented on #787
Dupe of #635

[2015-08-29 04:31] #787 closed

[2015-08-29 04:32] LisaGee commented on #786
@claremccann can you provide some additional info: URL and screenshot and Steps To Repro if possible. Not sure to what you are referring.

[2015-08-29 04:33] LisaGee commented on #785
Should be fixed by #753

[2015-08-29 04:33] #785 closed

[2015-08-29 04:33] LisaGee commented on #783
Should be fixed by #753

[2015-08-29 04:33] #783 closed

[2015-08-29 04:34] LisaGee commented on #782
@jennbell Can you provide more info for this ticket? At a minimum need the URL or School Name. I don't know where you are looking. Thanks.

[2015-08-29 04:45] LisaGee commented on #781
There do appear to be 13 schools with NANTI==1 in the data.

[2015-08-29 04:46] LisaGee commented on #780
@lm27 Can you please provide more information for this issue, namely: device, platform, browser & version #, and a URL is required.
When I do it, i get 1,113 results using this URL: https://college-choice.18f.gov/search/?major=language&sort=advantage:desc

[2015-08-29 04:48] LisaGee commented on #776
Appears to be a bug in the data. Mailed Clare to notify IPEDS.

[2015-08-29 04:48] #776 closed

[2015-08-29 04:49] LisaGee commented on #778
Should be handled by #886

[2015-08-29 04:49] #778 closed

[2015-08-29 04:50] LisaGee commented on #758
That's ok. Thanks.

[2015-08-29 04:50] #758 closed

[2015-08-29 04:52] LisaGee commented on #834
Should be handled by #528

[2015-08-29 04:52] #834 closed

[2015-08-29 04:53] LisaGee commented on #832
B/c of of #753

[2015-08-29 04:53] #832 closed

[2015-08-29 04:54] LisaGee commented on #831
Should be handled by #528

[2015-08-29 04:54] #831 closed

[2015-08-29 04:55] LisaGee commented on #836
Handled by #886

[2015-08-29 04:55] #836 closed

[2015-08-29 04:56] LisaGee commented on #829
Ruh-oh - @sullivanse I guess you didn't see the Filter and edit your search element towards the top of the page? Or do you mean something different? p.s. Have filed a ticket to make the type bigger to the element is more noticeable.

[2015-08-29 04:57] LisaGee commented on #827
Dupe of #779

[2015-08-29 04:57] #827 closed

[2015-08-29 04:58] LisaGee commented on #823
Should be fixed by #102

[2015-08-29 04:58] #823 closed

[2015-08-29 04:58] LisaGee commented on #821
Should be fixed by #423

[2015-08-29 04:58] #821 closed

[2015-08-29 04:58] LisaGee commented on #815
Should be fixed by #423

[2015-08-29 04:58] #815 closed

[2015-08-29 04:59] LisaGee commented on #814
@schakj Can you provide more info via email to me and Clare? Not sure I'm following. Thanks.

[2015-08-29 05:00] LisaGee commented on #813
Error in data. Reporting to Clare to feed back to IPEDS.

[2015-08-29 05:00] #813 closed

[2015-08-29 05:01] LisaGee commented on #812
covered by #485

[2015-08-29 05:01] #812 closed

[2015-08-29 05:01] LisaGee commented on #811
Dupe of #812

[2015-08-29 05:01] #811 closed

[2015-08-29 05:03] LisaGee commented on #810
It is 47.78% for 4 year schools.
Should be solved by #886

[2015-08-29 05:03] #810 closed

[2015-08-29 05:04] LisaGee commented on #806
Should be handled by #455

[2015-08-29 05:04] #806 closed

[2015-08-29 05:05] LisaGee commented on #801
@schakj can you be more specific? What's the URL?

[2015-08-29 05:05] LisaGee commented on #799
@schakj Can you be more specific? What's the URL? And please also provide a screenshot. Thanks.

[2015-08-29 05:07] LisaGee commented on #870
Handled by #808

[2015-08-29 05:07] #870 closed

[2015-08-29 05:08] LisaGee commented on #842
Dupe of #779

[2015-08-29 05:08] #842 closed

[2015-08-29 05:08] LisaGee commented on #843
Dupe of #792

[2015-08-29 05:08] #843 closed

[2015-08-29 05:10] LisaGee commented on #837
I think that's covered by the title: "Most Popular Programs".

[2015-08-29 05:10] #837 closed

[2015-08-29 11:18] saintsoup52 commented on #634
This is possible… since they are measuring different cohorts… retention is measured on students who started the year before and graduation rate for students who started 3/6 years ago.

Though… it is definitely highly suspect and should be researched more.

From: Lisa G. [mailto:notifications@github.com]
Sent: Friday, August 28, 2015 10:29 PM
To: 18F/college-choice
Subject: Re: [college-choice] BUG

[2015-08-29 11:20] saintsoup52 commented on #887
Some programs are taught semi-annually… so that is why the enrollment is = 0 (or null in a given year).

From: Lisa G. [mailto:notifications@github.com]
Sent: Friday, August 28, 2015 10:08 PM
To: 18F/college-choice
Subject: [college-choice] Filter out schools where UGDS==NULL (#887)

these schools should not be included in the tool at all.

—
Reply to this email directly or view it on GitHub<https

[2015-08-29 11:37] saintsoup52 commented on #756
Thank you for bring this up... I think the "about average" should cover much broader then just +/-3%... It should cover the middle third (+/-16.5%).

Otherwise "about average" is really not all that meaningful and we are back to a binary (above/below average system).

See comments on #511 for more info about this.

[2015-08-29 12:45] kimballce commented on #704
@LisaGee , yes it appears to be resolved. Data showed up on the first page load, and the "Data Not Available" tag clears up the confusion.

[2015-08-29 15:45] ErieMeyer commented on #704
Woo hoo!

[2015-08-29 15:46] #704 closed

[2015-08-29 17:46] sullivanse commented on #627
I was using IE 11.

From: Lisa G. [mailto:notifications@github.com]
Sent: Friday, August 28, 2015 10:25 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Sullivan, Sarah <Sarah_E_Sullivan@omb.eop.gov>
Subject: Re: [college-choice] BUG: "Share this school" link does not open into my default mail app (outlook) ; IE; 2:40PM (#627)

@sullivanse<%3ehttps:/github.com/sullivanse%3c> what

[2015-08-29 19:05] jennbell commented on #782
Hi there. It was Catholic university, SAT Writing. I took a screen shot but alas had trouble attaching from the iPad 😊. Thans!

Sent from my Windows Phone
________________________________
From: Lisa G.<mailto:notifications@github.com>
Sent: ‎8/‎29/‎2015 12:34 AM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Cc: Bell-Ellwanger, Jenn<mailto:Jennifer.Bell-Ellwanger@ed.gov>
Subject:

[2015-08-29 19:39] LisaGee opened #894 "BUG:Charts mostly don't display properly in IE11"
Win7, IE11

https://college-choice.18f.gov/search/?name=Missouri&sort=advantage:desc

In IE11:
![image](https://cloud.githubusercontent.com/assets/12847090/9563964/fd831030-4e63-11e5-80e3-75c08bb60857.png)

In Chrome, same URL:
![image](https://cloud.githubusercontent.com/assets/12847090/9563967/29a86f20-4e64-11e5-9476-ed235175f94e.png)

[2015-08-29 19:50] LisaGee opened #895 "Cards don't line up properly at certain widths, even if the School name is not particularly long"
Win7, IE11
https://college-choice.18f.gov/search/?name=Missouri&sort=advantage:desc

![image](https://cloud.githubusercontent.com/assets/12847090/9563993/32826604-4e65-11e5-8554-27a910d2e7f2.png)

[2015-08-29 19:51] LisaGee commented on #894
And when I change the sort order in IE11, the first one changes display:
![image](https://cloud.githubusercontent.com/assets/12847090/9564006/bf45cb58-4e65-11e5-828e-94898034a131.png)

[2015-08-29 19:52] LisaGee commented on #851
I repro'd as well.

[2015-08-29 20:35] ErieMeyer opened #896 "Change order of elements for Search"
Based on usability testing feedback from Jess, users are just typing in the school name, since it's the first element and is expanded. This kind of defeats the purpose as we want students to look for options that fit their criteria, not just home immediately in on their one school that they have in their head.

I'd suggest this order:
1. Programs/Degree (expanded). Move Degree above Program
2. Loc

[2015-08-29 20:49] LisaGee commented on #896
This was actually opened by LisaGee. Shared computer...

[2015-08-29 20:58] LisaGee opened #897 "Cards don't line up properly at certain widths, even if the School name is not particularly long"
Win7, IE11
https://college-choice.18f.gov/search/?name=Missouri&sort=advantage:desc

![image](https://cloud.githubusercontent.com/assets/12847090/9563993/32826604-4e65-11e5-8554-27a910d2e7f2.png)

[2015-08-29 21:03] LisaGee opened #898 "The Find Schools button tip seems to be visible when it shouldn't be."
Steps to Repro:
1. Have your IE11 browser window, about 1056 pixels wide (see 4 columns of schools, but they're a little mushed).
2. Go to: https://college-choice.18f.gov/search/?name=Providence&sort=advantage:desc
3. Scroll down to bottom of the page.
4. See the tip of a green button peeking out.

Expected Results:
No green button at all, as I never clicked to expand the drawer.

![image](https:/

[2015-08-29 21:05] LisaGee commented on #898
True in Chrome too.

Steps to repro:
https://college-choice.18f.gov/search/?name=Missouri&sort=advantage:desc
1. Scroll down to where the button would be if the drawer were expanded.
3. re-size your browser window horizontally and you will see if poking out more or less at various widths.

![image](https://cloud.githubusercontent.com/assets/12847090/9564301/2f23911c-4e70-11e5-9a28-bfb4c0504238.png

[2015-08-29 21:22] LisaGee commented on #851
But they work on the HP on IE11. Odd.

![image](https://cloud.githubusercontent.com/assets/12847090/9564356/782b67de-4e72-11e5-8d05-b0f3dd727551.png)

[2015-08-29 21:22] LisaGee commented on #897
Dupe of #895

[2015-08-29 21:22] #897 closed

[2015-08-29 21:29] LisaGee opened #899 "As I click around on IE11 with pagination, IE gives me an error message, although the page displays ok to my eye"
Win7, IE11

Steps to Repro:
1. In IE11, go to: https://college-choice.18f.gov/search/?region=2&region=9&sort=advantage:desc
2. For pagination, click on double arrows to go to page 46
3. Click Page 41
4. See error appear.

Expected Results:
No error message should appear.

![image](https://cloud.githubusercontent.com/assets/12847090/9564371/1632fd20-4e73-11e5-8aa9-7495a60d93d5.png)

[2015-08-29 21:36] LisaGee opened #900 "Filters don't work in IE11"
Win7, IE 11

Steps to Repro:
1. Go to: https://college-choice.18f.gov/search/?degree=b&sort=advantage:desc
2. Notice that there are 2101 Results
3. Click Filter and edit your search hamburger nav.
4. Drag filter handles around - notice that it actually requires 2 clicks. Click and hold, move the handle, but release the mouse button doesn't make it stop. Handle continue to move until you click agai

[2015-08-29 21:42] LisaGee opened #901 "Expanding and Collapsing Filter Drawer causes IE11 to block the site."
Win7, IE11.

.Steps to Repro:
1. In IE11 go to: https://college-choice.18f.gov/search/?degree=b&sort=advantage:desc
2. Click to expand and collapse the filter drawer multiple times.
3. Eventually you will see this error:
res://ieframe.dll/acr_error.htm#18f.gov,https://college-choice.18f.gov/search/?degree=b&sort=advantage:desc

![image](https://cloud.githubusercontent.com/assets/12847090/9564420/b

[2015-08-29 21:47] LisaGee opened #902 "Normal input methods don't work in IE11 the way they do in Chrome."
Win7, IE11

Steps to Repro:
1. In IE11, Go to: https://college-choice.18f.gov/
2. Use 2 fingers to scroll up and down the page. Notice the icon change to "scrolling", but sometimes the page doesn't move.
3. Select Bachelor's under Choose a Degree.
4. Hit return - nothing happens
5. Click on page outside of drop-down. Hit return - nothing happens.

Expected Results:
These 2 behaviors work on Chrome

[2015-08-29 21:55] LisaGee opened #903 "Privacy Suppressed data should not show as 0, but as --"
Win7, IE11

Steps to Repro:
1. Go to: https://college-choice.18f.gov/search/?control=private&sort=advantage:desc
2. Look at: Memorial School of Nursing
3. See there are 0s under Graduation Rate and salary 10 Years After, despite the charts being accurately labled as Data not available.
4. Confirmed in data: md_earn_wne_p10 and C200_L4_POOLED_SUPP both = PrivacySuppressed

![image](https://cloud.gi

[2015-08-29 21:57] LisaGee opened #904 "Sort drop-down is slightly off in height from Sort Label in IE11"
Same window size in IE11 and in Chrome:

IE11:
![image](https://cloud.githubusercontent.com/assets/12847090/9564493/4fc11c3a-4e77-11e5-8514-bf9f27f3a170.png)

Chrome:
![image](https://cloud.githubusercontent.com/assets/12847090/9564495/5b388bde-4e77-11e5-8f73-65a5eb31fa73.png)

[2015-08-30 03:50] m-hsiang commented on #634
Makes sense.

After looking around more, it's actually quite prevalent and for 4 year colleges the averages are higher for graduation than returners.

I'm not saying it's wrong based on how it's computed, but it's a bit confusing to have them side by side compared like that.

----
Mina Hsiang
c: (617) 866 9150

My apologies for any phone-related typos.

[2015-08-30 14:56] LisaGee commented on #883
Compare to other drawer UX?

[2015-08-30 15:00] LisaGee commented on #881
Need to figure out what UX should be when you are on page 15 of original search results, then user filters down to just 1 page of results. Automatically shift back to Page 1? What if filtered results still end up with 15 pages of new results - should the user still be directed back to page 1 or stay where they are?

[2015-08-30 15:04] LisaGee commented on #873
@NatalieEMoore Can you add some steps to repro and screenshots here. I'm not sure I understand the issue. Thanks.

[2015-08-30 15:06] LisaGee commented on #865
@schakj - not sure I'm following. You can search by distance from a zip code under Location.
Can you provide more info about adding "filtering to advanced search"?

[2015-08-30 15:09] LisaGee commented on #863
Probably need to create some kind of delineation for US Territories, and they should be alphabetical.

[2015-08-30 15:10] LisaGee commented on #862
@schakj Can you provide more info so that we can reproduce? URL you were on and detailed Steps To Reproduce. Thanks.

[2015-08-30 15:12] LisaGee commented on #861
Should be handled by #102

[2015-08-30 15:12] #861 closed

[2015-08-30 15:15] LisaGee opened #905 "ENHANCEMENT: Add caveats to contextualize certain information."
Add caveats to contextualize certain information. For example, the community college I searched had an average amount of student debt of around $10,000, which could be deeply off-putting to students interested in a junior college. Perhaps better clarify that most community college students don't need to take out any loans to cover the cost of attending a community college, and that the figure refl

[2015-08-30 15:17] LisaGee opened #906 "ENHANCEMENT: students could search by time it takes to drive or fly to the university from their zip code, in addition to or instead of miles."
Since students care a lot about how far away a college is from home, perhaps it's worth it to make it even easier to sort colleges by this preference. Perhaps students could search by time it takes to drive or fly to the university from their zip code, in addition to or instead of miles.

Originally submitted by @imetzg in #860

[2015-08-30 15:18] LisaGee opened #907 "ENHANCEMENT: use Google Maps for the tiles?"
Why not use Google Maps for the tiles? Students could dive into these maps to find out how to travel to the university, what entertainment venues exist near the university, etc.

Originally submitted by @imetzg in #860

[2015-08-30 15:19] LisaGee commented on #860
@imetzg Great suggestions. Have captured them in individual tickets for future consideration.: #905, #906, #907. All the bugs you reported already have open issues.

Closing this ticket.

[2015-08-30 15:19] #860 closed

[2015-08-30 15:24] LisaGee commented on #855
They should be alphabetical. Good catch.

[2015-08-30 15:25] LisaGee commented on #848
This is actually true at the moment across all platforms. Should be addressed by #466

[2015-08-30 15:25] #848 closed

[2015-08-30 15:26] LisaGee commented on #845
Should be addressed by #102

[2015-08-30 15:26] #845 closed

[2015-08-30 15:27] LisaGee commented on #841
maybe make the switch to 2 cards-width at an earlier break point?

[2015-08-30 15:29] LisaGee commented on #898
See #833 for screenshot of how the button expands beyond the container even when open: "Find Schools" button on filter pane extends past container

[2015-08-30 15:29] LisaGee commented on #833
Should be addressed by #898

[2015-08-30 15:29] #833 closed

[2015-08-30 15:31] LisaGee commented on #825
I like this idea, but need to evaluate risk for any change in this implementation about how it would work across all browsers.

[2015-08-30 15:35] LisaGee commented on #817
Here's a URL where you can see it. https://college-choice.18f.gov/school/?173920-Minnesota-State-University-Mankato
To see it, you may have to reduce your browser width until "Students WhoReturn After Their First Year" breaks into 3 lines.

[2015-08-30 15:35] LisaGee commented on #817
Simplest solution would be to change words to be a shorter description.

[2015-08-30 15:36] LisaGee commented on #809
@claremccann Sorry, not understand what a "Show All" in search results would do. Can you provide more info? The search results showing are "All".

[2015-08-30 15:37] LisaGee commented on #807
Dupe of #856

[2015-08-30 15:37] #807 closed

[2015-08-30 15:37] LisaGee commented on #805
This graphic is going away.

[2015-08-30 15:37] #805 closed

[2015-08-30 15:57] LisaGee commented on #863
And all territories should be grouped together. Currently Virgin Islands is mixed in with the states, after Virginia.

[2015-08-30 15:57] LisaGee commented on #771
It is there, just alphabetically mixed in with the states. Listed as Virgin Islands, right after Virginia.

Should be taken care of by #863

[2015-08-30 15:57] #771 closed

[2015-08-30 15:58] LisaGee commented on #769
Can someone with an iPhone test if they work on iPhone? iPad is less of a priority.

[2015-08-30 16:00] LisaGee commented on #763
@lm27 Could you add more context please? What Device, OS, Browser and exact steps to reproduce. How did you try to search - did you type P, did you click the down arrow? and what do you mean by "ugly" is it that there are 2 down arrows or something else? Thanks.

[2015-08-30 16:02] LisaGee commented on #761
@jjoteal Can you see how other tools list this size town? Do we need to make some adjustments to our terminology/iconography?

[2015-08-30 16:10] LisaGee commented on #749
@shawnbot Is there work for @jjoteal  to do here?

[2015-08-30 16:18] LisaGee commented on #716
Dupe of #855

[2015-08-30 16:18] #716 closed

[2015-08-30 16:20] LisaGee commented on #144
Adding some words for issues searchability: major, majors, economics

[2015-08-30 16:20] LisaGee commented on #715
@claremcann - What category would Economics fall under?

[2015-08-30 16:21] LisaGee commented on #715
Should be handled by #144

[2015-08-30 16:21] #715 closed

[2015-08-30 16:21] LisaGee commented on #144
Where does Economics fall?

[2015-08-30 16:21] LisaGee commented on #705
dupe of #754

[2015-08-30 16:21] #705 closed

[2015-08-30 16:22] LisaGee commented on #703
@kimballce What's the "Edge" browser?

[2015-08-30 16:23] LisaGee commented on #679
Dupe of #754

[2015-08-30 16:23] #679 closed

[2015-08-30 16:26] LisaGee commented on #667
@jjoteal While you're in there making this change. Could you also change Selectivity to Admissions please? Thanks.

[2015-08-30 16:27] LisaGee commented on #658
@kimballce Where you talking about exactly? Which page? Could you provide a URL? Thanks.

[2015-08-30 16:29] LisaGee commented on #646
Implementation of Filters and Refine Search as a drawer solves this.

[2015-08-30 16:29] #646 closed

[2015-08-30 16:30] LisaGee commented on #641
Happens at some browser widths.

[2015-08-30 16:34] LisaGee commented on #598
@dnesting - Something we need?

[2015-08-30 16:38] LisaGee commented on #41
This is not Accepted. Case-sensitivity is still an open issue.
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?name=harvard&& returns 0 results.
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?name=Harvard&sort=advantage:desc returns 1 result.

[2015-08-30 17:16] LisaGee commented on #15
Example API calls from ticket #170
examples (as live links, and the resulting json response), maybe we some more narrative.

one school, one year:
http://ccapi-prod.18f.gov/school?ope_id=00143400&year=2012

same school showing just three fields for all years
http://ccapi-prod.18f.gov/school?ope_id=00143400&fields=year,admission_rate,name

list the names & sizes of all historically black schools (i

[2015-08-30 17:16] LisaGee commented on #170
Marking as a dupe of #15

[2015-08-30 17:16] #170 closed

[2015-08-30 17:27] LisaGee commented on #513
Removed altogether from 1.0 Launch. Should consider usability testing to see how important this is to students.

[2015-08-30 17:35] LisaGee commented on #440
This appears to be fixed. Test on Production. Closing

[2015-08-30 17:35] #440 closed

[2015-08-30 17:36] LisaGee commented on #437
should test after search changes that are currently underway.

[2015-08-30 17:39] LisaGee commented on #426
The functionality works as it is currently implemented. And what if the user clicked Add State,b ut then whoops, decides she doesn't really want to add another state and wants the empty field to go away?

[2015-08-30 17:40] LisaGee commented on #413
@ultrasaurus Not for this round. We removed Age and Gender from the UI.

[2015-08-30 17:41] LisaGee commented on #413
I believe this was done Friday 8/28/15.
@diego- can you confirm and accept?

[2015-08-30 17:43] LisaGee commented on #359
Have pinged. ED is confirming.

[2015-08-30 17:46] LisaGee commented on #422
We know the name of the site. We should make use of it for the API.
@ErieMeyer - Can I charge you with getting this set up in conjunction with @diego- properly? Thanks.

[2015-08-30 17:48] LisaGee commented on #729
We know the name of the site. We should make use of it for the API.
@ErieMeyer - Can I charge you with getting this set up in conjunction with @diego- properly? Thanks.

Moved from #422

[2015-08-30 17:49] LisaGee commented on #422
Closing as dupe of #729

[2015-08-30 17:49] #422 closed

[2015-08-30 17:52] LisaGee commented on #629
Shall we at a minimum put up a more user friendly error?
"We're sorry. Error: Search Results Not Found."

[2015-08-30 17:54] LisaGee commented on #604
I think this was done on Friday 8/28/15.
@diego- Can you confirm and Accept?

[2015-08-30 17:55] LisaGee commented on #602
Agreed. Trying typing in a few different random chars and got no error. Closing.

[2015-08-30 17:55] #602 closed

[2015-08-30 17:56] LisaGee commented on #597
@diego- @dnesting should ride shotgun.

[2015-08-30 17:56] LisaGee commented on #596
@diego- @dnesting should ride shotgun.

[2015-08-30 17:58] LisaGee commented on #564
Cannot reproduce. closing

[2015-08-30 17:58] #564 closed

[2015-08-30 18:10] LisaGee commented on #394
@dnesting will be riding shotgun on this with @ultrasaurus

[2015-08-30 18:11] LisaGee commented on #480
Re-assigning to @ultrasaurus for updates.
@dnesting to be also riding shotgun on this issue. Thanks.

[2015-08-30 18:19] LisaGee opened #908 "When I search for all Public schools, I get 1,368 Results, but the data lists 1,369"

[2015-08-30 18:24] LisaGee commented on #908
That's cause one of these schools is CURROPER==0.
So 1368 is in fact correct.

[2015-08-30 18:24] #908 closed

[2015-08-30 19:14] LisaGee commented on #488
@shawnbot is correct. This functionality seems to work on the site right now. Closing ticket.

[2015-08-30 19:14] #488 closed

[2015-08-30 19:35] LisaGee opened #909 "Items under Religious Affiliation Drop-down should be Alphabetical"
If not, makes it awful hard to find what you're looking for.

[2015-08-30 19:58] LisaGee opened #910 "0 search results for Alaska Native Native Hawaiian serving institution (ANNHI)"
There should 8, according to the data.
https://college-choice.18f.gov/search/?serving=annhia&sort=advantage:desc

[2015-08-30 19:59] LisaGee commented on #781
https://college-choice.18f.gov/search/?serving=nanti&sort=advantage:desc

According to the data, there should be 13 of these.

[2015-08-30 20:06] LisaGee commented on #742
Not so arbitrary. I went through every single field in the Codebook and evaluated the following fields:
TECH PAGE CATEGORY and dev-category in both directions. I compared those values against what the metrics actually represent. I think the 5 bugs I filed are worth considering a fix for, as they will be harder to change post-launch.

[2015-08-30 21:01] ultrasaurus commented on #398
@shawnbot agreed

[2015-08-30 21:08] ultrasaurus commented on #41
I believe this is addressed with https://github.com/18F/open-data-maker/pull/172
up on the dev server for testing

[2015-08-30 21:10] ErieMeyer commented on #648
Looks like this has been addressed! Also, we may want to do a blog post about why some schools have "data not available" since folks will want to know more details. I'll follow up with Clare offline.

[2015-08-30 21:10] #648 closed

[2015-08-30 21:11] ultrasaurus commented on #480
Deep in the operational readiness notes that were mailed out Friday, is this update:

Durable logging: Cloud Foundry throws away logs now, long term plan is a nice elk console for browsing logs. For now, each team is doing it on their own. For an interim solution for our launch, Ozzy is setting up an EC2 instance for a target for syslog for all the cloud foundry servers.

[2015-08-30 21:12] ErieMeyer commented on #605
Looks like this is addressed on staging and prod!

[2015-08-30 21:12] #605 closed

[2015-08-30 21:13] ErieMeyer commented on #589
Looks like this has been addressed by the "data not available" issue

[2015-08-30 21:13] #589 closed

[2015-08-30 21:13] ErieMeyer commented on #533
Looks great on staging!

[2015-08-30 21:13] #533 closed

[2015-08-30 21:15] ultrasaurus commented on #596
I believe @ozzyjohnson is investigating what we can do here

[2015-08-30 21:15] ErieMeyer commented on #465
Looks like the issue is persisting in dev.

[2015-08-30 21:16] ErieMeyer commented on #458
Looks great on staging!

[2015-08-30 21:16] #458 closed

[2015-08-30 21:20] ErieMeyer commented on #423
this lokos great on staging and dev, but it's missing the info "i" so I will open a new thread.

[2015-08-30 21:20] #423 closed

[2015-08-30 21:24] ErieMeyer opened #912 "As a consumer, I want to be able to find more info about earnings"
Hi!

For this earnings figure, I believe we need a lil' "more info"
![image](https://cloud.githubusercontent.com/assets/1626026/9569515/f8ba3758-4f3b-11e5-8fff-9a7caab35d7e.png)

Here it is without the icon:

![image](https://cloud.githubusercontent.com/assets/1626026/9569512/dbf27b3a-4f3b-11e5-8b1e-88480294550c.png)

[2015-08-30 21:33] ErieMeyer commented on #451
Working great!

[2015-08-30 21:33] #451 closed

[2015-08-30 21:39] ErieMeyer commented on #341
Looks great!

[2015-08-30 21:39] #341 closed

[2015-08-30 21:40] ErieMeyer commented on #338
Beautiful!

[2015-08-30 21:40] #338 closed

[2015-08-30 21:43] ErieMeyer commented on #293
Looking super beautiful -- great job!

[2015-08-30 21:43] #293 closed

[2015-08-30 21:44] ErieMeyer commented on #310
Also cc @dnesting

[2015-08-30 21:46] ErieMeyer commented on #102
Looks great on staging!

[2015-08-30 21:46] #102 closed

[2015-08-30 21:48] ErieMeyer commented on #192
Looks great on staging!

[2015-08-30 21:48] #192 closed

[2015-08-30 21:56] ErieMeyer opened #913 "BUG: Refining searches with advanced search options should reset the view to Page 1"
![image](https://cloud.githubusercontent.com/assets/1626026/9569666/aabb0948-4f3f-11e5-831a-c803c60d793f.png)

I saw this with both special designations and public/private nonprofit/private for profit.

Chrome, PC 5:50 p.m. Sunday Aug 30th
Steps to recreate:

1. On staging, hit "find schools" from the homepage without specifying any search terms
2. Sort results by name, click on 4th page of result

[2015-08-30 21:59] ErieMeyer commented on #196
Looks great on staging!

[2015-08-30 21:59] #196 closed

[2015-08-30 22:02] LisaGee commented on #577
Fixed. closing.

[2015-08-30 22:02] #577 closed

[2015-08-30 22:03] ErieMeyer opened #914 "ENHANCEMENT: As a consumer, I want to see if my college has a religious affiliation"
If I do a traditional search then click into a school, I would like to see if it has a religious affiliation.

For example, you can do an advanced search for schools with a religious affiliation with the church of Latter Day Saints (Mormon) and see the results, but if I search for schools in Utah and land on a Brigham Young branch, it's not clear that they have an LDS affiliation.

![image](https:

[2015-08-30 22:10] ErieMeyer opened #915 "BUG: "Data not available" not showing on "by family income" costs area"
![image](https://cloud.githubusercontent.com/assets/1626026/9569749/34c34284-4f42-11e5-89f0-eece66d30277.png)

I believe these $0 should instead be indicated that the data is not available.

Chrome, PC (any search method to a school w/o this data has the same issue)

https://federalist.18f.gov/preview/18F/college-choice/dev/school/?117803-Los-Angeles-County-College-of-Nursing-and-Allied-Health

[2015-08-30 22:10] ErieMeyer commented on #271
This looks great!

[2015-08-30 22:10] #271 closed

[2015-08-30 22:10] ErieMeyer commented on #273
Looks great!

[2015-08-30 22:10] #273 closed

[2015-08-30 22:11] ErieMeyer commented on #280
This looks great! Opening a new issue for the URLs/search results where this should land.

[2015-08-30 22:11] #280 closed

[2015-08-30 22:22] ErieMeyer opened #916 "As a consumer, I want to be able to click on a "check out these schools" example"
![image](https://cloud.githubusercontent.com/assets/1626026/9569798/fdb44f70-4f43-11e5-90c8-9a5fc521a5ba.png)

These links will be coming from our friends in DPC, but we're blocked until we have 'em.

[2015-08-30 22:23] ErieMeyer commented on #465
Sounds good to me -- I'll open a new issue for the design Q!

[2015-08-30 22:23] #465 closed

[2015-08-30 22:25] ErieMeyer opened #917 "DESIGN Q: Should there be a circle around the % of students with Pell grants?"
![image](https://cloud.githubusercontent.com/assets/1626026/9553793/6775bdd8-4d8f-11e5-9d57-8980412dab8f.png)

In socieo-economic diversity

Brought over from this: https://github.com/18F/college-choice/issues/465

[2015-08-30 22:25] ErieMeyer commented on #310
I definitely have been able to!

[2015-08-30 22:26] ErieMeyer commented on #792
Looks great on dev!

[2015-08-30 22:28] ErieMeyer commented on #117
This has been addressed via the beta period -- the things they're missing are from IPEDs and won't be ready for launch.

(I'm sorry @saintsoup52!)

[2015-08-30 22:28] #117 closed

[2015-08-30 22:29] ErieMeyer commented on #775
@dmedfsa Made a great suggestion in a pull request -- "Calculate your personal net price"

https://github.com/18F/college-choice/pull/798

[2015-08-30 22:33] ErieMeyer commented on #729
Started a thread with @gbinal and @diego-

[2015-08-30 22:34] ErieMeyer commented on #553
Will do -- also going to trick Dana into doing a review with me in advance.

[2015-08-30 22:47] ErieMeyer commented on #775
Looks great on dev!

[2015-08-30 22:51] ErieMeyer commented on #511
Chatted with Clare last week and she suggested top middle and bottom third -- I can add to the national stats file!

[2015-08-31 00:49] ozzyjohnson commented on #596
I got the OK to procure Pingdom on Friday. In the meantime we'll need to work with New Relic and/or the free version of Pindgom.

[2015-08-31 10:13] saintsoup52 commented on #511
i would recommend going with the thirds model like Clare recommended...

Because the distribution of graduation rates is so concentrated around the average that just saying +16.6/-16.6 would cause half of the schools to be "about average" and the other half to be split between "Above" and "Below" Average. This is issue only compounds when we are using outcome measures that have a wide max/min.

Fo

[2015-08-31 10:14] saintsoup52 commented on #117
Kein problem (no problem).

I am looking for to those fast follows. :-)

[2015-08-31 10:18] saintsoup52 commented on #809
I think she means "show all schools" without selecting any criteria... DOD has this and I would have liked to done this for the VA

[2015-08-31 10:30] saintsoup52 commented on #810
Last year the average for 4-year schools was 49.5% (FYI)

[2015-08-31 12:26] ErieMeyer commented on #809
Patrick -- if you hit "find schools" without specifying search parameters, you'll get em all.

Lisa -- Clare and I chatted about this. She meant if you get search results with, for example, 100 results and 15 pages (or any multiple) pages, you could click a "show all" link that would let you browse through all 100 results without pagination.

Kind of like a "read single page" on news sites.

[2015-08-31 13:13] kimballce commented on #703
Edge is the new, default web browser for Windows 10. (https://technet.microsoft.com/en-us/library/Mt156988(v=VS.85).aspx)

From: Lisa G. [mailto:notifications@github.com]
Sent: Sunday, August 30, 2015 12:23 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Kimball, Chase <Chase_E_Kimball@omb.eop.gov>
Subject: Re: [college-choice] BUG: "Share" application icons are pixelated (#703)

[2015-08-31 13:26] jjoteal commented on #917
I say we cut it since we can't do the graph that shows the circle 35% 'filled' -- let's just have a number like the rest of the non-graph facts for consistency.

[2015-08-31 13:30] jjoteal commented on #789
@LisaGee I'm not sure what the cut-offs are in the data, but assuming they are the same as what displays in College Navigator, these are the definitions:

![image](https://cloud.githubusercontent.com/assets/12192706/9579754/e10f2c80-4fc2-11e5-9ad8-39e9d2eef9fe.png)

[2015-08-31 13:36] ErieMeyer commented on #917
+1

[2015-08-31 13:43] jjoteal commented on #761
@LisaGee per #789, the data terminology was derived from College Navigator:

![image](https://cloud.githubusercontent.com/assets/12192706/9579902/c5d55786-4fc3-11e5-8010-a50e65134746.png)

Here's what College Board does:
![image](https://cloud.githubusercontent.com/assets/12192706/9579916/e15ff06a-4fc3-11e5-940d-80b044284aab.png)

Here's what Unigo does:
![image](https://cloud.githubusercontent.co

[2015-08-31 13:46] jjoteal commented on #667
@LisaGee  -- done! Submitted pull request!

[2015-08-31 14:06] schakj commented on #865
Oh, OK.   It would be nice to have same options provided in filtering tool also be provided in the advanced search tool.  For instance, the filtering tool allows a student to only dispay schools with a net price within a particular range.  It would be nice if the advanced seach tool had that same sort of functionality.

[2015-08-31 14:08] schakj commented on #858
If you look at the bar chart that displays the percentage of students who return after their first year, it will show text that says something like "Above Average."   This should not be displayed.  I think the college I was looking at was Carleton College.

[2015-08-31 14:21] stephaniefaith commented on #619
Vs 11

From: Lisa G. [mailto:notifications@github.com]
Sent: Friday, August 28, 2015 10:18 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Grosser, Stephanie <Stephanie_F_Grosser@omb.eop.gov>
Subject: Re: [college-choice] BUG: Drop down box is super high on search results page (#619)

@stephaniefaith<%3ehttps:/github.com/stephaniefaith%3c> Which version of IE?

—
Reply to this em

[2015-08-31 14:25] meiqimichelle commented on #703
For the record, this display is not something we control on our end. I'm guessing that's the default display when you click on a `mailto` link in Edge.

[2015-08-31 14:38] LisaGee commented on #761
What do you think about changing the word from Urban to City?

From: Jessica Teal [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 9:43 AM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] BUG: System lists Blacksburg as an "urban" area (#761)

@LisaGee<https://github.com/LisaGee> per #789<https://github.com/18F/college-choice/issues/789>, the data terminology

[2015-08-31 14:40] dmedfsa commented on #761
With the data we have, can we differentiate between “small city” and “large city”?  That could help a lot.

From: Lisa G. [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 10:39 AM
To: 18F/college-choice
Cc: Musser, David
Subject: Re: [college-choice] BUG: System lists Blacksburg as an "urban" area (#761)

What do you think about changing the word from Urban to City?

From: Jessica T

[2015-08-31 14:47] jjoteal commented on #761
I am game for changing "urban" to "city" !

[2015-08-31 15:02] ultrasaurus commented on #598
put in the request:  https://github.com/18F/DevOps/issues/428

[2015-08-31 15:06] meiqimichelle commented on #701
Now that we're showing 4-up schools on the results page, I think this is OBE. That last slot should be filled now. Moving to accept.

[2015-08-31 15:08] meiqimichelle commented on #654
This was resolved a while back. Moving to accept, although we might just want to close since the drawer implementation changed this layout quite a bit. Might be less an 'accept' and more a 'no longer relevant'.

[2015-08-31 15:08] ultrasaurus commented on #598
FYI:  requested accounts for @dnesting and @LisaGee
let me know

[2015-08-31 15:10] meiqimichelle commented on #616
@jjoteal This is an interesting one. The question of: the filter/edit drawer will take up the entire mobile screen, and if you make changes, you wouldn't necessarily have an indication that it is working. Maybe now that we've changed the implementation to a drawer that you have to open/shut this is clearer, but this would be a good thing to think about and test.

[2015-08-31 15:12] meiqimichelle commented on #560
Done.

[2015-08-31 15:13] meiqimichelle commented on #478
I think this is done. I see name first on my end.

[2015-08-31 15:14] meiqimichelle commented on #425
Note to self: while I'm there, make sure that section does not split onto two lines at certain page widths.

[2015-08-31 15:15] meiqimichelle commented on #424
I don't think we're including gender for launch so this might to be relevant anymore.

[2015-08-31 15:16] meiqimichelle commented on #339
This is OBE. We implemented a drawer for the filters instead.

[2015-08-31 15:16] #339 closed

[2015-08-31 15:17] ultrasaurus opened #920 "As a site operator, I would like to be able to see what's happening on elasticsearch"
There's an elasticsearch plugin called [marvel](https://www.elastic.co/products/marvel), that seems to have nice monitoring for a cluster

[2015-08-31 15:17] ultrasaurus commented on #920
@ozzyjohnson is working on this

[2015-08-31 15:18] meiqimichelle commented on #290
This should be resolved now that the icons are live and attached to real data. Moving to accept.

[2015-08-31 15:19] meiqimichelle commented on #241
@shawnbot I tried to fix this one but I think I'm not interacting with the data for the url to the indiv school in the right way. Would love to take a sec with you to see what's up.

[2015-08-31 15:23] meiqimichelle commented on #622
Also note -- from that screen shot it looks like our font isn't pulling in on IE11, either.

[2015-08-31 15:24] LisaGee opened #921 "Share URL should have a tracking parameter (cid), so that we can tell how often a link that was shared drives a visit back to the site."

[2015-08-31 15:29] meiqimichelle commented on #122
Closing in favor of #323

[2015-08-31 15:29] #122 closed

[2015-08-31 15:32] LisaGee commented on #118
Want to make sure I add clarity for Acceptance Criteria for this ticket.

MVP consists of:
1. 18F, USDS and ED can all access Analytics (via DAP?)
2. # of Unique Visitors or Visits to the Consumer Tool
3. # of Page Views to each of the following page types: Homepage, Search Results, School Pages (as a group)..
4. Most popular searches executed.
5. Most popular individual School Pages
6. Time spent

[2015-08-31 15:36] jjoteal commented on #420
Just submitted a pull request that contains the updated tooltip text from Ed. Reassigning to @shawnbot to merge.

[2015-08-31 15:39] ultrasaurus commented on #910
FYI: this is the call that is being made:  https://api.data.gov/TEST/ed/staging/v1/schools/?sort=2011.earnings.6_yrs_after_entry.percent_greater_than_25000%3Adesc&school.minority_serving.annhia=1&school.degrees_awarded.predominant__range=2..3&2013.student.operating=1&fields=id%2Cschool.name%2Cschool.city%2Cschool.state%2C2013.student.size%2Cschool.ownership%2Cschool.degrees_awarded.predominant%2C2

[2015-08-31 15:46] ultrasaurus commented on #245
In order to do this we need:
- a domain
- domain delegation
- SSL cert

[2015-08-31 15:55] ultrasaurus commented on #529
This doesn't appear to work with nested data

[2015-08-31 16:00] ultrasaurus commented on #572
@diego- this is missing a "dev-category"

[2015-08-31 16:00] yozlet commented on #495
The version string `v1` is now an essential part of the path, but what we consider to be "the v1 API" isn't quite done completed yet; the plan is to make a couple more changes and then it's frozen for documentation.

[2015-08-31 16:00] #495 closed

[2015-08-31 16:00] ultrasaurus commented on #572
it needs to be specified as 'root' or 'school' or something

[2015-08-31 16:07] jjoteal opened #924 "BUG: Missing "i" icon and tooltip on Socio-Economic Diversity Label"
![image](https://cloud.githubusercontent.com/assets/12192706/9583348/d827f08c-4fd8-11e5-8ed0-9b2d088ba425.png)

Missing "i" and tooltip

[2015-08-31 16:08] jjoteal opened #925 "BUG: For MVP, remove circle around Socio-Economic Diversity data point"
![image](https://cloud.githubusercontent.com/assets/12192706/9583368/f1019fae-4fd8-11e5-8539-04522e297abc.png)

Remove the circle around "14%" for the MVP for consistency.

[2015-08-31 16:10] ozzyjohnson commented on #920
This is ready to go. I can implement given a window to swap out backing Elasticsearch instances.

[2015-08-31 16:11] ultrasaurus commented on #572
FYI: there is also no year specified, which led to my assumption that it is meant to be either 'root' or 'school'

[2015-08-31 16:11] jjoteal opened #926 "BUG: Need a label + "i" icon + toolip above metric of "earning more than those with a high school diploma" for consistency sake"
Current screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9583408/29cea3c2-4fd9-11e5-9a8a-f0f53802faf2.png)

Need label associated with metric for consistency and so we can attribute an "i" icon and tooltip with it.

@ErieMeyer perhaps you have good language suggestions after speaking with Dana?

[2015-08-31 16:14] jjoteal commented on #917
Cool. Reassigning to @meiqimichelle then so she can remove it.

[2015-08-31 16:15] kimballce commented on #703
I think you're correct. I'll close this.

[2015-08-31 16:15] #703 closed

[2015-08-31 16:15] jjoteal commented on #667
FYI -- reassigning to @shawnbot to merge the request.

[2015-08-31 16:19] ultrasaurus commented on #566
To address this we would want to use different fields that have a 1 or 2 if a school offers a degree:

[code]

[2015-08-31 16:21] jjoteal commented on #315
@meiqimichelle we have the remaining icon for the first "by the numbers" fact ($1 million). You can find the .svg and .png files in the PICC folder. File name is "money".

Reassigning to you for implementation!

[2015-08-31 16:31] ultrasaurus commented on #738
From @diego- via email:  In order to make it easier to read, I want to reorder the columns so that the flow mimics the nested structure of the API calls.

So for instance,
(DATA ELEMENT NAME) (Year for Consumer Tool) (dev category) (developer-friendly name) (VARIABLE)
etc.

The script uses column names, so re-ordering columns should be zero impact.  If you want to change the column names, that wou

[2015-08-31 16:37] diego- commented on #910
There is a typo in the API field.

Currently, the param is:
[code]

[2015-08-31 16:40] jjoteal commented on #667
Assigning to @LisaGee for acceptance

[2015-08-31 16:42] jjoteal commented on #314
Assigned to @ErieMeyer for content purposes.

[2015-08-31 16:45] diego- commented on #781
The tool is currently calling an outdating param name.

Currently, the API is calling:

school.minority_serving.nanti=1

The call should be:
school.minority_serving.nant=1

Basic query returns 13 results:

https://api.data.gov/TEST/ed/staging/v1/schools/?school.minority_serving.nant=1&api_key=XpW9kcymK6LQBjSlwclRWNsb47IBiw5AO7uvfzkD

Full current request:
https://api.data.gov/TEST/ed/staging/v1/sc

[2015-08-31 16:48] diego- commented on #910
This works on api.data.gov, but not ccapi-prod right now:

https://api.data.gov/TEST/ed/staging/v1/schools/?school.minority_serving.annh=1&api_key=XpW9kcymK6LQBjSlwclRWNsb47IBiw5AO7uvfzkD

returns 10 results.

[2015-08-31 16:51] diego- opened #927 "create fake zip file, csv, and pdfs for data tool site downloads"
zip file in S3, csv and pdf in jekyll, etc.

[2015-08-31 16:59] dnesting commented on #496
They only benefit I can see of a Sitemap here is ensuring all of the school-specific URLs are listed someplace so that they get indexed.  Like @shawnbot says, without access to the data (at least sufficient to generate the URLs), we can't create a static page for this.  Some thoughts:

1. Make this dynamically-generated from the data
2. Make this a static page checked in to GitHub that gets rebuil

[2015-08-31 17:05] jjoteal opened #928 "Write new "Data Documentation" blurb on the Data Tool Homepage"
Also pinging @meiqimichelle so she knows this is coming.

[2015-08-31 17:07] jjoteal opened #929 "Write additional content blurbs for the Data Tool Homepage"
1) Edit text under "Introduction to the Data"
2) Small blurb under "Download the Data"

[2015-08-31 17:10] yozlet commented on #608
Will handle as part of #529.

[2015-08-31 17:17] #844 closed

[2015-08-31 17:22] LisaGee opened #930 "As a non-developer, I'd like to be able to make copy changes and push them to the website without requiring Developer intervention."

[2015-08-31 17:29] NatalieEMoore commented on #873
@LisaGee I was on your mac so I can't do the screenshot.  @vgvg do you have a mac?

[2015-08-31 17:30] hollyallen opened #931 "As a user, I want the app to stay up during deployments so that I can continue to use it."
This is an umbrella ticket to bring together all of the blue/green deployment tickets across the college choice ecosystem.

- [ ] [College Choice API](https://github.com/18F/college-choice/issues/394)
- [ ] [Open Data Maker](https://github.com/18F/open-data-maker/issues/173)
- [ ] front end web app -- needed?  (see discussion below)

[2015-08-31 17:36] NatalieEMoore opened #932 ""Find Schools" button should scroll to search results"
On PC desktop with chrome when I select education and associates and then hit find school it doesn't load new results page but instead the lower part of the screen turns to white.  Almost like it loaded below, not on a new page, and without results.

https://college-choice.18f.gov/search/?major=education&degree=a&sort=completion_rate:desc

![capture](https://cloud.githubusercontent.com/assets/1331

[2015-08-31 17:39] LisaGee opened #934 "As a student, I would like to enter "berk" in the Name field and see University of California-Berkeley as one of my results"

[2015-08-31 17:48] NatalieEMoore opened #935 "BUG: site crash when visiting this page"
https://college-choice.18f.gov/search/?state=CA&major=ethnic_cultural_gender&degree=b&size=small&sort=advantage:desc&page=0

on internet explorer on dell desktop computer

![captureu](https://cloud.githubusercontent.com/assets/13317147/9585705/7e9569d8-4fe6-11e5-919c-94baff60a1f8.PNG)

[2015-08-31 17:51] LisaGee commented on #931
@hollyallen is this different than #394 ?

[2015-08-31 18:00] hollyallen commented on #931
#394 is the first item on the list above, Elastic Search. We also have a ticket for the open data maker portion now. Sarah suggested an umbrella ticket so we can keep tabs on true blue/green deployment for the overall ecosystem.

[2015-08-31 18:04] hollyallen opened #936 "Snapshot/Rollback of elasticsearch index and data.yaml"
During software deployments, need a way to snapshot and rollback volatile data. I believe this is limited to the elasticsearch data.

[2015-08-31 18:06] hollyallen opened #937 "As a consumer, I want a way to contact the team with complaints, feedback."
As a consumer I want a way to contact the team with complaints, bug reports, data problems, etc.

[2015-08-31 18:13] hollyallen opened #938 "User representative synthetic transactions for pingdom"
Monitoring/alerting systems like pingdom work best when they have a set of synthetic transactions to run periodically that mimic real user behavior. This ticket is to define and create those synthetic transactions.

[2015-08-31 18:21] LisaGee commented on #701
Closed b/c we're now 4 columns wide and there is no more empty slot.

[2015-08-31 18:21] #701 closed

[2015-08-31 18:25] LisaGee commented on #645
Closing in favor of #877

[2015-08-31 18:26] LisaGee commented on #877
I think these are all related. So closing the others: #645, #725

[2015-08-31 18:26] LisaGee commented on #725
closing in favor of #877

[2015-08-31 18:27] LisaGee commented on #723
@jjoteal Is the new design done? Is this ticket just for implementation?

[2015-08-31 18:28] LisaGee commented on #723
@jjoteal And is this ticket different from #724

[2015-08-31 18:30] LisaGee commented on #934
Seems to be a frequent use case. From a user:
-----Original Message-----
Very cool so far.

Testing the "Share This School" and search function.

1.  Using the "School name" search function, I typed in "Virginia" (and nothing else).  https://college-choice.18f.gov/search/?name=Virginia&sort=advantage:desc

2.  It returned 15 results but not the University of Virginia (as I would have expected).

R

[2015-08-31 18:37] meiqimichelle commented on #315
This will be done with #939 merges. Looks like:
![screen shot 2015-08-31 at 11 33 33 am](https://cloud.githubusercontent.com/assets/4827522/9586928/9f20fddc-4fd4-11e5-8fb2-0476f2ed0d2b.png)

[2015-08-31 18:51] ultrasaurus commented on #314
if we want to select specific schools, I think a query like this would be good;  https://ccapi-staging.18f.gov/v1/schools?id=372213,104151

however, that would require a little bit of code

[2015-08-31 18:54] LisaGee commented on #314
Hmmm. For me, that results in: Internal Server Error

From: Sarah Allen [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 2:51 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] As a Consumer, I want to be able to see a list of the top performing schools in the "Check Out These Schools" section so that I can consider these schools as I figure out which schools

[2015-08-31 18:59] LisaGee commented on #245
Update:
1. We have a domain. check.
2. Confirmed Domain Delegation on track. David and Adrian from OCIO will re-confirm have everything that is needed by tomorrow. CAB meeting to approve occurs Thursday 10:30am ET. We have to tell them   what time and date we want this switch to be made. Let's confer on this offline.
3. Re: SSL Cert - OCIO said it would be easiest if 18F buys the Cert and they, as

[2015-08-31 19:01] saintsoup52 opened #940 "As a consumer I want to be able to quickly and effectively read the outcome charts, therefore the max/min of those charts should not be affected by outliers"
Outliers are skewing how users view a school's outcome measures. Is it possible to adjust the max/min of the outcome charts without messing up other elements?

For example... only 5 out of 3,589 schools have salaries over $100K (and one of them is a grad school that still shouldn't be showing up), however because the max is set to $166K schools with a salary of $91K (MIT) look like they are making

[2015-08-31 19:20] LisaGee commented on #236
I see this data appearing in the Consumer Tool, so this story must be done. Closing.

[2015-08-31 19:20] #236 closed

[2015-08-31 19:21] LisaGee commented on #365
I'm pretty sure this is done. Assigning to @jjoteal to Accept.

[2015-08-31 19:22] jjoteal commented on #723
@LisaGee here is the new design:

![image](https://cloud.githubusercontent.com/assets/12192706/9588059/fd9c1076-4ff3-11e5-881d-1dc9e690e2c3.png)

Was thinking these "chicklets" would be the same design for special mission and religious affiliation as shown. So yes, it is technically a dupe of #724.

If you are ok with this design, please reassign to Michelle for implementation.

[2015-08-31 19:24] LisaGee commented on #403
@diego- Can you provide any more info: URL, Steps to repro, browser, etc... Thanks.

[2015-08-31 19:25] LisaGee commented on #424
correct. this has been removed. So Closing.

[2015-08-31 19:25] #424 closed

[2015-08-31 19:25] jjoteal commented on #365
Yep! Per https://github.com/18F/college-choice/issues/315, accepting and closing.

[2015-08-31 19:25] #365 closed

[2015-08-31 19:29] diego- commented on #604
Latest data in S3 as of 8/27/15 per Clare. Not yet reingested as of 8/31/15 per @ultrasaurus.

[2015-08-31 19:30] jjoteal opened #941 "BUG: Font too large for details under school name on Individual School page"
Current display:

![image](https://cloud.githubusercontent.com/assets/12192706/9588178/bfbc93f6-4ff4-11e5-8f3a-7a2f92fac677.png)

Per original design files, the name of the school should be ~42px bold and the location, student population, and URL should be ~24px. If that font is too large per the new grid, then we should scale the type size down proportionately.

Screenshot of original design:

![

[2015-08-31 19:30] meiqimichelle commented on #932
@shawnbot This is likely an issue on all mobile. Is there a straightforward way to make a click on 'Find Schools' also toggle the drawer open/shut checkbox?

[2015-08-31 19:31] LisaGee commented on #497
@jjoteal Sounds good, but I'd put it above the US Dept of Ed.

[2015-08-31 19:32] jjoteal commented on #497
Sounds good. I'll do a mock!

[2015-08-31 19:32] LisaGee commented on #561
This has been fixed.

[2015-08-31 19:32] #561 closed

[2015-08-31 19:34] LisaGee commented on #915
Dupe of #528

[2015-08-31 19:34] #915 closed

[2015-08-31 19:36] LisaGee commented on #878
Dupe of #903

[2015-08-31 19:36] #878 closed

[2015-08-31 19:38] LisaGee commented on #713
Making this a data only issue.
Look at #528 for display issue.

[2015-08-31 19:39] LisaGee commented on #902
Inconsistent behaviors. Moving to P3

[2015-08-31 19:43] LisaGee commented on #899
Closing in favor of #933

[2015-08-31 19:45] LisaGee commented on #707
Should be taken care of in #888

[2015-08-31 19:45] #707 closed

[2015-08-31 19:51] diego- commented on #403
This is old; cannot reproduce, closing.

[2015-08-31 19:51] #403 closed

[2015-08-31 19:52] dnesting commented on #596
Is there a reason we prefer to use a separate service when we're already planning on using New Relic?  It seems like there's a lot of overlap here.

[2015-08-31 19:53] dnesting commented on #597
Does 18F have a load testing platform they tend to use?

[2015-08-31 19:54] dnesting commented on #598
If this is just a Cloud Foundry account, I already have david_m_nesting@omb.eop.gov set up.  It's currently in the sandbox org though.

[2015-08-31 19:57] meiqimichelle commented on #264
Twitter will be gone when #942 merges. It looks like:
![screen shot 2015-08-31 at 12 54 06 pm](https://cloud.githubusercontent.com/assets/4827522/9588915/d80becd2-4fdf-11e5-8a80-c69aa66aefe6.png)

[2015-08-31 19:59] diego- commented on #597
no, product team tends to pick their favorite. Teams in the past have used siege, wrk, blitz.io, ab, etc.

[2015-08-31 20:06] LisaGee commented on #940
@shawnbot What do you think of this? How hard to do something like this and how treacherous does it make the edge cases?

[2015-08-31 20:10] dnesting commented on #597
GIven that the consumer site is effectively hosted by S3, it seems like it's really api.data.gov that we're interested in, yes?  Possibly the open-data-maker component that sits behind it?  Who's a good contact for api.data.gov and I'll see what I can put together.

[2015-08-31 20:10] hollyallen commented on #937
Related to #264 but for the webapp

[2015-08-31 20:16] diego- commented on #597
@dnesting correct; the API and corresponding origin server (open-data-maker instance) are the most important to load test since it powers the search functionality. @gbinal is our api.data.gov contact.

[2015-08-31 20:28] ultrasaurus commented on #934
yeah, people keep running into that, need to do some experimentation to let you know

[2015-08-31 20:31] LisaGee commented on #748
@jackiekazil Sorry. Trying to confirm that I have access, but I don't know where to go. Is there a URL I should know?

[2015-08-31 20:39] dnesting commented on #597
Do we have an estimate of the traffic we expect on launch, and on a typical day?

[2015-08-31 20:43] claremccann opened #943 "Flag missing for schools on HCM2"
This flag used to show up on the site, but no longer does. For instance, searched schools in DC and University of the Potomac used to show up with a flag but no longer does.

![image](https://cloud.githubusercontent.com/assets/13874735/9589911/a00670a8-4fff-11e5-89a6-738a1b090f43.png)

[2015-08-31 20:53] saintsoup52 commented on #940
I think this will make a big visual difference!!

Thank you.

From: Shawn Allen [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 04:49 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Campbell, Patrick (CFPB)
Subject: Re: [college-choice] As a consumer I want to be able to quickly and effectively read the outcome charts, therefore the max/min of those charts should

[2015-08-31 21:00] dmedfsa commented on #877
My concern was that users would not know that “back” does not purge prior search results.

Let’s say I’m a student searching for schools.  So first I search for location: Virginia and find Virginia schools.  But then I change my mind, and want to search for schools with psychology programs across the country, and hit “back” on my browser to go to the webpage where I could change search results.  B

[2015-08-31 21:02] meiqimichelle commented on #932
Right @shawnbot . I think it would be better if submit could also toggle.

[2015-08-31 21:16] LisaGee commented on #943
@meiqimichelle Did we maybe lose this when we made the cards the same height?

[2015-08-31 21:48] shawnbot opened #945 "Sliders should be keyboard accessible"
In #933 I detailed some of the issues with getting the slider interactivity working in IE11. I eventually decided to nix keyboard accessibility in favor of getting it working with mouse and touch working generally, so this issue is about restoring keyboard accessibility.

The issue appears to be that IE11 dispatches `focus` and `blur` events when you engage an element with the `tabindex` attribute

[2015-08-31 21:54] LisaGee opened #946 "Play By Play Launch List"

[2015-08-31 22:17] ultrasaurus commented on #496
I think you want a query like:  https://ccapi-dev.18f.gov/v1/schools?fields=id,school.name&per_page=10

[2015-08-31 22:23] LisaGee commented on #496
@dnesting Do you have what you need? If you need, @hollyallen can create a .csv file for you that has all the school names.

[2015-08-31 22:27] meiqimichelle commented on #943
We should not have lost them, although you bring up a good point re: layout: once we get them working again, the heights will not be even on the ones that are under investigation.

Reassigning to @shawnbot to see why the `aria-hidden` property is no longer being toggled for HCM2 schools.

[2015-08-31 22:33] jackiekazil commented on #748
http://www.google.com/analytics/

[2015-08-31 23:03] LisaGee commented on #748
got it. Thanks.

Anyone know the difference between these 2 things:
![image](https://cloud.githubusercontent.com/assets/12847090/9592648/f274fc8e-5012-11e5-9c1b-c3635f58ed1b.png)

Or are they same same?

[2015-08-31 23:21] LisaGee commented on #118
By jove, I think she's got it! Under 18F, I can see the data I need, which means the events are firing properly.

[2015-08-31 23:22] LisaGee commented on #118
Still need to understand 2 things:
1. how to access under DAP - I suspect may need the proper URLs to be set up to make it work.
2. What the difference is between these 2 items under 18F: All Web Site Data and Full URLs.

[2015-08-31 23:22] #748 closed

[2015-08-31 23:25] LisaGee commented on #333
Assigning to @jjoteal to accept.

[2015-08-31 23:42] LisaGee commented on #894
Working on Dev!
![image](https://cloud.githubusercontent.com/assets/12847090/9593091/5ce6f37e-5018-11e5-8059-618598be49c5.png)

[2015-08-31 23:44] LisaGee commented on #899
:( #933 didn't fix it. I still get errors as I use the site on Dev.
![image](https://cloud.githubusercontent.com/assets/12847090/9593127/b9ebdcb0-5018-11e5-91c9-6000e874631a.png)

[2015-08-31 23:46] LisaGee commented on #900
Confirmed working on Dev

[2015-08-31 23:47] LisaGee commented on #901
Confirmed I can't repro it either on Dev.

[2015-08-31 23:49] LisaGee commented on #851
Confirmed working on Dev now.

[2015-08-31 23:54] LisaGee commented on #528
@hollyallen Can you help with this? Not that you have the consumer tool data in Excel, Can you report back here any column names that have either: NULL, PrivacySuppressed or are blank/empty? Thanks!

[2015-08-31 23:55] meiqimichelle commented on #748
@LisaGee We add the `Full URLs` filter to all our 18F google analytic projects because it helps avoid double-counting certain stats. Use that one to view our site stats.

[2015-08-31 23:58] LisaGee commented on #748
Ok. Thanks.

From: Michelle Hertzfeld [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 7:55 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] Get USDS folks access to 18F Analytics system (#748)

@LisaGee<https://github.com/LisaGee> We add the Full URLs filter to all our 18F google analytic projects because it helps avoid double-counting certain stats. Use t

[2015-09-01 00:08] LisaGee commented on #455
Collecting messages from other sites:
NY Times:
![image](https://cloud.githubusercontent.com/assets/12847090/9593330/02536e6c-501b-11e5-8591-3b7569c8262f.png)

YouTube:
![image](https://cloud.githubusercontent.com/assets/12847090/9593349/3f635542-501b-11e5-8b0b-9b6ed7925f41.png)

Twitter:
![image](https://cloud.githubusercontent.com/assets/12847090/9593359/5ebf4ca2-501b-11e5-85ca-71b93e766ae6.png)

[2015-09-01 00:11] LisaGee commented on #455
How about:
"We're sorry. The browser version you are using is no longer supported. Please update your browser to the latest version."

In an ideal world, we would link off to a page that lists the browsers we do support, but I think this message is just fine.

[2015-09-01 00:15] LisaGee commented on #910
@ultrasaurus @shawnbot @diego- I'd vote for consistency in naming conventions in the API, but not at the expense of increased risk. @ultrasaurus - Your call.

[2015-09-01 00:19] LisaGee commented on #725
Re-opening as this has clearer steps to Repro than #877

[2015-09-01 00:27] LisaGee opened #947 "BUG: Back button in browser does not function as expected in any browser"
win7, Chrome.

Steps to Repro:
1. Go to: https://college-choice.18f.gov/
2. Enter: tex in Name Field and Search
3. See 22 Results.
4. Click on Texas Christian University and see that School page. https://college-choice.18f.gov/school/?228875-Texas-Christian-University
5. Hit the Back button once. Behaves correctly: https://college-choice.18f.gov/search/?name=tex&sort=advantage:desc
6. Hit the Back

[2015-09-01 00:27] LisaGee commented on #725
Closing again in favor of #947

[2015-09-01 00:27] #725 closed

[2015-09-01 00:28] LisaGee commented on #645
Closing in favor of #947

[2015-09-01 00:28] #645 closed

[2015-09-01 00:33] LisaGee commented on #940
@saintsoup52 Is there an equivalent max we can use for cost as well?

[2015-09-01 00:36] LisaGee commented on #597
Not for the API, as we cannot know how much traffic the 3rd party tools using are API will get.

@ErieMeyer @diego- - Maybe this is something we ask when the Devs come demo or should we just ask on the Beta list serve?

this would just be a jumping off point though....

[2015-09-01 00:41] LisaGee commented on #937
Oooof. Doesn't look like ED has a good solve for this yet.
How about at a minimum, we put a Contact Us link in the Footer?
Links to the same place Contact Us on ED.gov site go: http://www2.ed.gov/about/contacts/gen/index.html

Not pretty, but it's something....

[2015-09-01 00:43] LisaGee commented on #497
And we also need a link to Contact Us, as referenced in #937 as long as you're mucking around in the footer.....

[2015-09-01 00:46] LisaGee commented on #604
@ultrasaurus Is there someone else on the team who can do this?

[2015-09-01 00:47] LisaGee commented on #723
I'm good.

[2015-09-01 00:49] LisaGee commented on #724
currently Religious Affiliation does not display on School page. See #723 for design.

[2015-09-01 00:49] LisaGee commented on #914
See #723 for design.

[2015-09-01 00:50] LisaGee commented on #724
Closing in favor of #914

[2015-09-01 00:50] #724 closed

[2015-09-01 00:51] LisaGee opened #948 "Enable a query to be constructed by passing in multiple institutions"
if we want to select specific schools, I think a query like this would be good; https://ccapi-staging.18f.gov/v1/schools?id=372213,104151

[2015-09-01 00:52] LisaGee commented on #948
Would very much help #314

[2015-09-01 00:53] LisaGee commented on #935
@NatalieEMoore Is this reproducible for you? A one-time-only-thing? An intermittent but relatively frequent thing? Can you enter steps to reproduce please? Thanks.

[2015-09-01 00:58] LisaGee commented on #566
on the planning call this am, we discussed @ultrasaurus would create new columns that OR for each CIP the columns that have ASSOC or BACHL.

[2015-09-01 00:59] LisaGee commented on #917
not a high priority given where we are at the moment.

[2015-09-01 01:02] LisaGee commented on #926
Missing from a few other places on this page too and this one has a sentence to explain it, so low priority.

[2015-09-01 01:04] LisaGee commented on #924
Has a sentence describing it below, so low priority.

[2015-09-01 01:07] jjoteal commented on #514
@shawnbot looks like I'm assigned to do this now... And apologies for my lack of know-how, but when I make this change, are you saying I should select "Commit directly to the dev branch" when I do this?

![image](https://cloud.githubusercontent.com/assets/12192706/9594040/269648b8-5024-11e5-99a8-50eff0c5d0ef.png)

[2015-09-01 01:08] jjoteal commented on #498
Just an updated that I added all of these and submitted a PR. Crossing fingers that I didn't screw up too badly... Will find out once it's merged and will fix any issues at that point!

[2015-09-01 01:13] jjoteal commented on #333
Accepting and closing!

[2015-09-01 01:13] #333 closed

[2015-09-01 01:22] jjoteal commented on #534
@LisaGee was tackling this one, but it looks like "Advantage Factor" aka "Threshold Earnings" has been removed? Should I be replacing "Exceeds H.S. Only" with the new term Dana suggested -- "Increase in Earnings" ?

[2015-09-01 01:36] ErieMeyer commented on #534
Yep -- that's the same.

Thank you!

[2015-09-01 01:48] LisaGee opened #951 "Include in the results, all school who offer and award an associates or bachelors degree"
Tasks remaining for this issue to be completed (thanks @abisker)
- [x] Check in the data.yaml file https://github.com/18F/college-choice-data/pull/8
- [x] deploy new API code to dev server https://github.com/18F/open-data-maker/issues/268
- [x] write up manual steps to migrate index snapshots so we can reindex using the new data.yaml file
- [x] Reindex and move to a staging environment
- [x] Integ

[2015-09-01 01:59] LisaGee opened #952 "When I search by Associates Degree (and no other criteria), the results should be any school where CIPxxASSOC > 0"
I believe today we are searching by PREDDEG==2

[2015-09-01 02:01] LisaGee opened #953 "When I search by Bachelors Degree (and no other criteria), the results should be any school where CIPxxBACHL > 0"
I believe today we are returning any schools where PREDDEG==3

[2015-09-01 02:06] jjoteal commented on #553
Have taken a preliminary crack at fixing these so everything is consistent. @LisaGee @ErieMeyer I am noticing some layout issues with some of the longer phrasing. For example, see how the labels "Graduation Rate" and "Salary After Attending" are now running together in the value snapshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9594689/644de582-502c-11e5-9b93-b62a5a89e5ab.png

[2015-09-01 02:07] jjoteal commented on #534
Moving to accept then!

[2015-09-01 02:16] LisaGee opened #954 "When I search by a specific Program (and no other criteria), the results should be any school where corresponding (CIPxxASSOC OR CIPxxBACHL) >0."
Another option, according to Clare, would be to include any school whose HIGHDEG==2||3 && where the corresponding PCIPxx is >0.

[2015-09-01 02:23] LisaGee opened #955 "When I search by BOTH a specific Program and by a Degree (Associates or Bachelors), the results should be any school where corresponding CIPxxASSOC >0 or CIPxxBACHL >0"
This is a more explicit write up of #566

[2015-09-01 02:23] LisaGee commented on #955
@ultrasaurus How risky are these changes?

[2015-09-01 02:24] LisaGee commented on #954
@ultrasaurus @shawnbot How risky are these changes?

[2015-09-01 02:24] LisaGee commented on #953
@ultrasaurus @shawnbot How risky are these changes?

[2015-09-01 02:24] LisaGee commented on #952
@ultrasaurus @shawnbot How risky are these changes?

[2015-09-01 02:28] LisaGee commented on #756
Let's make this is dupe of #511

[2015-09-01 02:28] #756 closed

[2015-09-01 02:33] LisaGee commented on #511
@shawnbot Here is the data that includes 33rd, 50th, and 67th percentiles if that makes them easy enough to plug in for thresholds of Above, Around or Below Average.

Element	33rd percentile	67th percentile	50th percentile	Average
Median earnings	$31,600	$39,700	$36,100	$34,343
Median earnings (all 2-year)	$27,700	$33,000	$30,300	$31,080
Median earnings (all 4-year)	$37,100	$40,700	$44,800	$42,051

[2015-09-01 02:37] LisaGee commented on #886
Moving @saintsoup52 https://github.com/saintsoup52 comment from another ticket #493, so it doesn't get lost.

Of all the emails I read over the weekend… I think this one has the most policy implications… because this is definitely a new yard stick schools are being measured against. And not that you asked… but I am going to offer my opinion on this anyways…

1) Median Earnings (use - PREDDEG): I t

[2015-09-01 02:38] LisaGee commented on #493
this is complete and implemented.

[2015-09-01 02:38] #493 closed

[2015-09-01 02:40] LisaGee commented on #886
@jjoteal - Can you figure out how you would display these distinctions in the UI?

[2015-09-01 12:23] saintsoup52 commented on #940
Right now the chart seems to be set at $87K for "actual cost" but the highest I can find is $46K.

I think the max should be $40K (only a couple of schools are above that).

[2015-09-01 12:27] saintsoup52 commented on #943
Another example of where the flag for HCM2 is missing is Arkansas Baptist College.

[2015-09-01 13:21] claremccann opened #956 "Completion rate for less-than-four-year schools needs to use 200%, not 150%"
The current version of the site is pulling 150% completion for predominantly two-year (and less-than-two-year, if you get those back in). It should be using 200% completion rate. Pull from C200_L4_POOLED_SUPP if preddeg==1 or preddeg==2. Use C150_4_POOLED_SUPP if preddeg==3.

[2015-09-01 14:18] dnesting commented on #597
I think the right approach then is to test to find the current limits (as the original comment says) and then test again with some horizontal scaling.  If we can scale arbitrarily this way, it'll at least let us prove that out and give us a sense of what we need to have live.

[2015-09-01 14:22] dnesting commented on #496
I chatted with @ultrasaurus about this yesterday and I think the approach we're going to run with looks like this:

- [ ] Add a new script to be executed during data deployment that queries the API for schools and emits a sitemap XML
- [ ] Place the XML somewhere accessible on the Internet
- [ ] Update robots.txt to point search engines to the sitemap XML

[2015-09-01 15:29] saintsoup52 commented on #597
FYI-We had 500+ concurrent users on the GI Bill Comparison tool after VA sent an email out to all their vets.

From: Diego Mayer [mailto:notifications@github.com]
Sent: Tuesday, September 01, 2015 10:59 AM
To: 18F/college-choice <college-choice@noreply.github.com>
Subject: Re: [college-choice] As a site operator, I'd like to have basic load testing to understand the concurrency limit at which we n

[2015-09-01 15:42] hollyallen commented on #528
Working on this.

[2015-09-01 15:54] jjoteal commented on #498
@LisaGee these are ready to review and accept:
https://federalist.18f.gov/preview/18F/college-choice/jjoteal-datainsights/data/

It is a little awkward because some quotes are long and some are short -- would be better to have similar length. Let me know if you'd like any edits or if you think we should only show 5 vs. 10....

[2015-09-01 16:01] dnesting commented on #597
My current thought is to bring up "wrk" or similar (maybe @gbinal has a recommendation) in either Cloud Foundry or on AWS and have it hit ccapi-*.18f.gov with a representative sample of queries.  I think I need from someones:

- [ ] A representative sample of queries (or access to access logs so I can figure this out)
- [ ] Anything else I'll need to stick in a request to get responses (API key?)

[2015-09-01 16:02] jjoteal commented on #929
Just an update that these are done. Just waiting for the Pull Request to merge...

[2015-09-01 16:05] jjoteal commented on #888
FYI -- this is done. Error on dev right now, so I can't proof the changes yet...

![image](https://cloud.githubusercontent.com/assets/12192706/9609451/c3358670-50a1-11e5-9b3f-e6e1adaf2072.png)

Once that is up and running, I will proceed with proofing!

[2015-09-01 16:06] jjoteal commented on #553
FYI -- this is also done. Unable to preview on Dev right now, but as soon as I can, will proof!

[2015-09-01 16:07] jjoteal commented on #514
FYI -- this is done on Dev, just can't preview because of error.

![image](https://cloud.githubusercontent.com/assets/12192706/9609507/fe07b408-50a1-11e5-826a-ec90e98b3d1f.png)

[2015-09-01 16:17] jjoteal commented on #420
This is done. Just waiting to proof on dev (can not because of error) before I push to accept.

![image](https://cloud.githubusercontent.com/assets/12192706/9609735/51ae0b42-50a3-11e5-8052-ebe5489d3079.png)

[2015-09-01 16:19] jjoteal commented on #174
Updating with feedback from usability test sessions.

Adult Students:
- "Perhaps some way to know how many students are career changers or looking to reinvent themselves"
- "Breakdown of first-time students"

[2015-09-01 16:24] meiqimichelle commented on #929
Should be live on `dev` with #959 .

[2015-09-01 16:24] meiqimichelle commented on #929
I also removed the second button in the downloads section, replaced with csv size, and removed the subpages from nav that we're not including in v1.

[2015-09-01 16:32] jjoteal commented on #497
Nothing super exciting, but how about this @LisaGee:

![image](https://cloud.githubusercontent.com/assets/12192706/9610104/7c310c0a-50a5-11e5-84cd-9c5298b27f2e.png)

Assigning to you for design approval before implementation.

[2015-09-01 16:33] jjoteal commented on #761
@lisa - looking for a final decision here on wording. Should we change from "urban" to "city" ?

[2015-09-01 16:36] LisaGee commented on #761
@jjoteal - Yes, please. Replace Urban with City. Thanks.

[2015-09-01 16:49] ErieMeyer opened #960 "Feature: As a researcher, I want to know where/how to ask and answer questions about this data"
I propose making the tag "collegescorecard" to keep branding consistent.

Then, we should link this to the "stack exchange" icon on the data tool. http://opendata.stackexchange.com/questions/tagged/collegescorecard

[2015-09-01 17:14] meiqimichelle commented on #943
This will be fixed when #961 merges. Looks like:
<img width="1002" alt="screen shot 2015-09-01 at 10 13 52 am" src="https://cloud.githubusercontent.com/assets/4827522/9611032/3e366bec-5092-11e5-950f-ee975bad84ba.png">

[2015-09-01 17:18] LisaGee commented on #497
@jjoteal that's fine. Thanks.

[2015-09-01 17:23] meiqimichelle commented on #761
This will be live on `dev` when #962 merges. It looks like:
<img width="404" alt="screen shot 2015-09-01 at 10 21 30 am" src="https://cloud.githubusercontent.com/assets/4827522/9611269/7b007698-5093-11e5-93ff-f8af3ccb03d4.png">

[2015-09-01 17:25] NatalieEMoore commented on #935
@LisaGee  I have tried five times and it happened all 5 times.  The steps I took:

Log on to website, put screen to one column size, pick California as the location and pick area ethnic cultural gender and group studies as the program/degree.  Then I click find schools.   After waiting a few minutes on the page or after selecting page 2, 3, etc. I get the same internet explorer has stopped working

[2015-09-01 17:28] ozzyjohnson commented on #597
The changes to identify a backing Elasticsearch instance over in [open-data-maker](https://github.com/18F/open-data-maker/issues/139) enable this. This allows the creation of multiple ccapi instances each pointing at its own elasticsearch.

Mapping a cf route such as `ccapi.18f.gov` to all of those ccapi instances will cause requests to be round-robin'd between them.

[2015-09-01 17:38] meiqimichelle commented on #118
Update: DAP is seeing our site! It is just that it is a little harder to find because DAP gets so much traffic generally. If you log in to www.google.com/analytics, you should see the 18F GA account, and also the DAP account (if you have access), called `Government-Wide Account`. In my view it shows up below all the 18F stuff. Within that folder (likely pre-opened), you should see `GSA Agency Prof

[2015-09-01 17:41] meiqimichelle commented on #497
What should be in the data footer? A link back to the consumer site? A link to the github repo?

[2015-09-01 17:48] ErieMeyer commented on #497
Both those things sound great! And also the contact link.

[2015-09-01 17:50] meiqimichelle commented on #960
Should be live on `dev`. I have it set to open in a new tab. Let me know if that's not right.

[2015-09-01 17:51] ozzyjohnson commented on #597
We have New Relic APM for the app and Marvel is available for Elasticsearch. New Relic has container-specific monitoring that might be applicable to Elasticsearch and the docker host, but I haven't taken a dig into it.

[2015-09-01 18:14] meiqimichelle commented on #497
So far:

## Consumer
<img width="1225" alt="screen shot 2015-09-01 at 11 12 36 am" src="https://cloud.githubusercontent.com/assets/4827522/9612423/7b5b2b9a-509a-11e5-9e52-70d52db77a79.png">

## Data
<img width="1219" alt="screen shot 2015-09-01 at 11 12 19 am" src="https://cloud.githubusercontent.com/assets/4827522/9612427/81a1476e-509a-11e5-9072-2e5f26028427.png">

[2015-09-01 18:15] meiqimichelle commented on #497
Related: I don't have the GitHub link going anywhere now. Let me know where it should go after launch.

[2015-09-01 18:28] hollyallen commented on #528
Column Name | Attribute | NULL | PrivacySuppressed | Blank
---|---|---|---|---
INSTURL | school.school_url | yes | no | no
NPCURL | school. price_calculator_url | yes | no | no
LOCALE | school.locale | yes | no | no
HBCU | school.minority_serving.historically_black | yes | no | no
PBI | school.minority_serving.predominantly_black | yes | no | no

[2015-09-01 18:32] meiqimichelle commented on #896
This looks like
<img width="722" alt="screen shot 2015-09-01 at 11 30 57 am" src="https://cloud.githubusercontent.com/assets/4827522/9612905/19245af2-509d-11e5-84be-27d2fb03d7b8.png">

Is this OK @jjoteal @LisaGee ? If yes, I will merge.

[2015-09-01 18:41] meiqimichelle commented on #514
@jjoteal This looks good to me now on dev. I think you're all set. Maybe the error is gone now?

[2015-09-01 18:43] meiqimichelle commented on #342
@jjoteal Can you check this one again? That part of the site has changed quite a bit since this was filed, and I don't see it on my end right now.

[2015-09-01 19:01] meiqimichelle commented on #941
Should be live on dev with #966

[2015-09-01 19:01] meiqimichelle commented on #723
Should be live in dev with #966

[2015-09-01 19:01] meiqimichelle commented on #723
<img width="873" alt="screen shot 2015-09-01 at 11 57 55 am" src="https://cloud.githubusercontent.com/assets/4827522/9613600/2f7f026c-50a1-11e5-9351-35e91da6b849.png">

[2015-09-01 19:07] LisaGee commented on #896
Looks great!

[2015-09-01 19:28] dnesting commented on #597
@ozzyjohnson

1. What do you think about configuring things now so that we can trivially scale out when the need arises?  What would be involved in that?  I'm happy doing the lifting here if I know what to do.
2. Can I get a New Relic account?  Or maybe I can just sit with someone when running the tests?

[2015-09-01 20:06] ozzyjohnson commented on #597
@dnesting

1. Depends on which bit we're talking about scaling out.

I can create additional api instances and backing elasticsearch instances now. Though, that would be more like pre-scaling than making on demand scaling trivial. Trivial scaling requires creating a script or two that will spawn new elasticsearch instances and restore to them from a snapshot (Still not totally trivial as the data

[2015-09-01 21:07] cew821 commented on #934
I had a very similar problem. "Phoenix" had no result, nor did "Phoenix University" or "university of phenix."

It seems like the search feature should be using some kind of fuzzy text search so that it doesn't require exact matches (I assume this needs to be implemented in the API).

[2015-09-01 22:05] diego- commented on #572
added 'student' to data dictionary as enrollment.all dev-category. Acceptance test pending reindex.

[2015-09-01 22:07] diego- commented on #927
small asset placeholders merged. waiting on S3 setup for large files.

[2015-09-01 23:33] hollyallen opened #971 "Layering bug with Under Investigation tooltip"
https://federalist.18f.gov/preview/18F/college-choice/dev/search/?name=Community%20Christian%20College&sort=advantage:desc
Chrome

I was testing the fix to #943 (HCM2 flag) and sadly found this overlapping problem in the dev environment:

![screen shot 2015-09-01 at 4 35 14 pm](https://cloud.githubusercontent.com/assets/3476681/9619663/383a3298-50c7-11e5-9601-8da4ef8acc34.png)

[2015-09-01 23:42] diego- commented on #927
100MB csvs:
https://s3.amazonaws.com/ed-college-choice-public/most_recent_cohorts_NSLDS_083115.csv
https://s3.amazonaws.com/ed-college-choice-public/most_recent_cohorts_all_083115.csv
https://s3.amazonaws.com/ed-college-choice-public/most_recent_cohorts_earnings_083115.csv
https://s3.amazonaws.com/ed-college-choice-public/most_recent_cohorts_scorecard_083115.csv

note: these are not real files.

[2015-09-01 23:43] #927 closed

[2015-09-02 02:21] meiqimichelle opened #974 "After launch, check to see that meta tags are working"
- [x] should display nicely in Twitter [here](https://cards-dev.twitter.com/validator)
- [x] should display nicely in Facebook [here](https://developers.facebook.com/tools/debug/og/object/)
- [x] should display nicely in places like Slack (image, correct url, etc)
- [x] return to google Site Console and verify ownership. [info](https://support.google.com/webmasters/answer/35659?vid=1-6357675450050

[2015-09-02 02:22] meiqimichelle opened #975 "Add more options for favicons"
Right now, we support traditional favicon sizes, which are pretty low-res and meant for browsers. We should add more options so that our site, when bookmarked, etc, has an icon that displays nicely on all devices.

[2015-09-02 02:52] claremccann opened #977 "Bug -- MSI labels may be mutually exclusive"
New Mexico State University-Grants shows up as HSI, which is good. But it's also NASNTI, yet that label doesn't show up.

[2015-09-02 02:53] claremccann commented on #977
Or maybe just all NANTIs don't show up?

[2015-09-02 03:45] meiqimichelle commented on #303
Note: there is also now some weirdness happening with the meter sizes at certain screen widths. Observe:
![screen shot 2015-09-01 at 8 44 51 pm](https://cloud.githubusercontent.com/assets/4827522/9622623/53db4bae-50ea-11e5-809e-67df7cb617e0.png)

[2015-09-02 10:23] ultrasaurus commented on #572
confirmed that if dev-category is blank it is omitted.  I discoverd that Carnegie Classifications were also missing, and put them in "school" ... still in progress

[2015-09-02 10:46] kimballce opened #979 "BUG: Searching for my zip code (20009) returns no results"
Edge browser, windows 10.
I did not add a radius.

[2015-09-02 10:50] kimballce opened #980 "BUG: "Filter your results" hover text shouldn't show up when mu cursor is far away"
Edge browser, windows 10

Even when my cursor is far to the right (like where I've circled in red), the hover text pops up. This creates a busy, distracting experience when I'm just trying to navigate down to the search criteria.

I suggest enabling the hover text only on the title text itself, and not the whole cell containing the text.

![image](https://cloud.githubusercontent.com/assets/8903924

[2015-09-02 10:53] kimballce opened #981 "BUG: U.S. Department of Education footer is not located at the foot of the webpage"
Edge browser, Windows 10

https://college-choice.18f.gov/search/?zip=20009&sort=advantage:desc
When I click the "Filter Results" link on the left and scroll down, I see that the sidebar extends far below the "U.S. Department of Education" footer.

The footer should always be at the true foot of the webpage.

![image](https://cloud.githubusercontent.com/assets/8903924/9629238/294bde44-513f-11e5-822

[2015-09-02 11:00] kimballce opened #982 "BUG: Advanced Search distinction seems arbitrary; consider removing the distinction?"
When I look at all the different criteria I could be searching and filtering by in the "Normal" search, it's not obvious to me why the criteria in "Advanced Search" are pulled out separately. The line between the two categories seems arbitrary, and I would just as soon have them all on one layout.

![image](https://cloud.githubusercontent.com/assets/8903924/9629421/6d5036d4-5140-11e5-9515-b76d510d

[2015-09-02 11:06] kimballce opened #983 "BUG: Accessing Institution Type fields on sidebar requires multiple clicks"
Institution Type fields are grouped under "Advanced Search", but currently Institution Type is the only category under Advanced Search.

This means I have to click the "Advanced Search +" link, and then the expansion button by Institution Type before I can start searching.

Recommendation: have Institution Type category automatically expand when clicking "Advanced Search +". (or: do away with Adva

[2015-09-02 11:08] ultrasaurus commented on #572
this is on the dev server, pending code review by @yozlet

[2015-09-02 11:08] kimballce opened #984 "BUG: Drawer UI unintuitive, replace with dropdowns."
Edge browser, Windows 10
https://college-choice.18f.gov/search/?zip=20009&distance=25&sort=advantage:desc
When I make a search from the sidebar, the search results come up and the side bar stays and there's a lot of blank gray space between the two -- I don't see all the results until I manually compress the sidebar.

![image](https://cloud.githubusercontent.com/assets/8903924/9629524/4c211338-514

[2015-09-02 11:09] ultrasaurus commented on #572
meaning we shouldn't move to staging & accept till after it's reviewed and merged, but @diego-  can take a look at it and see if it is as expected

[2015-09-02 11:16] ultrasaurus commented on #566
this is on the dev server, you can check out: https://ccapi-dev.18f.gov/v1/schools?id=104151

and in the academics section, see something like this:
![image](https://cloud.githubusercontent.com/assets/41906/9629564/91c330d8-5141-11e5-9c10-ce0c57ce4e00.png)

@LisaGee @shawnbot pls take a look, this query works for me:
https://ccapi-dev.18f.gov/v1/schools?fields=school.name,id&2013.academics.program

[2015-09-02 12:08] jjoteal commented on #514
Looks good! Moving to accept!

[2015-09-02 12:36] jjoteal commented on #929
@meiqimichelle the little blurb I inserted for the Download the Data and Documentation sections are not displaying. Is there by chance a pull request that hasn't merged yet?

[2015-09-02 12:38] jjoteal commented on #888
Moving to accept for @LisaGee review!

[2015-09-02 12:38] jjoteal commented on #553
Looking good and moving to accept!

[2015-09-02 12:40] jjoteal commented on #420
Looking good! Moving to accept!

[2015-09-02 12:41] jjoteal commented on #761
Just FYI - assigning this task to Michelle since it is already in her court.

[2015-09-02 12:48] jjoteal commented on #342
@meiqimichelle the top part is looking good on iphone, but the "cards" (white rounded corner containers) for the individual schools are still going to the edge:

![image](https://cloud.githubusercontent.com/assets/12192706/9631482/1d4b664a-514f-11e5-81b6-acbd976bc8e0.png)

This is obviously not a major issue and shouldn't delay launch.

Here's a quick screenshot of the original design so you can s

[2015-09-02 12:53] jjoteal commented on #886
@LisaGee -- As a simple solution for launch (though not sure how much development time this would take), how about a simple toggle interface for 2-year and 4-year? All 2-year schools would display in toggle view A and all 4-year schools would display in toggle view B?

I know this would require some testing... is the goal to launch this in the MVP?

[2015-09-02 13:39] LisaGee commented on #956
This was working correctly before. Not sure when it would have changed.

@hollyallen Can you confirm? and provide a URL and what data should be so that we can test when fix does go in? Thanks.

[2015-09-02 13:45] LisaGee commented on #979
@kimballce Are there any schools in your zip code? When I enter my home zip code 10023 I do get a result, b/c there is a school within my zip.

[2015-09-02 13:47] LisaGee commented on #977
There was a separate bug for NANTIs that has been fixed, but not pushed to prod yet.
Spelman is an example where you see 2 different designations working.

[2015-09-02 13:47] #977 closed

[2015-09-02 13:53] kimballce commented on #979
@LisaGee , No there aren't any schools in my zip code. But I have been conditioned by most other websites on the internet to expect that entering my zip code will find results "near me", not just those exactly within my zip code. (e.g. https://order.pizzahut.com/site/locator)

I would recommend that if a user searches by zip code but leaves the radius field blank, that the default behavior should

[2015-09-02 14:02] meiqimichelle commented on #929
@jjoteal This is what I see on `dev`. Is it what you were expecting?
![screen shot 2015-09-02 at 7 00 36 am](https://cloud.githubusercontent.com/assets/4827522/9633217/80022f80-5140-11e5-8088-843d6cfb7239.png)

[2015-09-02 14:05] meiqimichelle commented on #761
@shawnbot I merged a fix for this yesterday, but maybe it got caught up in your JS changes that you mentioned at standup (where there's another step now for any changes to JS?). _Investigating_

[2015-09-02 14:11] jjoteal commented on #301
@lisa -- these labels have since been updated to reflect Dana's language changes. I'm going to close this issue in lieu of Ed's review of the content so we can start tracking all new language tickets so things don't get confused.

[2015-09-02 14:11] #301 closed

[2015-09-02 14:13] jjoteal commented on #929
Yep, that is correct! Perhaps I have the wrong dev URL? I was clicking on the only one that was available for the Data site in college-choice-data...

[2015-09-02 14:51] meiqimichelle commented on #342
Ah! I see. I was focusing on the top headers and not the cards themselves. Yes, we'll wait on that one. I would also advocate for reconsidering -- the space for the card edges takes up a lot of mobile screen real estate and would make the meters even smaller than they already are. Perhaps there's an alternate approach that keeps separation without so much edging?

[2015-09-02 14:53] meiqimichelle commented on #890
@jjoteal We've gotten various feedback on this part of the site. What do you think? We already renamed 'institution type' to 'advanced search'. Keep the green? Keep the not green? Toast advanced search entirely since there's only a few things under there right now, and move to be with the rest?

[2015-09-02 14:54] meiqimichelle commented on #889
This is related to #751

[2015-09-02 15:02] meiqimichelle commented on #929
It should just be the normal Federalist dev url plus `/data/` at the end. We'll get the new footers pushed live today with the link to /data so you won't have to go searching next time :)

[2015-09-02 15:17] claremccann commented on #984
Noticed a similar problem on Google Chrome, except instead of big grey space, it just cuts off the fourth column/the sort-by drop-down.

![image](https://cloud.githubusercontent.com/assets/13874735/9635361/256cd6f0-5164-11e5-9030-9ae310690120.png)

[2015-09-02 15:23] claremccann opened #986 "Bug: Search results not pulling up all schools"
Windows, google Chrome

Tried to search "Purdue" and got three Purdue campuses (Main, North Central, and Calumet). However, it's not pulling up Indiana University-Purdue University-Indianapolis and Indiana University-Purdue University-Fort Wayne. So seems like it's only pulling up results that start with the word searched, which is great for "universities of" but less great for this case.

[2015-09-02 15:28] meiqimichelle commented on #890
Ok! Looks like:

![screen shot 2015-09-02 at 8 24 43 am](https://cloud.githubusercontent.com/assets/4827522/9635694/89bb8ea2-514c-11e5-9a2a-a744c15c17e7.png)

What do you think of the name? It didn't make sense to call that section 'advanced search' anymore because there's nothing really obviously different or special about that section. `Type` seemed to cover it.

[2015-09-02 15:41] cew821 commented on #934
Looks like the "berk" case is working in staging. However, a few other cases are not working:

1. "phoenix university" should probably surface "university of phoenix"

2. "pheonix" (mis-spelling) should probably work

3. "phoenix college" should also probably return "university of phoenix" --- since college and university are often thought of as synonyms

4. "phoenix online" should also probably w

[2015-09-02 15:47] meiqimichelle commented on #984
@jjoteal So I think your thought of graying out the main content area when the drawer is open might be back in play. The drawer currently opens and pushes all content to the right (including margins, or whatever, at the user's individual screen size....hence the larger and smaller gray left-hand areas). This is not a clear interaction for people using the site. We could have the drawer open on top

[2015-09-02 17:11] shawnbot opened #988 "JS optimization: ditch D3?"
We're using [D3](http://d3js.org) because I had imagined a bigger role for charts and visualizations on the site, but there isn't much of that going on right now. D3 is great for jQuery-like DOM manipulation, but it's overkill and bloats the browser bundle (see #969). We have options:

1. Make a custom D3 build with [d3-bundler](https://github.com/d3/d3-bundler)
1. Ditch D3 altogether, and replace

[2015-09-02 17:24] meiqimichelle commented on #132
I have a separate issue #974 for post-launch to check on this. I don't know of any way to do it before we're open and live.

[2015-09-02 18:46] diego- commented on #946
I think @hollyallen has a checklist to this effect?

[2015-09-02 19:03] shawnbot opened #989 "BUG: Safari undoes search parameters"
I think this is a regression introduced in #972, since as of this writing that PR hasn't made it to staging and the staging site doesn't exhibit the issue. The test is simple:

1. Go directly to a search URL (on dev) with parameters, e.g. [?name=harvard](https://federalist.18f.gov/preview/18F/college-choice/dev/search/?name=harvard&sort=advantage:desc)
2. Assert that the URL contains the original

[2015-09-02 19:05] hollyallen commented on #946
I have been updating the "Engineering" sheet on the "TODOs to get us to Beta & to Launch" sheet in PICC on Google Docs. https://docs.google.com/spreadsheets/d/1BtjN7NSWeseA0C_IHwhnFV2-Y2pdwB6SmFkZd5_o0Ss/edit#gid=1199751241

I wouldn't call it a Play by Play list. Diego, I see a new doc called Deployment Plan, was that to be a play by play launch day list?

In any case, we should make one that isn

[2015-09-02 19:33] claremccann commented on #986
Similarly, can't pull up any University of Texas schools. I think there may be issues with searching for "University of" schools.

[2015-09-02 19:59] ultrasaurus commented on #955
I think this is addressed by https://github.com/18F/college-choice/issues/566