[2015-08-17 15:16] jjoteal commented on #150
@ErieMeyer do you happen to have the hand drawings somewhere? I'm sure it will mean we'll have to reword some of the titles above the graphs.

[2015-08-17 15:17] LisaGee commented on #372
Bottom line: there should only be one value for completion rate, regardless of whether it lives in the 4 year column or the less than 4 year column. Use that number, whichever column it live in. Thanks.

[2015-08-17 15:20] ErieMeyer commented on #177
@saintsoup52 -- where did you guys find data for this on the paying for college tool?

[2015-08-17 15:23] ErieMeyer commented on #118
@gbinal Thoughts on how DAP could give us access with our existing accounts?

[2015-08-17 15:25] ErieMeyer commented on #200
Based on this: https://github.com/18F/college-choice/issues/118#issuecomment-130802448

I think this should be school.edu/CollegeScorecard

Sound good?

[2015-08-17 15:34] diego- commented on #380
from Clare: There’s a difference between 0 and NULL that is not reflected in the API. Same with privacy suppressed. I think this is what’s driving a lot of confusion from the developers (e.g. Abigail’s questions over the google group about returning zeroes for 2013 data).

[2015-08-17 15:35] #411 closed

[2015-08-17 15:39] diego- opened #416 "As a consumer, I would like to be able to filter my search by Cost Per Year"
See #188 for specifics

[2015-08-17 15:40] diego- opened #417 "As a consumer, I would like to be able to filter my search by Graduation Rate"
See #188 for specifics

[2015-08-17 15:40] diego- opened #418 "As a consumer, I would like to be able to filter my search by Salary after Graduation"
See #188 for specifics.

[2015-08-17 15:41] diego- opened #419 "As a consumer, I would like to be able to filter my search by Monthly Student Loan Payment"
See #188 for specifics

[2015-08-17 15:42] diego- commented on #188
Sub-issues created for this story:
- [ ] #416
- [ ] #417
- [ ] #418
- [ ] #419

[2015-08-17 15:45] jjoteal opened #420 "As a Student, I'd like to see the definition of the headers that are associated with the filters and individual graphs/metrics on both the Search Results page and the Individual School page, so that I can understand their true meaning and compare to other figures on other sites."

[2015-08-17 15:48] diego- opened #421 "Create an automated build process for CollegeChoice CloudFoundry"
- [x] check to make sure that pushing to master doesn't prematurely reveal data
- [x] fix build script https://github.com/18F/college-choice/issues/427
- [ ] auto run ./push.sh from travis when merge to master and tests pass

[2015-08-17 15:48] jjoteal commented on #420
Tooltips should be associated with:
- Every filter header
- Every header associated with a metric on the individual school page

All tooltips should make use of the existing UI design with the "i" icon and talk bubble explanation:

![image](https://cloud.githubusercontent.com/assets/12192706/9309168/e676fcc2-44d5-11e5-8770-b45789c1ab93.png)

[2015-08-17 15:48] ErieMeyer commented on #178
Another note is that what CFPB did and add a flat page with all of these (in addition to tool tips): http://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/technote/

Will go look at the content now

[2015-08-17 15:49] diego- opened #422 "As a developer, I'd like to know the final URL for the College Choice API"
Addendum to #359

Of the form: https://api.data.gov/.../

[2015-08-17 16:03] LisaGee commented on #413
We think it would be better for Clare to have this fixed in the data.

[2015-08-17 16:03] LisaGee commented on #413
Once we have them, we will need to re-import the data files.

[2015-08-17 16:05] ErieMeyer commented on #234
@konklone @noahkunin -- I somehow remember you having ideas around this.

[2015-08-17 16:06] jjoteal opened #423 "Rejigger the way Earnings information is presented so that is is more relevant for students"

[2015-08-17 16:12] jjoteal opened #424 "BUG: Insert more space between the Gender graph and the Other Demographics information on the individual school page"
Current screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9309648/1bfae48c-44d9-11e5-9474-3718229a52a9.png)

Insert ~30-40px of space between the 2 sections

[2015-08-17 16:15] jjoteal opened #425 "BUG: Insert more space between the "/" and the % of part-time students in the Other Demographics section"
Current screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9309729/89a90efa-44d9-11e5-85b5-45a1c0bbfa95.png)

Should be more space between the "/" and the "30% part-time"

[2015-08-17 16:15] diego- commented on #234
explore as 'oembed' methodology

[2015-08-17 16:16] LisaGee commented on #234
Diego - Can you write up instructions that we can give to the WH.gov so they know how to do when we have the oembed.

[2015-08-17 16:16] konklone commented on #234
Those ideas are more around data going in the reverse direction -- where a .gov site embeds non-government third party services. That's super-common and has some interesting privacy ramifications.

Government providing its own embeds also has some interesting privacy ramifications, but it sounds like this ticket is currently pretty concerned with technical implementation details.

I only know one

[2015-08-17 16:31] saintsoup52 commented on #414
This just means the borrower made at least one dollar in payment on their principal balance (vs interest) in a given year.

Hope that helps.

From: diego- [mailto:notifications@github.com]
Sent: Monday, August 17, 2015 10:35 AM
To: 18F/college-choice <college-choice@noreply.github.com>
Subject: [college-choice] Q: developer-friendly title of repayment rates accurate reflection of stat? (#414)

The

[2015-08-17 16:33] saintsoup52 commented on #177
We borrow data from IPEDS (quarterly) and the financial shopping sheet data ED publishes annually (grad, CDR and median borrowing).

From: Erie Meyer [mailto:notifications@github.com]
Sent: Monday, August 17, 2015 11:20 AM
To: 18F/college-choice <college-choice@noreply.github.com>
Cc: Campbell, Patrick (CFPB)
Subject: Re: [college-choice] As a Student, I'd like to see examples to compare my potent

[2015-08-17 16:36] saintsoup52 commented on #413
I think ED does the whole numbers for all their percentage stats in IPEDS at least (e.g. Completion rates).

From: Lisa G. [mailto:notifications@github.com]
Sent: Monday, August 17, 2015 12:03 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Subject: Re: [college-choice] Data problem with CDR - incorrect magnitude (#413)

We think it would be better for Clare to have this fixed in the

[2015-08-17 19:10] ErieMeyer commented on #177
Apologies! I meant when you had textbooks and car payments

[2015-08-17 20:13] jjoteal opened #426 "BUG: There should only be an 'X' button or an 'ADD' button, never both"
Current display:

![image](https://cloud.githubusercontent.com/assets/12192706/9314870/a55789f4-44f9-11e5-9a9b-c4e58f47f312.png)

Change to:
![image](https://cloud.githubusercontent.com/assets/12192706/9315041/bd48fc2c-44fa-11e5-9230-7b5e9e648bbe.png)

Please note that the "x" and "add state" icons should never display together. Only once the user selects a state, should the "x" icon display.

[2015-08-17 20:25] jjoteal commented on #329
Hi all, what do you think of this 'switcher' interface for search by state, region, and zip:

![image](https://cloud.githubusercontent.com/assets/12192706/9315227/f07c9954-44fb-11e5-9ad0-1894f730e669.png)

I'm thinking this will be more user-friendly than the 'inactive' states of the various search options. Also, if the user selects criteria on one of the 'tabs' then any criteria set on the other

[2015-08-17 21:00] yozlet opened #427 "push.sh without local env vars set will produce a broken site"
The Jekyll build requires `API_KEY` and `API_BASE_URL` set in the same local environment where `push.sh` is run (currently on a local machine). However, it doesn't tell you that, and will happily produce a broken site if they aren't set. So, we should

1. Fix `push.sh` to throw an error if the variables aren't set
2. Fix the README to explain those variables

[2015-08-17 21:04] yozlet commented on #421
Does this mean, for example, that all commits to the master branch should be automatically built and pushed? We can almost certainly get Travis to do that: https://docs.18f.gov/apps/continuous-deployment/ (note the section on Jekyll builds)

[2015-08-17 21:36] diego- opened #428 "As a website tester, we'd like to have an up-to-date beta site (as of 4/17) that works with live data."

[2015-08-17 22:00] ultrasaurus commented on #428
please review:  https://college-choice.18f.gov

[2015-08-17 23:05] saulshanabrook commented on #428
Can I look at it or is it restricted?

[2015-08-18 00:05] yozlet opened #431 "Repo needs a proper README.md"
Currently we just have the default Jekyll one, though I added a paragraph about environment variables. But really we need a proper one from scratch.

[2015-08-18 06:30] ultrasaurus commented on #419
https://ccapi-dev.18f.gov/school?2013.debt.median_debt_suppressed.completers.monthly_payments__range=200.00..&fields=2013.debt.median_debt_suppressed.completers.monthly_payments,school.name,id

[2015-08-18 06:38] ultrasaurus commented on #418
earning over 40K, six years after entry

https://ccapi-dev.18f.gov/school?2011.earnings.6_yrs_after_entry.median__range=40000..&fields=2011.earnings.6_yrs_after_entry.median,id,school.name

[2015-08-18 06:44] ultrasaurus commented on #416
I believe this data is in two separate fields:
* avg_net_price.public
* avg_net_price.private

[2015-08-18 06:49] ultrasaurus commented on #417
here's the completion rate for 4 year schools over 95%:
https://ccapi-dev.18f.gov/school?2013.completion.rate.four_year__range=0.95..&fields=2013.completion.rate.four_year,school.name

I think this story is saying that we want to combine the results of two fields:
* completion.rate.four_year
* completion.rate.lt_four_year

though I wonder if most college students know if they are looking at 4 or 2

[2015-08-18 06:51] ultrasaurus commented on #428
@saulshanabrook sorry, the data isn't public yet -- I should have made that more clear!

[2015-08-18 06:53] ultrasaurus commented on #428
updated comment to make it clear that we're still testing the data integration, so this story is for folks who have access to test the website

[2015-08-18 14:45] meiqimichelle commented on #118
Updates:

## DAP
Any gov employee can request access. If any of us *don't* have it, I can send you the form to request. If you already have access, you should be all set. I don't think I need to add you or do anything special for you to see our data once it starts arriving.

## Site-specific GA
Notes from @gbinal, from convo in another channel:
```In other words, anyone with any address can go to

[2015-08-18 15:13] LisaGee commented on #413
From: McCann, Clare
Sent: Monday, August 17, 2015 3:37 PM
To: Gelobter, Lisa
Subject: CDR data

RTI is fixing the files so that the CDR data are a decimal rather than a number. They should upload the files to us on Wednesday. Apologies for that error.

[2015-08-18 16:52] LisaGee commented on #359
Final URL decided. See Lisa's email.
Noah has been connected with ED DNS owner and is in the process of making it all so....

[2015-08-18 17:02] LisaGee opened #432 "Change Branding on PICC Website to reflect final name"

[2015-08-18 17:30] #427 closed

[2015-08-18 17:32] jjoteal commented on #160
@meiqimichelle here is the final list of Featured Downloads:
- Scorecard data (all the data available on CollegeScorecard.ed.gov, one year)
- Most recent data (the most recent year of each element)
- What's new from NSLDS (all the new NSLDS completion and repayment rate data, all years)
- Post-school earnings (all the Treasury data, all years)

[2015-08-18 17:48] jjoteal commented on #75
Per my slack chat with Michelle, here is the updated pagination style for reference:

![image](https://cloud.githubusercontent.com/assets/12192706/9337822/9698c30e-45af-11e5-9b63-3ffba1d9dcf4.png)

Should display on the upper right above the search results and lower left below the search results on desktop. On mobile, it would just be stacked.

[2015-08-18 17:51] jjoteal commented on #432
Reassigning to @meiqimichelle as I am not sure where to find this in the code (I looked in the header file and it appeared as though the site title was being pulled in dynamically from somewhere) -- sorry!

Site title should be "College Scorecard"

[2015-08-18 17:54] NoahKunin commented on #359
Woot!

On Tue, Aug 18, 2015 at 9:53 AM, Lisa G. <notifications@github.com> wrote:

--
Noah Kunin
18F Infrastructure Director | @18F

[2015-08-18 17:56] NoahKunin commented on #359
Hm, looking for an email, but can't seem to find it. What's the URL?

[2015-08-18 18:01] NoahKunin commented on #359
Resolved!

[2015-08-18 18:48] ultrasaurus commented on #38
this was worked on by open source contributor a couple of weeks ago.  I refactored a little and found a bug in one of the test, also rebased against dev.

Ready for review by @yozlet :  https://github.com/18F/open-data-maker/pull/119

[2015-08-18 18:49] jjoteal commented on #423
@LisaGee @ErieMeyer continuing our conversation about earnings yesterday, I mocked up 1 quick idea. Let me know your thoughts here:

![image](https://cloud.githubusercontent.com/assets/12192706/9339488/5b46dd50-45b8-11e5-9fd0-555ee1e839cf.png)

[2015-08-18 19:00] jjoteal opened #433 "BUG: Ensure all "Higher than Average" "About Average" and "Lower than Average" text styles are all-caps and bold"
Should look like:
![image](https://cloud.githubusercontent.com/assets/12192706/9339697/7c7b0a0e-45b9-11e5-8c51-9a7ba464ff2c.png)

14px bold

"Higher Than Average" = #77b713
"Lower Than Average" = #d44116
"About Average" = #2b6091

[2015-08-18 21:22] diego- commented on #234
For this feature, are we implementing some frontend "buttons" to created embed code for any third party, or for now, is the scope of this issue limited to providing a custom embed code for the WH?

[2015-08-18 21:46] ultrasaurus commented on #421
we'll not do this because we are only going to push weekly

[2015-08-18 21:46] saintsoup52 commented on #177
Our examples were a little lame (textbooks and something else)... I think we consider "smart phones", "tablets" and "gallons of gas".

The exercise was to find something that future college students knew the value of and would be aspirational in some way.

[2015-08-18 21:46] #421 closed

[2015-08-18 21:51] ultrasaurus opened #434 "fix error reporting for incorrect type from data.yaml"
as soon https://github.com/18F/open-data-maker/pull/118 is integrated, there'll be a pending test we will want to fix before creating a new data.yaml from the Data Dictionary

[2015-08-18 21:56] diego- opened #435 "As a consumer, I'd like to have a "share" button to post a page to social media or embed into a page"
Social share button w/ embed snippet generation

[2015-08-18 21:57] diego- commented on #234
Per daily standup @ Aug 18, this is going to be custom embed code.

[2015-08-18 22:16] meiqimichelle commented on #118
@LisaGee I assigned this back to you so you can confirm the list of things we want to track (or not), and then I can set up something that gets us there.

Also, I checked on DAP. As far as I can tell, I can't filter to our site on DAP because I don't have privileges to add new data views. I feel like DAP is important because it aggregates data up across government, but it doesn't give us edit righ

[2015-08-18 23:15] LisaGee commented on #160
Copy on the website should not include the text in the parens, if that wasn't obvious.

Sent from my Windows Phone

-----Original Message-----
From: "jjoteal" <notifications@github.com>
Sent: ‎8/‎18/‎2015 1:32 PM
To: "18F/college-choice" <college-choice@noreply.github.com>
Subject: Re: [college-choice] As a developer or journalist, I want to immediately download the data so I can begin working wit

[2015-08-19 00:45] yozlet commented on #418
Have gone with `2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile` in #436

[2015-08-19 00:46] yozlet commented on #419
Implemented in #436

[2015-08-19 02:28] LisaGee opened #437 "BUG: When I enter "Columbia" as a search term, I don't think I get the correct results"
Steps to repro:
1. Go to homepage.
2. Enter "columbia" in the Name field and hit return. (https://federalist.18f.gov/preview/18F/college-choice/dev/search/?name=columbia&&degree=2..3&sort=2011.earnings.threshold_earnings_percent%3Adesc)
3. See that there are 22 results returned. The 1st 20 of which include:
Columbia University in the City of New York
University of Missouri-Columbia
University of P

[2015-08-19 02:41] LisaGee opened #438 "Sort by Earnings on Results page doesn't jibe with Average Salary graphics"
Steps to repro:
1. Go to: https://college-choice.18f.gov/search/?name=columbia&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. See that Earnings is selected as Sort By.
3. See that University of Missouri-Columbia is #2 in sort order with $46,000 as Average Salary, but University of Phoenix-Columbia Campus is #3 with $53,400.

Expected Results:
I would expect the Sort to match the Salary graph

[2015-08-19 02:44] LisaGee opened #439 "BUG:Strayer of DC shows cost per year is $0"
Steps to Repro:
1. Go to: https://college-choice.18f.gov/school/?131803-Strayer-University-District-of-Columbia
2. See that the average cost per year = $0

Expected Results:
I suspect that this school is not free.

[2015-08-19 02:46] ultrasaurus commented on #438
My understanding is that the desired sort by earnings is supposed to be (which is a percentage):  2011.earnings.threshold_earnings_percent:desc
But Salary After Graduation is: 2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile

I agree with the behavior you expect, but want to make sure we understand the direction we're going with the UI.  Do we want a different word to describe .thresho

[2015-08-19 02:54] LisaGee opened #440 "BUG: Need Average Cost Per Year to be at the same scale across schools on the search results page to make comparison between schools possible"
Steps To Repro:
1. Go to: https://college-choice.18f.gov/search/?name=columbia&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. See that one Avg Cost per year is $22,672, but just barely above the National Average line.
3. See that another Avg Cost Per Year is $16,940 but is a lot higher above the National Average line.

Expected Results:
I would expect these charts to be on the same scale, so

[2015-08-19 02:58] LisaGee opened #441 "BUG: Data Missing from Various Schools"
1. Strayer University-District of Columbia - missing Average Cost Per Year
2. Columbia Gorge Community College - missing Average Salary
3. Columbia College of Nursing - missing Average Cost Per Year, Graduation Rate, Average Salary

[2015-08-19 03:02] LisaGee opened #442 "BUG: Some schools say $0, but the bar chart isn't empty"
Steps to Repro:
1. Go to: https://college-choice.18f.gov/search/?name=brown&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. These schools all have Average Cost labeled as $0, but the charts show something other than $0:
Sanford-Brown College-Farmington
Sanford-Brown College-Tysons Corner
Sanford-Brown College-Boston
Sanford-Brown College-Fenton

Expected results:
If the data reads $0, then th

[2015-08-19 03:06] LisaGee opened #443 "BUG: Some school's Graduation Rate is labeled 0%, but the chart shows more than that"
Steps to Repro:
1. Go to: https://college-choice.18f.gov/search/?name=brown&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. See that for the following schools the Graduation Rate label says 0%, but the chart shows more than that:
Brown Mackie College-Albuquerque
Brown Mackie College-St Louis
Brown Mackie College-San Antonio
Brown Mackie College-Boise
Brown Mackie College-Tulsa
Brown Mackie Co

[2015-08-19 03:09] LisaGee opened #444 "ENHANCEMENT: We should consider adding a label on each National Average bar indicating the value"
I keep wondering what the National Average is for Average Cost or for Graduation Rate. I feel like posting the actual number, alongside (on top of?) the bar will actually emphasize whether a school is above or below it even more.

[2015-08-19 03:14] LisaGee opened #445 "Alphabetical Sort on the Search Results page should use the literal text for sorting"
I'm worried that Salary won't be the most useful to students and Alphabetical is certainly straightforward.

[2015-08-19 03:17] LisaGee opened #446 "BUG: At a 2-col width, the Search Results page doesn't show Filters or Search Again fields"
Chrome, Mac

Steps to Repro:
1. Go to: https://federalist.18f.gov/preview/18F/college-choice/dev/search/?name=columbia&&degree=2..3&sort=2011.earnings.threshold_earnings_percent%3Adesc on a computer.
2. Reduce the width of your browser window until you only see 2 school columns, not 3.
3. See that there is no way for you to alter the search terms and search again. and also Filters option is not av

[2015-08-19 03:23] LisaGee opened #447 "BUG:Average Salary is showing as --, instead of a $number"
Chrome, Mac

Steps to Repro:
1. Go to:https://college-choice.18f.gov/search/?name=baltimore&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. Scroll down to: Bais HaMedrash and Mesivta of Baltimore
3. See that Average Salary is: "--" instead of a number

Expected results:
I should see a $ figure here.

![screen shot 2015-08-18 at 11 22 35 pm](https://cloud.githubusercontent.com/assets/12847090/

[2015-08-19 03:29] LisaGee opened #448 "BUG: Hover info on bar charts need to be better formatted"
Chrome, mac.

Steps to Repro:
1. Go to: https://college-choice.18f.gov/search/?name=baltimore&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. Scroll down to: Baltimore City Community College
3. Place your mouse over the National Average line on the Graduation rate chart.
4. See that the #s if the overlay that pops up are not formatted as %s, plus one of them is very long:

Expected Results:
T

[2015-08-19 03:35] LisaGee opened #449 "BUG:Closed schools should not appear in the Search Results"
I believe that Corinthian schools are closed: Everest, Heald and WyoTech.

However, if I search for any of those terms, I get results returned.
For example: https://college-choice.18f.gov/search/?name=everest&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc

[2015-08-19 03:46] LisaGee commented on #438
I suspect the issue is actually a conflict is what data actually makes sense for the user. I will double-verify, but I’m guessing the bug is a usability one, not a technical one…

From: Sarah Allen [mailto:notifications@github.com]
Sent: Tuesday, August 18, 2015 10:46 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] Sort by Earnings on Results page doesn't jibe with Avera

[2015-08-19 04:48] saintsoup52 commented on #449
Heald and wyotech were bought by another corporation and still exist.

I don't think there should be any everest campuses left... Maybe one or two.

From: Lisa G. [mailto:notifications@github.com]
Sent: Tuesday, August 18, 2015 11:35 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Subject: [college-choice] BUG:Closed schools should not appear in the Search Results (#449)

I believe t

[2015-08-19 17:47] meiqimichelle commented on #118
As per retro today, this turned into two first-step tasks:
1. @meiqimichelle to confirm that DAP is seeing our site
2. @LisaGee to see if she can get the analytics she needs from DAP

[2015-08-19 17:47] yozlet opened #450 "Set up New Relic alerts"
Certain members of the team should be pinged when certain error conditions arise on prod. (For yet-to-be-decided values of "certain")

[2015-08-19 18:45] LisaGee commented on #449
Clare has confirmed that the data are correct in the CSVs.

[2015-08-19 18:46] LisaGee commented on #449
Here is some examples of schools that are closed:
WyoTech in Fremont CA
Everest Institute in Rochester, NY
Heald in SF

These should not show up in results.

[2015-08-19 18:55] LisaGee commented on #447
Clare looked it up in this column: C150_4_POOLED_SUPP
Completion Rate is Privacy Suppressed for N-Size reasons. Less than 30 people.

In these situations we should make it something that is representative of Not Available. Maybe hash out the bar chart??? Jess - Can you take a crack at how to visualize this effectively?

[2015-08-19 19:01] LisaGee commented on #441
1. NPT4_PRIV is actually NULL. Means school did not report the data to IPEDS. Should be reflected as Not Available.
2. MD_EARN_WNE_P10 - is NULL in data. Should be reflected as Not Available.
3. missing data.

[2015-08-19 19:10] LisaGee commented on #441
Clare validated that the data was in fact missing.

[2015-08-19 19:10] #441 closed

[2015-08-19 19:12] LisaGee commented on #437
Clare is validating how many schools should actually be in the results.

[2015-08-19 19:26] LisaGee commented on #449
Asking Clare for a reminder of which field we need to check.

[2015-08-19 19:29] LisaGee opened #451 "From the search results page, I should be able to conduct a new/modified search, by clicking a Find Schools button"
Steps to Repro:
1. Go to: https://college-choice.18f.gov/search/?name=heald&state=CA&&degree=2..3&sort=2011.earnings.gt_25k_p10%3Adesc
2. in the left column, change the state, using the dropdown to NY.
3. Scroll to the bottom of the page looking for the Find Schools button to re-initiate a search.
4. Find none.

Expected results:
I would be able to click a button, in the same way I can on the HP.

[2015-08-19 19:29] jjoteal opened #452 "Create a revised Data Site > Explore the Data > Create Custom Data Set wireframe so that it better reflects the actual content going on the page"
@ultrasaurus per my slack chat, please take a look at the revised wireframe in PICC > Wireframes > picc-data-modified-pages.pdf.

Per our conversation earlier today, the concept is:
1) repurpose 'advanced search' from consumer tool
2) preview the initial rows of data (where each row represents a school)
3) refine the initial data output by asking the user to select categories of data (completion r

[2015-08-19 19:42] LisaGee opened #453 "Need a visual representation of a Not Available state for the bar charts"
there are cases where the data in the appropriate field is either NULL or Privacy Suppressed.
In both of these situations, the label under the chart should read some version of Not Available and the chart should be grayed out or hashed out or something visual to indicate Not In Use.

This should take care of the following issues:
#447
#442
#443
#439

[2015-08-19 19:43] LisaGee commented on #439
Clare confirmed that this data does not exist in the source files and the school must not have reported appropriately to IPEDS.
Opened issue #453 to address the visual representation of this scenario.

[2015-08-19 19:43] #439 closed

[2015-08-19 19:44] LisaGee commented on #442
this is likely an issue due to data being either NULL or Privacy Suppressed.
Opened issue #453 to address the visual representation of this scenario.

[2015-08-19 19:44] #442 closed

[2015-08-19 19:44] LisaGee commented on #443
this is likely an issue due to data being either NULL or Privacy Suppressed.
Opened issue #453 to address the visual representation of this scenario.

[2015-08-19 19:44] #443 closed

[2015-08-19 19:44] LisaGee commented on #447
Opened issue #453 to address the visual representation of this scenario and several others.

[2015-08-19 19:44] #447 closed

[2015-08-19 19:58] jjoteal commented on #453
@LisaGee this is addressed in #273.

[2015-08-19 20:02] jjoteal opened #454 "Create revised Data Site > Data Details wireframes so that they better accommodate the amount of content contained on these pages."
@ultrasaurus per my slack chat, please take a look at the revised wireframe in PICC > Wireframes > picc-data-modified-pages.pdf (pages 2-3).

Per our conversation earlier today, the concept is:
1) Allow users to browse the categories of data first, rather than dumping them on a page with thousands of listings
2) Create a page for each category of data that lists and defines the metrics associated

[2015-08-19 20:17] yozlet commented on #450
The most obvious things to alert on, which NR can do, are "standard" queries which should return a 200 (Success). I'm not sure if we can validate the returned results. I believe we can also set up alerts for processing times taking longer than X seconds.

[2015-08-19 20:42] LisaGee opened #455 "We should put up a warning message if you come to the site with an unsupported browser version."
We should allow the user to continue on, but make sure they've been given a warning.

Data upon which this is based:

Based on the numbers below, I would recommend we only support IE11, not earlier versions of IE.
ED seems to be on IE9, but only 3% of the traffic to the entire ED.gov website over the last 2 months was from IE9. In my previous job, we dropped support when the number fell below 5%.

[2015-08-19 20:44] saintsoup52 commented on #455
The warning is especially important because many of the government folks who would be looking at the tool are using IE 8 (e.g., VA).

From: Lisa G. [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2015 4:43 PM
To: 18F/college-choice
Subject: [college-choice] We should put up a warning message if you come to the site with an unsupported browser version. (#455)

We should allow the user

[2015-08-19 20:51] jjoteal commented on #365
@LisaGee @ErieMeyer -- in researching some 'key facts', what about these (I aimed to find facts that would go with the illustrations that have already been developed):

- More than 47% of undergraduates have a family income less than $40K
- Nearly 2/3 of full-time students receive financial aid
- College graduates earn on average 85% more than those with just a high school diploma

Thoughts? Shoul

[2015-08-19 20:51] jjoteal commented on #365
Reassigning to @LisaGee just to make sure she knows that this is in her court at the moment.

[2015-08-19 21:03] jjoteal commented on #444
@LisaGee -- just confirming that this is for the value snapshot only, correct? The national average figures *do* display for the individual metrics in their respective sections on the individual school page.

[2015-08-19 21:09] jjoteal opened #456 "BUG: Add more space (~30px) above and below the horizontal rules on the right side of the Financial Aid & Debt metrics"
Current screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9369035/bfd5513e-4694-11e5-8f9f-e4ed88528003.png)

Design mock-up:
![image](https://cloud.githubusercontent.com/assets/12192706/9369068/f46192e6-4694-11e5-88b2-027440a1121e.png)

[2015-08-19 21:10] jjoteal opened #457 "BUG: The "/mo" in "$250/mo" should not be bold"
Current site screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9369108/2ad0feb6-4695-11e5-8fc9-1ecdcff4780d.png)

Design mock-up:
![image](https://cloud.githubusercontent.com/assets/12192706/9369115/34b8aca8-4695-11e5-8725-6e1258c257a9.png)

[2015-08-19 21:13] jjoteal commented on #177
@LisaGee @saintsoup52 @ErieMeyer we accounted for this in the original designs, but I believe it was deprioritized for the MVP.

Here's the design mock-up of this section. Happy to crate new icons for other comparative metrics once those have been determined!

![image](https://cloud.githubusercontent.com/assets/12192706/9369177/81af2abe-4695-11e5-8f21-3f3bcdc337a6.png)

[2015-08-19 21:16] jjoteal opened #458 "BUG: Get the Best Deal section on homepage"
Mobile Screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9369254/f557acd4-4695-11e5-87b0-93a932d06fe0.png)

Image should be contained within the white box.

[2015-08-19 21:16] LisaGee commented on #177
I think the outstanding issue is that we need to find a source that we can use for comparison. Something that will show us current price of a phone, car or dinner for 2. I think that’s what Erie was looking for? Maybe?

From: jjoteal [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2015 5:13 PM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] As a Student, I'd l

[2015-08-19 21:19] jjoteal opened #459 "BUG: Line-height on "Go to the Consumer Financial Protection Bureau" link should only be ~14px"
Site screenshot:

![image](https://cloud.githubusercontent.com/assets/12192706/9369315/3b4773aa-4696-11e5-8d35-ca35e001b59b.png)

Design mock-up:
![image](https://cloud.githubusercontent.com/assets/12192706/9369350/6f4395ee-4696-11e5-9183-038df69e19fe.png)

[2015-08-19 21:43] jjoteal opened #460 "ENHANCEMENT: Create long-form infographics that better explain why certain metrics are better indicators of post-graduation 'success' for students"

[2015-08-19 21:51] NoahKunin commented on #234
Checking off first box. Discussion complete. As previously indicated over email + Slack, IFRAMEs will continue to be blocker per [Nginx, our web server](https://github.com/18F/secureproxy-boshrelease/blob/master/jobs/secureproxy/templates/config/nginx.conf.erb#L99).

Anything that uses the API, or some other method of programmatically consuming our content/data, is  :a: :ok:

[2015-08-19 21:54] jjoteal commented on #423
@LisaGee @ErieMeyer just following up on this. Thoughts/feedback on the new approach for earnings information? Assigning to @LisaGee to make it obvious that it is in her court for feedback at this point...

[2015-08-19 22:19] NoahKunin commented on #359
Incremented checklist - now back with ED.

[2015-08-20 02:35] meiqimichelle commented on #420
@jjoteal I'm working on this in #461.

tl;dr We can likely talk through the remaining small things quickly. I'll ping you tomorrow (Thurs).

Remaining issues:

- Some of the tooltip icons are to the side and some below. The mock has them to the side, but when they're there the centering is off. Which do you prefer? Or we can do case-by-case:

### To the side
![screen shot 2015-08-19 at 6 45 18 pm]

[2015-08-20 02:48] meiqimichelle commented on #329
- [ ] HTML/CSS MVP
- [ ] wiring up to data

[2015-08-20 03:07] meiqimichelle commented on #329
UI looks like:
![screen shot 2015-08-19 at 8 04 23 pm](https://cloud.githubusercontent.com/assets/4827522/9374773/ea3cf2f6-46ad-11e5-89ae-dcd2269ec5d7.png)

[2015-08-20 10:43] saintsoup52 commented on #177
We spent a lot of calories trying to figure out what made the most sense here…

I think we considered using:

·         Smart Phones

·         Tablets

·         Gallons of Gas

·         Plane flights

·         Rent

From: Lisa G. [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2015 5:17 PM
To: 18F/college-choice
Cc: Campbell, Patrick (CFPB)
Subject: Re: [college-choice] As a Stud

[2015-08-20 11:38] ultrasaurus commented on #445
This is already a feature...

![image](https://cloud.githubusercontent.com/assets/41906/9382356/ff91d422-46f4-11e5-9479-4987698ffadf.png)

https://federalist.18f.gov/preview/18F/college-choice/dev/search/?degree=2..3&sort=school.name%3Aasc

However, the sort is incorrect with mutli-word names (which is all of them):  https://github.com/18F/open-data-maker/pull/133

[2015-08-20 13:52] jjoteal commented on #420
Let's place the "i" icons below the headers and centered. Also, could we make the size of the "i" icon match the font size?

But yes, ping me on slack when you get online and we can go through all the places where these tooltips need to display.

Please feel free to file a separate visual bug for the tooltip issue on mobile -- I have not filed that one yet.

[2015-08-20 13:56] jjoteal commented on #177
@LisaGee @ErieMeyer -- let me know what measurements (and ideally the final language for each item) you want to go with and then I can devise the appropriate icons.

[2015-08-20 13:59] ultrasaurus commented on #419
moving back to "in progress" -- I found an issue which I think would expect to also cause problems with this API.

https://ccapi-dev.18f.gov/school?2013.completion.rate.four_year__range=90.0..&fields=2013.completion.rate.four_year,school.name,id

returns 0 results

but sorting descending definitely shows results that at > 90%

https://ccapi-dev.18f.gov/school?fields=2013.completion.rate.four_year,

[2015-08-20 15:03] meiqimichelle opened #463 "BUG Tooltips not appearing above certain other features"
I tried a few CSS fixes. Perhaps this has something to do with JS in the filters and accordions? @shawnbot we can pair and figure this out when you're back.

![screen shot 2015-08-20 at 7 42 20 am](https://cloud.githubusercontent.com/assets/4827522/9386756/daea2490-4711-11e5-902e-9ccfbb16cc4f.png)
![screen shot 2015-08-19 at 7 30 08 pm](https://cloud.githubusercontent.com/assets/4827522/9386757/dc

[2015-08-20 15:06] meiqimichelle commented on #420
- icons centered on all meters
- icons added to all headings we talked about
- icon font size is the same as the tipped text now
- visual bug with the z-index on accordions/filters (??) filed: #463

[2015-08-20 15:12] meiqimichelle commented on #341
I looked into this and would like to wait until Shawn is back. We have to change a few things in our implementation that might affect his filters to do this.

[2015-08-20 15:47] meiqimichelle commented on #432
This change is live on `dev`

[2015-08-20 17:17] ErieMeyer commented on #428
Looks great!

[2015-08-20 17:17] #428 closed

[2015-08-20 17:19] ErieMeyer commented on #244
Still open -- I followed steps 1 and 2, and then got this error message:

![image](https://cloud.githubusercontent.com/assets/1626026/9390268/1dcda2ba-473e-11e5-902f-28fbe59b2d87.png)

[2015-08-20 17:20] ErieMeyer commented on #200
Assigning this to Lisa since I submitted it :)

[2015-08-20 18:58] jjoteal commented on #444
@LisaGee I would like to test this. Primarily because I'm really hesitant to 'clutter' up the already-crowded side-by-side layout of these 3 bar graphs (especially on mobile). Per initial testing, my sense was that students generally just wanted to get a sense of whether a school was 'below average' or 'above average' and didn't pay specific attention to what the actual national average # was. In

[2015-08-20 19:46] jjoteal commented on #433
@LisaGee want to weigh in and let us know if this reads better for you?

[2015-08-20 19:54] LisaGee opened #465 "As a Student, I'd like to see what % of the student body receives a Pell grant, in order for me to assess the socio-economic diversity of the school."
Note - We don't necessarily have to label it "Pell", we could leave that under the Info pop-up.
We should add this to the Student Body section.
Open to ideas on best way to word this so students will understand it that a school has other students who may be poor like them.

[2015-08-20 19:55] LisaGee commented on #465
@jjoteal - Want to take a crack a design? Maybe @ErieMeyer or Patrick has some ideas on wording?

[2015-08-20 19:56] jjoteal opened #466 "As a consumer, I want to see a legend associated with each bar graph on the individual school page that explains what the lines on meters mean so I can understand them better"
i.e. this:

![image](https://cloud.githubusercontent.com/assets/12192706/9394050/e873be72-4753-11e5-81a0-acd5d92c0f7b.png)

should be associated with ALL bar graphs that display national average lines.

[2015-08-20 19:58] jjoteal commented on #465
Yep! Not a problem!

[2015-08-20 20:27] saintsoup52 commented on #465
Other websites call this “need based aid”… It should probably be called “need based grants”

Pell does count of all the need based grants offered by ED… but it is the lion share for sure.

From: Lisa G. [mailto:notifications@github.com]
Sent: Thursday, August 20, 2015 3:55 PM
To: 18F/college-choice
Subject: Re: [college-choice] As a Student, I'd like to see what % of the student body receives a Pe

[2015-08-20 20:39] LisaGee commented on #465
Thanks, Patrick. What we’re trying to capture is what it means to students. So looking for alternates for “socio-economic diversity” of this school – geared to a 16-year old…

There will be poor people like me here and the graduation rate is still high. That’s what we want them to learn to look for….

--Lisa

From: Patrick Campbell [mailto:notifications@github.com]
Sent: Thursday, August 20, 2015

[2015-08-20 21:07] saintsoup52 commented on #465
Hopefully this factoid is helpful… I have not seen the most recent version of the same data, but I bet it similar in scale.

The average family adjusted gross income (AGI) for Pell Grant recipients is 123% of the poverty line (median 112%), compared with 395% of the poverty line for non-recipients.

Two-thirds (67.5%) of Pell Grant recipients have family income at or below 150% of the poverty line

[2015-08-20 21:33] yozlet commented on #38
Reviewed, tweaked and merged! Ready for acceptance.

[2015-08-20 23:34] LisaGee commented on #38
Should I be accepting this on Staging or on Dev?
Cause Staging doesn't appear to be working...

[2015-08-20 23:37] LisaGee opened #467 "When I search by Zip & Radius, Radius should be a drop down with standard options."
How about we use:
5, 10, 25, 50, 100, 200, 500

[2015-08-20 23:40] LisaGee commented on #38
Testing on Staging and Dev and I don't see it working.

Chrome. Win 7

Steps to repro:
1. Go to: https://federalist.18f.gov/preview/18F/college-choice/dev/ or https://federalist.18f.gov/preview/18F/college-choice/staging/
2. click Location
3. Enter 10023 in the Zip Code box.
4. Enter 5 or 50 in the Radius box.
5. Hit Return.
6. On Search results page, see that 0 Results are found.

Expected Result

[2015-08-21 00:11] LisaGee commented on #180
Doesn't seem like this is right.

Steps to Repro:
1. Go to: https://federalist.18f.gov/preview/18F/college-choice/staging/school/?101240-Gadsden-State-Community-College
2. Under Earnings, see Former Student Earning More than 25k = 53%
![image](https://cloud.githubusercontent.com/assets/12847090/9398594/bcb355b8-4776-11e5-9226-abe20981a5fe.png)
3. Open Merged2011_PP.csv, search for Gadsden State Co

[2015-08-21 00:45] yozlet commented on #389
Looks like this has been fixed by the work on nested fields.

[2015-08-21 00:46] #389 closed

[2015-08-21 01:05] ultrasaurus commented on #401
So, then how is someone supposed to search by 2- or 4- year schools?  (sorry I'm new to the user expereince!)

[2015-08-21 03:26] LisaGee commented on #401
Only under Advanced search.

Part of ED's gentle nudge for students to pick the best school and not immediately jump to assumptions about what that might look like.

Lisa

Sent from my Windows Phone
________________________________
From: Sarah Allen<mailto:notifications@github.com>
Sent: ‎8/‎20/‎2015 9:05 PM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Subject: Re: [college-cho

[2015-08-21 04:43] meiqimichelle commented on #157
This is live on `dev` for desktop.

[2015-08-21 04:47] meiqimichelle commented on #160
This is now live on `dev`.

[2015-08-21 04:49] meiqimichelle commented on #75
This is live on `dev`.

[2015-08-21 05:04] meiqimichelle commented on #33
Closing as this purchase task is complete. Implementation is tracked in #322.

[2015-08-21 05:04] #33 closed

[2015-08-21 05:04] meiqimichelle commented on #322
This is live on `dev`.

[2015-08-21 06:01] meiqimichelle opened #471 "BUG Sort does not reset pagination"
If I'm on say page three of results and choose a different sort, current implementation does not reset to page one.

[2015-08-21 06:03] ultrasaurus commented on #438
see https://github.com/18F/college-choice/issues/400 -- is one of these a dup?

[2015-08-21 07:02] meiqimichelle commented on #314
@jjoteal what's the status on the content for these?

[2015-08-21 12:51] jjoteal commented on #314
@meiqimichelle per an email I received from Clare, it sounds like Ed is aiming to get these on Monday.

[2015-08-21 15:19] ErieMeyer opened #473 "Average cost per year confusion -- filter on right correct, or value snapshot correct?"
Hi! Not sure if this is an issue or my confusion -- but the filters on the right say $22K is average cost, then in the value snapshot, it looks like the average is way lower (see the example school I pasted next to it)

![image](https://cloud.githubusercontent.com/assets/1626026/9411818/55fdd232-47f6-11e5-87a5-5f561ffbb5c3.png)

[2015-08-21 15:53] LisaGee commented on #199
school.edu/CollegeScorecard should be URL.

[2015-08-21 15:53] LisaGee commented on #200
Correct.

[2015-08-21 15:53] #200 closed

[2015-08-21 16:03] ErieMeyer commented on #75
Not sure if this should be a separate issue -- but it would be great to have the pagination repeated in the end. Been testing use cases all day and after scrolling to the end of a list of schools, I keep erroneously thinking there are no more results until I remember to scroll back up and click to the next page.

[2015-08-21 16:14] ErieMeyer opened #475 "BUG: tooltip cut off in desktop search results page"
Chrome, desktop

To repeat:
1. Home page
2. Search anything (in this case, I searched Ohio)
3. Hover any tool tip (they all get cut off -- just could only grab a screenshot of this one)

![image](https://cloud.githubusercontent.com/assets/1626026/9413118/ec885a54-47fd-11e5-9878-4fb572739014.png)

[2015-08-21 17:03] ErieMeyer opened #476 "BUG: Text overlay on SAT/ACT scorez"
Overlay biz happening.

To recreate:

1. Use Chrome, desktop
2. Look at a school with a high avg SAT or ACT score

![image](https://cloud.githubusercontent.com/assets/1626026/9413919/ef9c7540-4802-11e5-8efe-bc09dcfea23d.png)

[2015-08-21 17:17] meiqimichelle commented on #475
Closing as duplicate to #463.

[2015-08-21 17:17] #475 closed

[2015-08-21 18:26] LisaGee opened #477 "The Name Field on the Consumer Tool's Homepage should not be expanded on initial load."
We want to try to encourage students to expand their horizons look beyond their original focus. We'd rather they search on location, major and size than on name, ideally, so that they would get a few different schools to look at and contrast and compare.

[2015-08-21 18:29] LisaGee commented on #309
Accepted.

[2015-08-21 18:29] #309 closed

[2015-08-21 18:31] LisaGee commented on #284
Accepted.

[2015-08-21 18:31] #284 closed

[2015-08-21 18:37] LisaGee opened #478 "The browser tab of an individual school page should have the school name first, then the tool name"
It is currently School/{name} as implemented by #377 , which means that the {name} is mostly not visible in the tab and if you have 3 tabs open, they look almost identical. Putting {name} first would make it more legible and useful.

[2015-08-21 18:40] LisaGee commented on #377
Accepted. Opened a new issue to change the order for usability #478 , but it is a P2.

[2015-08-21 18:40] #377 closed

[2015-08-21 18:44] LisaGee commented on #418
The filter is changing the results, but the results do not actually match what I filtered for.
This filters for schools with Salary After Graduaion under $11.9k, but I see schools whose Average Salary bar chart is labeled $30,200 for example.
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile__range=0..11937&region=1&r

[2015-08-21 18:55] LisaGee opened #479 "BUG:Online Only schools check box doesn't seem to affect search results"
This search with Include Online-only schools checked or unchecked returns the exact same results.
My expectation is that if I check Include Online-only, the Search results will show all schools that are online-only, regardless of where they might be physically located.

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?state=GU&&size=online&degree=2..3&sort=2011.earnings.6_yrs_

[2015-08-21 18:56] LisaGee commented on #331
Accepted. The label has been updated, but the functionality does not seem to have been implemented. Created a new ticket #479

[2015-08-21 18:56] #331 closed

[2015-08-21 18:58] LisaGee commented on #357
Accepted. I am able to see the Consumer Tool with real data behind password protection.

[2015-08-21 18:58] #357 closed

[2015-08-21 19:04] LisaGee commented on #282
Accepted. I want to go to school in the Virgin Islands!

[2015-08-21 19:04] #282 closed

[2015-08-21 19:04] LisaGee commented on #283
Accepted.

[2015-08-21 19:04] #283 closed

[2015-08-21 19:07] LisaGee commented on #281
Accepted the Visual Design change that this story represents. There is another ticket open, b/c what is in the drop down is incorrect. SEe #401

[2015-08-21 19:07] #281 closed

[2015-08-21 19:07] LisaGee commented on #328
Accepted.

[2015-08-21 19:07] #328 closed

[2015-08-21 19:10] LisaGee commented on #279
This query results in one school that appears to fall outside of the requested range with only 1,989 undergraduate students.

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?state=RI&&degree=2..3&size=2000..15000&sort=2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile

[2015-08-21 19:11] LisaGee commented on #278
Accepted.

[2015-08-21 19:11] #278 closed

[2015-08-21 19:14] LisaGee commented on #191
Accept. Based on the fact that I'm seeing questions come in about the data from the Beta Developers.

[2015-08-21 19:14] #191 closed

[2015-08-21 19:16] LisaGee commented on #364
Assigned to @ultrasaurus to accept.

[2015-08-21 19:29] LisaGee commented on #254
Compared against 2013 data file. Both return 3667 results.
Accepted.

[2015-08-21 19:29] #254 closed

[2015-08-21 19:32] LisaGee commented on #133
I think this story was to make sure everything was in place to be launched on the public web, including the ATO. We have the ATO and it's launched, so Accepted.

[2015-08-21 19:32] #133 closed

[2015-08-21 19:35] LisaGee commented on #131
I'm not exactly sure where this ticket was originally referencing. If it is the Search on the HP and on the Search Results Page, this is complete from a visual design perspective. There is still an implementation issue open, #401

[2015-08-21 19:35] #131 closed

[2015-08-21 19:39] LisaGee commented on #115
We have the ATO. I'm accepting.

[2015-08-21 19:39] #115 closed

[2015-08-21 19:41] LisaGee commented on #178
Accepted. I see explanations under the i icons for each of the 3 items in the "value snapshot".

[2015-08-21 19:41] #178 closed

[2015-08-21 19:42] LisaGee commented on #5
I'm seeing the real data appear in the Consumer Tool, so I'm Accepting.

[2015-08-21 19:42] #5 closed

[2015-08-21 19:44] LisaGee commented on #96
I think the purchaser needs to confirm that these icons were appropriately acquired and they can accept the story. I think that's @meiqimichelle

[2015-08-21 19:45] LisaGee commented on #81
I think this story should have been Closed, as we changed what the implementation was as we saw the data available to us.

[2015-08-21 19:45] #81 closed

[2015-08-21 19:47] LisaGee commented on #51
Sure seems like Beta Developers are accessing the data. Yippee!
Accepted.

[2015-08-21 19:47] #51 closed

[2015-08-21 19:49] LisaGee commented on #175
I see the flag on both the search results page and the individual school page. Accepted.

[2015-08-21 19:49] #175 closed

[2015-08-21 19:50] meiqimichelle commented on #96
This task is complete. We have the icons.

[2015-08-21 19:50] #96 closed

[2015-08-21 20:09] ErieMeyer commented on #175
This looks awesome btw

[2015-08-21 21:08] meiqimichelle commented on #329
The UI is in #462. Waiting for wire-up from Shawn is back.

[2015-08-21 21:15] meiqimichelle commented on #420
BUG: Icons on filters are not working.

[2015-08-21 22:37] diego- opened #480 "As a site operator, I'd like to have access to environment logs to troubleshoot issues"
We either need to have dev team access OR someone from devops needs to be added to our dev team.

[2015-08-21 22:41] LisaGee commented on #434
Must fix before next data import.

[2015-08-22 14:26] ultrasaurus commented on #418
assigned to myself, since I think I know what this is

[2015-08-22 17:43] LisaGee opened #481 "This school has data that appears in this chart, but the school itself doesn't even exist in the data file from which the data is being extracted."
Johnson & Wales University-Online

[2015-08-22 17:47] LisaGee commented on #481
I think what's happening is that we are looking up schools by OPEID, but there are multiple lines (aka schools) that have the same OPEID, but different UNITID.

This should either be fixed in the data or we should be looking up schools by UNITID (???).

Is it a lot of work to switch to use UNITID? Will it have other side-effects?

[2015-08-22 17:48] LisaGee commented on #481
Adding URL where you can see this.

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?zip=02912&distance=10&degree=2..3&sort=2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile

[2015-08-22 18:19] LisaGee commented on #253
Earnings default sort order result doesn't match what I see in the data.
Created a file with a small number of schools' data: https://docs.google.com/spreadsheets/d/1uItCACE52TskWz_9pV2RnyyYdIQxD7NKQK7_WxaZHGE/edit?usp=sharing

Search results page: https://federalist.18f.gov/preview/18F/college-choice/staging/search/?zip=02912&distance=10&degree=2..3&sort=2011.earnings.6_yrs_after_entry.mean_earni

[2015-08-22 18:40] LisaGee commented on #253
Also, the sort should be highest percentage at the top.

[2015-08-22 18:58] LisaGee opened #482 "BUG: Graduation Rate in the "value snapshot" does not appear to match the data"
Compare this:
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?zip=02912&distance=10&degree=2..3&sort=2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile

to the Data File in the PICC folder.

For example, look at: Community College of Rhode Island

[2015-08-22 19:00] LisaGee commented on #482
The data filed for this institution should be C200_L4_POOLED_SUPP. It looks like the data is being pulled from C150_L4_POOLED_SUPP

[2015-08-22 19:18] LisaGee opened #483 "EPIC: As a consumer, I should be able to sort my search results by: Alphabetically, Size, Cost Per Year, Graduation Rate, Salary, & Location"
Alphabetically -- A-Z only
Size - Smallest to Biggest
Cost Per Year -- Smallest to Biggest
Graduation Rate -- Biggest to Smallest
Salary -- Biggest to Smallest
Location -- Grouped by State Alphabetically (A-Z), or if they have searched by zip and mile radius, then by distance from the zip.

[2015-08-22 19:39] LisaGee opened #484 "We should have pagination at the bottom of the search results as well as at the top."
On the Desktop version, we should consider putting them in the 21st slot, as b/c that one is empty, it makes it seem as if we ran out of results to fill the page.

[2015-08-22 19:39] LisaGee commented on #75
Accepted. Filed a ticket for pagination at the bottom as well. #484

[2015-08-22 19:39] #75 closed

[2015-08-22 19:40] LisaGee commented on #322
I see it! Accepted.

[2015-08-22 19:40] #322 closed

[2015-08-22 19:41] LisaGee commented on #257
I see changes in Staging. Accepted.

[2015-08-22 19:41] #257 closed

[2015-08-22 19:41] ultrasaurus commented on #253
Yep, I can see from the search URL that it is hooked up to the incorrect URL:  sort=2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile

There are a few different github issues that relate to this problem:
https://github.com/18F/college-choice/issues/418
https://github.com/18F/college-choice/issues/438
https://github.com/18F/college-choice/issues/400
https://github.com/18F/college-choice/

[2015-08-22 19:42] LisaGee commented on #432
I see it. Accepted.

[2015-08-22 19:42] #432 closed

[2015-08-22 19:43] LisaGee commented on #38
Working now. Also, I like that if I don't enter anything in the Miles box, it shows me only schools within that zip code.

[2015-08-22 19:43] #38 closed

[2015-08-22 19:59] ultrasaurus commented on #483
Location sorting seems low value and potentially confusing, since there isn't really a standard human thinking about what a location sort would be (wheras numbers and letters have an order that we learned in elementary school)

[2015-08-22 20:46] LisaGee opened #485 "Rename race/ethnicities on School page to be more consumer friendly"
Have a mail out to Clare asking for better words.

[2015-08-22 20:47] LisaGee opened #486 "Rename Programs of Study on Homepage and individual School page to be more consumer friendly"
Have a mail out to Clare to provide more user-friendly words.

[2015-08-22 20:48] ultrasaurus commented on #418
actually I need to know answer on resolving this:  https://github.com/18F/college-choice/issues/438

[2015-08-22 20:49] ultrasaurus commented on #400
need confirmation from @LisaGee about what you want here.  See all the related issues in #253

[2015-08-22 21:30] LisaGee commented on #192
This should have 3 options:
Public
Private Nonprofit
Private For Profit

[2015-08-22 21:32] LisaGee commented on #193
We should do usability testing on this to see if users would actually use under Advanced Search.

[2015-08-22 22:38] LisaGee commented on #423
I like!

[2015-08-23 01:41] ErieMeyer commented on #423
Same!

[2015-08-23 01:43] ultrasaurus commented on #417
works locally, pull request to college-choice, wil deploy to dev tomorrow for Lisa to test, we can do post-checkin code review if needed

new calculated field: completion.rate.overall

[2015-08-23 02:00] ultrasaurus opened #488 "As a student, I don't need to be able to search for small and large school"
There's an edge case here for when somebody selects "small" and "large" sizes, which requires us being able to ask for rows with size < 2000 or size > 15000 -- the API doesn't supprt this, and it seems like a weird thing to really ask for.

Would it be too weird to check the 'medium' checkbox when students ask for small AND large?

[2015-08-23 02:03] ultrasaurus commented on #279
https://github.com/18F/college-choice/pull/487 addressed the issue Lisa found.  Thanks @shawnbot for your helpful trail of FIXMEs.

Opened separate issue for searching for small and large (without medium): https://github.com/18F/college-choice/issues/488

[2015-08-23 02:06] ultrasaurus commented on #180
Can we review the Data Dictionary?  You are correct about exact field we are using which is documented there.  Would be easier to review all of the fields, then implement, then test.

[2015-08-23 02:20] ultrasaurus commented on #449
I sent a possibly redundant note to Clare.  Putting this in "blocked" till we get the answer

[2015-08-23 02:21] ultrasaurus commented on #41
this is true.  If you search for small schools in Rhode Island, it does an AND.  I think there is a separate issue with specific behavior for the name field.

[2015-08-23 12:27] LisaGee commented on #41
This bug was written specifically for the Name field. Sorry if there was confusion.

[2015-08-23 13:18] LisaGee commented on #400
This is literally a word change, not a sort change. The request from the Dept of ED is that the Default sort continue to be Threshold earnings, which really means: % of students who are making more money than if they had just gotten a HS diploma and done no college.

[2015-08-23 13:24] LisaGee commented on #400
We need to work out words that are better than this.
@ErieMeyer could you have a chat with Dana? Help...

[2015-08-23 13:26] LisaGee commented on #438
Will be resolved by #400. Is a verbiage issue.

[2015-08-23 13:26] #438 closed

[2015-08-23 13:32] LisaGee commented on #373
Hi Shawn. The field that has this data is actually: gt_25k_p6
I checked and it does look like a percentage. So hopefully that works.

[2015-08-23 13:33] LisaGee commented on #418
This should be using this data field: md_earn_wne_p10
Hope that helps.

[2015-08-23 13:35] LisaGee commented on #418
This should reflect the same data that is visible in the "value snapshot" graphics.

[2015-08-23 13:37] LisaGee commented on #253
This sort should be keyed on: gt_25k_p6

[2015-08-23 14:04] LisaGee commented on #449
The field we need to check is: CURROPER.

[2015-08-23 14:13] LisaGee commented on #449
When I search the 2013 data for "Everest", 5 schools are returned, but only one has: CURROPEN==1: Everest University-South Orlando
Link for testing:
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?name=everest&&degree=2..3&sort=2011.earnings.6_yrs_after_entry.mean_earnings.lowest_tercile

[2015-08-23 14:23] LisaGee commented on #479
According to the 2013 data file, there are 32 schools where DISTANCEONLY==1

[2015-08-23 14:25] LisaGee opened #489 "On Search Results page, change text from "Edit Search Criteria" to "Refine Search""

[2015-08-23 14:30] LisaGee opened #490 "As a prospective college student, I would like "Include Online Only" checkbox to work"
1. Default setting should be checked. By default, all searches should include schools where DISTANCEONLY==1.
2. When a user unchecks Include Online Only Schools, any school where DISTANCEONLY==1, should be eliminated from the search results.

[2015-08-23 14:30] LisaGee commented on #490
Replaces #479

[2015-08-23 14:30] LisaGee commented on #479
Closed as #490 more articulately lays out expected behavior.

[2015-08-23 14:30] #479 closed

[2015-08-23 14:44] ultrasaurus commented on #373
This looks like a duplicate of:  https://github.com/18F/college-choice/issues/253

[2015-08-23 14:48] LisaGee commented on #341
I think the text can read "Modify Search". Don't think we need the extra "or Start a New".

[2015-08-23 14:49] LisaGee commented on #489
Dupe of #341

[2015-08-23 14:49] #489 closed

[2015-08-23 14:54] LisaGee commented on #486
The words are fine. They just need to be capitalized and underscores replaced with spaces.
Make them look more user-friendly.

[2015-08-23 15:13] LisaGee commented on #401
I lied here.
A user should in fact be able to select both the "Type of Degree": Associates or Bachelors and the "Program of Study" under Major/Degree label, as was shown in Jess's original wireframe.

The search results should then reflect the users' selection.

[2015-08-23 15:15] LisaGee commented on #401
Just for clarification - 2 different fields needed.

[2015-08-23 15:20] LisaGee opened #491 "Need to find better words for the Default search, aka Threshold Earnings"
What this metric really represents is:
the % of students who, 6 years from when they started college, are making more money than what someone who never went to college at all typically makes.
A person with only a high-school diploma (no college), 6 years after graduating from high-school, makes $25k/year on average.

[2015-08-23 15:20] LisaGee commented on #491
@ErieMeyer Can you work with Dana to see what y'all can come up with?

[2015-08-23 15:21] LisaGee commented on #400
Let's make the wording change in the meanwhile and I'm opening another ticket to come up with better words. See #491

[2015-08-23 15:24] LisaGee commented on #335
This is a For Beta feature (needed to be considered Functionally Complete), b/c with the layout as it is now, it is very hard for a consumer to compare schools against each other, which is one of the key goals of this page.

[2015-08-23 15:26] LisaGee commented on #199
Marking this For Launch, even though this is technically required to be considered Feature Complete, but institutions won't have URLs set up to test against by Beta.

[2015-08-23 15:26] ultrasaurus commented on #400
What about as a placeholder "Better than High School?"

[2015-08-23 15:27] LisaGee commented on #197
Reducing feature set of this for Launch.

[2015-08-23 15:38] LisaGee commented on #192
Defaults for these 3 checkboxes should be Selected.
Only Selected options should be included in Search Results.
Column in data is CONTROL
1== Public
2== Private Not For Profit
3 == Private For Profit

[2015-08-23 16:03] LisaGee commented on #196
Boolean Fields:
HBCU
PBI
ANNHIA
TRIBAL
AANAPII
HSI
NANTI
MENONLY
WOMENONLY
RELAFFIL (not Boolean. 30, 80, NULL)

[2015-08-23 16:10] LisaGee commented on #196
Need to proper terminology to display under Advanced Search for each of these.
@jjoteal - Can you document?

[2015-08-23 16:36] jjoteal opened #492 "As a consumer, I want to view the URL of the school on the Individual School page so that I can go to the school's website for more information."
Please place in the top "basic information" area right under the # of students

[2015-08-23 17:17] jjoteal commented on #401
Ok, sounds like we'll need to change the header back to "Programs/Degree" then (Rather than "Area of Study") so we can include 2 sections:
1) Select Program dropdown
2) Select Degree dropdown

Is that correct?

If so, this should be assigned to @meiqimichelle for implementation as the design elements for headers, dropdowns, and labels have already been designed.

[2015-08-23 17:27] LisaGee commented on #488
I agree.

[2015-08-23 17:29] #373 closed

[2015-08-23 17:29] LisaGee commented on #484
@jjoteal - could you take a crack for what it might look like if we put it in the 21st slot on Desktop? Or let me know if you think that's a bad idea....

[2015-08-23 17:35] #372 closed

[2015-08-23 17:37] LisaGee commented on #467
@jjoteal - Can you look at what other sites use and confirm what the final numbers should be in the radius drop down?

[2015-08-23 17:41] LisaGee commented on #465
@jjoteal  - Let's just label it Socio-economic Diversity for the time-being.

[2015-08-23 17:47] LisaGee commented on #39
I think this is done, so I'm closing.

[2015-08-23 17:47] #39 closed

[2015-08-23 17:49] LisaGee commented on #44
I don't think is blocked anymore.

[2015-08-23 17:49] jjoteal commented on #484
@LisaGee -- Is there a reason why the 21st slot is empty? We should be filling the content area with search results if we can...

That said, I would recommend keeping the pagination location consistent (rather than jumping around depending upon how many results there are), so I would prefer to keep the bottom pagination in the lower left.

[2015-08-23 17:53] LisaGee commented on #132
even though this is required to be considered functionality complete, we should not do this or update robots.txt until Launch.

[2015-08-23 18:00] LisaGee commented on #15
Think we need to determine best way to MVP this.
@ErieMeyer can you take a crack?

[2015-08-23 18:01] LisaGee commented on #77
Works now.

[2015-08-23 18:01] #77 closed

[2015-08-23 18:02] LisaGee commented on #74
Created #490 that details exactly how Online Only school checkbox should work. Closing this bug in favor of that one.

[2015-08-23 18:02] #74 closed

[2015-08-23 18:05] LisaGee commented on #45
Done. Closing

[2015-08-23 18:05] #45 closed

[2015-08-23 20:01] LisaGee commented on #41
For example, when I type Brown University in the Name field, there should only be 1 result.

[2015-08-23 20:34] LisaGee commented on #180
@diego- Can you perform the test Sarah is asking for? And then unblock this ticket and move it back to Develop? Thanks.

[2015-08-23 20:34] ultrasaurus commented on #218
I believe this is resolved

[2015-08-23 20:38] LisaGee commented on #453
Closed as dupe of #273

[2015-08-23 20:38] #453 closed

[2015-08-23 20:40] LisaGee commented on #270
@jjoteal I believe this has been implemented. I think that's what I'm seeing on Staging. Can you confirm and if so, close the ticket?

[2015-08-23 20:44] ultrasaurus commented on #41
There was another issue about partial matches, but I can't find it now.  We have a lot of options here.  If we simply AND the words, then you could search for "York New" and find "New York"  -- that example is absurd, of course, but there may well be real cases where this could cause confusion.  We could also do a literal match, but it seems like you want to search for "Univ of Calif" and get all

[2015-08-23 20:44] LisaGee commented on #268
This seems to be a dupe of #160

[2015-08-23 20:44] #268 closed

[2015-08-23 20:45] ultrasaurus commented on #180
@LisaGee this is not a test.  This is a thoughtful review of how we are matching fields to UI.  I think it needs to be you.

[2015-08-23 20:48] #279 closed

[2015-08-23 20:50] LisaGee commented on #234
We'll also need to do outreach to WhiteHouse website admin to make sure they are teed up to make the change for Launch.

[2015-08-23 20:58] ultrasaurus commented on #253
@LisaGee is it your intent for some data to be 6 years after entry and some to be 10 years?

[2015-08-23 20:58] ultrasaurus commented on #253
see https://github.com/18F/college-choice/commit/855edd877d608fade625be5cb365f7eaf4b78d4d

[2015-08-23 21:01] LisaGee commented on #413
Clare has mailed saying she has the new files. Whenever @ultrasaurus is ready, she can upload.

[2015-08-23 21:02] ultrasaurus commented on #413
@LisaGee are we going to get new files with gender and age fixed?

[2015-08-23 21:06] LisaGee commented on #492
Should open in a new tab.

[2015-08-23 21:06] LisaGee commented on #198
Duplicate of #492

[2015-08-23 21:06] #198 closed

[2015-08-23 21:08] LisaGee commented on #435
This is an extension to #201

[2015-08-23 21:10] LisaGee commented on #187
For example, I'd like to be able to search by:
1. Cal -> UC Berkeley
2. UCLA
3. Penn
4. UDC

and get the correct schools still.

[2015-08-23 22:22] LisaGee opened #493 "Get National Averages for the CT data points needed from Clare"
Needed for Launch. API set up to calculate Nat'l Averages will be post-Launch

[2015-08-23 22:23] LisaGee commented on #493
See #271 for the API version of this story.

[2015-08-23 22:24] ultrasaurus commented on #229
not at this point, per @LisaGee

[2015-08-23 22:24] #229 closed

[2015-08-23 23:22] LisaGee opened #495 "The API should have a version number so that Developers know which documentation and API version they are building against, especially when it changes."
@ultrasaurus to define best way to implement.

[2015-08-23 23:42] LisaGee opened #496 "As a Consumer, I should be able to find the PICC tool using a search engine."
We need to make sure the site is SEO goodly:

- [x] Add HTML metadata #132
- [x] @dnesting Create a `robots.txt`
- [x] @dnesting Create a sitemap.xml
- [x] verify that Google is reading the sitemap
- [ ] ~~verify that schools show up in Google search results~~ #1495 takes this over.

[2015-08-23 23:43] LisaGee commented on #496
@shawnbot - got thoughts?

[2015-08-23 23:59] LisaGee commented on #265
@jjoteal Can you design this for what it would look like if the only item in there is ED's Consumer Tool?

[2015-08-24 00:03] LisaGee commented on #264
@jjoteal - Does this need a design without the Twitter handle? If not, can you move into Backlog and re-assign to Michelle? Thanks

[2015-08-24 00:08] LisaGee opened #497 "I should be able to get to the Data site from the Consumer Tool"
Best to put a link in the footer?

[2015-08-24 00:08] LisaGee commented on #497
@jjoteal where would you suggest putting this?

[2015-08-24 00:09] LisaGee commented on #143
I see the text Clare gave us. Accepting.

[2015-08-24 00:09] #143 closed

[2015-08-24 00:10] LisaGee commented on #157
Works for me! Accepted.

[2015-08-24 00:10] #157 closed

[2015-08-24 00:11] LisaGee opened #498 "Need real Data Insights copy"
needs to be gotten from ED/DPC and entered into carousel that appears on the Data site.

[2015-08-24 00:11] LisaGee commented on #498
@jjoteal Can you ping Clare and then enter the text?

[2015-08-24 00:14] LisaGee commented on #162
Post-launch, as folks can read the policy paper to extract.

[2015-08-24 00:17] LisaGee commented on #169
@jjoteal I expect we'll need to evaluate this layout in conjunction with Clare and the text that we do have available.

[2015-08-24 00:23] LisaGee commented on #168
I think this page may need to be re-evaluated based on timing and functionality we have available.

[2015-08-24 00:23] LisaGee commented on #163
I don't think we'll have a Data Insights page for launch.

[2015-08-24 00:27] meiqimichelle commented on #496
#132 was meant to address this.

[2015-08-24 00:27] LisaGee commented on #414
Let's ask some developers? Anyone in the Beta using this?
Will likely have to change in a later version of the API.

[2015-08-24 00:31] LisaGee commented on #380
Added Consumer Tool label too, b/c this is required to make the CT work.

[2015-08-24 00:31] meiqimichelle commented on #335
@jjoteal It sounds like @LisaGee would like the meters to always fall in the same place so one can compare across, which is different than the solution that we talked about (filling the 'missing' area at the bottom with white so that the cards are the same height).

@LisaGee is this what you meant?

[2015-08-24 00:34] LisaGee commented on #307
@shawnbot is this required for MVP?

[2015-08-24 00:35] LisaGee commented on #289
Seems like Developers in Beta are working, so accepting.

[2015-08-24 00:35] #289 closed

[2015-08-24 00:36] LisaGee commented on #276
@diego- Is this done?

[2015-08-24 00:38] LisaGee commented on #250
@diego- Doesn't seem like a blocker since the Beta is well underway. What's the status of this ticket?

[2015-08-24 00:40] LisaGee commented on #247
I feel like this is done. Closing.

[2015-08-24 00:40] #247 closed

[2015-08-24 00:41] LisaGee commented on #236
@ultrasaurus I think this may be a dupe of another "calculate" completion rate story. Can you confirm that there isn't a subtle difference?

[2015-08-24 00:42] LisaGee commented on #235
@ultrasaurus I think this is done. Can you confirm?

[2015-08-24 00:42] LisaGee commented on #235
If so, please close the issue.

[2015-08-24 00:44] LisaGee commented on #221
@diego- Can you help confirm this story? If it's good to go, please Close. Thanks.

[2015-08-24 00:45] LisaGee commented on #218
@diego- Can you confirm this is good to go? If so, please Close. Thanks.

[2015-08-24 00:46] LisaGee commented on #186
@diego- Can you confirm? If good, please Close. Thanks.

[2015-08-24 00:47] LisaGee commented on #184
@diego- Can you confirm? If good, please close. Thanks.

[2015-08-24 00:47] meiqimichelle commented on #423
@shawnbot FYI

[2015-08-24 00:48] LisaGee commented on #185
@ultrasaurus Feels like may be another dupe. Can you confirm to make sure not missing any subtleties? Thanks.

[2015-08-24 01:56] LisaGee commented on #164
@diego- Can you help figure out the MVP for Launch?

[2015-08-24 01:57] LisaGee commented on #161
@diego- and @jjoteal Let's figure out the MVP for launch.

[2015-08-24 01:59] LisaGee commented on #117
@ErieMeyer Can you reach out and see if this API gives them what they need?

[2015-08-24 02:00] LisaGee commented on #98
I bet this is done. @diego-  - Can you confirm and if so, close? Thanks.

[2015-08-24 02:01] LisaGee commented on #170
@diego- @jjoteal - Can y'all work together to determine MVP for launch? Thanks.

[2015-08-24 02:23] LisaGee commented on #415
@diego- Are you saying that these are fields that are available in the data, but not in the json returned for a school? Can we ask Clare to cross-check one school against all 1900 columns in the CSV?

[2015-08-24 02:24] LisaGee commented on #406
@ErieMeyer - what is the work item here?

[2015-08-24 02:39] ErieMeyer commented on #177
That was right -- was looking for a comparable consumer good and knew that CFPB had done a ton of research/calories around this. Seeing this, I think our best bet post-launch would be "gallon of gas," but I think consumer testing the target audience with mocks would be needed.

[2015-08-24 02:41] ErieMeyer commented on #406
Just FYI -- closing!

[2015-08-24 02:41] #406 closed

[2015-08-24 02:41] LisaGee commented on #493
ALL schools in CT =
•	PREDDEG==2 or 3
•	Not closed

1.	Median earnings – ALL Schools in CT
2.	Threshold earnings – ALL Schools in CT
3.	Completion Rate – 2 year schools (PREDDEG==2)
4.	Completion Rate – 4 year schools (PREDDEG==3)
5.	Completion Rate – ALL schools in CT
6.	Net Price – Private Schools
7.	Net Price – Public Schools
8.	Net Price – ALL Schools in CT
9.	Monthly Student Loan Payments – A

[2015-08-24 02:54] LisaGee commented on #196
Codebook for religious affiliation:

-1	Not reported
-2	Not applicable
22	American Evangelical Lutheran Church
24	African Methodist Episcopal Zion Church
27	Assemblies of God Church
28	Brethren Church
30	Roman Catholic
33	Wisconsin Evangelical Lutheran Synod
34	Christ and Missionary Alliance Church
35	Christian Reformed Church
36	Evangelical Congregational Church
37	Evangelical Covenant Church of

[2015-08-24 02:55] LisaGee commented on #196
Based on the # of religious options, there should just be a checkbox that says Religious Affiliation.

[2015-08-24 03:00] LisaGee commented on #481
Clare has identified that this
There’s a lot of flexibility in the extent to which schools report at the same or different IDs. This is a known issue that we’re trying to mitigate by publishing a crosswalk across OPE IDs and Unit IDs for every year. But the reporting will continue to be inconsistent for the foreseeable future.

[2015-08-24 03:04] LisaGee commented on #396
Need to start working with OCIO on how this will work.
@ErieMeyer - Can you take a first crack at this?

[2015-08-24 03:07] LisaGee commented on #387
@diego- I think this is done, yes? If so, you can close. thanks.

[2015-08-24 03:10] LisaGee commented on #404
@jjoteal - I think this is done and reflected in #426, yes? If so, can you close this issue. Thanks.

[2015-08-24 03:11] LisaGee commented on #437
Will confirm against the data, but have set up other tests in the meanwhile, which have been correct.

[2015-08-24 03:16] LisaGee commented on #488
@meiqimichelle @jjoteal @shawnbot What's the simplest UX here?
1. make the sizes radio buttons so can only search for one size bucket at a time?
2. If user selects Small, grey out Large (and vice versa)

[2015-08-24 03:19] LisaGee commented on #460
Once we've created these, where would they show up? and how?
May need to be post-launch?

[2015-08-24 03:21] LisaGee commented on #458
graphic is getting replaced by links.

[2015-08-24 03:26] LisaGee commented on #454
@jjoteal Let's review together.

[2015-08-24 03:27] LisaGee commented on #452
@jjoteal Let's review together.

[2015-08-24 03:28] LisaGee commented on #444
@jjoteal Test away! Thanks.

[2015-08-24 03:33] LisaGee commented on #365
@jjoteal Was hoping to make these super positive. Here's all the good stuff that will happen to you if you go to college, yes, you can afford to go to school, etc....

[2015-08-24 03:35] LisaGee commented on #362
assigning to @shawnbot to confirm that it's working for him.

[2015-08-24 03:36] meiqimichelle commented on #488
I'd be curious what the research showed here -- did people mostly say "I want a school no greater than X in size" or did they really want to search for a "medium" size versus small or large?

If the research has no opinion on this point, then I vote for the switch to radio buttons, as it provides a clear, recognizable UI.

[2015-08-24 03:37] LisaGee commented on #356
seems like we might need to repro and also assess versus the % of firefox users.

[2015-08-24 03:38] LisaGee commented on #358
@ultrasaurus - any idea how hard this would be to implement?

[2015-08-24 03:41] LisaGee commented on #199
Dupe of #361
See #361 for design and placement.

[2015-08-24 03:41] LisaGee commented on #361
Dupe of #199

[2015-08-24 03:41] #361 closed

[2015-08-24 03:44] LisaGee commented on #330
@jjoteal Disagree. There is actually a difference between an institution's overall size and the # of undergrads it has. There are a bunch of schools that have graduate programs, which would make total vs. ugrad pretty different.

[2015-08-24 03:45] LisaGee commented on #334
@jjoteal - I think this is done. Can you confirm and close? Thanks.

[2015-08-24 03:48] LisaGee commented on #329
marking p3, b/c the site doesn't break. the user would have to go back and refine her search criteria, much the same way is I searched for Brown University and then selected CA as my state.
I think this is user error and it's not critical that we solve for it before Launch.

[2015-08-24 03:49] LisaGee commented on #329
@meiqimichelle or @shawnbot - If that's ok, please move to backlog. Thanks.

[2015-08-24 03:51] LisaGee commented on #339
not sure if we have time for this before Launch.

[2015-08-24 03:52] LisaGee commented on #343
This field may be coming out as we don't seem to have the data to support it.

[2015-08-24 03:54] LisaGee commented on #326
given that IE9 is less than 3% of our audience, it probably doesn't make sense to fix.
Instead we should: We should put up a warning message if you come to the site with an unsupported browser version. #455

[2015-08-24 03:55] LisaGee commented on #326
Leaving open in case there is any major screaming.

[2015-08-24 03:57] LisaGee commented on #323
@jjoteal Do you mean vertically or horizontally centered?

[2015-08-24 03:58] ultrasaurus commented on #358
@LisaGee based on what I've read, it is straightforward.  see my comment in:  https://github.com/18F/college-choice/issues/41  -- I think we should close this one as a dup and have the single issue https://github.com/18F/college-choice/issues/41 represent what we want to do with name search

[2015-08-24 03:58] LisaGee commented on #321
We may be replacing this box altogether.

[2015-08-24 03:59] LisaGee commented on #321
@ErieMeyer Can you review the links that ED wants to put here instead of the CFPB box. If you're ok with them, create that replacement story and kill this one? Thanks.

[2015-08-24 04:01] LisaGee commented on #319
may be replacing the CFPB box. Don't do any work until that is decided.

[2015-08-24 04:03] #362 closed

[2015-08-24 04:03] LisaGee commented on #458
may be getting replaced with different links.

[2015-08-24 04:06] LisaGee commented on #316
Should be compared against wording that ED has requested and tested with users to have a better assessment.

[2015-08-24 04:08] LisaGee commented on #332
@ErieMeyer - Can you break this EPIC into stories. One should be for out of the box metrics and then each custom metric should be its own story. Thanks.

[2015-08-24 04:09] LisaGee commented on #340
@jjoteal or maybe I misunderstood. Is this the implementation of filters on mobile. Then, it's a p1.

[2015-08-24 04:13] LisaGee commented on #352
dupe of #185

[2015-08-24 04:13] #352 closed

[2015-08-24 04:17] LisaGee commented on #291
may not have the data for this and may remove altogether

[2015-08-24 04:23] LisaGee commented on #423
Sorry. Average Salary actually is referring to 10 years from when a student started school, not left.
So the text should read:
Average Salary 10 Years After Entry

[2015-08-24 04:23] LisaGee commented on #297
This is subsumed by #423

[2015-08-24 04:23] #297 closed

[2015-08-24 04:24] LisaGee commented on #299
this was subsume by #423

[2015-08-24 04:24] #299 closed

[2015-08-24 04:25] LisaGee commented on #300
At the moment, it actually says Average Cost Per Year, which seems right. Closing.

[2015-08-24 04:25] #300 closed

[2015-08-24 04:26] LisaGee commented on #301
@jjoteal Let's do some usability testing with students to see what words resonate the best with them.

[2015-08-24 04:34] LisaGee commented on #275
I think this is done @ultrasaurus can you confirm?

[2015-08-24 04:36] LisaGee commented on #232
@diego- Not sure I'm following. Could you point me to where you are seeing the 2 labels?
on its face cost and size seem like diff metrics, but may not be looking in the right place. Thanks.

[2015-08-24 04:38] LisaGee commented on #237
??? @ErieMeyer sorry, no recollection. Is this the NDA template? I think this has been resolved. and by you :-)
Can you confirm and if so, close the issue.

[2015-08-24 04:39] LisaGee commented on #246
@ErieMeyer seems like this is good for you to accept?

[2015-08-24 04:40] LisaGee commented on #248
I shared. Closing

[2015-08-24 04:40] #248 closed

[2015-08-24 04:41] LisaGee commented on #252
@shawnbot some of these may already be done like browser analytics and we should not do IE9.

[2015-08-24 04:43] LisaGee commented on #227
I see this. Accepting.

[2015-08-24 04:43] #227 closed

[2015-08-24 04:45] LisaGee commented on #213
need to figure out best way to do this.

[2015-08-24 04:57] LisaGee commented on #212
dupe of #201

[2015-08-24 04:57] #212 closed

[2015-08-24 04:58] ErieMeyer commented on #246
Awesome!

[2015-08-24 04:58] #246 closed

[2015-08-24 04:58] ErieMeyer commented on #237
Apologies -- yep, this is taken care of

[2015-08-24 04:58] #237 closed

[2015-08-24 04:59] LisaGee commented on #211
dupe of #201

[2015-08-24 04:59] #211 closed

[2015-08-24 05:00] ErieMeyer commented on #321
Will do!

[2015-08-24 05:02] LisaGee commented on #195
@ErieMeyer Let's evaluate against what it is really valuable to search on and how to best represent that.
May not make it for launch

[2015-08-24 05:05] LisaGee commented on #202
as @diego- said. dupe of 201. Closing

[2015-08-24 05:05] #202 closed

[2015-08-24 05:07] LisaGee commented on #205
@ErieMeyer Let's break these into separate stories and prioritize them. Thanks.

[2015-08-24 05:54] LisaGee commented on #43
Need to explore actual behavior a bit more and confirm. Also put in example of another site where shows expected behavior.

[2015-08-24 05:57] LisaGee commented on #127
feature is deferred until after initial Launch.

[2015-08-24 05:59] LisaGee commented on #128
Seems like a dupe of #319

[2015-08-24 05:59] #128 closed

[2015-08-24 06:01] LisaGee commented on #136
Worked for me. Accepting.

[2015-08-24 06:01] #136 closed

[2015-08-24 06:02] LisaGee commented on #130
Sure looks like it's fixed to me.
@jjoteal Can you confirm and close?

[2015-08-24 06:02] #130 closed

[2015-08-24 06:07] LisaGee commented on #107
Based on Quick Query tool. Post Initial-launch.

[2015-08-24 06:17] LisaGee commented on #317
I think we're good here. closing.

[2015-08-24 06:17] #317 closed

[2015-08-24 06:21] LisaGee commented on #374
Agreed. Let's pull it out.
@jjoteal - Let's do some usability testing with some adult students too. See how important this is to them.

[2015-08-24 06:22] LisaGee commented on #376
Let's remove this for the time being, as we did with #374

[2015-08-24 06:25] LisaGee commented on #271
Going to use hard-coded data provided by ED for Launch and should circle back and plug-in proper methodology to API post-launch.

[2015-08-24 06:58] LisaGee commented on #253
@ultrasaurus yes. the default sort is 6 years after entry % of students making more than $25k, which means they are better off than if they hadn't gone to college at all.
field: gt_25k_p6

[2015-08-24 08:27] saintsoup52 commented on #187
These names can be found in the aliases data point in IPEDS.  Each school provides a number of permutations to their school's name (e.g., UCLA, BYU).

This is also important for schools that changed names altogether.

[2015-08-24 08:30] saintsoup52 commented on #41
I think this solution would be very helpful... is there a reason why we don't have an autocomplete in the name search box on the first page?

[2015-08-24 08:33] saintsoup52 commented on #192
This is really important filter option... especially for veterans whose GI Bill benefits pay much more at public then private schools.

[2015-08-24 08:44] saintsoup52 commented on #481
This is actually a big issue for those of using this data.

I would highly recommend using IPEDS' Unitid for the college choice tool... it is much easier to go from IPEDS to OPE then back from OPE to IPEDS.

For example almost all of the data about a school is at the unitID level and all FSA data (salary, debt) are at the OPE 6 level.

However there are 55,000 OPE-8 schools and it is nearly imposs

[2015-08-24 09:35] ultrasaurus commented on #275
@ErieMeyer and @jjoteal have been making text edits, but is the process written down anywhere?

[2015-08-24 10:38] ultrasaurus commented on #253
FYI: API field name is ```6_yrs_after_entry.percent_greater_than_25000```

[2015-08-24 11:35] saintsoup52 commented on #192
Sorry for the double tap... 33% of users on College Navigator filter by control... it is the second most used filter, just behind where the school is located.

[2015-08-24 11:47] saintsoup52 commented on #329
I like graphic for the three different regional searches... I imagine zip code will be more popular then region if you are choosing the order.

Is there a clear or reset filters button? Or do they have to go back and uncheck them all?

[2015-08-24 11:56] ultrasaurus commented on #399
I believe this has been resolved

[2015-08-24 12:01] ultrasaurus commented on #358
closing as a duplicate of https://github.com/18F/college-choice/issues/41

[2015-08-24 12:01] #358 closed

[2015-08-24 12:12] saintsoup52 commented on #493
Of all the emails I read over the weekend… I think this one has the most policy implications… because this is definitely a new yard stick schools are being measured against. And not that you asked… but I am going to offer my opinion on this anyways…

1)	Median Earnings (use - PREDDEG):  I think it is probably unfair to compare the earning capacity of a completer of an associates degree against a b

[2015-08-24 12:24] LisaGee commented on #493
Thanks for this, Patrick.

Sent from my Windows Phone
________________________________
From: Patrick Campbell<mailto:notifications@github.com>
Sent: ‎8/‎24/‎2015 8:12 AM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Cc: Gelobter, Lisa<mailto:Lisa.Gelobter@ed.gov>
Subject: Re: [college-choice] Get National Averages for the CT data points needed from Clare (#493)

Of all the email

[2015-08-24 12:24] saintsoup52 commented on #117
Are you guys asking about the GI Bill Comparison Tool here?

If so the API is missing the following data points used by the VA on their comparison tool:
1) Key Cost of Attendance Information - IPEDS

2) Percentage of classes taught online (not just exclusively online) - IPEDS
3) Accreditation status (is the school on probation) - OPE
4) 8 Keys to Veteran Success School - ED

[2015-08-24 12:29] saintsoup52 commented on #490
The reason why there are so few schools with distance only is because they exclusively distance learning programs.

I think from a user's perspective... they are interested if they offer online programs at all and what percentage of students are online versus in the classroom.

At VA we use this same IPEDS data to help determine GI Bill benefits.

[2015-08-24 12:37] ultrasaurus commented on #417
this was working a couple of days ago, but I must have done something weird in JavaScript, and now the levers on this slider don't move... haven't had the chance to look at the code.  Hoping @shawnbot can take a look!

[2015-08-24 12:39] ultrasaurus commented on #244
the feature as described works for me, so moving back to "accept"

[2015-08-24 13:24] ErieMeyer commented on #172
Hi all! I just want to +1 that this would be helpful. Here's how Ed currently displays this data on other products: http://collegecost.ed.gov/netpricecenter.aspx

[2015-08-24 13:41] LisaGee commented on #483
Closed as dupe of #189

[2015-08-24 13:41] #483 closed

[2015-08-24 13:41] LisaGee commented on #189
Refinement of options for Sort Order:
I'd like to be able to sort my search results by: Alphabetically, Size, Cost Per Year, Graduation Rate, Salary, & Location

Alphabetically -- A-Z only
Size - Smallest to Biggest
Cost Per Year -- Smallest to Biggest
Graduation Rate -- Biggest to Smallest
Salary -- Biggest to Smallest
Location -- Grouped by State Alphabetically (A-Z), or if they have searched by

[2015-08-24 13:43] LisaGee opened #503 "As a consumer, I'd like to be able to Sort my search results alphabetically, from A-Z, so that I can scroll down and find the school I'm looking for"
i believe we only need to provide A-Z here. Users can paginate to the end, if they are looking for a higher letter.

[2015-08-24 13:43] saintsoup52 commented on #253
Sorry to be weighing in here... but I think there is a difference when a user is browsing for a school (e.g., all schools with 25 miles of my zip code) versus i want to find a particular school that happens to have a common name.

I would recommend sorting the search by "Alpha" if the user enters a partial school name because the user is looking for a school and will find it easier if they are sor

[2015-08-24 13:46] LisaGee opened #504 "As a Consumer, I'd like to be able to sort my search results by Completion Rate, so I can compare how good a school is at graduating its students."
I think we only need to offer this sort from highest to lowest, as this is the way we think they should be evaluating -- best schools at the top.

[2015-08-24 13:49] LisaGee opened #505 "We should remove Size as a sort option."
More useful to filter by size buckets.
And don't want to overwhelm the user with options under Sort. There are other higher priority items.

[2015-08-24 13:50] saintsoup52 opened #506 "As a consumer, I would like to reset my search filters from the results page, so that I can easily start a fresh search."
When a consumer get their search results... they may want to start over. There should be an easy way to start a new search from the search results page without unchecking a number of boxes (especially if 0 results are found).

[2015-08-24 13:52] LisaGee opened #507 "As a Consumer, I'd like to Sort my Search Results by Cost -- lowest to highest"
I'd like to see which are the most affordable schools
based on net price
only need to do lowest to highest sort, as there are also filter options that can be used to refine search.

[2015-08-24 13:53] saintsoup52 opened #508 "As a consumer, I want to see whether a school's outcome measures are above/about/below average from the search results and school profile page, so that I can evaluate a school without clicking on anything."
Don’t bury the lead: The Above, About and Below Average should be above the fold on the search results and the profile page. Currently the only way for a user to evaluate the three key outcomes they see when they search for a school or open a school’s profile is the national average. However, when they open the drawers they get the much more useful “above, about and below” average information.

[2015-08-24 13:55] LisaGee opened #509 "As a Consumer, I'd like to be able to Sort my Search Results by Salary so I can see which schools graduate students that make the most money"
Sort order should be Highest to Lowest only. Can use filter to refine search options as well.
Salary in this instance should be: Median earnings after 10 years.

[2015-08-24 13:55] ultrasaurus commented on #505
@LisaGee the buckets are pretty huge, once a search is narrowed, sorting by size is helpful (based on user research with someone outside of target audience -- sample size of 1, so worth running by a few prospective college students)

[2015-08-24 13:56] LisaGee opened #510 "If I have searched by zip code + mile radius, I'd like to be able to sort my search results by distance from original zip code"
sort order should be: nearest to farthest.

[2015-08-24 14:01] saintsoup52 opened #511 "As a consumer, I want to know what "about average" means, so that I can make informed choices based on that outcome."
I can’t tell exactly from the code, but I am pretty sure the bucket for “about average” is only used for schools that are actually very close to the average line (+/- 5%).

The about average bucket should be much wider and cover the the middle 1/3rd of schools, much like "medium" in the old college scorecard.

This will make the above and below average buckets more meaningful and will help clarify

[2015-08-24 14:01] ultrasaurus commented on #253
Actually, that is a really good point @saintsoup52 -- after we get the basic interactions working, let's see how it feels.  I agree that people may well expect that a name search would end up with an alpha sorting, but if there are typically only a small number of results it might be fine.

[2015-08-24 14:04] ultrasaurus commented on #253
also didn't mean to close, this still needs to be tested!

[2015-08-24 14:09] LisaGee opened #512 "As a Consumer, I'd like to be able to filter my Search Results by 2- and 4- years schools so that I can compare apples to apples"
2- and 4- year schools have dramatically different graduation rates, and if I can only go to a 2-year program, I should be able to filter my results by that.

Another option is simply to refine search and choose Associates vs Bachelors.

Another option would be to add sort by length of program as a Sort option - but then we'd have to display whether a school is a 2- or 4- year program in the block

[2015-08-24 14:19] LisaGee opened #513 "Acceptance Rate should just be a number"
Remove the Somewhat, Very, etc....

use field
ADM_RATE

[2015-08-24 14:19] jjoteal commented on #174
FYI -- will be testing this with our upcoming adult learner usability tests later this week and next week.

[2015-08-24 14:19] ErieMeyer commented on #396
In touch with WH digital strategy office about updating the link.

Do you mean you want me to coordinate with Danny et all about switching the links? Happy to!

[2015-08-24 14:20] LisaGee commented on #513
@jjoteal - Can you provide design if needed?

[2015-08-24 14:21] meiqimichelle commented on #504
To confirm: this is the same as what we're calling "graduation rate" on the search results cards?

[2015-08-24 14:21] ErieMeyer commented on #117
Yes!

1) that's fine -- ok to still use IPEDS.
2) Same
3) Link to where this is from today?
4) Link to where this is from today?

@greggersh -- thoughts on this issue?

[2015-08-24 14:22] LisaGee opened #514 "Change label on School Page from Selectivity to Admissions"
@ErieMeyer - Can you do? Thanks.

[2015-08-24 14:24] jjoteal commented on #196
@LisaGee so just a checkbox like:

__ Religious Affiliation

That would only require the user to essentially answer "yes" (checked) or "no" (unchecked) to? If so, I worry about this. For example, if an individual has strong Mormon faith, he/she would probably want to weed out all the non-Mormon schools.

I don't see an issue with listing all the religions in a dropdown menu... College Board does t

[2015-08-24 14:26] LisaGee commented on #196
I agree. We’re just very challenged on time.
Let’s do 2 stories.

1.       For immediately, with just the checkbox.

2.       For later with the drop-down.
Thanks,

--Lisa

From: Jessica Teal [mailto:notifications@github.com]
Sent: Monday, August 24, 2015 10:24 AM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] As a consumer I can search by special mission (ex: HBCU, religi

[2015-08-24 14:26] ErieMeyer commented on #491
On it!

[2015-08-24 14:26] LisaGee commented on #396
That would be awesome. Thanks, Erie!

From: Erie Meyer [mailto:notifications@github.com]
Sent: Monday, August 24, 2015 10:20 AM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] As a Consumer, if I visit a page where Scorecard 1.0 is available, I should be able to access 2.0, when it's released, so that I can still find the tool and the existing referring websites don't have

[2015-08-24 14:27] LisaGee commented on #504
It is. Thanks!

From: Michelle Hertzfeld [mailto:notifications@github.com]
Sent: Monday, August 24, 2015 10:21 AM
To: 18F/college-choice
Cc: Gelobter, Lisa
Subject: Re: [college-choice] As a Consumer, I'd like to be able to sort my search results by Completion Rate, so I can compare how good a school is at graduating its students. (#504)

To confirm: this is the same as what we're calling "graduat

[2015-08-24 14:29] ErieMeyer commented on #458
Only one of the links that Ed provided could possibly work here (update coming shortly). Would be this one: https://fafsa.ed.gov/FAFSA/app/f4cForm?execution=e1s1

Copy would be "Estimate your aid" which is what Ed uses elsewhere to point to this tool.

I'm fine switching the PFC link/button out for this one (checked with Dana and she said she wasn't overly concerned with the design issues), pendin

[2015-08-24 14:32] saintsoup52 opened #515 "As a consumer, I want to identify top and low performing schools, so that I can make effectively choose my schools."
Consider using 5 buckets (not two or three).

The beauty of the bar graphs is that  users can identify the high and low performers quickly. Since the distance of an outcome from the national average may be very small in some circumstances. This would also mean this tool would be rating schools more then the current tool versus rating them less.

You should consider having five buckets of performan

[2015-08-24 14:32] jjoteal commented on #196
Ok sounds good. Reassigning to @meiqimichelle for implementation.

[2015-08-24 14:34] saintsoup52 commented on #458
Does github do sad emoticons? :-(  (j/k)

Will there only be one link to another tool in the sidebar? Maybe more links without the big box to other tools (e.g., Paying for College, GI Bill Comparison Tool).

[2015-08-24 14:35] saintsoup52 commented on #117
Any chance 1 and 2 can be added to API? :-)

Here are links to the other ones:
Accreditation - http://ope.ed.gov/accreditation/
8 Keys - http://www.ed.gov/veterans-and-military-families/8-keys-success-sites

[2015-08-24 14:37] jjoteal commented on #340
@LisaGee this is the desired implementation of the filters on mobile, but in the interest of time, we might not be able to pull it off unless this is prioritized.

This is the "temporary solution" mock that @meiqimichelle and I discussed, if we aren't able to pull off the filter "drawer" for mobile in time:
![image](https://cloud.githubusercontent.com/assets/12192706/9442851/f5d8ce0e-4a4b-11e5-989

[2015-08-24 14:38] meiqimichelle commented on #492
- [x] HTML/CSS _Done with #517_
- [ ] data connection

[2015-08-24 14:41] jjoteal commented on #401
@LisaGee, let me know if 1) and 2) in the previous comment are correct, and then I can reassign to @meiqimichelle

[2015-08-24 14:42] LisaGee commented on #381
Actually closing this in favor of putting the Admission Rate as a number up instead. Selectivity carries a judgement implication to it.
See #513

[2015-08-24 14:42] #381 closed

[2015-08-24 14:43] meiqimichelle commented on #420
This might be related to #463.

[2015-08-24 14:43] LisaGee commented on #379
@shawnbot So is what's on staging now hardcoded fake data?

[2015-08-24 14:45] ErieMeyer commented on #514
This is in two pull requests. Sean, can you review and accept?

https://github.com/18F/college-choice/pull/518

https://github.com/18F/college-choice/pull/516

[2015-08-24 14:48] diego- opened #519 "As a visitor, I don't want to see 0% values in race/ethnicity data on a school page"

[2015-08-24 14:49] jjoteal commented on #465
Ok sounds good.

Here is the design mock of the entire Student Body section for reference then:

![image](https://cloud.githubusercontent.com/assets/12192706/9443168/9d291d34-4a4d-11e5-8b5b-70865dd39333.png)

Reassigning to @meiqimichelle for implementation.

[2015-08-24 14:53] meiqimichelle commented on #293
Individual tasks tracked in #210

[2015-08-24 14:59] LisaGee commented on #194
There is some questions about how/if we want to articulate "Selectivity".

[2015-08-24 15:00] LisaGee commented on #513
Moved to research as there is still some ongoing conversation about how we may or may not want to present "Selectivity" options.

[2015-08-24 15:02] ErieMeyer commented on #491
So far, winners are "Salary higher than high school grads" and "Better than high school"

Possible to test both?

[2015-08-24 15:02] LisaGee opened #520 "Remove Acceptance Rate, Selectivity Rating and [chart here] from UI"
Until Selectivity decisions have been made
See #513

[2015-08-24 15:03] ErieMeyer commented on #356
I'm unable to re-create this issue in FF. Closing for now unless it pops up again.

[2015-08-24 15:03] #356 closed

[2015-08-24 15:05] ErieMeyer opened #521 "Data site analytics: All pageviews/impressions"
As a product team member, I would like to see analytics for all pageviews/impressions in DAP

[2015-08-24 15:06] ErieMeyer opened #522 "Data site analytics: All clicks (links and interactions [like expansion])"
As a product team member, I would like to see analytics for All clicks (links and interactions [like expansion])

[2015-08-24 15:07] LisaGee commented on #382
We should do by section, not cumulative.
In fact, ED has asked that the midpoint be removed from the charts and most other sites only do the 25-75 range.
See:
 http://www.collegesimply.com/colleges/massachusetts/williams-college/admission/?ab=1&utm_expid=79399671-8.qGk9zWmgRqGEg5B2fAPwCA.1&utm_referrer=https%3A%2F%2Fwww.google.com%2F
http://collegeapps.about.com/od/collegeprofiles/p/Williams_profi

[2015-08-24 15:07] ErieMeyer opened #523 "Data site analytics: Searches completed"
As a product team member, I would like to see analytics for Searches completed

[2015-08-24 15:07] LisaGee commented on #382
@shawnbot if you're good, can you close this issue? Thanks.

[2015-08-24 15:07] meiqimichelle commented on #201
- [ ] HTML/CSS
- [ ] implement - @meiqimichelle to chat with @shawnbot

[2015-08-24 15:08] ErieMeyer opened #524 "Data site analytics: Shares"
As a product team member, I would like to see analytics for how often the data site is shared

[2015-08-24 15:09] ErieMeyer opened #525 "Data site analytics: Data from all search requests"
As a product team member, I would like to see analytics for data from all search requests (ie, I want to be able to answer "what's the most popular data summary/filter" etc)

[2015-08-24 15:10] ErieMeyer opened #526 "Data site analytics: Downloads"
As a product team member, I would like to see analytics for the number downloads of the data

[2015-08-24 15:10] LisaGee commented on #102
I think the questions have been answered in #382

[2015-08-24 15:10] meiqimichelle commented on #201
On results page:
Put the share button in the upper right in a row above the "51 results" + sort. So in other words, it would push the "51 results" + sort down a bit.

On indiv schools page:
See mock. Share button lives on upper right above the map.

[2015-08-24 15:10] ErieMeyer commented on #332
It is now epic'd :100:

[2015-08-24 15:13] meiqimichelle commented on #172
- [ ] HTML/CSS
- [ ] data link

[2015-08-24 15:13] ErieMeyer commented on #458
Interesting! GI, PFC and FAFSA estimator might be a good combo (if the design doesn't break by adding three links instead of one button).

I will check with Dana about the UX implications of three links instead of one (my strong bias is for one).

Definitely all depends on @jjoteal's capacity during crunch week.

[2015-08-24 15:14] LisaGee commented on #521
@ErieMeyer - Can you pop in some questions you think this data will help you answer as a product team member or even a member of ED? Want to be sure that we're all talking the same language. thanks.

[2015-08-24 15:15] LisaGee commented on #519
If the value of an ethnicity is 0, its bar should simply not display in the chart.

[2015-08-24 15:16] meiqimichelle commented on #340
Let me take a look the the drawer functionality. Assigning to me to investigate.

[2015-08-24 15:19] ErieMeyer commented on #400
@ultrasaurus that idea is a top one. I'll coordinate with @jjoteal for testing options

[2015-08-24 15:26] LisaGee commented on #522
@ErieMeyer What questions are you trying to answer? Can you provide a little more context so that we build in a way that targets what you're looking for. Thanks.

[2015-08-24 15:30] meiqimichelle commented on #465
Note: I think there are still questions around the other data in this section (whether we actually have the info in the data and/or API) so I'm not going to start coding this until we get confirmation on each data point here.

[2015-08-24 15:34] jjoteal commented on #401
Just reassigning to @LisaGee for now, so it is clear we need her decision here before we move forward.

[2015-08-24 15:34] jjoteal commented on #404
Yep! Closing this issue then!

[2015-08-24 15:34] #404 closed

[2015-08-24 15:35] jjoteal commented on #498
@LisaGee -- FYI talked with Clare this morning about these. She needs to rework them as they were thinking Data Insights would have images (and they don't). I believe she also might be reaching out to you regarding prioritizing this...

[2015-08-24 15:40] jjoteal commented on #497
@LisaGee I would recommend putting this link in the footer. Maybe a "Powered by College Scorecard Data" tagline right under "U.S. Department of Education". Sound good?

[2015-08-24 15:41] meiqimichelle commented on #465
Related to #376, which is not prioritized until after this sprint.

[2015-08-24 15:56] ErieMeyer commented on #522
Clarified as "Data tool" instead of "Consumer tool"

Examples:

+ What things are "most clicked" on each page? (Trying to figure out what's most useful/attractive for users)
+ How often are things expanded (which things are interesting to users, even if they don't click through)
+ How often are things expanded and *not* clicked through (essentially same-page bounce rate)

[2015-08-24 16:01] ErieMeyer commented on #521
Heads up -- this is for the data tool not the consumer tool.

Examples:

+ How many people are looking at this?
+ How many visitors are new?
+ How many are returning?
+ How long is a person spending on the site?
+ What's the bounce rate?

[2015-08-24 16:04] meiqimichelle commented on #102
This issue is now tracking text changes.

[2015-08-24 16:07] ultrasaurus commented on #180
@LisaGee and I reviewed yesterday and I believe all the changes have been made in the front end

[2015-08-24 16:08] ultrasaurus commented on #180
-> @shawnbot to review and accept

[2015-08-24 16:10] meiqimichelle commented on #192
- [ ] HTML/CSS
- [ ] data connect
- [ ] iterations to confirm data

[2015-08-24 16:14] meiqimichelle commented on #196
- [ ] look at data/API, see if there's a short-term solution
- [ ] HTML/CSS
- [ ] wire up data
- [ ] test

[2015-08-24 16:16] ErieMeyer commented on #201
Subject: Check this out

Body:

I found this on scorecard.ed.gov -- check it out: [link URL]

[2015-08-24 16:18] ErieMeyer commented on #234
Am in contact with WH team -- they're ready for new embed code whenever.

[2015-08-24 16:26] ErieMeyer opened #527 "As a member of the public/a developer I want to find data that is not available"
For items that say "Data not available" is there an engagement option for the public/developers who want to ask for that data?

Lots of good reasons why the data doesn't exist (regulatory changes, data collection changes, etc.)

Something like "ask the school" or "write your congressperson"?

Not urgent, but if there's a way they could ask/advocate, that could be impactful.

[2015-08-24 16:33] jjoteal commented on #401
Please add multi-select to the Programs dropdown.

[2015-08-24 16:34] meiqimichelle commented on #401
- [ ] HTML/CSS
- [ ] data

[2015-08-24 16:41] ErieMeyer commented on #503
Addressed by https://github.com/18F/college-choice/issues/445

[2015-08-24 16:41] #503 closed

[2015-08-24 16:45] jjoteal opened #528 "As a consumer, if a particular piece of data is not available, I would like that noted in the display so that I am aware that the information is not available (non-bar charts)"

[2015-08-24 16:50] yozlet opened #529 "As a developer, I would like the API to explain to me what errors I've made in a request"
... rather than what it currently does, which is either
 1. returning zero results, or
 2. going BANG.

[2015-08-24 16:58] yozlet opened #530 "Allow separate data import without major API server downtime"
At present, data import is part of the API server process, and requires one such process to run for several hours before API service can resume. This is bad for many reasons.

@ozzyjohnson managed to do ES import/export of data files, so one solution here is to have a separate server process (not running on the main ccapi CF route) run the import, and then when it's ready, shut down the main API u

[2015-08-24 17:02] ultrasaurus commented on #380
I believe this is fixed.  I see null in this result.  https://ccapi-staging.18f.gov/school?id=104151

-> @shawnbot can you pls confirm and close if all is good (or still back in develop if there are issues) ?

[2015-08-24 17:04] ultrasaurus commented on #400
That was too long... I created "Advantage Factor" which says as much or as little as anything else.  I don't think any label will really work without the value displayed as part of the search results.

[2015-08-24 17:04] ultrasaurus commented on #412
-> @shawnbot to verify

[2015-08-24 18:00] LisaGee opened #531 "Try making any charts that are compared to a national average, use the color of the chart as intrinsic indicators of "goodness""
So in Average Cost per Year - if the chart reaches above the line, it would be red and at the line, yellow and below the line green.
But for Graduation rate - if the chart for a particular school is above the nat'l average line, green, below, red, etc...

[2015-08-24 18:01] LisaGee commented on #531
We'll do a rough version based on real data and see what it looks like before evaluating whether it is worth making this change before launch.

[2015-08-24 18:02] ErieMeyer commented on #509
Looks great!

[2015-08-24 18:02] #509 closed

[2015-08-24 18:02] LisaGee commented on #508
Good point, although the bar charts themselves are supposed to serve as those indicators.
But we're taking a diff crack at the display (actually was your original suggestion), but suspect it may not make it for launch. See #531

[2015-08-24 18:03] ErieMeyer commented on #507
Looks great!

[2015-08-24 18:03] #507 closed

[2015-08-24 18:04] LisaGee commented on #511
@ErieMeyer Can you take a crack at defining the algorithm for all our metrics that compare to the national average how Below, At, and Above Average could be calculated?

[2015-08-24 18:07] LisaGee commented on #511
Look at #515 as part of this.

[2015-08-24 18:08] LisaGee commented on #515
To be considered as part of #511

[2015-08-24 18:08] #515 closed

[2015-08-24 18:09] #180 closed

[2015-08-24 18:11] #399 closed

[2015-08-24 18:13] #261 closed

[2015-08-24 18:15] rustypickens commented on #234
Hi team!   For projects like this our preference is to use [GitHub Pages](https://pages.github.com/) where possible.  It's super-easy for us to jump off from WH.gov to there if that works for you?  We've done it in the past with things like the [Tax Receipt](https://www.whitehouse.gov/2014-taxreceipt) to great success.  Close-second options would be the iframe or embed approaches.   Beyond that, t

[2015-08-24 18:21] #380 closed

[2015-08-24 18:29] saintsoup52 commented on #531
Huge +1 from me on this.

From: Lisa G. [mailto:notifications@github.com]
Sent: Monday, August 24, 2015 02:01 PM
To: 18F/college-choice <college-choice@noreply.github.com>
Subject: Re: [college-choice] Try making any charts that are compared to a national average, use the color of the chart as intrinsic indicators of "goodness" (#531)

We'll do a rough version based on real data and see what it lo

[2015-08-24 18:31] LisaGee commented on #506
Let's see how usability goes. Most other consumer tools make you go back to the home page if you want to start fresh, fresh and that works on our site too.

[2015-08-24 18:40] ErieMeyer commented on #482
Looks awesome!

[2015-08-24 18:40] #482 closed

[2015-08-24 18:45] LisaGee commented on #527
Could it be asked on StackExchange? Or is that not an appropriate forum?

[2015-08-24 18:51] jjoteal opened #533 "BUG: Ensure that the Filters are open and display on desktop and are separate from Start a New Search"
See design mockup for desktop:

![image](https://cloud.githubusercontent.com/assets/12192706/9449261/6f0f38a8-4a6f-11e5-9101-698ccb03ce11.png)

[2015-08-24 18:58] ErieMeyer commented on #454
Not sure that this is actually ready to accept -- @LisaGee?

[2015-08-24 19:04] ErieMeyer commented on #419
Monthly student loan payment is not showing for any of the schools I pulled up -- this is what shows. Moving back to develop.

![screen shot 2015-08-24 at 3 01 21 pm](https://cloud.githubusercontent.com/assets/1626026/9449525/0bdac05c-4a71-11e5-9773-9929f2701fd1.png)

[2015-08-24 19:07] ErieMeyer commented on #418
:+1:

[2015-08-24 19:07] #418 closed

[2015-08-24 19:09] ErieMeyer commented on #416
:us: Awesome

[2015-08-24 19:09] #416 closed

[2015-08-24 19:10] ErieMeyer commented on #412
@shawnbot hi! Not sure where/how to test this in order to accept -- lmk!

[2015-08-24 19:12] ErieMeyer commented on #400
Looks awesome! Will re-open an issue for naming conventions.

[2015-08-24 19:12] #400 closed

[2015-08-24 19:15] ErieMeyer opened #534 "As a consumer, I want a more clear name than "advantage factor" to understand threshhold earnings"
![screen shot 2015-08-24 at 3 13 19 pm](https://cloud.githubusercontent.com/assets/1626026/9449757/c11c64f6-4a72-11e5-81ff-66e5e8f4e56c.png)
![screen shot 2015-08-24 at 3 13 11 pm](https://cloud.githubusercontent.com/assets/1626026/9449758/c50f0a96-4a72-11e5-8b2e-e4afa3b6d79b.png)
![screen shot 2015-08-24 at 3 13 01 pm](https://cloud.githubusercontent.com/assets/1626026/9449763/c8689158-4a72-11e5-

[2015-08-24 19:17] ErieMeyer commented on #387
Confirmed that beta testers in the developer beta have the ability to bulk download.

[2015-08-24 19:17] #387 closed

[2015-08-24 19:18] ErieMeyer commented on #376
:+1:

[2015-08-24 19:18] #376 closed

[2015-08-24 19:18] ErieMeyer commented on #374
:+1:

[2015-08-24 19:18] #374 closed

[2015-08-24 19:20] ErieMeyer commented on #364
@ultrasaurus -- this is for you, my dear (unless you want to teach me how to review this!)

[2015-08-24 19:21] ErieMeyer commented on #334
:+1:

[2015-08-24 19:21] #334 closed

[2015-08-24 19:22] ErieMeyer commented on #275
@shawnbot I think you wrote this up earlier -- can you re-fwd (my email searches are not turning it up) and I'll add it to the repo?

[2015-08-24 19:24] LisaGee commented on #419
In the csv, I have confirmed that data exists. See PICC Data Subset file for some test data.
GRAD_DEBT_MDN10YR_SUPP

[2015-08-24 19:25] LisaGee commented on #419
Actually I see this working for Bryant University.
@ErieMeyer Can you be more specific as to your test case?

[2015-08-24 19:28] ErieMeyer commented on #270
Just to confirm, we are including the word "undergraduate" (lisa just confirmed IRL), and it looks great on staging. Ex:
![screen shot 2015-08-24 at 3 26 40 pm](https://cloud.githubusercontent.com/assets/1626026/9450108/a9509ae8-4a74-11e5-967e-7556803fad7b.png)

[2015-08-24 19:28] #270 closed

[2015-08-24 19:28] LisaGee commented on #419
Actually, @ErieMeyer  is correct. I was testing on Beta site, not on staging. Used to work. Now is broke..

[2015-08-24 19:29] ErieMeyer commented on #527
Oh! That's perfect.

Thanks!

[2015-08-24 19:32] claremccann commented on #531
Given the data limitations inherent in a lot of these elements, I think red will probably seen by many as potentially misleading or unfair.

[2015-08-24 19:36] jjoteal commented on #531
Hi folks,

Here's a very rough mock-up of this, using the green = above average, yellow = about average, red = below average color scheme:

![image](https://cloud.githubusercontent.com/assets/12192706/9450244/91340304-4a75-11e5-9807-2ff238658021.png)

I personally like it a lot and feel as though it sends an instant message to users who are scanning the page whether or not a school is worth lookin

[2015-08-24 19:49] diego- commented on #276
Closing, this was done.

[2015-08-24 19:49] #276 closed

[2015-08-24 19:50] jjoteal opened #535 "ENHANCEMENT: Add an ellipse at the end of a school name once it has reached the 3-line mark or X character count"

[2015-08-24 19:54] meiqimichelle commented on #172
@LisaGee @jjoteal Are we still doing the paragraph with the "Assumes XXX" etc, or just the button now?

[2015-08-24 19:54] LisaGee opened #536 "BUG: Retention Rate for Bryant University is incorrect as compared to data"
Compare: https://college-choice.18f.gov/school/?217165-Bryant-University
against data in PICC subset file

[2015-08-24 19:58] LisaGee opened #537 "BUG: Full Time vs Part Time data is wrong as compared to csv"
https://federalist.18f.gov/preview/18F/college-choice/staging/school/?217165-Bryant-University

Compare to data subset in PICC folder.

[2015-08-24 19:59] LisaGee opened #538 "We should remove the # of Programs Offered from the Academics section on an Individual School Page."
It is a weird thing to be calling attention to. Don't think it makes sense for students.

[2015-08-24 20:01] LisaGee commented on #537
You can look at these fields:
RET_FT4
RET_FTL4
RET_PT4
RET_PTL4

[2015-08-24 20:02] LisaGee commented on #536
You can look at these fields:
RET_FT4
RET_FTL4
RET_PT4
RET_PTL4

[2015-08-24 20:12] jjoteal commented on #172
@LisaGee -- can you make this call? I'm not sure what we have in the data to be able to pull apart the Tuition + Fees cost from the "other" costs.

[2015-08-24 20:15] saintsoup52 commented on #172
Just as an FYI... netprice is calculated from data that is 2 years old while tuition/fees is 1 year old data.

In general it is not a good practice to mix those two data points (which I learned the hard way) because they are like apples and oranges.

[2015-08-24 20:18] LisaGee opened #539 "We should add Gender under Student Body on Individual school page."
It is not currently in the data set, tho...

[2015-08-24 20:19] LisaGee opened #540 "Remove Gender from Individual School Page from Student Body section"
We don't have the data easily accessible.

[2015-08-24 20:19] saintsoup52 commented on #527
Most of the data that is not collected is because of the type of school they are... for example graduate schools do not report graduation rates because grad rates are the number of undergrads who graduate.

If there was an ask for more data... it would probably be directed to ED or Congress or the like.

[2015-08-24 20:22] LisaGee opened #541 "Remove Average age at enrollment from Individual School Page from Student Body section"
This data is not available in the .csv

[2015-08-24 20:35] meiqimichelle commented on #172
@shawnbot I'm passing this to you for data wiring. You can just comment out the paragraph and solely deal with the button if this discussion goes that direction.

[2015-08-24 21:08] ErieMeyer commented on #253
:+1:

[2015-08-24 21:08] #253 closed

[2015-08-24 21:10] ErieMeyer commented on #244
:+1:

[2015-08-24 21:10] #244 closed

[2015-08-24 21:33] saintsoup52 commented on #531
I really like this!!

The visual reinforces the story the data is telling. I think the buckets should be 1/3, 1/3, 1/3 (same methodology as High/Medium/Low)... therefore ED will not be creating anything new just modifying the visual design...

[2015-08-24 21:38] jjoteal commented on #465
@meiqimichelle here's a rough, quick mock-up of the new layout per the data that will actually be displaying at launch:

![image](https://cloud.githubusercontent.com/assets/12192706/9453239/f3b72ffe-4a86-11e5-8e27-49dd67077870.png)

[2015-08-24 22:07] #412 closed

[2015-08-24 22:08] #218 closed

[2015-08-24 22:13] #183 closed

[2015-08-24 22:20] #184 closed

[2015-08-24 22:20] #221 closed

[2015-08-24 22:27] #235 closed

[2015-08-25 00:10] #186 closed

[2015-08-25 00:15] LisaGee commented on #417
@shawnbot Hmmm. Just checked on staging and the sliders still don't work for me.

[2015-08-25 00:19] LisaGee commented on #417
@shawnbot I believe I tested prematurely on Staging, b/c your note says it's on Dev. Sorry. Moving it back.

[2015-08-25 00:27] ErieMeyer commented on #271
Done! I think!

[2015-08-25 00:36] #449 closed

[2015-08-25 00:48] #371 closed

[2015-08-25 02:42] ErieMeyer commented on #486
:+1:

[2015-08-25 02:42] #486 closed

[2015-08-25 02:45] ErieMeyer commented on #417
It's actually working for me on staging! :+1:

[2015-08-25 02:45] #417 closed

[2015-08-25 02:46] ErieMeyer commented on #401
Looks awesome but is missing "certificate" as an option.

[2015-08-25 02:59] LisaGee commented on #401
Should not have certificate for 1.0

Sent from my Windows Phone
________________________________
From: Erie Meyer<mailto:notifications@github.com>
Sent: ‎8/‎24/‎2015 10:46 PM
To: 18F/college-choice<mailto:college-choice@noreply.github.com>
Cc: Gelobter, Lisa<mailto:Lisa.Gelobter@ed.gov>
Subject: Re: [college-choice] BUG: Area of Study "Programs" dropdown should show the list of "majors" and degree

[2015-08-25 04:00] meiqimichelle commented on #335
We talked about this at standup, and we decided to try making the design work for anything with a title that falls on three lines or fewer. However, this is what it looks like In Real Life:

<img width="931" alt="screen shot 2015-08-24 at 8 52 17 pm" src="https://cloud.githubusercontent.com/assets/4827522/9458359/3f329c6e-4aa2-11e5-8739-6f714ca9197c.png">
<img width="931" alt="screen shot 2015-08-

[2015-08-25 04:05] meiqimichelle commented on #335
Also, if we don't hate the desktop view, I can make the extra space go away for small views since those won't be comparing across rows anyways. So, this issue is mostly about those desktop screenshots I posted.

[2015-08-25 04:39] meiqimichelle commented on #293
For Setting, it looks like currently in the data we have:
[code]
How should these collapse into the three categories we want (Rural, Suburban, or Urban). As you might guess, I'm mostly wondering about the three categories called `Town:` -- the others collapse in obvious ways.

[2015-08-25 13:18] ErieMeyer opened #552 "BUG: Filters on search page overlap as you get to either extreme"
![screen shot 2015-08-24 at 3 09 29 pm](https://cloud.githubusercontent.com/assets/1626026/9467491/1ed6ae70-4b0a-11e5-9e6d-ca6aac32222b.png)
![screen shot 2015-08-24 at 3 09 16 pm](https://cloud.githubusercontent.com/assets/1626026/9467498/240ec09e-4b0a-11e5-902f-fbf6c7f3d0ef.png)
![screen shot 2015-08-24 at 3 09 03 pm](https://cloud.githubusercontent.com/assets/1626026/9467505/2a0de34e-4b0a-11e5-

[2015-08-25 13:23] ErieMeyer commented on #538
:+1:

[2015-08-25 13:23] #538 closed

[2015-08-25 13:23] ErieMeyer commented on #419
:+1:

[2015-08-25 13:24] ErieMeyer commented on #401
Apologies -- looks great! :+1:

[2015-08-25 13:24] #401 closed

[2015-08-25 13:25] ErieMeyer commented on #172
:us: :us: :us:

[2015-08-25 13:25] #172 closed

[2015-08-25 13:31] jjoteal commented on #335
@meiqimichelle rather than inserting the space where you did, could you insert space below and above the thin horizontal rules (i.e. the rules that contain the bar graphs) so that the bar charts across the row are always in alignment? Feel free to ping me on slack this AM and we can chat about it if that direction is not clear.

[2015-08-25 13:38] jjoteal commented on #293
@meiqimichelle per your slack ping, here are the final icons for reference (with the exception of Certificate, which I don't believe is in use for the MVP):

![image](https://cloud.githubusercontent.com/assets/12192706/9467942/f0b9cd3a-4b0c-11e5-8cf8-9c920e30663c.png)

[2015-08-25 13:59] jjoteal commented on #458
@ErieMeyer here's a mock-up of the new buttons you requested:

![image](https://cloud.githubusercontent.com/assets/12192706/9468487/f6bf0a08-4b0f-11e5-9be4-81b3393055f6.png)

Please note that if we go with this, we'll need a new title for this section as it used to be "Paying for College" and that is now a button name.

[2015-08-25 14:07] ErieMeyer commented on #458
Rad -- thank you! Could you pop it into a larger screenshot so it's in context when I chat with stakeholders later today?

Maybe the section should be called "Get the Best Deal"

[2015-08-25 14:10] ErieMeyer commented on #458
Also this is beautiful -- excellent work.

[2015-08-25 14:13] saintsoup52 commented on #458
I would suggest for the other two links.
"Evaluate Aid Offers"
"Calculate GI Bill Benefits"

[2015-08-25 14:18] meiqimichelle commented on #293
Thank you @jjoteal !

@LisaGee , I'm also implementing the advanced search feature (#192) this week that allows search on type of school, and as per that issue should be set to:
[code]

**This is a different breakdown than what we're showing here for the icons on school pages. Is that correct, or is one of these (the icons, or the advanced search options) based on an old decision?** The search bre

[2015-08-25 14:22] jjoteal opened #553 "BUG: Labels above filters should match labels above value snapshot graphics AND the labels above the graphics in the corresponding Individual School page sections"
In other words, the labels above these filters:

![image](https://cloud.githubusercontent.com/assets/12192706/9469020/c6658578-4b12-11e5-8491-57a0ee080362.png)

Should match the corresponding labels above the Value Snapshot graphics:
![image](https://cloud.githubusercontent.com/assets/12192706/9469035/d8597910-4b12-11e5-8b5e-129b20f3a618.png)

AND, those same labels should also be used on the Valu

[2015-08-25 14:29] ErieMeyer opened #555 "ignore this pls -- tricking github into uploading images"
![screen shot 2015-08-25 at 10 26 33 am](https://cloud.githubusercontent.com/assets/1626026/9469247/06f6e8ec-4b14-11e5-9a53-a7b44d915579.png)
![screen shot 2015-08-25 at 10 20 29 am](https://cloud.githubusercontent.com/assets/1626026/9469255/106033ca-4b14-11e5-93a2-04389efdf026.png)
![screen shot 2015-08-25 at 10 20 52 am](https://cloud.githubusercontent.com/assets/1626026/9469258/106b170e-4b14-11

[2015-08-25 14:29] #555 closed

[2015-08-25 14:36] saintsoup52 commented on #458
PS I love the graphics

[2015-08-25 14:44] jjoteal commented on #458
@ErieMeyer here's the full page mock for context:

![image](https://cloud.githubusercontent.com/assets/12192706/9469652/394d289a-4b16-11e5-90fe-45cb22704c07.png)

[2015-08-25 15:01] saintsoup52 commented on #511
The way it is done now... is that ED looks at the list of schools ang breaks them into 3 buckets.

They give high/medium/low break outs... This is what they are now on the financial aid shopping sheet.

// Grad Rates for primarily 4 year insitutions
      GROUP1GRADHIGH = 58,
      GROUP1GRADMED  = 40,

// Grad Rates for primarily 2 year insitutions
      GROUP2GRADHIGH = 35.9,
      GROUP2GRADMED

[2015-08-25 15:05] jjoteal opened #556 "BUG: The thickness of the National Average line on the bar charts should match the thickness of the National Average line in the legend"

[2015-08-25 15:08] ErieMeyer commented on #555
![screen shot 2015-08-25 at 11 08 05 am](https://cloud.githubusercontent.com/assets/1626026/9470354/9d606fec-4b19-11e5-9b0c-69308953819a.png)

[2015-08-25 15:14] jjoteal commented on #467
I would recommend:

25, 50, 100, 250, 500, 1000+

For context, other sites like College Board (which was one of the few "main" sites that used a zip + radius search) use:
20, 50, 100, 200, 300, 400, 500, 600, 1000, 20000, 3000

but I think the options I recommended above get at the same point without giving the user *too* many options.

Reassigning this ticket to @LisaGee to make a final decision

[2015-08-25 15:15] ErieMeyer commented on #275
Ok -- I took a crack!

I think someone else should probably accept this... Maybe @LisaGee?

https://github.com/18F/college-choice/blob/dev/CONTRIBUTING.md

[2015-08-25 15:23] jjoteal commented on #280
@ErieMeyer reassigned this to you as I know you are working on selecting the top 3 "by the numbers" data points as well as the top 4-5 "check out these schools" lists.

Once you have the top 3 "by the numbers" items picked out, please send them my way here so that I can ensure we have relevant illustrations for your top picks.

[2015-08-25 15:29] jjoteal commented on #528
Here is a mock-up for the "data not available" indicator for the non-bar chart graphics/metric presentation.

Data Not Available:
![image](https://cloud.githubusercontent.com/assets/12192706/9470946/353543c2-4b1c-11e5-8ab3-b20844a29c47.png)

For reference, here's what it would look like if data *was* available:
![image](https://cloud.githubusercontent.com/assets/12192706/9470978/50d3991c-4b1c-11e5

[2015-08-25 15:35] meiqimichelle commented on #335
After talking with @jjoteal , we've got a solution ready in #558. Yay.

[2015-08-25 15:50] ErieMeyer commented on #458
I love the wording changes @saintsoup52  -- @jjoteal could you switch these? Thank you!

[2015-08-25 16:01] LisaGee commented on #454
Reviewed with @jjoteal - Lookin' good! Accepting.

[2015-08-25 16:01] #454 closed

[2015-08-25 16:03] LisaGee commented on #452
Reviewed with @jjoteal - This is close, but needs some rejiggering of how a journalist might actually approach the queries - what metrics they should select first, etc... May not be the same as how a student selects. Moving back to Research for further future conversation. If it gets built as-is from volunteers, will still be awesome!

[2015-08-25 16:04] ErieMeyer commented on #335
Looks awesome!

[2015-08-25 16:14] diego- commented on #98
Not working in dev or staging. Testing with following query: https://ccapi-staging.18f.gov/school?id=135717&fields=2013.median_debt.completers.overall

returns internal server error message.

[2015-08-25 16:50] meiqimichelle commented on #556
@shawnbot The original mocks have the average line on the meters as 3px wide. Can you change that in the bar charts, or was that intentionally made wider for some reason?

[2015-08-25 17:15] ErieMeyer commented on #275
Done!

[2015-08-25 17:15] #275 closed

[2015-08-25 18:19] LisaGee opened #560 "Remove Monthly Repayment Filter from Search Results page."
Monthly Repayment Filter is odd to have on the Search Results page without also showing the data anywhere on this page. I think we need to consider removing that Filter for the time being.

[2015-08-25 18:21] LisaGee opened #561 "Nat'l Average marker missing from filters"
Now:
![image](https://cloud.githubusercontent.com/assets/12847090/9475406/7d0c4264-4b34-11e5-8a6e-c556df768077.png)

Used to be:
![image](https://cloud.githubusercontent.com/assets/12847090/9475415/92ed576c-4b34-11e5-9807-e90940df8565.png)

[2015-08-25 18:26] LisaGee opened #562 "Add a Reset link on Search Results page"
Once you've used Filters to refine and you want to go back to looking at the whole set of results, it's a little bit of work to figure out what you have to adjust back to get the original results.
This may be was Patrick was referring to.

Putting in Design, as we'd have to figure out how to lay it out to best make it work.

[2015-08-25 18:32] LisaGee opened #563 "BUG:Tooltip hover is cutoff on Filter options on Search Results page"
Chrome, Win7

teps to Repro:
1. Browser is full-width of screen.
2. Go to: https://federalist.18f.gov/preview/18F/college-choice/staging/search/?state=RI&sort=completion_rate:desc
3. Hover over any of the i icons next to the filter labels and see that the text is cutoff.
![image](https://cloud.githubusercontent.com/assets/12847090/9475655/0911cec2-4b36-11e5-9b45-52d011a6ff02.png)

Expected Results

[2015-08-25 18:33] meiqimichelle commented on #563
Closing as duplicate of #463 .

[2015-08-25 18:33] #563 closed

[2015-08-25 18:35] LisaGee opened #564 "Salary After Graduation Tooltip is missing on Search Results page"
chrome, Win7

Steps to Repro:
1. Go to:
2. Hover over i next to either Salary 10 Years After in each card or Salary After Graduation Filter.
3. See that nothing happens.

Expected Results:
Should see the overlay popup and text display.

[2015-08-25 18:54] saintsoup52 commented on #562
This is exactly what I was referring to… ☺

From: Lisa G. [mailto:notifications@github.com]
Sent: Tuesday, August 25, 2015 2:26 PM
To: 18F/college-choice
Subject: [college-choice] Add a Reset link on Search Results page (#562)

Once you've used Filters to refine and you want to go back to looking at the whole set of results, it's a little bit of work to figure out what you have to adjust back to g

[2015-08-25 19:08] LisaGee opened #566 "BUG:There should 8 schools that have CIP11 programs in this search, but the results only show 7"
Should be:
![image](https://cloud.githubusercontent.com/assets/12847090/9476478/ea252680-4b3a-11e5-998d-fda7cf334236.png)

https://federalist.18f.gov/preview/18F/college-choice/staging/search/?state=RI&major=computer&degree=b&sort=advantage:desc

Missing: New England Institute of Technology

Column name for this search is: CIP11BACHL

[2015-08-25 19:11] LisaGee commented on #566
Similarly, there are 5 schools in the data that match this result:
![image](https://cloud.githubusercontent.com/assets/12847090/9476589/7146c45c-4b3b-11e5-8188-c4848cf92110.png)

but only 2 appear in the Search Results:
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?state=RI&major=computer&degree=a&sort=advantage:desc

Check Column: CIP11ASSOC

[2015-08-25 19:25] LisaGee opened #567 "Intermittent but relatively frequent Internal Server Error on Search Results page"
Win7, Chrome.

Error
<h1>Internal Server Error</h1>

Seems like I can consistently repro by going to this URL:
https://federalist.18f.gov/preview/18F/college-choice/staging/search/?&zip=02912&distance=15&major=computer&degree=a&size=small&size=medium&size=large&sort=advantage:desc

If you remove the 15 mile radius, no error.

[2015-08-25 19:27] ultrasaurus commented on #567
this is a client-side API, would be good if @shawnbot took a quick look first

[2015-08-25 19:39] ErieMeyer commented on #540
:+1:

[2015-08-25 19:39] #540 closed

[2015-08-25 19:41] ErieMeyer commented on #520
:+1:

[2015-08-25 19:41] #520 closed

[2015-08-25 19:44] LisaGee opened #568 "BUG: When I click on Calculate Your Exact Net Price, it should open a New Tab, not replace the existing page I'm looking at."
Win7, Chrome.

Steps to Repro:
1. Go to: https://federalist.18f.gov/preview/18F/college-choice/staging/school/?183123-Lakes-Region-Community-College
2. Under Costs See the Calculate Your Exact Net Price Button.
3. Click on it and see that the content of your current window is replaced.

Expected Results:
Should open in a new tab.

[2015-08-25 19:44] ErieMeyer commented on #335
Don't seem to be lining up on staging.

To recreate: Chrome on a mac desktop, search "ohio" in school name, default sort, top three schools.

![screen shot 2015-08-25 at 3 42 58 pm](https://cloud.githubusercontent.com/assets/1626026/9477389/0efe1a52-4b40-11e5-85d9-9a0295fc5c84.png)

[2015-08-25 19:49] ErieMeyer commented on #492
Hmm -- looks like this isn't working quite yet. Link is not showing up.

To recreate: On staging, chrome, mac desktop, search "ohio" in school name, click on first school:

![screen shot 2015-08-25 at 3 47 02 pm](https://cloud.githubusercontent.com/assets/1626026/9477506/cd4372a0-4b40-11e5-8b8d-6605c75a3a0c.png)

[2015-08-25 19:51] meiqimichelle commented on #335
@ErieMeyer I don't think that change has merged to staging yet.

[2015-08-25 19:55] meiqimichelle commented on #568
I pushed a quickfix to `dev` to resolve this. Should be live on dev, and will go to staging the next time we push.

[2015-08-25 19:56] meiqimichelle commented on #492
@ErieMeyer This isn't live on staging yet.

[2015-08-25 20:10] LisaGee opened #569 "BUG: Full-time vs Part-time is incorrect on Individual School Page"
See:https://federalist.18f.gov/preview/18F/college-choice/staging/school/?183123-Lakes-Region-Community-College

Shows 99% FT
But data shows 47% FT

[2015-08-25 20:23] yozlet commented on #567
Totally agreed, @shawnbot. Am working on that this week.

On Tue, Aug 25, 2015 at 1:06 PM, Shawn Allen <notifications@github.com>
wrote:

[2015-08-25 20:31] LisaGee opened #571 "If RR is only available in one non-NULL column, that should be used for Students Who Return After Their First Year on School Page"
Steps to repro:
1. Go to: https://federalist.18f.gov/preview/18F/college-choice/staging/school/?217402-Providence-College
2. See that it shows 87%

Expected Results:
The data is showing 91% in the RET_FT4
The other RR fields are NULL

[2015-08-25 20:35] diego- opened #572 "BUG: Internal Server Error on ccapi-prod requests (from beta users)"
However, I am returning nothing with most queries I have tried outside the school dev_category.  For example the following do not return results, many give "Internal Server Error" instead of empty result sets:

https://api.data.gov/TEST/ed/beta/school?fields=cost.avg_net_price.public&api_key= ... (dev_category = cost)
https://api.data.gov/TEST/ed/beta/school?fields=academics.program_percentage.agr

[2015-08-25 20:37] meiqimichelle commented on #484
@shawnbot I tried to fix this but it seems like the current implementation won't allow two paginations on one page (one of them just wouldn't populate). And as for the 21st slot, I think you have it set somewhere to show 20. I'm hoping that's an easy fix, too.

[2015-08-25 20:38] LisaGee opened #573 "BUG:No longer displaying the Students Receiving Federal Aid properly"
Win7, Chrome

Steps to Repro:
1. go to: https://federalist.18f.gov/preview/18F/college-choice/staging/school/?217402-Providence-College
2. Under Financial Aid & Debt, see that Students Receiving Federal Aid is 0%, which doesn't match the data.

Expected Results:
Based on data, would expect it to 53%

[2015-08-25 20:38] diego- commented on #572
These work when nested under years. closing issue.

[2015-08-25 20:45] diego- commented on #572
This one is still not working:

https://api.data.gov/TEST/ed/beta/school?fields=enrollment.all&api_key=

[2015-08-25 20:54] meiqimichelle commented on #420
Thanks @shawnbot! I think that's it -- sending this back over for acceptance testing.

[2015-08-25 20:55] meiqimichelle commented on #201
@shawnbot This does not seem to be working on the individual school pages. Seems good on the results page though!

[2015-08-25 20:58] meiqimichelle commented on #210
Closing in favor of #293.

[2015-08-25 20:58] #210 closed

[2015-08-25 21:01] meiqimichelle commented on #528
@shawnbot Do you need me to implement something here, or are you good? This is related to #273, another 'what to do about the null data' issue.

[2015-08-25 21:06] diego- opened #576 "As a developer, I'd like to request a unique endpoint from the API to get all available query fields"
Requested by beta user:

    Is the data dictionary spreadsheet the only source for looking field names, or is there any call to the    API itself which can return a list of possible field names with sources and notes / etc?

[2015-08-25 21:10] LisaGee opened #577 "Remove Public/Private icon under Student Body section on School page"
Can't remember why we had this here?
@jjoteal @ErieMeyer can you remember why?
Doesn't feel like it jibes with Student Body.

[2015-08-25 21:13] shawnbot opened #578 "Clarification: How should we show national stats?"
This is re: #547, now that we have all of the data from Clare. I wasn't able to find the issue where we went back and forth about where national stats for public vs. private, 2- vs. 4-year schools, and all schools should be used. Here's what I'm assuming:

* On the search page (in both the sliders and the "value snapshot"), we should always show national stats *for all schools*, so that we're alwa

[2015-08-25 21:18] diego- opened #579 "As a developer, I'd like the API to return fields in the order they are requested."
Feedback from beta users:

    I noticed that the api sometimes does not return the fields in the order in which they are requested.     This doesn't cause problems for us, but maybe it will for others.  Please let us know if that is something  that the dev team plans to address.  If it's not, we will build in some functionality on our side to handle it.

    For an example see this query:
    htt

[2015-08-25 21:34] meiqimichelle commented on #528
Yes! I will do this. @shawnbot

[2015-08-25 21:35] meiqimichelle commented on #528
- [ ] HTML/CSS
- [ ] JS

[2015-08-25 21:37] meiqimichelle commented on #577
This was a placeholder for the proper icon (size). It is ready fixed in the work on #293.

[2015-08-25 21:38] jjoteal commented on #577
This icon should NOT be school type, it should be the SIZE icon. I believe Michelle was looking into this.

Sent with Good (www.good.com)

-----Original Message-----
From: Lisa G. [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, August 25, 2015 05:10 PM Eastern Standard Time
To: 18F/college-choice
Cc: Teal, Jessica
Subject: [college-choice] Remove Public/Private icon unde

[2015-08-25 21:59] ultrasaurus commented on #98
@diego- I think you meant:  https://ccapi-staging.18f.gov/school?id=135717&fields=2013.aid.median_debt.completers.overall

[2015-08-25 22:13] meiqimichelle commented on #293
@shawnbot "in state tuition" === public school. We don't need another field. I think this is communications/design decision only.

[2015-08-25 23:46] meiqimichelle commented on #528
@LisaGee @jjoteal I talked to @shawnbot about this again, and we think this needs to be broken into several issues. What should happen is:

- someone should go through each data point on the individual schools pages and understand whether there might be a null/no-data value (maybe someone has done this already)
- if no-data is possible, Jess should mockup what that individual item should look like

[2015-08-26 01:58] LisaGee commented on #293
Ok. I think I've worked out the confusion.
There are 3 types of schools:
1. Public: Not For Profit and Have In-State or In-District tuition
2. Private: Not For Profit and do not have In-State tuition
3. For Profit

How I was proposing we represent those 3 types:
1. Not For Profit icon with an In-State Tuition indicator
2. Not for Profit icon
3. For Profit icon - same as Not For Profit icon, but wi

[2015-08-26 02:01] LisaGee opened #586 "Consider changing the Private/Public differentiation to be more about Reduced Tuition for Residents."
There are 3 types of schools:
1. Public: Not For Profit and Have In-State or In-District tuition
2. Private: Not For Profit and do not have In-State tuition
3. For Profit

How I am proposing we represent those 3 types:
1. Not For Profit icon with an In-State Tuition indicator
2. Not for Profit icon
3. For Profit icon - same as Not For Profit icon, but with a $

Or even more succintly:
1. In-State

[2015-08-26 02:16] LisaGee opened #587 "Consider adding 100% time completion both to data/API and Consumer Tool"
From a Beta Dev:
In the past we've only used the 100% time completion rates. We find students disregard the 150% time rates because they assume they won't take 6 years. We'd like to show both to students to give an accurate picture of graduation.

[2015-08-26 02:17] LisaGee opened #588 "Consider additional data to be added"
From a Beta Dev:
Based on the ED data consumed by CFPB's Paying for College Tool and VA GI Bill Comparison Tool...
Here are the missing data points that I would love to see added in future iterations.
 1) Key Cost of Attendance Information - IPEDS
Housing Costs (on and off campus)
Other expenses (on and off campus and with family)
Books expenses
In-district tuition costs (how much does a community

[2015-08-26 03:08] LisaGee commented on #465
Sorry. We should kill the comparison to Average portion of the chart. Sorry I didn't catch it earlier. None of our student body stats compare against the average.

[2015-08-26 03:38] meiqimichelle commented on #423
Another option, I think, would be just to show it as the percentage text without the arc (no circle around it). No meter/graphic/whatever.

[2015-08-26 03:40] LisaGee commented on #578
@shawnbot - I think we should be consistent.
For the time being let's go with National Averages combined for all metrics.
This may need to be changed later, but I think needs some more discussion. I will follow up on this.
At the moment, let's use:
* Media Earnings Average
* Completion rate All Schools Average
* Net price All Schools Average
* Repayment Rate All Schools Average
* Retention Rate Al

[2015-08-26 03:45] LisaGee commented on #423
Is it simple to do like this one?
![image](https://cloud.githubusercontent.com/assets/12847090/9485132/2ee9a906-4b83-11e5-9c73-2bdb7aa649ef.png)

Or definitely open to other ideas.

Worst case, we stick with the bar chart and try to jam in all the words we need that actually explains what it is.

I'm good with whatever is most implementable. thanks.

[2015-08-26 03:55] LisaGee commented on #335
Looking good!
I see these working:
Pennsylvania State University-Penn State Fayette- Eberly
George C Wallace State Community College-Hanceville

This one wraps to 4 lines still Elizabethtown College School of Continuing and Professional Studies
But I think those are edge cases we can defer. Thanks!

[2015-08-26 03:55] #335 closed

[2015-08-26 03:59] LisaGee commented on #490
Not working for me on Staging yet. Or should I be testing on Dev.
From HP, the only thing I do is click Include Online Only schools and I get 0 results.
Also, default state should be checked.

When I tried it on Dev, I got:
Error
There was an unexpected API error.

[2015-08-26 04:01] LisaGee commented on #492
I see it!

[2015-08-26 04:01] #492 closed

[2015-08-26 04:03] LisaGee commented on #573
Dev seems to be having some hiccups, so unable to test on Dev at the moment. Looks like the fix hasn't been pushed to Staging yet. Will check again later.

[2015-08-26 04:04] LisaGee commented on #504
Working!

[2015-08-26 04:04] #504 closed

[2015-08-26 04:18] LisaGee commented on #402
@jjoteal after our convo, do you think this makes sense? If so, can you close. If not, let's move it into research and play with the options a bit and see what ends up being most readable.

[2015-08-26 04:19] LisaGee commented on #315
@meiqimichelle We should discuss best way forward (or not) on this.

[2015-08-26 04:19] LisaGee commented on #314
@meiqimichelle We should discuss best way forward (or not) on this.

[2015-08-26 04:44] meiqimichelle commented on #293
Perfect! Thanks @LisaGee !

This is updated on my local version now! So great to see those icons where they're supposed to be.

One more question, which I think will be the final one before sending it over for review:

The data for location is split into four chunks:
// '11': 'City: Large',
        // '12': 'City: Midsize',
        // '13': 'City: Small',
        // '21': 'Suburb: Large',

[2015-08-26 04:46] meiqimichelle commented on #293
Lookin' snazzy!
![screen shot 2015-08-25 at 9 45 26 pm](https://cloud.githubusercontent.com/assets/4827522/9485730/b064d480-4b72-11e5-937a-c6f33167b42b.png)

[2015-08-26 04:49] #201 closed

[2015-08-26 04:51] meiqimichelle commented on #315
@LisaGee Do we have data for this? Or, say, at least a few facts to put on the homepage?

[2015-08-26 04:52] meiqimichelle commented on #314
@LisaGee Do we have content? I think this is one of the most interesting factoids on the site -- I hope we do!

[2015-08-26 04:55] LisaGee commented on #293
Snazzy, indeed!

gonna let @jjoteal tackle the question as she did the original research.

[2015-08-26 04:57] LisaGee commented on #315
@jjoteal has them in her hands and @ErieMeyer was reviewing, so we definitely have some to put on the HP. The question for me is how to/if we can tackle the Listing page that shows them all together.

[2015-08-26 04:58] LisaGee commented on #314
@jjoteal has them in her hands and @ErieMeyer was reviewing, so we definitely have something to put on the HP. The question for me is how to/if we can tackle the Listing page that shows them all together.

[2015-08-26 05:02] LisaGee opened #589 "BUG:Chart does not match data"
Is this a NULL issue?
See: https://college-choice.18f.gov/school/?145558-Rosalind-Franklin-University-of-Medicine-and-Science

But in data mn_earn_wne_p10==NULL

[2015-08-26 05:03] meiqimichelle commented on #315
Great! HP should not be a problem. As for the listing page, definitely not for beta, but we can see about launch. I should tag up with @ErieMeyer and see what the factoids ended up looking like, and how varied the content turned out to be. That will inform how complicated making the listing page will be.

[2015-08-26 05:06] LisaGee commented on #315
@meiqimichelle Let's all discuss, b/c perhaps we can just defer this whole page. Let's easy for the Lists of Schools, but could try instead to tweak it so link refers them to a search query instead of a listing page. Actually... Kind of like that idea and seems emminently doable. Hmmmm. Adding to the other story.

[2015-08-26 05:07] LisaGee commented on #314
@meiqimichelle Let's all discuss, b/c perhaps we can just defer this whole page. Could try instead to tweak it so link refers them to a search query instead of a listing page. Actually... Kind of like that idea and seems emminently doable. Hmmmm.
@ErieMeyer can you take a crack at executing it this way instead? Thoughts?

[2015-08-26 05:08] meiqimichelle commented on #314
Cool. I'll tag up with @ErieMeyer and see what she thinks, and see what the content looks like.

[2015-08-26 05:21] LisaGee commented on #465
@shawnbot fo' shizzle!

[2015-08-26 06:03] #578 closed

[2015-08-26 07:43] saintsoup52 commented on #589
This school is a graduate only school… in reality it shouldn’t be showing up at all.

From: Lisa G. [mailto:notifications@github.com]
Sent: Wednesday, August 26, 2015 1:03 AM
To: 18F/college-choice
Subject: [college-choice] BUG:Chart does not match data (#589)

Is this a NULL issue?
See: https://college-choice.18f.gov/school/?145558-Rosalind-Franklin-University-of-Medicine-and-Science

But in data

[2015-08-26 07:49] saintsoup52 commented on #465
I think this could be a national average…

it is based on a one year snap shot so the length of the program shouldn’t matter.

From: Shawn Allen [mailto:notifications@github.com]
Sent: Tuesday, August 25, 2015 7:25 PM
To: 18F/college-choice
Cc: Campbell, Patrick (CFPB)
Subject: Re: [college-choice] As a Student, I'd like to see what % of the student body receives a Pell grant, in order for me to a

[2015-08-26 08:13] saintsoup52 opened #592 "Bug: Searching for school name returns too many results"
Search for "California State University" and you get 1,516 results.

The expected results should be around 17.

I think that the search is searching for each word individually (e.g., any schools with California OR State OR University) and not all the words together.

[2015-08-26 08:29] saintsoup52 commented on #528
With our tools we tried to distinguish between "no data" and "not reported". The key difference is that "not reported" means the school was not required to report that data.

These might not be best words to describe the difference, but there are really two reasons why there is a null... either there is in fact no data to report or that the school does not have to report that data (so they don't/c

[2015-08-26 08:36] saintsoup52 commented on #271
If we end up using national averages (or medians) for 4 / 2 year schools separately is this where the data would live?

For example... if we had a national average (or median) for completion rates for 4 year schools would that live here in this file?

I have given my thoughts about this issue on #493.

[2015-08-26 09:19] saintsoup52 commented on #443
I found this same issue with ITT Technical Institute-Myrtle Beach...

they don't have a graduation rate yet and it should appear as "Not Reported" (or whatever language you are using)

![image](https://cloud.githubusercontent.com/assets/4397508/9489847/f370fe86-4bb1-11e5-8003-cc804cb96a31.png)

[2015-08-26 09:22] saintsoup52 opened #593 "BUG: Test Scores Overlapping Min/Maxes"
If you add a school with high rates, the left/right limits of the test scores overlap with min/max values.

I am using google chrome.

![image](https://cloud.githubusercontent.com/assets/4397508/9489907/486af8d8-4bb2-11e5-9021-8d9d4c1a9ba6.png)

[2015-08-26 09:26] saintsoup52 commented on #449
If type in "Everest" into College Navigator and limit to only 2/4 year schools... I get 42 results:

http://nces.ed.gov/collegenavigator/?q=Everest&s=all&ic=1+2

I think there is something wrong here... because only "open" and "approved" programs appear on Navigator.

[2015-08-26 15:19] diego- opened #595 "As a site operator, I'd like to have automated testing to prevent regression bugs in future deployments"

[2015-08-26 15:19] diego- opened #596 "As a site operator, I'd like to use an uptime monitor like statuspage.io or pingdom to prevent downtime"

[2015-08-26 15:20] diego- opened #597 "As a site operator, I'd like to have basic load testing to understand the concurrency limit at which we need to add more cloud resources"

[2015-08-26 15:49] LisaGee opened #598 "Get an Account for Cf-Deck for ED?"
https://cloud.18f.gov/

[2015-08-26 16:36] jjoteal commented on #196
For the MVP, I think we just list them alphabetically in their separate dropdowns (i.e. 1 dropdown for Special Designation and 1 dropdown for Religious Affiliation). I don't want to open up a political conversation at this point about how to group different religions, so I think we go with a simple alphabetical list for the time being.

[2015-08-26 16:51] meiqimichelle opened #599 "BUG: Advanced search toggle should also toggle +/-"
Right now it stays as + no matter what.

![screen shot 2015-08-26 at 9 30 05 am](https://cloud.githubusercontent.com/assets/4827522/9500049/003f04f2-4bd8-11e5-8a14-109e289e09ce.png)

[2015-08-26 16:53] ErieMeyer commented on #527
Thanks for engaging on this!

[2015-08-26 16:53] #527 closed

[2015-08-26 16:53] ErieMeyer commented on #491
Closing this issue in favor of https://github.com/18F/college-choice/issues/534

[2015-08-26 16:53] #491 closed

[2015-08-26 16:56] ErieMeyer commented on #321
Issue is subsumed by this one: https://github.com/18F/college-choice/issues/458

[2015-08-26 16:56] #321 closed

[2015-08-26 16:56] ErieMeyer commented on #319
Issue is subsumed by https://github.com/18F/college-choice/issues/458

[2015-08-26 16:56] #319 closed

[2015-08-26 17:01] ErieMeyer commented on #458
Section should be titled:

Get the Best Deal

Links should say:

1. Estimate Your Aid (linked here: https://fafsa.ed.gov/FAFSA/app/f4cForm)
2. Evaluate Aid Offers (linked here: http://www.consumerfinance.gov/paying-for-college/compare-financial-aid-and-college-cost/)
3. Calculate GI Bill Benefits (linked here: https://department-of-veterans-affairs.github.io/gi-bill-comparison-tool/)

[2015-08-26 17:35] ultrasaurus commented on #480
@ozzyjohnson is investigating this

[2015-08-26 17:45] LisaGee commented on #423
Ah. Sorry. this is actually the same data that is represented as a bar chart up there right now. Just represented differently.
Column name: gt_25k_p6

[2015-08-26 17:54] LisaGee commented on #196
@shawnbot  @jjoteal I can take a crack at it:
HBCU = Historically Black College and University
PBI = Predominantly Black Institution
ANNHIA = Alaska Native Native Hawaiian Serving Institution
TRIBAL = Tribal College and University
AANAPII = Asian American Native American Pacific Islander Serving Institution
HSI = Hispanic Serving Institution
NANTI = Native American Non-Tribal Institution
MENONLY =

[2015-08-26 17:55] jjoteal commented on #293
@meiqimichelle after giving this some though, I'm going to create a new icon for "Suburban" so we can have a separate icon for "Town". So, please use:

![image](https://cloud.githubusercontent.com/assets/12192706/9501557/fcf1419e-4bf9-11e5-9843-240826e848fb.png)

for TOWN.

And I'll come up with a new Suburban one by tomorrow.

[2015-08-26 17:58] meiqimichelle commented on #293
OK! I'll wait for your final stuff and then switch it out! Thanks!

[2015-08-26 18:01] meiqimichelle commented on #446
Closing in favor of #340.

[2015-08-26 18:01] #446 closed

[2015-08-26 18:04] meiqimichelle commented on #226
Related to #340, but we should test specifically for this bug so I'm not closing.

[2015-08-26 18:05] meiqimichelle commented on #533
Related to #340.

[2015-08-26 18:05] ultrasaurus commented on #566
@diego- can you triage this and provide the API call that returns the incorrect results?  and maybe work with Clare to see if there is anything special about the missing schools?  e.g. are they online only?  are some 4 year vs. 2 year?

[2015-08-26 18:06] meiqimichelle commented on #340
I'm going to re-name this issue because I'm using it to pull together all the filter/search-on-the-results page issues we've been filing. It is no longer 'enhancement'.

[2015-08-26 18:08] LisaGee commented on #566
The data is all in the small data set I provided in the PICC folder.
I checked against the data fields already and I could not figure out what was wrong. First guess is that it’s a code thing. I tried to do the due diligence that could be done, but I do think Diego if you could show the results of the API call in the story that might be helpful. Data is already extracted for ease of use in that Sm

[2015-08-26 18:10] LisaGee commented on #196
Asking Clare if there is a common shorthand that we could use.

[2015-08-26 18:14] meiqimichelle commented on #340
Tasks

- [ ] Fix page width problems (The initial mock was too wide so everything is squished in the live version. I am going to trim padding and change margins to get us in a better place in general)
- [ ] Fix filter display problems (This section was never styled according to mocks. Needs some polish so it is readable)
- [ ] Fix search display problems (Again, this section was never styled for t

[2015-08-26 18:15] ultrasaurus commented on #537
right now, the consumer API uses PPTUG_EF2 (not valid after 200) -- next dd pull will rename to: part_time_share  (error in the google doc missed it last time)

[2015-08-26 18:20] liyanchang opened #602 "BUG: Typo results in error"
Search for: Harford
Error message.

![screen shot 2015-08-26 at 2 19 20 pm](https://cloud.githubusercontent.com/assets/328073/9502136/6ae9fbb6-4bfd-11e5-8760-349a38174011.png)

Firefox 39.0
1024x768
OSX 10.8.5

[2015-08-26 18:20] dnesting opened #603 "BUG: Empty home page on Chrome on EOP Windows Citrix desktop"
Chrome 43.0.2357.132 m
Windows Server 2008 R2
Citrix VM

Loading https://college-choice.18f.gov gives me an empty page (zero-byte response).  Note that EOP MITMs this HTTPS connection and it's possible it's this process that's causing the problem.  IE 8 on the same system successfully retrieves a page.

[2015-08-26 18:23] diego- opened #604 "Importing new data"

[2015-08-26 18:26] ultrasaurus commented on #530
@yozlet I think the issue is that we delete the index pretty agressively when we import new data, so it's not really about app availability, but instead the fact the during indexing es doesn't actually have any data.  In theory I beleive we now have the right code that would allow us to reindex a new dataset without deleting the index, as long as we're not changing how types or fields are mapped,

[2015-08-26 18:26] liyanchang commented on #602
(Hmm. Seems like a cross origin request issue between 18f.gov and data.gov. Might be because I am on an internal enterprise network)

[2015-08-26 18:26] jjoteal opened #605 "BUG: Clicking share button does not trigger email program launch"
Mac Chrome (2:26pm)

![image](https://cloud.githubusercontent.com/assets/12192706/9502282/5be9f73c-4bfe-11e5-8be6-36e5b6882b74.png)

Steps to reproduce:
- Click on Share button on individual school page

[2015-08-26 18:27] m-hsiang opened #606 "BUG: Earnings graph for $0 on the front page is wrong"
using firefox, 2:30pm on 8/26

![image](https://cloud.githubusercontent.com/assets/7342162/9555761/747630fe-4d9d-11e5-9f32-a6b082b62a47.png)

[2015-08-26 18:28] ultrasaurus commented on #398
@shawnbot I believe I fixed this last week, can you look and make sure it's right?

[2015-08-26 18:29] jjoteal opened #607 "BUG: Searching for "Boston College" did not return relevant results"
Mac Chrome (2:28pm)

Screenshot:
![image](https://cloud.githubusercontent.com/assets/12192706/9502366/cabd6d9c-4bfe-11e5-8e1d-c0a0236357c1.png)

Steps to reproduce:
1) Type in "Boston College" in search by name

[2015-08-26 18:30] liyanchang opened #608 "BUG: Long zip code results in error"
Search for anything.
Use Zipcode: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
See error:
![screen shot 2015-08-26 at 2 31 41 pm](https://cloud.githubusercontent.com/assets/328073/9502398/0fd16e6a-4bff-11e5-8551-b503352bc2e0.png)

Firefox 39.0
1024x768
OSX 10.8.5

[2015-08-26 18:31] meiqimichelle commented on #605
Shawn pushed a fix for this to dev, but I don't think it's on staging yet.

[2015-08-26 18:31] ultrasaurus commented on #394
@ozzyjohnson can you point me to something that explains how CF blue/green deploys work?  the ideas above sound great, just would like to get a little more detail on how this works in our CF env

[2015-08-26 18:32] ultrasaurus commented on #530
closing as a dup of https://github.com/18F/college-choice/issues/394

[2015-08-26 18:32] #530 closed

[2015-08-26 18:32] m-hsiang opened #609 "BUG: Graphs are not working correctly, also why zero students?"
For the first two schools in the shot, the numbers are zero/NA, but the graphs show values

also, for the first school, there are no undergrads?

![image](https://cloud.githubusercontent.com/assets/7342162/9555811/de58088a-4d9d-11e5-979f-64fd2fa371eb.png)

[2015-08-26 18:32] LisaGee commented on #605
@jjoteal which environment are you testing on? Staging or Production?

[2015-08-26 18:32] dnesting opened #610 "BUG: Chrome Android name search field has autofill for my name"
Chrome on Android.  At home page, under Name / School name, touch the text field to search for a school.  Chrome invokes its Autofill and prompts me to autofill with my own name.

Possibly the form field name is something generic like "name", which Chrome figures might mean my real name.  The presence of this autofill stuff is a little confusing and should be explicitly disabled if possible.

[2015-08-26 18:33] ultrasaurus commented on #394
moved tags from #530, I closed that one as a dup since this one had more detail on a solution

[2015-08-26 18:34] ultrasaurus commented on #364
this has been resolved.  I believe CloudFoundry team is working on processes to make this not happen in the future.

[2015-08-26 18:34] #364 closed

[2015-08-26 18:34] jjoteal opened #611 "BUG: Search result # for Average Actual Cost shows up as "--" on search results page but as "0" on the individual school page"
Mac Chrome (2:32pm)

Screenshot on search results page:
![image](https://cloud.githubusercontent.com/assets/7342162/9555775/914f0c0a-4d9d-11e5-9bde-047a89a24808.png)

Screenshot on individual school page:
![image](https://cloud.githubusercontent.com/assets/12192706/9502459/69ff960a-4bff-11e5-8274-d2916f1406d0.png)

[2015-08-26 18:35] m-hsiang opened #612 "BUG: Icons seem not to match the listings"
Eg: large city icon should probably not be a farm with silo
![image](https://cloud.githubusercontent.com/assets/7342162/9555797/baab2912-4d9d-11e5-9169-fa6f42f7743d.png)

[2015-08-26 18:35] ultrasaurus commented on #310
I believe this is done, assigning to @jjoteal to confirm that it is working for her

[2015-08-26 18:36] stephaniefaith opened #613 "BUG: Wording Suggestion"
Recommend changing language from "Salary 10 years after" to "salary after 10 years"- otherwise we're ending the clause with a preposition.  This will improve the site- esp for an education website- grammar should be correct.

https://college-choice.18f.gov/school/?214591-Pennsylvania-State-University-Penn-State-Erie-Behrend-College

[2015-08-26 18:37] LisaGee commented on #528
I think for a consumer it doesn't matter.

[2015-08-26 18:37] m-hsiang opened #614 "BUG: words overlapping in icon area"
The words (non profit & midsize) are overlapping

<img width="948" alt="screen shot 2015-08-26 at 2 36 31 pm" src="https://cloud.githubusercontent.com/assets/1036641/9502531/edb1bf1e-4bff-11e5-8af5-2668945d305d.png">

[2015-08-26 18:38] liyanchang opened #615 "BUG: Can't find colleges from acronyms"
![screen shot 2015-08-26 at 2 38 08 pm](https://cloud.githubusercontent.com/assets/328073/9502530/ecebc6d8-4bff-11e5-87e4-6bf522db6efa.png)

![screen shot 2015-08-26 at 2 38 44 pm](https://cloud.githubusercontent.com/assets/328073/9502536/f500ddd6-4bff-11e5-9d26-6b664292f23e.png)

![screen shot 2015-08-26 at 2 38 57 pm](https://cloud.githubusercontent.com/assets/328073/9502539/fce05414-4bff-11e5-8

[2015-08-26 18:39] dnesting opened #616 "BUG: Edit search criteria submission does not move to results on Chrome/Android"
On Chrome on Android, on the search results screen, Edit search criteria section, typing a new name in the search field, and using the Android keyboard's right-arrow button to continue causes the page to load the new results, but the page view does not move down to the results and so I'm left at the search form with no indication that my action had an effect.

[2015-08-26 18:39] jjoteal opened #617 "BUG: National Average legend not displaying for "Value Snapshot" on individual school page"
![image](https://cloud.githubusercontent.com/assets/12192706/9502576/2ec1111c-4c00-11e5-97fd-eedd1ba1faa3.png)

[2015-08-26 18:39] ErieMeyer commented on #610
Screenshot pls?

[2015-08-26 18:40] LisaGee commented on #589
Let me confirm which field. 2 secs. I might have typo'ed

[2015-08-26 18:40] NatalieEMoore opened #618 "BUG: text in message when sharing school in email"
With my dell on google chrome at 2:35 pm with my screen showing one column, I clicked "share a school" which opened up my Outlook email and created a message and subject line.  In the body of the email it said " I found this on collegescorecard.ed.gov, check it out?0A "  The ?OA is the bug.  I tested this on other share a school buttons and got the same message.

[2015-08-26 18:41] LisaGee commented on #609
Editing to be 2 stories:
1. 0 students (this one)
2. bar graph and label don't match: #589

[2015-08-26 18:41] dnesting commented on #616
![image](https://cloud.githubusercontent.com/assets/7342162/9502622/851c1390-4c00-11e5-952b-0dcace1a67f2.png)

[2015-08-26 18:42] stephaniefaith opened #619 "BUG: Drop down box is super high on search results page"
On 8/26/15 at 2:40 PM I searched for Erie college via IE on my PC and found two issues (in a 3 column spread) after "sort by", the drop down box is too high and should be right next to sort by (lower this).

(picture coming)

[2015-08-26 18:42] dnesting commented on #610
![image](https://cloud.githubusercontent.com/assets/7342162/9502654/a80d5fc6-4c00-11e5-93ad-ee17a36c914b.png)

[2015-08-26 18:42] jjoteal opened #620 "ENHANCEMENT: Can we have a color map on the individual school page?"
Can we put this map in color?

![image](https://cloud.githubusercontent.com/assets/12192706/9502660/abcee90e-4c00-11e5-8957-aa156ac78e5f.png)

[2015-08-26 18:43] m-hsiang opened #621 "BUG: links for "calculate your exact net price" take you to the FA page, not the calc"
clicking on the link takes you to the MIT financial aid page, but not to the calculator, which is still relatively challenging to find

<img width="891" alt="screen shot 2015-08-26 at 2 40 38 pm" src="https://cloud.githubusercontent.com/assets/1036641/9502664/b0fd9f42-4c00-11e5-91b6-76d342265935.png">

<img width="1154" alt="screen shot 2015-08-26 at 2 42 50 pm" src="https://cloud.githubuserconten

[2015-08-26 18:44] LisaGee commented on #589
This is my bad. We should be using md_earn_wne_p10. But just re-confirmed in data. That filed is still NULL in .csv file.

[2015-08-26 18:44] ErieMeyer opened #622 "BUG: In a 2-col browser width, the Programs Drawer Label overlaps with + on search results page"
From @stephaniefaith:

On 8/26/15 at 2:40 PM I searched for Erie college via IE11 on my PC and found two issues (in a 3 column spread) and under "edit search criteria," the + sign is over the text called programs/d...... This looks like a bug!!

[2015-08-26 18:45] LisaGee commented on #589
yerg. I'm looking in 2013 file and I should be looking in 2013. My bad!!!!

[2015-08-26 18:45] liyanchang opened #623 "BUG: Searching with a space gives bad results"
If you search for "Anderson" you get 3 results that all make sense. If you try to be more specific and search for "Anderson University", you actually get more more results.

(Quick guess - your search is splitting the string and searching for them independently. For instance, searching for "University" gives you the same results as "Anderson University" or "University of California".)

![screen sh

[2015-08-26 18:45] jjoteal opened #624 "BUG: Received an Internal Server Error when searching by zip code + mile radius"
Mac Chrome (2:44pm)

![image](https://cloud.githubusercontent.com/assets/12192706/9502725/f58d635e-4c00-11e5-80dc-6c4298e60a38.png)

[2015-08-26 18:46] dnesting opened #625 "BUG: Android "Share This School" creates e-mail with Unicode substitution character"
On Chrome/Android, "Share This School" operation opens a new e-mail that has a broken character in it.  In Google Inbox, this renders with the Unicode substitution character.  In Gmail, it renders as %3.

[2015-08-26 18:47] liyanchang opened #626 "Bug: White space when expanding"

[2015-08-26 18:47] #626 closed

[2015-08-26 18:47] dnesting commented on #625
![image](https://cloud.githubusercontent.com/assets/7342162/9502795/556819d6-4c01-11e5-8a63-3efea2182838.png)

[2015-08-26 18:47] sullivanse opened #627 "BUG: "Share this school" link does not open into my default mail app (outlook) ; IE; 2:40PM"
When I click "share this school," the link does open a new email in my default mail app.

Instead, it opens a link in Chrome, without generating an email.  It went to this link in Chrome which wouldn't open:  mailto:?subject=Check%20this%20out&body=I%20found%20this%20on%20collegescorecard.ed.gov,%20check%20it%20out%3%0A%0Ahttps://college-choice.18f.gov/school/?212434-Erie-Institute-of-Technology-I

[2015-08-26 18:49] stephaniefaith opened #628 "BUG: NO ARROW NEXT TO GO BACK TO SEARCH RESULTS"
At 2:47 PM on 8/26/2015 on my PC using IE vs 11, I noticed the go back to search results does not include a pretty arrow before it HOWEVER that same pretty arrow was on my Samsung 6 mobile device via Firefox! When I first saw it on my PC, I actually thought "an arrow would be really nice here" but didnt issue a bug til I saw the mobile version has the arrow I dreamed of!!

[2015-08-26 18:49] liyanchang opened #629 "BUG: Distance without zipcode results in error"
School name: anything
Zip: blank
Radius: 1000000

![screen shot 2015-08-26 at 2 50 05 pm](https://cloud.githubusercontent.com/assets/328073/9502842/970055a2-4c01-11e5-8107-1199d8def2ea.png)

Firefox 39.0
1024x768
OSX 10.8.5

[2015-08-26 18:50] m-hsiang opened #630 "BUG: Family income averages don't convey information how we expect"
The data for the cost estimates by family income seems to report off of actual data- so when there are no students it doesn't calculate and show something that is useful.  See zeros in the screenshot
<img width="960" alt="screen shot 2015-08-26 at 2 47 05 pm" src="https://cloud.githubusercontent.com/assets/1036641/9502867/ba5b0ff6-4c01-11e5-84fb-e2f961ac4c15.png">

[2015-08-26 18:51] dnesting opened #631 "BUG: Chrome Android scrolling institution page gets hung up on map"
When scrolling around an institution page, I can touch my finger anywhere on the page and slide up or down to cause the page to move.  If my touch point is on the map, the page does not move.  Possibly the map object is eating the scroll gesture when it should be allowing it to propagate to the page/browser.

[2015-08-26 18:53] liyanchang opened #632 "BUG: Zip code search not working?"
https://college-choice.18f.gov/search/?name=Harvard&zip=02139&distance=300&sort=advantage:desc

![screen shot 2015-08-26 at 2 52 42 pm](https://cloud.githubusercontent.com/assets/328073/9502911/f261a9b4-4c01-11e5-8218-9ec0739dab96.png)

[2015-08-26 18:53] ErieMeyer commented on #621
Super interesting. I wonder if there's a way to share this feedback to the schools. Will ping Clare.

[2015-08-26 18:53] dnesting opened #633 "BUG: Help text for "Graduation Rate" and "Salary" is "Average Actual Cost""
On Chrome/Android, on an institution page, touching "Graduation Rate" and "Salary 10 Years After" both give help text with content for "Average Actual Cost".  A similar problem exists further down, for "Typical Total Debt", "Typical Monthly Loan Payment", "Students Receiving Federal Aid", "Race/Ethnicity", "Test Scores", "Most Popular Programs", "Available Areas of Study".

[2015-08-26 18:53] m-hsiang opened #634 "BUG: Graduation rate is higher than first year returner rate"
Not sure how this is calculated, but I don't see how a higher percentage of people can graduate than the percentage that return from their first year.

<img width="888" alt="screen shot 2015-08-26 at 2 51 30 pm" src="https://cloud.githubusercontent.com/assets/1036641/9502935/0ff6b8f2-4c02-11e5-960e-7f13f8a1f1f3.png">

[2015-08-26 18:54] dnesting commented on #633
![image](https://cloud.githubusercontent.com/assets/7342162/9502967/437799ee-4c02-11e5-9981-83c3b22998b2.png)

[2015-08-26 18:55] jjoteal opened #635 "ENHANCEMENT: Add scrollbar to list of Available Areas of Study so that it is obvious that you can scroll up and down in this area"
Mac Chrome (2:53pm)

Hard to tell that this a scrollable region:

![image](https://cloud.githubusercontent.com/assets/12192706/9502955/33be863e-4c02-11e5-8492-8b8597a0083d.png)

[2015-08-26 18:55] NatalieEMoore opened #636 "Bug: no search button when searching school, must press enter key"
On Chrome, 2:49 pm, on Dell laptop with my screen only showing one column.  Not sure if this is how you want the website to function but the only option when you want to search for a school, is to punch the "enter" key after typing a name.  There is no "search button" but there is a "share button" around in the area where a search button would/could be.  Not sure if you want a "search button" but

[2015-08-26 18:56] liyanchang opened #637 "BUG: trucates zip codes"
https://college-choice.18f.gov/search/?state=MA&zip=02139&sort=advantage:desc

02139 -> 2139 if you hit the url above. It works if you type in 02139 into the zipcode bar. It's probably being dropped on your url parameters to render functions.

![screen shot 2015-08-26 at 2 56 27 pm](https://cloud.githubusercontent.com/assets/328073/9502988/6ed54870-4c02-11e5-8bcb-5d14445cc8ad.png)

[2015-08-26 18:57] m-hsiang opened #638 "BUG: graphs do not align along the bottom"
Seems like they should align at the bottom to compare, currently looks like they align at the top, where there are different  numbers of words

<img width="888" alt="screen shot 2015-08-26 at 2 51 30 pm" src="https://cloud.githubusercontent.com/assets/1036641/9503055/be2f8a7a-4c02-11e5-8605-548a6150bdda.png">

[2015-08-26 19:00] dnesting opened #639 "BUG: SAT/ACT score text overlaps with range maximum"
Chrome/Android, on institution page, the SAT/ACT scores have ranges on a line with labeled minimums and maximums.  Where the range is high, the text for the score will overlap with the label for the maximum.

[2015-08-26 19:01] dnesting commented on #639
![image](https://cloud.githubusercontent.com/assets/7342162/9503149/3bec0ed4-4c03-11e5-9c7d-7314063d3d4e.png)

[2015-08-26 19:01] ErieMeyer commented on #621
There is! Collect any where you see this behavior and we'll report it back to IPEDS.

[2015-08-26 19:01] m-hsiang opened #640 "BUG: "Calculate your exact price" link takes you back to the PICC page for school"
For Cochran School of nursing

[2015-08-26 19:02] kimballce opened #641 "BUG: drop down on the top right is truncated"
![image](https://cloud.githubusercontent.com/assets/8903924/9503165/518dcad4-4c03-11e5-8e64-1407ca1492ca.jpg)

iPad, Safari.

drop down in upper right only says "Adva..."

[2015-08-26 19:02] stephaniefaith opened #642 "BUG: Bad text in email message to share a school"
On my Samsung 6 at 2:55 PM on 8/26/15, I tried sending an email to a friend about a school and the email that came up had a percentage sign next to every word.

[2015-08-26 19:02] m-hsiang commented on #640
Actually, the "back to search results" button also takes you back to the PICC school page.

[2015-08-26 19:03] sullivanse opened #643 "BUG: After searching schools, no data showing for "average annual cost" and "graduation rate"; IE; 3:00PM"
After searching for schools and the cards for various schools showed up, the info for "average annual cost" and "graduation rate" was blank.   For the first few schools, the info for "salary 10 years after" was also blank.

I was using IE around 3:00pm.

[2015-08-26 19:04] dnesting opened #644 "BUG: Available Areas of Study not obviously scrollable"
On Chrome/Android, on the institution page, under "Available Areas of Study", the list of areas of study is in a box that is scrollable, but this isn't apparent, making it appear that the areas of study are fewer than actual.  If you touch inside the area, you can scroll around within it, but there is no indication that this is possible.  Consider putting some arrows at the top and bottom of this

[2015-08-26 19:04] kimballce opened #645 "BUG: college name search parameter gets dumped after going to result and hitting browser back"
iPad, Safari
When I go to a search result and then hit the browser back button, the search parameter has been been dumped from the university name field. (It says USA University instead of the search term I used)

[2015-08-26 19:04] dnesting commented on #644
![image](https://cloud.githubusercontent.com/assets/7342162/9503234/b34e2c32-4c03-11e5-833f-db3437329422.png)

[2015-08-26 19:05] kimballce opened #646 "BUG: plus buttons are bleeding off the sidebar on mobile"
iPad, safari
![image](https://cloud.githubusercontent.com/assets/8903924/9503260/d5068068-4c03-11e5-8154-32cb222d1183.jpg)

[2015-08-26 19:06] kimballce opened #647 "BUG: %3 weirdness in body of email share"
Email body:I
![image](https://cloud.githubusercontent.com/assets/8903924/9503303/13b82ba4-4c04-11e5-92a1-f03fd3ed2a06.jpg)
found this on collegescorecard.ed.gov, check it out%3

[2015-08-26 19:07] jjoteal opened #648 "BUG: Doesn't seem like all of the data is loading when I search for small schools"
Mac Chrome (3:05pm)

[2015-08-26 19:07] ErieMeyer commented on #644
@jjoteal Was there a comp for what would make this look more scrolly?

[2015-08-26 19:08] liyanchang opened #649 "BUG: Share button results in partial URL"
Goto:
https://college-choice.18f.gov/search/?state=AK&major=resources&size=small&sort=advantage:desc

Hit share:

Get email with following body.
[code]
Major and size all lost (because they are the second url parameter in the mailto). The issue is that your mailto link is using &amp; instead of %26

[code]

On both Chrome and Firefox. OSX 10.8.5 with Outlook as mailto.

[2015-08-26 19:08] dnesting opened #650 "BUG: Search results page has some horizontal scrolling play"
On Chrome/Android, scrolling around the search results page should give me only vertical scrolling.  I also am able to horizontally scroll the page just enough to obscure some text and get things to look weird.  This is a cosmetic/polish issue.

[2015-08-26 19:08] dnesting commented on #650
![image](https://cloud.githubusercontent.com/assets/7342162/9503347/53031fda-4c04-11e5-9ade-e455250a8038.png)

[2015-08-26 19:09] kimballce opened #651 "Bug (content): Subject line says "Check it out""
Can the subject line change to something more informative? Like, "Check out this school I found on PICC.ed.gov" (or whatever the site will be called)

[2015-08-26 19:10] dnesting opened #652 "BUG: Search results page has "Page: 1 2" at the top but not bottom"
On Chrome/Android, the search results page has pagination at 25 results.  I can switch between pages at the top of the results, but not the bottom.  If I'm scrolling through a bunch of results, and get to the bottom, I may not remember that there were multiple pages, and the act of going back up to the top of the page to select the next page is annoying.  Either do infinite scrolling, or redundant

[2015-08-26 19:11] dnesting commented on #652
![image](https://cloud.githubusercontent.com/assets/7342162/9503394/b05d00ba-4c04-11e5-97a8-32c0dc28d677.png)

[2015-08-26 19:13] sullivanse opened #653 "BUG: Graphs are not filling in on the panels, even though data is pulling in"
On IE, accessing this URL at 3:10pm: https://college-choice.18f.gov/search/?name=%22boston%20university%22&sort=name:asc

The graphs are not filling in for "average actual cost", "graduation rate", and "average salary after 10 years" even though data is pulling in for these fields.

[2015-08-26 19:13] liyanchang opened #654 "Bug: White space when expanding"
Go to:
https://college-choice.18f.gov/search/?state=DE&major=resources&size=small&sort=advantage:desc

White space shows up because the results div is shorter than the left bar.

![screen shot 2015-08-26 at 3 11 04 pm](https://cloud.githubusercontent.com/assets/328073/9503419/d8ec080a-4c04-11e5-928e-e4e917feb586.png)

![screen shot 2015-08-26 at 3 12 00 pm](https://cloud.githubusercontent.com/asse

[2015-08-26 19:13] kimballce opened #655 "BUG: map for rural school is mostly blank and ugly"
iPad, Safari, https://college-choice.18f.gov/school/?173258-Carleton-College

Carleton is admittedly in a pretty rural area, but combined with the black and white gradient the map hardly looks like anything.
![image](https://cloud.githubusercontent.com/assets/8903924/9503467/159b3992-4c05-11e5-97a0-58413c0dabbc.jpg)

[2015-08-26 19:15] NatalieEMoore opened #656 "Bug: University of Wisconsin-Madison showing wrong schools when searching."
https://college-choice.18f.gov/search/?name=University%20of%20Wisconsin-Madison&sort=advantage:desc

On chrome on dell at 3:13 pm with screen size set to one column, when I search for "University of Wisconsin-Madison" there are 1,815 results but Wisconsin isn't even on the first page of results.

[2015-08-26 19:16] kimballce opened #657 "BUG: info "i" buttons not working on ipad"
iPad, Safari
Clicked on little "i" icon. It turned black, but no information popped up. Also did not turn back to blue again. Salary 10 yards after "i" icon didn't even turn black

[2015-08-26 19:17] sullivanse commented on #623
I had the same outcome searching Boston University in IE.  I received 1400 results, and none of the schools on the first few pages had "Boston" in their name.

[2015-08-26 19:19] kimballce opened #658 "As a student, I would like to be able to quickly expand all of the info sections on a school's page so that I can quickly and easily see all of the information"
I can open each info section by clicking a plus button, but I wish I could expand all at once with one click.

[2015-08-26 19:19] dnesting opened #659 "BUG: Selectivity info is 0 for "University of Phoenix-Western Washington Campus""
On Chrome/Android, when pulling up details for this university, all of the test scores under Selectivity are zeros.

[2015-08-26 19:19] dnesting commented on #659
![image](https://cloud.githubusercontent.com/assets/7342162/9503583/d5189896-4c05-11e5-80f7-7ee7e162ff52.png)

[2015-08-26 19:21] NatalieEMoore opened #660 "Bug: share feature on chrome/dell/outlook when sharing the results screen after searching for University of Wisconsin-Madison"
When I search "University of Wisconsin-Madison and I get the results, I have the option to share.  When I share, this is what the email comes up as:

I found this on collegescorecard.ed.gov, check it out:
https://college-choice.18f.gov/search/?name=University of Wisconsin-Madison

On this link, it is underlined/hyperlinked from https to university and the rest is not underlined/hyperlinked.

This

[2015-08-26 19:24] kimballce opened #661 "BUG: a house icon is used to symbolized "medium" and "large""
iPad, Safari
I'm not sure what a house icon is supposed to convey to me about size in general. But also the same icon is use of to symbolize different things

https://college-choice.18f.gov/school/?173258-Carleton-College
![image](https://cloud.githubusercontent.com/assets/8903924/9503657/67093364-4c06-11e5-8365-064cbff2190a.jpg)

https://college-choice.18f.gov/school/?230038-Brigham-Young-Univers

[2015-08-26 19:25] NatalieEMoore opened #662 "Bug: You can not type in acronyms of schools. Produces zero results."
I tried to type in "UVA" and it had zero results.  Not sure if this is something you want to have as an option.  Tried on chrome, dell, with screen size one column.

Tried with schools like USC, UVA, UMB.

https://college-choice.18f.gov/search/?name=UVA&sort=advantage:desc

[2015-08-26 19:27] kimballce opened #663 "BUG: four icons would look better 2x2 instead of 3 on top row and 1 on the bottom"
iPad, Safari

![image](https://cloud.githubusercontent.com/assets/8903924/9503777/004aec20-4c07-11e5-9493-df63d438b3d0.jpg)

[2015-08-26 19:29] liyanchang commented on #623
Thinking about this more. The search currently seems to be a union of the individual words [0]. Especially strange with the word "of" #656. This would be ok, however, you then sort by "advantage factor", which then buries the result you are looking for in 1407 results.

Suggestion: If you are searching by name, you sort by relevance to the name. If no name is specified, then default to "advantage

[2015-08-26 19:33] kimballce opened #664 "BUG (or statement of opinion): I wish the sticker price were posted somewhere"
With all this rich data about the cost of college, it's a little surprising and confusing to me that the sticker price isn't listed anywhere.

[2015-08-26 19:38] kimballce opened #665 "BUG: Ethnicity breakdown uses ugly category names"
iPad, Safari
![image](https://cloud.githubusercontent.com/assets/8903924/9504077/74fa08f2-4c08-11e5-8b39-b38eb4ff13cc.jpg)

[2015-08-26 19:38] saintsoup52 commented on #528
You can pretty much determine it from the source:

IPEDS --> Not required to report it (almost every time)
NSLDS/FSA/Treasury --> No data to report

From: Shawn Allen [mailto:notifications@github.com]
Sent: Wednesday, August 26, 2015 12:31 PM
To: 18F/college-choice
Cc: Campbell, Patrick (CFPB)
Subject: Re: [college-choice] As a consumer, if a particular piece of data is not available, I would like

[2015-08-26 19:41] kimballce opened #666 "BUG: SAT scores are illegible when they overlap with the end of the range"
iPad, Safari
Also, when they're close to edge, the numbers also look confusing

https://college-choice.18f.gov/school/?173258-Carleton-College
![image](https://cloud.githubusercontent.com/assets/8903924/9504120/c0bda8ca-4c08-11e5-954f-bfb01e17ab45.jpg)

https://college-choice.18f.gov/school/?230038-Brigham-Young-University-Provo

![image](https://cloud.githubusercontent.com/assets/8903924/9504129/

[2015-08-26 19:42] kimballce opened #667 "BUG: typo in selectivity section"
Typo: "had standardized test score in these ranges" -- should read "scores" plural
![image](https://cloud.githubusercontent.com/assets/8903924/9504163/10ab49fa-4c09-11e5-857a-fc1cbdc9b1e4.jpg)

[2015-08-26 19:45] kimballce opened #668 "BUG: available areas of study scroller conflicts with main page scrolling"
iPad, Safari -- I demonstrated this to Jess.

When I use my finger to scroll the areas of study, it also causes some amount of scrolling of the main page, creating a rocking,  seasickness effect. (Hard to capture this in a screen shot)

https://college-choice.18f.gov/school/?173258-Carleton-College
![image](https://cloud.githubusercontent.com/assets/8903924/9504230/710ebb4c-4c09-11e5-96af-7f3047cd

[2015-08-26 19:48] kimballce opened #669 "BUG: in search results, clicking the card doesn't take me to a college"
iPad, Safari

Clicking the view more details link does, and so does clicking the name of the college, but as a user I would have expected that touching any part of the card would have taken me there.

[2015-08-26 19:49] kimballce opened #670 "BUG: when there are 0 results, I still see the word "Page:" with no number"
iPad, Safari
![image](https://cloud.githubusercontent.com/assets/8903924/9504332/09ec842a-4c0a-11e5-8a9f-f30edda99799.jpg)

[2015-08-26 19:54] meiqimichelle commented on #315
This is what it looks like with content
![screen shot 2015-08-26 at 12 53 09 pm](https://cloud.githubusercontent.com/assets/4827522/9504471/a2bfd15c-4bf1-11e5-934c-387eccfc69d8.png)

@jjoteal

[2015-08-26 19:59] kimballce opened #671 "BUG: "Mid East" as a region name is confusing to me"
Personally I've never heard that term used referencing anything other than the area near Iraq, Israel, etc.

[2015-08-26 20:01] kimballce opened #672 "BUG: "BYU" did not return any results"
BYU is the very common abbreviation for Brigham Young University, but a search for the term yielded no results. While not the official name of the school, the abbreviation is used so universally that for the school not to show up feels like a bug.

[2015-08-26 20:02] meiqimichelle commented on #314
With content:
![screen shot 2015-08-26 at 1 00 50 pm](https://cloud.githubusercontent.com/assets/4827522/9504658/a028db90-4bf2-11e5-858d-19e97db4f972.png)

[2015-08-26 20:03] kimballce opened #673 "BUG: there's a barn representing "city: midsize""
Barn doesn't seem to fit here.

https://college-choice.18f.gov/school/?230038-Brigham-Young-University-Provo
![image](https://cloud.githubusercontent.com/assets/8903924/9504697/f5ac264e-4c0b-11e5-83af-c680936eccd7.jpg)

[2015-08-26 20:05] meiqimichelle commented on #314
@jjoteal This one did OK, I think -- the design still holds with the real content. Also, here's mobile:
![screen shot 2015-08-26 at 1 05 00 pm](https://cloud.githubusercontent.com/assets/4827522/9504748/1b17cb9a-4bf3-11e5-997d-078d927fe1b2.png)

[2015-08-26 20:08] meiqimichelle commented on #315
@jjoteal Here are words from @ErieMeyer:

- College graduates, on average, earn $1 million more over their lifetimes than high school graduates.
- You could be eligible to get up to $5,775 in federal grants—no repayment needed—to help pay for college
- 60 percent of college graduates started college at age 24 or older.

You might want to adjust the design now that we know what those look like.

[2015-08-26 20:08] kimballce opened #674 "BUG (design enhancement): use consistent orientation in the student body section"
The type of institution icon is primarily a vertically aligned image, whereas the layout of the number of undergraduates text is horizontal. Put together, the juxtaposition feels more cobbled together than visually streamlined. I recommend creating a icon with stronger horizontals.

![image](https://cloud.githubusercontent.com/assets/8903924/9504820/af4a314a-4c0c-11e5-985a-c85031ab6ef3.jpg)

[2015-08-26 20:12] meiqimichelle commented on #458
@jjoteal Where is the GI tool icon from?

[2015-08-26 20:16] ozzyjohnson commented on #394
@ultrasaurus - This sums it up [Using Blue-Green Deployment to Reduce Downtime and Risk](http://docs.pivotal.io/pivotalcf/devguide/deploy-apps/blue-green.html). There's also an [18F-produced script](https://github.com/18F/cf-blue-green/blob/master/bin/cf-blue-green) which I believe a few people are using.

[2015-08-26 20:24] liyanchang commented on #653
![image001](https://cloud.githubusercontent.com/assets/328073/9505183/eae55b2e-4c0e-11e5-8c50-97d333fdade3.png)

[2015-08-26 20:25] liyanchang commented on #642
![screenshot_2015-08-26-15-00-08](https://cloud.githubusercontent.com/assets/328073/9505194/007a0a02-4c0f-11e5-87ae-3ea94e731631.png)

[2015-08-26 20:25] liyanchang commented on #643
![image001](https://cloud.githubusercontent.com/assets/328073/9505209/12fdbae8-4c0f-11e5-89ef-4de6f3c2fd40.png)

[2015-08-26 20:26] liyanchang commented on #622
![2 bugs in 1 jpg](https://cloud.githubusercontent.com/assets/328073/9505228/281ea86a-4c0f-11e5-8264-52f829a600a8.jpeg)

[2015-08-26 20:26] liyanchang commented on #628
![back to search results](https://cloud.githubusercontent.com/assets/328073/9505233/36878264-4c0f-11e5-9747-c651ebcdfaaf.PNG)

[2015-08-26 20:29] liyanchang commented on #619
![snipimage](https://cloud.githubusercontent.com/assets/328073/9505290/9428abdc-4c0f-11e5-8868-adec2abc677e.JPG)

[2015-08-26 20:50] diego- commented on #566
Here is the query returning 7: https://ccapi-prod.18f.gov/school?fields=school.name,id,2013.academics.program_percentage.computer&computer__range=0.01..100&state=RI&school.degrees_awarded.predominant=3

[2015-08-26 20:54] diego- commented on #566
New England Inst of technology is a 2yr school

[2015-08-26 20:55] m-hsiang commented on #621
Listing schools that I've checked:
MIT
St Paul School of nursing

[2015-08-26 20:57] m-hsiang opened #676 "BUG: how do we want to portray "no data" instead of 0?"
Eg, many places where it says 0, the answer is not actually 0, there is just no data.

<img width="840" alt="screen shot 2015-08-26 at 3 03 40 pm" src="https://cloud.githubusercontent.com/assets/1036641/9506004/7e30b7bc-4c13-11e5-8fd6-74f46aeb0cd5.png">

[2015-08-26 20:57] diego- commented on #566
I think the key question is what field college-choice is using for degree=b & degree=a. That's the first place I'd look for a discrepancy.

[2015-08-26 21:25] saintsoup52 commented on #621
This is probably an issue in the data itself.

These URLs are reported to ED by the schools and a number of groups have done audits of these links only to conclude that there is not solid compliance to the standards ED has set out for this data.

From: Mina Hsiang [mailto:notifications@github.com]
Sent: Wednesday, August 26, 2015 4:55 PM
To: 18F/college-choice
Subject: Re: [college-choice] BUG: li

[2015-08-26 21:36] NatalieEMoore opened #678 "Bug: Graph not matching numbers"
On Dell desktop, at 5:32, with google chrome, screen size is one column.

https://college-choice.18f.gov/search/?completion_rate=0..0.13&sort=advantage:desc&page=5

When changing the graduation rate percentage to a low number several school's picture graphs do not match the numbers.

![image](https://cloud.githubusercontent.com/assets/7342162/9555683/bc825af4-4d9c-11e5-9770-b51df7afd67e.png)

[2015-08-26 21:45] liyanchang commented on #656
![search didn t work correctly for wisco](https://cloud.githubusercontent.com/assets/328073/9507140/2edf47ee-4c1a-11e5-93a2-24acf85a4930.png)

[2015-08-26 21:45] liyanchang commented on #660
![bug share results hyperlink issue](https://cloud.githubusercontent.com/assets/328073/9507151/3fd96eda-4c1a-11e5-84d8-9d1a1a01e8b9.PNG)

[2015-08-26 21:46] liyanchang commented on #618
![bug 1-email message when sharing college](https://cloud.githubusercontent.com/assets/328073/9507160/51b821e6-4c1a-11e5-900e-d580bc41ac4f.png)

[2015-08-26 21:46] liyanchang commented on #660
![search button-share button issue](https://cloud.githubusercontent.com/assets/328073/9507192/6e4ba04e-4c1a-11e5-911d-fab58b658103.png)

[2015-08-26 21:47] liyanchang commented on #662
![acronyms](https://cloud.githubusercontent.com/assets/328073/9507200/7a210eae-4c1a-11e5-9e1a-3c05f429d229.PNG)

[2015-08-26 21:50] NatalieEMoore opened #679 "Bug: What is supposed to happen if you click on the city name on the map?"
Dell, 5:48pm, Chrome, screen view-single column.  What is supposed to happen when clicking the city name?  I see a weird white box that has the option to exit it but not sure why it is there or why it looks like you can click the map/city name.

https://college-choice.18f.gov/school/?240444-University-of-Wisconsin-Madison

![map bug](https://cloud.githubusercontent.com/assets/13317147/9507250/cf0c

[2015-08-26 22:00] jjoteal commented on #458
@meiqimichelle i believe @ErieMeyer prefers just to use text only and NO icons. @ErieMeyer can you confirm?

[2015-08-26 22:06] shawnbot opened #680 "BUG: Accordions open and close on touch start"
On mobile devices, the accordions open on touch start (rather than release, or "click"), and they interrupt scrolling. This is super distracting on the school pages.